Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: Address power-steering feedback - move llms.txt, add docs
  docs/howto/awesome-copilot-integration.md
  docs/llms.txt
Due: none

feat: implement agentic power-steering analysis
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_validator.py
  .claude/tools/amplihack/hooks/workflow_invocation_validator.py
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/hooks/claude_power_steering.py
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

docs: Update README with new commands, agents, and awesome-copilot section
  README.md
Due: none

Fix typos in Microsoft Amplifier secxtion of README.md
  README.md
Due: none

feat: Integrate awesome-copilot as complementary extension for all platforms (#2364)
  .claude/agents/amplihack/specialized/iac-planner.md
  .claude/agents/amplihack/specialized/mcp-server-builder.md
  .claude/agents/amplihack/specialized/openapi-scaffolder.md
  .claude/skills/awesome-copilot-sync/SKILL.md
  .claude/skills/awesome-copilot-sync/check_drift.py
  README.md
  docs/howto/awesome-copilot-integration.md
  docs/llms.txt
  pyproject.toml
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Final cleanup - remove point-in-time analysis and test result documentation
  ARCHITECTURE_SUMMARY.md
  CRITICAL_FIXES_SUMMARY.md
  PHILOSOPHY_COMPLIANCE_EXECUTIVE.txt
  PHILOSOPHY_REVIEW.md
  REVIEWER_FIXES_IMPLEMENTATION.md
  STEP_13_LOCAL_TEST_RESULTS.md
  TESTS_COMPLETE.md
  tests/workflows/README.md
  tests/workflows/TDD_STATUS.md
  tests/workflows/TEST_SUMMARY.md
Due: none

feat: Implement mandatory workflow classification at session start with Recipe Runner
  ARCHITECTURE_SUMMARY.md
  CRITICAL_FIXES_SUMMARY.md
  PHILOSOPHY_COMPLIANCE_EXECUTIVE.txt
  PHILOSOPHY_REVIEW.md
  REVIEWER_FIXES_IMPLEMENTATION.md
  STEP_13_LOCAL_TEST_RESULTS.md
  TESTS_COMPLETE.md
  src/amplihack/workflows/__init__.py
  src/amplihack/workflows/classifier.py
  src/amplihack/workflows/execution_tier_cascade.py
  src/amplihack/workflows/session_start.py
  src/amplihack/workflows/session_start_skill.py
  tests/workflows/README.md
  tests/workflows/TDD_STATUS.md
  tests/workflows/TEST_SUMMARY.md
  tests/workflows/__init__.py
  tests/workflows/conftest.py
  tests/workflows/run_tests.sh
  tests/workflows/test_classifier.py
  tests/workflows/test_e2e_acceptance_criteria.py
  tests/workflows/test_execution_tier_cascade.py
  tests/workflows/test_performance.py
  tests/workflows/test_regression.py
  tests/workflows/test_session_start_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Add outside-in testing with real execution evidence
  OUTSIDE_IN_TEST_RESULTS.md
  tests/agentic/test-session-start-classification.yaml
Due: none

docs: Add session summary documenting workflow completion
  SESSION_SUMMARY.md
Due: none

docs: Add mandatory session-start workflow classification to index
  docs/index.md
Due: none

fix: Fix all test failures, remove root pollution, add tutorial
  SESSION_SUMMARY.md
  STEP_13_TEST_RESULTS.md
  docs/tutorials/session-start-workflow-classification.md
  tests/workflows/test_e2e_acceptance_criteria.py
  tests/workflows/test_execution_tier_cascade.py
  tests/workflows/test_regression.py
  tests/workflows/test_session_start_integration.py
  uv.lock
Due: none

feat: Add slash commands for all recipes with hybrid workflow and aliases
  .claude/commands/amplihack/consensus.md
  .claude/commands/amplihack/default-workflow.md
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/guide.md
  .claude/commands/amplihack/hybrid.md
  .claude/commands/amplihack/investigation.md
  .claude/commands/amplihack/qa.md
  .claude/commands/amplihack/run.md
  .claude/commands/amplihack/verification.md
Due: amplihack-sync-commands

feat: Implement mandatory workflow classification at session start with Recipe Runner (#2356)
  OUTSIDE_IN_TEST_RESULTS.md
  STEP_13_TEST_RESULTS.md
  docs/index.md
  docs/tutorials/session-start-workflow-classification.md
  src/amplihack/workflows/__init__.py
  src/amplihack/workflows/classifier.py
  src/amplihack/workflows/execution_tier_cascade.py
  src/amplihack/workflows/session_start.py
  src/amplihack/workflows/session_start_skill.py
  tests/agentic/test-session-start-classification.yaml
  tests/workflows/__init__.py
  tests/workflows/conftest.py
  tests/workflows/run_tests.sh
  tests/workflows/test_classifier.py
  tests/workflows/test_e2e_acceptance_criteria.py
  tests/workflows/test_execution_tier_cascade.py
  tests/workflows/test_performance.py
  tests/workflows/test_regression.py
  tests/workflows/test_session_start_integration.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add slash commands for all recipes with hybrid workflow and aliases (#2358)
  .claude/commands/amplihack/consensus.md
  .claude/commands/amplihack/default-workflow.md
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/guide.md
  .claude/commands/amplihack/hybrid.md
  .claude/commands/amplihack/investigation.md
  .claude/commands/amplihack/qa.md
  .claude/commands/amplihack/run.md
  .claude/commands/amplihack/verification.md
Due: amplihack-sync-commands

fix: Add write permissions to workflows that create issues/discussions
  .github/workflows/bot-detection.md
  .github/workflows/daily-code-metrics.md
  .github/workflows/daily-file-diet.md
  .github/workflows/daily-security-red-team.md
  .github/workflows/daily-syntax-error-quality.md
  .github/workflows/duplicate-code-detector.md
  .github/workflows/security-compliance.md
  .github/workflows/static-analysis-report.md
  .github/workflows/weekly-issue-summary.md
  .github/workflows/workflow-health-manager.md
Due: none

fix: Resolve workflow configuration issues
  .github/workflows/duplicate-code-detector.md
  .github/workflows/static-analysis-report.md
Due: none

fix: Resolve workflow configuration issues (#2385)
  .github/workflows/duplicate-code-detector.md
  .github/workflows/static-analysis-report.md
  pyproject.toml
Due: none

fix: Complete workflow configuration - use default GITHUB_TOKEN
  .github/workflows/daily-syntax-error-quality.md
  .github/workflows/weekly-issue-summary.md
Due: none

fix: Complete workflow configuration - use default GITHUB_TOKEN (#2387)
  .github/workflows/daily-syntax-error-quality.md
  .github/workflows/weekly-issue-summary.md
  pyproject.toml
Due: none

chore: Recompile workflows after configuration changes
  .github/workflows/bot-detection.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-code-metrics.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-security-red-team.lock.yml
  .github/workflows/daily-syntax-error-quality.lock.yml
  .github/workflows/dependabot-burner.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/repo-guardian.lock.yml
  .github/workflows/security-compliance.lock.yml
  .github/workflows/static-analysis-report.lock.yml
  .github/workflows/weekly-issue-summary.lock.yml
  .github/workflows/workflow-health-manager.lock.yml
Due: none

chore: Recompile workflows after configuration changes (#2388)
  .github/workflows/bot-detection.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-code-metrics.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-security-red-team.lock.yml
  .github/workflows/daily-syntax-error-quality.lock.yml
  .github/workflows/dependabot-burner.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/repo-guardian.lock.yml
  .github/workflows/security-compliance.lock.yml
  .github/workflows/static-analysis-report.lock.yml
  .github/workflows/weekly-issue-summary.lock.yml
  .github/workflows/workflow-health-manager.lock.yml
  pyproject.toml
Due: none

fix: Remove docker-mcp from MCP servers configuration
  .mcp.json
Due: none

fix: Remove docker-mcp from MCP servers configuration (#2389)
  .mcp.json
  pyproject.toml
Due: none
