Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat(auto-mode): Add structured JSONL logging (#1990)
  IMPLEMENTATION_SUMMARY.md
  docs/json_logging.md
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/json_logger.py
  tests/launcher/test_auto_mode_json_logging.py
  tests/launcher/test_json_logger.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(auto-mode): Add evaluation decision audit logging (#1991)
  src/amplihack/launcher/auto_mode.py
  tests/unit/test_auto_mode_evaluation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add turn duration tracking to auto-mode (#1992)
  src/amplihack/launcher/auto_mode.py
  tests/unit/test_auto_mode_turn_duration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Fix accuracy issues and broken links in user documentation
  README.md
  docs/index.md
Due: none

cleanup: Remove unnecessary process documentation
  .claude/tests/agentic/GUIDE_AGENT_TESTS_README.md
  .claude/tests/agentic/STEP_13_TESTING_SUMMARY.md
  FOLLOW_UP.md
Due: none

docs: Fix accuracy issues and broken links in user documentation (#1994)
  README.md
  docs/index.md
Due: none

fix: Prevent API keys from being logged in plain text
  src/amplihack/proxy/azure_unified_handler.py
  src/amplihack/proxy/azure_unified_integration.py
  src/amplihack/proxy/integrated_proxy.py
  src/amplihack/proxy/manager.py
  src/amplihack/proxy/passthrough.py
  src/amplihack/proxy/responses_api_proxy.py
  src/amplihack/proxy/sanitizing_logger.py
  src/amplihack/proxy/server.py
  src/amplihack/proxy/token_sanitizer.py
  tests/unit/proxy/test_token_sanitizer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Security module test failures and hardcoded path
  src/amplihack/security/xpia_defender.py
  src/amplihack/security/xpia_patterns.py
  tests/test_xpia_defender.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Eliminate 71% code duplication in bundle generator
  src/amplihack/bundle_generator/base_packager.py
  tests/test_base_packager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Split __init__.py into focused modules (Issue #1996)
  src/amplihack/__init__.py
  src/amplihack/hook_verification.py
  src/amplihack/install.py
  src/amplihack/settings.py
  src/amplihack/uninstall.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Update test fixtures to meet 100-character content requirement
  tests/test_base_packager.py
Due: none

Fix(Security): Remove shell=True to prevent injection vulnerabilities
  src/amplihack/utils/process.py
  tests/unit/test_process_security.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Deploy to ~/.amplihack/.claude/ and use ${CLAUDE_PLUGIN_ROOT} in hooks
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Deploy to ~/.amplihack/.claude/ (centralized plugin location)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Security module test failures and hardcoded path (#1999)
  src/amplihack/security/xpia_defender.py
  src/amplihack/security/xpia_patterns.py
  tests/test_xpia_defender.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Split __init__.py + eliminate bundle duplication (#1996, #1998)
  src/amplihack/__init__.py
  src/amplihack/bundle_generator/base_packager.py
  src/amplihack/hook_verification.py
  src/amplihack/install.py
  src/amplihack/settings.py
  src/amplihack/uninstall.py
  tests/test_base_packager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix power-steering false positives on INFORMATIONAL Q&A sessions
  .claude/tools/amplihack/considerations.yaml
  test_fix_locally.py
Due: check-imports, check-dependencies

chore: Configure GitGuardian to exclude test files
  .gitguardian.yml
Due: none

chore: Add GitGuardian ignore file for test credentials
  .ggignore
Due: none

fix: Add pragma comments for test secrets
  tests/unit/proxy/test_token_sanitizer.py
Due: none

Fix power-steering false positives on INFORMATIONAL Q&A sessions (#2013)
  .claude/tools/amplihack/considerations.yaml
  test_fix_locally.py
Due: check-imports, check-dependencies

fix: Prevent API keys from being logged in plain text
  .ggignore
  .gitguardian.yml
  src/amplihack/proxy/azure_unified_handler.py
  src/amplihack/proxy/azure_unified_integration.py
  src/amplihack/proxy/integrated_proxy.py
  src/amplihack/proxy/manager.py
  src/amplihack/proxy/passthrough.py
  src/amplihack/proxy/responses_api_proxy.py
  src/amplihack/proxy/sanitizing_logger.py
  src/amplihack/proxy/server.py
  src/amplihack/proxy/token_sanitizer.py
  tests/unit/proxy/test_token_sanitizer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Update user_prompt_submit hook to find AMPLIHACK.md in centralized location
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
