Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

test: make copilot gadugi portable
  tests/gadugi/copilot-nested-compat.yaml
Due: none

fix: finalize nested Copilot workflow handling
  docs/atlas/ast-lsp-bindings/index.md
  src/amplihack/launcher/copilot.py
  tests/gadugi/copilot-nested-compat.yaml
  tests/launcher/test_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve skill/agent drift CI check
  docs/claude/agents/amplihack/specialized/gherkin-expert.md
  docs/claude/agents/amplihack/specialized/tla-plus-expert.md
  docs/guides/formal-specifications-as-prompt-language.md
Due: none

fix: add blank line in SKILL.md source to match prettier format
  .claude/skills/tla-plus-expert/SKILL.md
Due: none

fix: harden nested Copilot workflow handling (#3965, #3966, #3967, #4002) (#4142)
  docs/atlas/ast-lsp-bindings/index.md
  docs/howto/use-non-claude-agent.md
  docs/reference/copilot-parity-control-plane.md
  src/amplihack/launcher/copilot.py
  src/amplihack/recipes/rust_runner_copilot.py
  tests/gadugi/copilot-nested-compat.yaml
  tests/gadugi/copilot_nested_compat_smoke.py
  tests/launcher/test_copilot.py
  tests/recipes/test_rust_runner_support.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add lock recovery gadugi scenario
  tests/gadugi/lock-recovery-and-issue-extraction.yaml
Due: none

test: make lock recovery gadugi portable
  tests/gadugi/lock-recovery-and-issue-extraction.yaml
Due: none

Fix #3960 and #3983: recover stale locks and resolve issue refs
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_stop_state_machine.py
  .claude/tools/amplihack/lock_tool.py
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/amplihack/lock_tool.py
  amplifier-bundle/tools/test_default_workflow_fixes.py
  src/amplihack/hooks/_copilot_stop_handler_impl.py
  tests/hooks/test_copilot_stop_handler.py
  tests/outside_in/test_stop_hook_safety_valve_e2e.py
  tests/test_lock_unlock.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): sanitize session_id before path construction in stop.py
  .claude/tools/amplihack/hooks/stop.py
Due: check-dependencies

fix: finalize lock recovery and issue extraction
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/amplihack/lock_tool.py
  amplifier-bundle/tools/test_default_workflow_fixes.py
  docs/atlas/ast-lsp-bindings/index.md
  tests/outside_in/test_stop_hook_safety_valve_e2e.py
Due: check-imports, check-dependencies

docs: fix documentation based on architect review
  docs/reference/workflow-issue-extraction.md
  docs/security/lock-session-id-sanitization.md
Due: none

docs: retcon documentation for lock session-id sanitization and workflow issue extraction
  .claude/context/PROJECT.md
  docs/index.md
  docs/reference/workflow-issue-extraction.md
  docs/security/README.md
  docs/security/lock-session-id-sanitization.md
  launcher.py
  run.sh
Due: check-imports, check-dependencies

chore: remove workstream launcher artifacts from PR branch
  launcher.py
  run.sh
Due: check-imports, check-dependencies

test: TDD failing tests for session_id sanitization and 3-tier extraction (#3960 #3983)
  .claude/tools/amplihack/hooks/tests/test_stop_state_machine.py
  amplifier-bundle/tools/test_default_workflow_fixes.py
  tests/hooks/test_copilot_stop_handler.py
  tests/test_lock_unlock.py
Due: check-imports, check-dependencies

perf: compile session-id and task-slug regex at module level
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/lock_tool.py
  amplifier-bundle/tools/amplihack/lock_tool.py
  src/amplihack/hooks/_copilot_stop_handler_impl.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: validate workflow gh timeout override
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

test: cover _get_current_session_id sanitization with malicious inputs
  .claude/tools/amplihack/hooks/tests/test_stop_state_machine.py
Due: none

fix: add _sanitize_session_id() to prevent path traversal and metadata injection (#3960 #3983)
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/lock_tool.py
  amplifier-bundle/tools/amplihack/lock_tool.py
  src/amplihack/hooks/_copilot_stop_handler_impl.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: formal specifications as prompt language guide (#3939) (#4155)
  docs/claude/skills/gherkin-expert/SKILL.md
  docs/claude/skills/tla-plus-expert/SKILL.md
  docs/guides/formal-specifications-as-prompt-language.md
  mkdocs.yml
Due: none

fix: recover stale locks and resolve mixed issue refs (#3960, #3983) (#4143)
  .claude/context/PROJECT.md
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_stop_state_machine.py
  .claude/tools/amplihack/lock_tool.py
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/amplihack/lock_tool.py
  amplifier-bundle/tools/test_default_workflow_fixes.py
  docs/atlas/ast-lsp-bindings/index.md
  docs/index.md
  docs/reference/workflow-issue-extraction.md
  docs/security/README.md
  docs/security/lock-session-id-sanitization.md
  src/amplihack/hooks/_copilot_stop_handler_impl.py
  tests/gadugi/lock-recovery-and-issue-extraction.yaml
  tests/hooks/test_copilot_stop_handler.py
  tests/outside_in/test_stop_hook_safety_valve_e2e.py
  tests/test_lock_unlock.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: fix signature accuracy in rust-runner-execution reference
  docs/reference/rust-runner-execution.md
Due: none

refactor: consolidate duplicate _make_env helper and remove unused imports in env allowlist tests
  tests/recipes/test_emit_step_transition_env_allowlist.py
Due: none

chore: remove workstream artifacts (launcher.py, run.sh)
  docs/investigations/3978-3963-resume-closeout.md
  run.sh
Due: none

docs(atlas): update ast-lsp-bindings layer for launcher.py (PR #4154)
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
Due: none

feat: add GH_AW_GITHUB_TOKEN and GITHUB_TOKEN to Rust runner env allowlist
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_emit_step_transition_env_allowlist.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add retcon documentation for rust_runner_execution and issue-classifier
  docs/concepts/rust-runner-execution-architecture.md
  docs/howto/configure-issue-classifier-workflow.md
  docs/index.md
  docs/reference/rust-runner-execution.md
  launcher.py
  mkdocs.yml
  run.sh
Due: check-imports, check-dependencies

docs: fix remaining inaccuracies from architect review
  docs/concepts/rust-runner-execution-architecture.md
  docs/reference/rust-runner-execution.md
Due: none

test: TDD red-phase tests for emit_step_transition, env allowlist, and workflow hardening
  tests/recipes/test_emit_step_transition_env_allowlist.py
  tests/unit/workflows/test_issue_classifier_workflow.py
Due: none

perf: avoid JSON parsing heartbeat lines and use deque in stderr tail
  src/amplihack/recipes/rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: strip session-artifact scope drift from PR #4154
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  docs/investigations/3978-3963-resume-closeout.md
  launcher.py
Due: check-imports, check-dependencies

docs: add TLA+ tutorial using hive mind distributed retrieval example
  docs/guides/formal-specifications-as-prompt-language.md
Due: none

docs+test: rust_runner_execution docs, accurate signatures, and TDD regression suite (#3978, #3963 follow-up) (#4154)
  docs/atlas/ast-lsp-bindings/index.md
  docs/concepts/rust-runner-execution-architecture.md
  docs/howto/configure-issue-classifier-workflow.md
  docs/index.md
  docs/reference/rust-runner-execution.md
  mkdocs.yml
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_emit_step_transition_env_allowlist.py
  tests/unit/workflows/test_issue_classifier_workflow.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add TLA+ tutorial using hive mind distributed retrieval example (#4157)
  docs/guides/formal-specifications-as-prompt-language.md
Due: none

docs: remove stale caveat, add external reference links for TLA+ and Gherkin
  docs/guides/formal-specifications-as-prompt-language.md
Due: none

docs: remove stale caveat, add external reference links for TLA+ and Gherkin (#4158)
  docs/guides/formal-specifications-as-prompt-language.md
Due: none

docs: make Research references into clickable links
  docs/guides/formal-specifications-as-prompt-language.md
Due: none

docs: make Research references into clickable links (#4160)
  docs/guides/formal-specifications-as-prompt-language.md
Due: none

docs: add Potential Follow-ups section to formal specs guide
  docs/guides/formal-specifications-as-prompt-language.md
Due: none

docs: add Potential Follow-ups section to formal specs guide (#4161)
  docs/guides/formal-specifications-as-prompt-language.md
Due: none

fix(launcher): make auto_mode CLI flags conditional on agent binary (#4118)
  src/amplihack/launcher/auto_mode.py
  tests/unit/test_auto_mode_copilot_flags.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
