Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix(recipes): add ADO provider support to step-03 and step-16 (#4205)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_ado_provider_support.py
Due: none

security: fix heredoc injection in step-16 and add numeric guard for ADO work item ID
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

docs: add dual-provider workflow documentation (issue #4205)
  docs/features/dual-provider-workflow.md
  docs/howto/configure-dual-provider-workflow.md
  docs/reference/dual-provider-workflow.md
  docs/tutorials/dual-provider-workflow.md
  mkdocs.yml
Due: none

docs: fix broken security-invariants table and --work-items explanation
  docs/features/dual-provider-workflow.md
  docs/reference/dual-provider-workflow.md
Due: none

fix(step-16): propagate az repos pr create exit code correctly
  CLAUDE.md
  amplifier-bundle/recipes/default-workflow.yaml
  docs/reference/dual-provider-workflow.md
Due: none

test(tdd): add failing TDD tests for issue #4205 dual-provider gaps
  tests/recipes/test_ado_dual_provider_tdd.py
Due: none

fix(recipes): resolve 8 failing TDD tests for issue #4205 ADO dual-provider gaps
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(recipes): add external service guards and resilience for issue #4205
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

refactor(recipes): simplify ADO dual-provider implementation (#4205)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

perf(recipes): eliminate network call and redundant subprocesses in step-16 (#4205)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

security: validate CURRENT_BRANCH before use in step-16 ADO/GitHub PR creation
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

refactor(recipes): convert step-19d from bash gate to agent step (#4205)
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/cli/__main__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(tests): resolve 9 failing test regressions (#4205 review feedback)
  src/amplihack/recipes/discovery.py
  tests/recipes/test_env_var_size_guard.py
  tests/recipes/test_shell_injection_fix_3045_3076.py
  tests/recipes/test_worktree_step_quoting.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): repair step-03 quoting and parser-unsafe conditions in default-workflow
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_default_workflow_no_unsafe_conditions.py
  tests/recipes/test_step03_bash_quoting.py
Due: none

test(recipes): add 5 TDD regression tests for step-03 quoting edge cases
  tests/recipes/test_step03_bash_quoting.py
Due: none

perf(tests): move os import to module level; eliminate redundant YAML parse in TestYamlValidity
  tests/recipes/test_default_workflow_no_unsafe_conditions.py
  tests/recipes/test_step03_bash_quoting.py
Due: none

wip: checkpoint after review feedback (steps 10-11)
  .claude/context/PROJECT.md
Due: none

chore: stage .secrets.baseline for detect-secrets hook
  .secrets.baseline
Due: none

fix(pr): drop workflow contamination from #4207
  .claude/context/PROJECT.md
  .secrets.baseline
Due: none

docs(atlas): refresh ast-lsp-bindings for #4207
  docs/atlas/ast-lsp-bindings/index.md
Due: none

test: add gadugi regression scenario for #4207
  tests/gadugi/pr-4207-default-workflow-quoting-and-conditions.yaml
Due: none

fix(cli): preserve entrypoint and patch surfaces
  docs/atlas/user-journeys/user-journeys.mmd
  src/amplihack/cli.py
  src/amplihack/cli/__init__.py
  src/amplihack/cli/__main__.py
  tests/gadugi/pr-4190-cli-entrypoint-and-forwarding.yaml
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

perf(discovery): eliminate double file-read and redundant is_file() checks
  src/amplihack/recipes/discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(scope): drop unrelated 4190 spillover from #4205
  CLAUDE.md
  src/amplihack/cli/__main__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

qa: add step-16 ADO dual-provider gadugi scenario (issue-4205)
  tests/gadugi/step-16-ado-dual-provider.yaml
Due: none

feat: implement safe Anthropic disablement strategy
  .claude/context/PROJECT.md
  launcher.py
  run.sh
  src/amplihack/agents/goal_seeking/__pycache__/__init__.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/_hierarchical_memory_local.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/action_executor.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/agentic_loop.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/cognitive_adapter.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/flat_retriever_adapter.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/graph_rag_retriever.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/hierarchical_memory.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/learning_agent.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/memory_export.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/memory_retrieval.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/similarity.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/query_expansion.py
  src/amplihack/agents/goal_seeking/prompts/__pycache__/__init__.cpython-312.pyc
  src/amplihack/agents/goal_seeking/sdk_adapters/__pycache__/__init__.cpython-312.pyc
  src/amplihack/agents/goal_seeking/sdk_adapters/__pycache__/base.cpython-312.pyc
  src/amplihack/agents/goal_seeking/sdk_adapters/__pycache__/factory.cpython-312.pyc
  src/amplihack/agents/goal_seeking/sub_agents/__pycache__/__init__.cpython-312.pyc
  src/amplihack/agents/goal_seeking/sub_agents/__pycache__/agent_spawner.cpython-312.pyc
  src/amplihack/agents/goal_seeking/sub_agents/__pycache__/coordinator.cpython-312.pyc
  src/amplihack/agents/goal_seeking/sub_agents/__pycache__/memory_agent.cpython-312.pyc
  src/amplihack/agents/goal_seeking/sub_agents/__pycache__/multi_agent.cpython-312.pyc
  src/amplihack/agents/goal_seeking/sub_agents/__pycache__/tool_injector.cpython-312.pyc
  src/amplihack/eval/gherkin_agent_evaluator.py
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/tests/test_backends.py
  src/amplihack/vendor/blarify/agents/llm_provider.py
  src/amplihack/vendor/blarify/agents/rotating_provider/rotating_anthropic.py
  tests/hive_mind/conftest.py
  tests/hive_mind/test_query_expansion.py
  tests/test_gherkin_evaluator_guard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

security: protect AnthropicBackend API key from repr/log exposure
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/tests/test_backends.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add ANTHROPIC_DISABLEMENT.md guide; add DISABLED guard to RotatingKeyChatAnthropic
  docs/ANTHROPIC_DISABLEMENT.md
  mkdocs.yml
  src/amplihack/vendor/blarify/agents/rotating_provider/rotating_anthropic.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(issue-4205): shell-injection & worktree-step quoting fixes with audit remediation
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  docs/reference/quality-audit-cycle-recipe.md
  tests/gadugi/default-workflow-audit-remediation-4205.yaml
  tests/gadugi/step-16-ado-dual-provider.yaml
  tests/recipes/test_default_workflow_audit_remediation_4205.py
  tests/recipes/test_shell_injection_fix_3045_3076.py
  tests/recipes/test_worktree_step_quoting.py
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

fix: repair shell quoting in default-workflow step-03 issue creation (#4221)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/outside_in/test_issue_4221_create_issue_quoting.py
  tests/recipes/test_shell_injection_fix_3045_3076.py
Due: none

fix: correct heredoc quoting and test coverage for step-03 shell quoting fix (#4221)
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
  amplifier-bundle/tools/test_step03_create_issue_idempotency.py
  tests/outside_in/test_issue_4221_create_issue_quoting.py
  tests/recipes/test_shell_injection_fix_3045_3076.py
  tests/recipes/test_worktree_step_quoting.py
Due: check-imports, check-dependencies

docs: document step-03 shell quoting fix (#4221)
  docs/recipes/RECENT_FIXES_MARCH_2026.md
  docs/recipes/step-03-idempotency.md
Due: none

Technical Fix #4233
  solution.py
Due: check-imports, check-dependencies

security: unify all user-content heredocs to quoted form (#4221)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  docs/investigations/4221-step18-philosophy-compliance.md
  tests/outside_in/test_issue_4221_create_issue_quoting.py
  tests/recipes/test_worktree_step_quoting.py
Due: none

fix(recipes): step-03 shell quoting + PR URL resolution (#4221, #4233)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(docs): repair 57 broken published-docs links and harden test validator
  docs/blarify_integration.md
  docs/claude/commands/ddd/2-docs.md
  docs/claude/skills/docx/SKILL.md
  docs/claude/skills/pptx/SKILL.md
  docs/document_driven_development/phases/01_documentation_retcon.md
  docs/document_driven_development/phases/03_implementation_planning.md
  docs/document_driven_development/phases/05_testing_and_verification.md
  docs/document_driven_development/reference/tips_for_success.md
  docs/documentation_knowledge_graph.md
  docs/howto/configure-issue-classifier-workflow.md
  docs/index.md
  docs/troubleshooting/README.md
  pytest.ini
  tests/docs/test_documentation_structure.py
Due: none

fix: harden goal-seeking agent sync/async boundaries and add settings migration
  .claude/context/PROJECT.md
  src/amplihack/agents/goal_seeking/answer_synthesizer.py
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/memory_retrieval.py
  src/amplihack/agents/goal_seeking/prompt_utils.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/cli/__init__.py
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/memory/backends/kuzu_backend.py
  src/amplihack/memory/sqlite_backend.py
  src/amplihack/settings.py
  tests/e2e/memory/test_memory_lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
