Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

Prefer repo source for plain python imports (#3207)
  amplihack/__init__.py
  tests/test_repo_root_import_shim.py
Due: check-imports, check-dependencies

fix: replicate extracted fact batches
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_partition_routing.py
  deploy/azure_hive/tests/test_remote_agent_adapter.py
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
  src/amplihack/agents/goal_seeking/input_source.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_goal_seeking_agent.py
  tests/agents/goal_seeking/test_input_source.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(code-atlas): TDD tests for Layer 7/8, 3-pass bug hunt, density guard [Step 7]
  .claude/skills/code-atlas/tests/run_all_tests.sh
  .claude/skills/code-atlas/tests/test_bug_hunt_workflow.sh
  .claude/skills/code-atlas/tests/test_layer7_8.sh
  .claude/skills/code-atlas/tests/test_layer_contracts.sh
  .claude/skills/code-atlas/tests/test_no_silent_degradation.sh
Due: none

feat(code-atlas): add Layer 7/8, 3-pass bug hunt, density guard, no silent degradation, SEC-11-19
  .claude/skills/code-atlas/API-CONTRACTS.md
  .claude/skills/code-atlas/README.md
  .claude/skills/code-atlas/SECURITY.md
  .claude/skills/code-atlas/SKILL.md
  amplifier-bundle/recipes/code-atlas.yaml
  docs/howto/use-code-atlas.md
  docs/reference/atlas-layers-explained.md
  docs/reference/code-atlas-reference.md
  docs/tutorials/code-atlas-getting-started.md
Due: none

fix: cut replicated feed preprocessing
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_remote_agent_adapter.py
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_goal_seeking_agent.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix Rust recipe discovery wrapper
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix Rust recipe discovery wrapper (#3209)
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: handle cognitive get_all_facts query compat
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  tests/hive_mind/test_cognitive_adapter_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Improve workflow and parser reliability
  .claude/skills/dev-orchestrator/SKILL.md
  src/amplihack/recipes/parser.py
  tests/skills/test_dev_orchestrator_issue_3002.py
  tests/unit/recipes/test_parser.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Improve workflow and parser reliability (#3211)
  .claude/skills/dev-orchestrator/SKILL.md
  src/amplihack/recipes/parser.py
  tests/skills/test_dev_orchestrator_issue_3002.py
  tests/unit/recipes/test_parser.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor(dev-orchestrator): make direct subprocess the default execution mode
  .claude/skills/dev-orchestrator/SKILL.md
  tests/outside_in/test_dev_orchestrator_startup_e2e.py
Due: none

refactor(dev-orchestrator): make direct subprocess the default execution mode (#3214)
  .claude/skills/dev-orchestrator/SKILL.md
  pyproject.toml
  tests/outside_in/test_dev_orchestrator_startup_e2e.py
Due: none

fix(dev-orchestrator): use temp script for tmux launches to avoid quoting failures (#3215)
  .claude/skills/dev-orchestrator/SKILL.md
  tests/outside_in/test_dev_orchestrator_startup_e2e.py
Due: none

fix(dev-orchestrator): use temp script for tmux launches to avoid quoting failures (#3216)
  .claude/skills/dev-orchestrator/SKILL.md
  pyproject.toml
  tests/outside_in/test_dev_orchestrator_startup_e2e.py
Due: none

fix: defer AGENT_READY until all LEARN_CONTENT events processed
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

fix: preserve query search on plain cognitive memory
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  tests/hive_mind/test_cognitive_adapter_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix contradiction: clarify claude-trace is required, not optional
  docs/PREREQUISITES.md
Due: none

Add Rust/cargo installation to WSL section in PREREQUISITES.md
  docs/PREREQUISITES.md
Due: none

Fix Python version requirement: unify to 3.12+ across docs
  README.md
Due: none

fix(code-atlas): address review feedback for v2 improvements
  .claude/skills/code-atlas/README.md
  .claude/skills/code-atlas/tests/run_all_tests.sh
  .claude/skills/code-atlas/tests/test_bug_hunt_workflow.sh
  .claude/skills/code-atlas/tests/test_no_silent_degradation.sh
  scripts/check-atlas-staleness.sh
Due: none

fix: revert to STORE_FACT_BATCH replicate mode with deferred AGENT_READY
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

fix: add security eval attribution telemetry
  src/amplihack/eval/security_log_eval.py
  tests/eval/test_security_log_eval.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add benchmark summary telemetry
  src/amplihack/eval/security_log_eval.py
  tests/eval/test_security_log_eval.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
