Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: quality-audit final pass — dead code removal, FP fixes, doc accuracy, #2485
  .claude/commands/amplihack/dev.md
  .claude/skills/dev-orchestrator/SKILL.md
  README.md
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  docs/tutorials/dev-orchestrator-tutorial.md
Due: check-imports, check-dependencies, amplihack-sync-commands

fix: SDK adapters load pre-built DB in skip-learning mode (#2661) (#2667)
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  tests/agents/goal_seeking/test_sdk_load_prebuilt_db.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: improve power-steering considerations — 5 rounds of quality audit (#2607)
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/considerations.yaml
  docs/claude/tools/amplihack/hooks/claude_power_steering.py
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

fix: move agent-framework to optional dep to fix uv resolution failure
  pyproject.toml
  uv.lock
Due: none

fix: move agent-framework to optional dep to fix uv resolution failure (#2668)
  pyproject.toml
  uv.lock
Due: none

fix: quality-audit round 7 — classifier FP/FN fixes, docs accuracy, 87 tests
  .claude/skills/dev-orchestrator/SKILL.md
  README.md
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  docs/tutorials/dev-orchestrator-tutorial.md
Due: check-imports, check-dependencies

fix: prevent schema mismatch causing 0 facts with --memory-type hierarchical (#2655)
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: --memory-type hierarchical produces empty DB in segmented learning (#2655) (#2669)
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: auto-install agent-framework at launch instead of requiring manual install
  src/amplihack/cli.py
  src/amplihack/dep_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: expand intent router from 2 to 4 routing outcomes (dev/qa/ops/skip)
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: check-imports, check-dependencies

fix: auto-install agent-framework at launch instead of requiring manual install (#2670)
  pyproject.toml
  src/amplihack/cli.py
  src/amplihack/dep_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: 6-way intent routing — add investigation + hybrid routes
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: check-imports, check-dependencies

fix: quality-audit final — 5 classifier bugs, 3 doc inaccuracies, 133 tests
  .claude/skills/dev-orchestrator/SKILL.md
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  docs/tutorials/dev-orchestrator-tutorial.md
Due: check-imports, check-dependencies

feat: replace 366-line regex classifier with 68-line LLM-based routing
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: check-imports, check-dependencies

fix: quality-audit on LLM router — 8 findings fixed, docs aligned with new design
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/user_prompt_submit.py
  docs/tutorials/dev-orchestrator-tutorial.md
Due: check-imports, check-dependencies

fix: second-pass audit — docstring, tutorial wording, type guard tests
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  docs/tutorials/dev-orchestrator-tutorial.md
Due: check-imports, check-dependencies

fix: trim disproportionate tests and add auto-routing cross-ref to dev.md
  .claude/commands/amplihack/dev.md
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: amplihack-sync-commands

fix: eval grader false negatives, entity-linked retrieval, chain-aware multi-hop (#2672)
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/long_horizon_memory.py
  tests/agents/goal_seeking/test_learning_agent.py
  tests/eval/test_long_horizon_grading.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: eval grader false negatives, entity-linked retrieval, chain-aware multi-hop (#2672) (#2673)
  pyproject.toml
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/long_horizon_memory.py
  tests/agents/goal_seeking/test_learning_agent.py
  tests/eval/test_long_horizon_grading.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: grader incorrect_patterns only skipped when ALL keywords match, not any
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: grader regression - require ALL keywords before skipping incorrect patterns (#2674)
  pyproject.toml
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: quality audit pass 3 — broken links, misleading log, phantom Hybrid type
  .claude/commands/amplihack/dev.md
  .claude/skills/dev-orchestrator/SKILL.md
  amplifier-bundle/tools/amplihack/hooks/user_prompt_submit.py
  docs/tutorials/dev-orchestrator-tutorial.md
Due: check-imports, check-dependencies, amplihack-sync-commands

fix: quality audit pass 4 — improve routing prompt disambiguation
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: check-imports, check-dependencies

feat: add conflict/CVE retrieval for meta_memory + list_superseded aggregation
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: conflict/CVE retrieval + list_superseded aggregation (97.8%) (#2675)
  pyproject.toml
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: quality audit pass 5 — SKILL.md said hook references /dev but it references Skill()
  .claude/skills/dev-orchestrator/SKILL.md
Due: none

docs: clarify First Session instructions for beginners
  README.md
Due: none

docs: update eval system documentation with recent improvements (2026-02-28)
  docs/EVAL_GRADING_IMPROVEMENTS.md
  docs/EVAL_RETRIEVAL_REFERENCE.md
  docs/EVAL_SYSTEM_ARCHITECTURE.md
Due: none

feat: extract inline prompts to .md files and improve synthesis for weak categories (#2676)
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/prompts/__init__.py
  src/amplihack/agents/goal_seeking/prompts/concept_map_system.md
  src/amplihack/agents/goal_seeking/prompts/concept_map_user.md
  src/amplihack/agents/goal_seeking/prompts/entity_field_extraction_system.md
  src/amplihack/agents/goal_seeking/prompts/entity_field_extraction_user.md
  src/amplihack/agents/goal_seeking/prompts/explanation_system.md
  src/amplihack/agents/goal_seeking/prompts/explanation_user.md
  src/amplihack/agents/goal_seeking/prompts/fact_extraction_system.md
  src/amplihack/agents/goal_seeking/prompts/fact_extraction_user.md
  src/amplihack/agents/goal_seeking/prompts/intent_classification_system.md
  src/amplihack/agents/goal_seeking/prompts/intent_classification_user.md
  src/amplihack/agents/goal_seeking/prompts/keyword_expansion_system.md
  src/amplihack/agents/goal_seeking/prompts/keyword_expansion_user.md
  src/amplihack/agents/goal_seeking/prompts/knowledge_gaps_system.md
  src/amplihack/agents/goal_seeking/prompts/knowledge_gaps_user.md
  src/amplihack/agents/goal_seeking/prompts/number_extraction_system.md
  src/amplihack/agents/goal_seeking/prompts/number_extraction_user.md
  src/amplihack/agents/goal_seeking/prompts/synthesis_system.md
  src/amplihack/agents/goal_seeking/prompts/synthesis_user.md
  src/amplihack/agents/goal_seeking/prompts/temporal_detection_system.md
  src/amplihack/agents/goal_seeking/prompts/temporal_detection_user.md
  src/amplihack/agents/goal_seeking/prompts/verify_fact_system.md
  src/amplihack/agents/goal_seeking/prompts/verify_fact_user.md
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: extract inline prompts to .md files + improve weak category synthesis (#2676) (#2679)
  pyproject.toml
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/prompts/__init__.py
  src/amplihack/agents/goal_seeking/prompts/concept_map_system.md
  src/amplihack/agents/goal_seeking/prompts/concept_map_user.md
  src/amplihack/agents/goal_seeking/prompts/entity_field_extraction_system.md
  src/amplihack/agents/goal_seeking/prompts/entity_field_extraction_user.md
  src/amplihack/agents/goal_seeking/prompts/explanation_system.md
  src/amplihack/agents/goal_seeking/prompts/explanation_user.md
  src/amplihack/agents/goal_seeking/prompts/fact_extraction_system.md
  src/amplihack/agents/goal_seeking/prompts/fact_extraction_user.md
  src/amplihack/agents/goal_seeking/prompts/intent_classification_system.md
  src/amplihack/agents/goal_seeking/prompts/intent_classification_user.md
  src/amplihack/agents/goal_seeking/prompts/keyword_expansion_system.md
  src/amplihack/agents/goal_seeking/prompts/keyword_expansion_user.md
  src/amplihack/agents/goal_seeking/prompts/knowledge_gaps_system.md
  src/amplihack/agents/goal_seeking/prompts/knowledge_gaps_user.md
  src/amplihack/agents/goal_seeking/prompts/number_extraction_system.md
  src/amplihack/agents/goal_seeking/prompts/number_extraction_user.md
  src/amplihack/agents/goal_seeking/prompts/synthesis_system.md
  src/amplihack/agents/goal_seeking/prompts/synthesis_user.md
  src/amplihack/agents/goal_seeking/prompts/temporal_detection_system.md
  src/amplihack/agents/goal_seeking/prompts/temporal_detection_user.md
  src/amplihack/agents/goal_seeking/prompts/verify_fact_system.md
  src/amplihack/agents/goal_seeking/prompts/verify_fact_user.md
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
