Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: Make session-end hook wrapper robust with fallback paths
  .github/hooks/scripts/session-end.sh
Due: none

test: Complete E2E Copilot CLI integration testing
  .github/hooks/scripts/pre-tool-use.sh
  E2E_COPILOT_TEST_RESULTS.md
Due: none

fix(recipes): resolve validation errors found during shadow testing
  amplifier-bundle/recipes/cascade-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/verification-workflow.yaml
Due: none

fix(bundle): remove redundant foundation include to eliminate circular dependency warning
  amplifier-bundle/bundle.md
Due: none

fix: Correct hooks.json format for Copilot CLI
  .github/hooks/amplihack-hooks.json
  E2E_COPILOT_TEST_RESULTS.md
Due: none

chore: Remove temporal documentation and test artifacts
  .github/hooks/IMPLEMENTATION_SUMMARY.md
  COPILOT_WORKFLOW_IMPLEMENTATION.md
  IMPLEMENTATION_SUMMARY.md
  SECURITY_REVIEW_SUMMARY.md
  STEP13_LOCAL_TESTING_RESULTS.md
  docs/copilot/PHASE_10_TESTING_REPORT.md
  docs/copilot/PHASE_4_SUMMARY.md
  docs/copilot/PHASE_7_SUMMARY.md
  docs/security/PHASE1_SECURITY_REVIEW.md
Due: none

chore: Remove development helper scripts
  scripts/convert_commands.py
  scripts/patch_cli.py
Due: check-imports, check-dependencies

fix(packaging): include amplifier-bundle in wheel for uvx support
  build_hooks.py
  pyproject.toml
  src/amplihack/launcher/amplifier.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(workflow): Add multi-platform support for GitHub and Azure DevOps
  .claude/tools/platform_bridge/__init__.py
  .claude/tools/platform_bridge/azdo_bridge.py
  .claude/tools/platform_bridge/cli.py
  .claude/tools/platform_bridge/detector.py
  .claude/tools/platform_bridge/github_bridge.py
  .claude/tools/platform_bridge/operations.py
  .claude/tools/platform_bridge/tests/README.md
  .claude/tools/platform_bridge/tests/TEST_SUMMARY.md
  .claude/tools/platform_bridge/tests/__init__.py
  .claude/tools/platform_bridge/tests/conftest.py
  .claude/tools/platform_bridge/tests/test_azdo_bridge.py
  .claude/tools/platform_bridge/tests/test_cli.py
  .claude/tools/platform_bridge/tests/test_detector.py
  .claude/tools/platform_bridge/tests/test_github_bridge.py
  .claude/tools/platform_bridge/tests/test_security.py
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: check-imports, check-dependencies

feat: GitHub Copilot CLI Integration Phase 1 (Issue #1906)
  .claude/context/PROJECT.md
  .claude/skills/agent-sdk/.metadata/versions.json
  .claude/skills/github-copilot-cli-expert/README.md
  .claude/tools/amplihack/commands_converter.py
  .github/commands/README.md
  .github/commands/analyze.md
  .github/commands/auto.md
  .github/commands/cascade.md
  .github/commands/customize.md
  .github/commands/debate.md
  .github/commands/expert-panel.md
  .github/commands/fix.md
  .github/commands/improve.md
  .github/commands/ingest-code.md
  .github/commands/install.md
  .github/commands/knowledge-builder.md
  .github/commands/lock.md
  .github/commands/modular-build.md
  .github/commands/n-version.md
  .github/commands/ps-diagnose.md
  .github/commands/reflect.md
  .github/commands/remote.md
  .github/commands/skill-builder.md
  .github/commands/socratic.md
  .github/commands/transcripts.md
  .github/commands/ultrathink.md
  .github/commands/uninstall.md
  .github/commands/unlock.md
  .github/commands/xpia.md
  .github/hooks/post-tool-use
  .github/hooks/pre-commit
  .github/hooks/pre-tool-use
  .github/hooks/session-start
  .github/hooks/session-stop
  .github/hooks/user-prompt-submit
  build_hooks.py
  docs/COPILOT_CLI.md
  docs/COPILOT_CLI_INTEGRATION_SUMMARY.md
Due: check-dependencies

fix: Include .github/ in wheel packaging for Copilot CLI agents
  MANIFEST.in
  build_hooks.py
Due: check-dependencies

fix: Set Opus 4.5 as default model and fix agent directory access
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(launcher): default to interactive chat mode
  src/amplihack/launcher/amplifier.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

[WIP] feat: Multi-platform support (GitHub + Azure DevOps) for DEFAULT_WORKFLOW (#1928)
  .claude/tools/platform_bridge/__init__.py
  .claude/tools/platform_bridge/azdo_bridge.py
  .claude/tools/platform_bridge/cli.py
  .claude/tools/platform_bridge/detector.py
  .claude/tools/platform_bridge/github_bridge.py
  .claude/tools/platform_bridge/operations.py
  .claude/tools/platform_bridge/tests/README.md
  .claude/tools/platform_bridge/tests/TEST_SUMMARY.md
  .claude/tools/platform_bridge/tests/__init__.py
  .claude/tools/platform_bridge/tests/conftest.py
  .claude/tools/platform_bridge/tests/test_azdo_bridge.py
  .claude/tools/platform_bridge/tests/test_cli.py
  .claude/tools/platform_bridge/tests/test_detector.py
  .claude/tools/platform_bridge/tests/test_github_bridge.py
  .claude/tools/platform_bridge/tests/test_security.py
  .claude/workflow/DEFAULT_WORKFLOW.md
  docs/howto/platform-bridge-workflows.md
  docs/index.md
  docs/platform-bridge/README.md
  docs/reference/platform-bridge-api.md
  docs/security/platform-bridge-security.md
  docs/troubleshooting/platform-bridge.md
  docs/tutorials/platform-bridge-quickstart.md
Due: check-imports, check-dependencies

docs: Add comprehensive verification results
  COMPREHENSIVE_VERIFICATION.md
Due: none

fix: Add hooks JSON configuration for Copilot CLI
  .github/hooks/amplihack-hooks.json
  .github/hooks/error-occurred
Due: none

docs: Final comprehensive verification - ALL components working
  COMPREHENSIVE_VERIFICATION.md
  FINAL_VERIFICATION_RESULTS.md
Due: none

docs: Add comprehensive verification scenarios and test execution guide
  .claude/docs/TEST_EXECUTION_GUIDE_ULTRATHINK_DEFAULT.md
  .claude/docs/VERIFICATION_SCENARIOS_ULTRATHINK_DEFAULT.md
Due: none

test: Add hook context injection tests - confirms Copilot limitation
  .github/hooks/copilot-test-inject.sh
  .github/hooks/copilot-test.json
Due: none
