Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix(workflow): isolate stream-local worktrees (#4022) (#4076)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_git_push_idempotency.py
  tests/test_multitask_orchestrator_local_src_bootstrap.py
  tests/unit/recipes/test_worktree_isolation_3684_3673.py
Due: none

fix: surface stderr diagnostics when classify-and-decompose fails (#4073)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/test_smart_orchestrator_decomposition.py
Due: none

fix: prevent hollow success when step-08 replaces stubs (#4094)
  amplifier-bundle/agents/core/builder.md
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_hollow_success_guard.py
  tests/recipes/test_shell_injection_fix_3045_3076.py
Due: none

fix: harden rust runner sidecar progress tracking safety (#4082)
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add cross-component orchestration integration tests (#4081)
  tests/test_orchestration_integration.py
Due: none

feat(pre-commit): add scoped import validation with --files-from support (#4083)
  scripts/pre-commit/build_publish_validation_scope.py
  scripts/pre-commit/check_imports.py
  tests/pre_commit/__init__.py
  tests/pre_commit/test_build_publish_validation_scope.py
  tests/pre_commit/test_check_imports_files_from.py
Due: check-imports, check-dependencies

fix: surface stderr diagnostics when classify-and-decompose fails (#4073) (#4098)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/test_smart_orchestrator_decomposition.py
Due: none

fix: prevent hollow success when step-08 replaces stubs (#4094) (#4099)
  amplifier-bundle/agents/core/builder.md
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_hollow_success_guard.py
  tests/recipes/test_shell_injection_fix_3045_3076.py
Due: none

fix: harden rust runner sidecar progress tracking safety (#4082) (#4109)
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add cross-component orchestration integration tests (#4081) (#4110)
  tests/test_orchestration_integration.py
Due: none

feat(pre-commit): add scoped import validation with --files-from support (#4111)
  scripts/pre-commit/build_publish_validation_scope.py
  scripts/pre-commit/check_imports.py
  tests/pre_commit/__init__.py
  tests/pre_commit/test_build_publish_validation_scope.py
  tests/pre_commit/test_check_imports_files_from.py
Due: check-imports, check-dependencies

fix(multitask): preserve resumable timeout workstreams (#4032)
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/test_orchestrator.py
  .claude/skills/multitask/tests/test_disk_management.py
  .claude/skills/multitask/tests/test_resumable_timeouts.py
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  docs/features/README.md
  docs/features/resumable-workstream-timeouts.md
  docs/howto/configure-resumable-workstream-timeouts.md
  docs/index.md
  docs/reference/resumable-workstream-timeouts.md
  docs/tutorials/README.md
  docs/tutorials/resumable-workstream-timeouts.md
  mkdocs.yml
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_default_workflow_resumable_timeouts.py
  tests/recipes/test_heartbeat.py
  tests/recipes/test_rust_runner_execution.py
  tests/test_multitask_orchestrator_local_src_bootstrap.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(atlas): refresh ast bindings page for #4032
  docs/atlas/ast-lsp-bindings/index.md
Due: none

test(copilot): align launcher context assertions
  tests/test_copilot_launcher_integration.py
Due: none

fix(multitask): preserve resumable timeout workstreams (#4032) (#4075)
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/test_orchestrator.py
  .claude/skills/multitask/tests/test_disk_management.py
  .claude/skills/multitask/tests/test_resumable_timeouts.py
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  docs/atlas/ast-lsp-bindings/index.md
  docs/features/README.md
  docs/features/resumable-workstream-timeouts.md
  docs/howto/configure-resumable-workstream-timeouts.md
  docs/index.md
  docs/reference/resumable-workstream-timeouts.md
  docs/tutorials/README.md
  docs/tutorials/resumable-workstream-timeouts.md
  mkdocs.yml
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_default_workflow_resumable_timeouts.py
  tests/recipes/test_heartbeat.py
  tests/recipes/test_rust_runner_execution.py
  tests/test_copilot_launcher_integration.py
  tests/test_multitask_orchestrator_local_src_bootstrap.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(workflow): scope step-15 import validation (#4064)
  amplifier-bundle/recipes/default-workflow.yaml
  docs/features/README.md
  docs/features/workflow-publish-import-validation.md
  docs/howto/configure-workflow-publish-import-validation.md
  docs/index.md
  docs/reference/workflow-publish-import-validation.md
  docs/tutorials/workflow-publish-import-validation.md
  mkdocs.yml
  pyproject.toml
  scripts/pre-commit/build_publish_validation_scope.py
  scripts/pre-commit/check_imports.py
  tests/recipes/test_default_workflow_step15_scoped_imports.py
  tests/scripts/pre_commit/test_build_publish_validation_scope.py
  tests/scripts/pre_commit/test_check_imports.py
Due: check-imports, check-dependencies

docs(atlas): refresh ast bindings page for #4064
  docs/atlas/ast-lsp-bindings/index.md
Due: none

docs(atlas): refresh stale pages for #4064
  docs/atlas/compile-deps/index.md
Due: none

fix(workflow): scope step-15 import validation (#4064) (#4074)
  amplifier-bundle/recipes/default-workflow.yaml
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/features/README.md
  docs/features/workflow-publish-import-validation.md
  docs/howto/configure-workflow-publish-import-validation.md
  docs/index.md
  docs/reference/workflow-publish-import-validation.md
  docs/tutorials/workflow-publish-import-validation.md
  mkdocs.yml
  pyproject.toml
  scripts/pre-commit/build_publish_validation_scope.py
  scripts/pre-commit/check_imports.py
  tests/recipes/test_default_workflow_step15_scoped_imports.py
  tests/scripts/pre_commit/test_build_publish_validation_scope.py
  tests/scripts/pre_commit/test_check_imports.py
Due: check-imports, check-dependencies

fix: integrate recovery fixes #4022, #4032, #4064 without cherry-pick conflicts
  tests/recipes/test_git_push_idempotency.py
  uv.lock
Due: none

fix: integrate recovery fixes #4022, #4032, #4064 without cherry-pick conflicts (#4101)
  tests/recipes/test_git_push_idempotency.py
  uv.lock
Due: none

feat: add Gherkin expert skill/agent and tri-path formal spec judgment (#3939)
  .claude/agents/amplihack/specialized/gherkin-expert.md
  .claude/agents/amplihack/specialized/prompt-writer.md
  .claude/context/PATTERNS.md
  .claude/skills/gherkin-expert/SKILL.md
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: remove ephemeral investigation file flagged by Repo Guardian
  docs/investigations/gherkin_expert_review_3939.md
Due: none

docs: add gherkin-expert tutorial, review findings, and move experiment files
  docs/howto/use_gherkin_expert.md
  docs/investigations/gherkin_expert_review_3939.md
  experiments/hive_mind/gherkin_v2_recipe_executor/reference/recipe_step_executor.py
  experiments/hive_mind/gherkin_v2_recipe_executor/reference/test_gherkin_expert_deliverables.py
  experiments/hive_mind/gherkin_v2_recipe_executor/reference/test_recipe_step_executor.py
  pyrightconfig.json
Due: check-imports, check-dependencies

fix: link gherkin tutorial from README, fix test paths to use repo root
  README.md
  experiments/hive_mind/gherkin_v2_recipe_executor/reference/test_gherkin_expert_deliverables.py
Due: check-imports, check-dependencies

feat: add Gherkin expert skill/agent and tri-path formal spec judgment (#4096)
  .claude/agents/amplihack/specialized/gherkin-expert.md
  .claude/agents/amplihack/specialized/prompt-writer.md
  .claude/context/PATTERNS.md
  .claude/skills/gherkin-expert/SKILL.md
  README.md
  amplifier-bundle/recipes/default-workflow.yaml
  docs/howto/use_gherkin_expert.md
  experiments/hive_mind/gherkin_v2_recipe_executor/reference/recipe_step_executor.py
  experiments/hive_mind/gherkin_v2_recipe_executor/reference/test_gherkin_expert_deliverables.py
  experiments/hive_mind/gherkin_v2_recipe_executor/reference/test_recipe_step_executor.py
  pyrightconfig.json
Due: check-imports, check-dependencies

test: add issue classifier gadugi scenario
  tests/gadugi/issue-classifier-workflow-budget-and-permissions.yaml
Due: none

Fix #3963, #3978, and #4120: repair issue classifier workflow
  .github/aw/actions-lock.json
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/issue-classifier.md
  .secrets.baseline
  tests/recipes/test_rust_runner_execution.py
  tests/unit/workflows/test_issue_classifier_workflow.py
Due: none

test: make issue classifier gadugi portable
  tests/gadugi/issue-classifier-workflow-budget-and-permissions.yaml
Due: none

chore: update ast-lsp-bindings atlas for PR #4141 test additions
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
Due: none

fix: repair issue classifier workflow budget and permissions (#3963, #3978, #4120) (#4141)
  .github/aw/actions-lock.json
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/issue-classifier.md
  .secrets.baseline
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  tests/gadugi/issue-classifier-workflow-budget-and-permissions.yaml
  tests/recipes/test_rust_runner_execution.py
  tests/unit/workflows/test_issue_classifier_workflow.py
Due: none

test: make daily metrics gadugi portable
  tests/gadugi/daily-code-metrics-bounded-required-path.yaml
Due: none

test: add daily metrics gadugi scenario
  tests/gadugi/daily-code-metrics-bounded-required-path.yaml
Due: none

Fix #3968: bound daily metrics required path
  .github/aw/actions-lock.json
  .github/workflows/daily-code-metrics.lock.yml
  .github/workflows/daily-code-metrics.md
  .secrets.baseline
  tests/test_daily_code_metrics_workflow.py
Due: none

fix: finalize bounded daily metrics workflow
  .github/workflows/daily-code-metrics.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  tests/gadugi/daily-code-metrics-bounded-required-path.yaml
  tests/test_daily_code_metrics_workflow.py
Due: none

fix: finalize issue classifier workflow repairs
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  tests/recipes/test_rust_runner_execution.py
Due: none

docs: add formal specifications as prompt language guide (#3939)
  docs/claude/agents/amplihack/specialized/gherkin-expert.md
  docs/claude/agents/amplihack/specialized/tla-plus-expert.md
  docs/claude/skills/gherkin-expert/SKILL.md
  docs/claude/skills/tla-plus-expert/SKILL.md
  docs/guides/formal-specifications-as-prompt-language.md
  mkdocs.yml
Due: none

fix: bound daily metrics required path (#3968) (#4140)
  .github/aw/actions-lock.json
  .github/workflows/daily-code-metrics.lock.yml
  .github/workflows/daily-code-metrics.md
  .secrets.baseline
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  tests/gadugi/daily-code-metrics-bounded-required-path.yaml
  tests/test_daily_code_metrics_workflow.py
Due: none

Fix #3965, #3966, #3967, and #4002: harden nested Copilot workflow handling
  docs/howto/use-non-claude-agent.md
  docs/reference/copilot-parity-control-plane.md
  src/amplihack/launcher/copilot.py
  src/amplihack/recipes/rust_runner_copilot.py
  tests/gadugi/copilot_nested_compat_smoke.py
  tests/launcher/test_copilot.py
  tests/recipes/test_rust_runner_support.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: harden copilot gadugi smoke
  tests/gadugi/copilot-nested-compat.yaml
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
