Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

docs(hive-mind): add HiveMindOrchestrator to architecture docs and tutorial
  docs/hive_mind/ARCHITECTURE.md
  docs/hive_mind/GETTING_STARTED.md
Due: none

fix(fleet): prevent send_input to dead/empty sessions
  src/amplihack/fleet/_system_prompt.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add Rust recipe runner check to all startup paths
  src/amplihack/cli.py
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: ensure Rust recipe runner on startup, add cargo to prerequisites
  README.md
  docs/PREREQUISITES.md
  src/amplihack/launcher/copilot.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: consolidate launcher startup into _common_launcher_startup()
  src/amplihack/cli.py
  tests/test_cli_claude_command_guard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add 19 tests for _common_launcher_startup()
  tests/test_common_launcher_startup.py
Due: none

fix: ensure Rust recipe runner on startup, add cargo to prerequisites (#2957)
  README.md
  docs/PREREQUISITES.md
  src/amplihack/cli.py
  src/amplihack/launcher/copilot.py
  tests/test_cli_claude_command_guard.py
  tests/test_common_launcher_startup.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat!: remove Python recipe runner, Rust runner is now the only engine
  .claude/skills/multitask/orchestrator.py
  pyproject.toml
  src/amplihack/recipe_cli/recipe_command.py
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/adapters/__init__.py
  src/amplihack/recipes/adapters/base.py
  src/amplihack/recipes/adapters/claude_sdk.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/adapters/env.py
  src/amplihack/recipes/adapters/nested_session.py
  src/amplihack/recipes/context.py
  src/amplihack/recipes/runner.py
  tests/integration/test_amplifier_compatibility.py
  tests/integration/test_recipe_cli_e2e.py
  tests/outside_in/test_multitask_mandatory_review_steps.py
  tests/outside_in/test_recipe_condition_safety.py
  tests/outside_in/test_recipe_summarize_arg_max.py
  tests/recipes/test_claude_sdk_adapter_fix.py
  tests/recipes/test_nested_session_adapter.py
  tests/recipes/test_recipe_runner_bug_fixes.py
  tests/recipes/test_recipe_runner_parse_json.py
  tests/unit/cli/conftest.py
  tests/unit/cli/test_recipe_command.py
  tests/unit/recipes/test_adapters.py
  tests/unit/recipes/test_adapters_extended.py
  tests/unit/recipes/test_auto_stage.py
  tests/unit/recipes/test_cli_subprocess_no_interactive.py
  tests/unit/recipes/test_cli_subprocess_temp_dir.py
  tests/unit/recipes/test_context.py
  tests/unit/recipes/test_edge_cases.py
  tests/unit/recipes/test_integration_scenarios.py
  tests/unit/recipes/test_public_api.py
  tests/unit/recipes/test_recipe_step_type.py
  tests/unit/recipes/test_runner.py
  tests/unit/recipes/test_security_attacks.py
  tests/unit/recipes/test_smart_orchestrator_workflow_bypass.py
  tests/unit/recipes/test_streaming_adapters.py
  tests/workflows/test_regression.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: update rust runner tests for Python runner removal
  tests/recipes/test_rust_runner.py
Due: none

test: add outside-in tests for Python recipe runner removal
  tests/recipes/test_python_runner_removed_outside_in.py
  tests/recipes/test_recipe_runner_rust_only.yaml
Due: none

docs(hive-mind): add investigation guide, mkdocs nav, and comprehensive QA tests
  docs/INVESTIGATION_hive_mind_guide.md
  mkdocs.yml
  tests/hive_mind/test_comprehensive_qa.py
Due: none

fix(fleet): scout shows all VMs, advance respects exclude list
  src/amplihack/fleet/_cli_scout_advance.py
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(hive-mind): add unified.py compatibility layer for eval scripts
  src/amplihack/agents/goal_seeking/hive_mind/unified.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: define original_cwd before use in launch_command finally block
  src/amplihack/cli.py
  tests/test_launch_command_cwd_restore.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: define original_cwd before use in launch_command finally block (#2965)
  pyproject.toml
  src/amplihack/cli.py
  tests/test_launch_command_cwd_restore.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: enable agentic recovery for sub-recipe failures in smart-orchestrator
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

test(fleet): add outside-in behavioral tests for scout/advance exclude contract
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages

docs(fleet): document scout shows ALL VMs including excluded ones
  docs/fleet-orchestration/TUTORIAL.md
Due: none

docs(readme): cross-reference scout/advance exclude semantics in fleet section
  README.md
Due: none

fix: remove merge conflict artifact file hooks~origin_main
  amplifier-bundle/tools/amplihack/hooks~origin_main
Due: none

fix: enable agentic recovery for sub-recipe failures (#2953)
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: move test_fleet_agentic.py from root to tests/fleet/
  tests/fleet/test_fleet_agentic.py
Due: none

fix: recompile all agentic workflows with gh-aw v0.56.2
  .github/workflows/bot-detection.lock.yml
  .github/workflows/bot-detection.md
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-code-metrics.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-security-red-team.lock.yml
  .github/workflows/daily-syntax-error-quality.lock.yml
  .github/workflows/dependabot-burner.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/repo-guardian.lock.yml
  .github/workflows/security-compliance.lock.yml
  .github/workflows/static-analysis-report.lock.yml
  .github/workflows/weekly-issue-summary.lock.yml
  .github/workflows/workflow-health-manager.lock.yml
  .github/workflows/workflow-health-manager.md
Due: none

fix: recompile agentic workflows with gh-aw v0.56.2
  .github/workflows/bot-detection.lock.yml
  .github/workflows/bot-detection.md
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-code-metrics.lock.yml
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-security-red-team.lock.yml
  .github/workflows/daily-syntax-error-quality.lock.yml
  .github/workflows/dependabot-burner.lock.yml
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/repo-guardian.lock.yml
  .github/workflows/security-compliance.lock.yml
  .github/workflows/static-analysis-report.lock.yml
  .github/workflows/weekly-issue-summary.lock.yml
  .github/workflows/workflow-health-manager.lock.yml
  .github/workflows/workflow-health-manager.md
  pyproject.toml
Due: none

fix(fleet): use prefix matching for hostname verification
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: switch all agentic workflows from Copilot to Claude engine
  .github/workflows/bot-detection.lock.yml
  .github/workflows/bot-detection.md
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/code-simplifier.md
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-file-diet.md
  .github/workflows/daily-syntax-error-quality.lock.yml
  .github/workflows/daily-syntax-error-quality.md
  .github/workflows/dependabot-burner.lock.yml
  .github/workflows/dependabot-burner.md
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-noob-tester.md
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/issue-classifier.md
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/pr-triage-agent.md
  .github/workflows/repo-guardian.lock.yml
  .github/workflows/repo-guardian.md
  .github/workflows/security-compliance.lock.yml
  .github/workflows/security-compliance.md
  .github/workflows/weekly-issue-summary.lock.yml
  .github/workflows/weekly-issue-summary.md
  .github/workflows/workflow-health-manager.lock.yml
  .github/workflows/workflow-health-manager.md
Due: none

fix: switch all agentic workflows to Claude engine
  .github/workflows/bot-detection.lock.yml
  .github/workflows/bot-detection.md
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/code-simplifier.md
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-file-diet.md
  .github/workflows/daily-syntax-error-quality.lock.yml
  .github/workflows/daily-syntax-error-quality.md
  .github/workflows/dependabot-burner.lock.yml
  .github/workflows/dependabot-burner.md
  .github/workflows/docs-noob-tester.lock.yml
  .github/workflows/docs-noob-tester.md
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/issue-classifier.md
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/pr-triage-agent.md
  .github/workflows/repo-guardian.lock.yml
  .github/workflows/repo-guardian.md
  .github/workflows/security-compliance.lock.yml
  .github/workflows/security-compliance.md
  .github/workflows/weekly-issue-summary.lock.yml
  .github/workflows/weekly-issue-summary.md
  .github/workflows/workflow-health-manager.lock.yml
  .github/workflows/workflow-health-manager.md
  pyproject.toml
Due: none

fix(fleet): retry misrouted VMs sequentially after concurrent poll
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(recipes): add cross-reference and security tracking comments for slug pipelines
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
