Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat(skill): Add GitHub Copilot SDK skill (#2142)
  .claude/skills/github-copilot-sdk/README.md
  .claude/skills/github-copilot-sdk/SKILL.md
  .claude/skills/github-copilot-sdk/drift-detection.md
  .claude/skills/github-copilot-sdk/examples.md
  .claude/skills/github-copilot-sdk/examples/goal-seeking-agent-python.py
  .claude/skills/github-copilot-sdk/examples/goal-seeking-agent-typescript.ts
  .claude/skills/github-copilot-sdk/patterns.md
  .claude/skills/github-copilot-sdk/reference.md
  .claude/skills/github-copilot-sdk/scripts/check_drift.py
  pyproject.toml
Due: check-dependencies

fix: Add _ensure_amplihack_staged() call to launch_command() (#2146)
  src/amplihack/cli.py
  tests/integration/test_cli_unified_staging.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Apply pre-commit formatting (ruff, prettier)
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  CLAUDE.md
Due: check-dependencies

refactor: Simplify injection logic and remove redundant code
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

chore: Apply prettier formatting to test plan
  STEP_13_LOCAL_TEST_PLAN.md
Due: none

refactor: Remove unnecessary metrics tracking
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

test: Minor change to database agent description to test pre-commit hook
  amplifier-bundle/agents/specialized/database.md
  amplifier-bundle/bundle.md
Due: none

feat: Auto-sync agent descriptions from .md files to bundle.md
  amplifier-bundle/bundle.md
  amplifier-bundle/modules/hook-session-start/amplifier_hook_session_start/__init__.py
  scripts/sync_agent_descriptions.py
Due: check-imports, check-dependencies

test: Add Step 13 local testing results - all tests passed
  STEP_13_ACTUAL_TEST_RESULTS.md
Due: none

refactor: Remove redundant exists() check
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

Fix: Auto-sync agent descriptions from .md files to bundle.md (#2151)
  amplifier-bundle/agents/specialized/database.md
  amplifier-bundle/bundle.md
  amplifier-bundle/modules/hook-session-start/amplifier_hook_session_start/__init__.py
  scripts/sync_agent_descriptions.py
Due: check-imports, check-dependencies

Remove temporary test results file from repository root (#2152)
  STEP_13_LOCAL_TEST_RESULTS.md
Due: none

Fix Claude Code installation command in documentation (#2153)
  docs/plugin/PLUGIN_INSTALLATION.md
Due: none

feat: Add timeout tracking to stop hook to prevent operation starvation
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/timeout_tracker.py
Due: check-dependencies

fix: Add file locking to prevent power-steering counter race condition
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/TEST_FILE_LOCKING_README.md
  .claude/tools/amplihack/hooks/tests/test_file_locking.py
  docs/index.md
  docs/reference/power-steering-file-locking.md
Due: check-dependencies

docs: Remove point-in-time language from file locking test README
  .claude/tools/amplihack/hooks/tests/TEST_FILE_LOCKING_README.md
Due: none

docs: Simplify PROJECT.md overview description
  .claude/context/PROJECT.md
Due: none

fix: Increase stop hook timeout from 30s to 2 minutes
  .claude/settings.json
  docs/index.md
  src/amplihack/utils/uvx_settings_template.json
  uv.lock
Due: sync-hooks-validation

fix: Correct hook timeout format from milliseconds to seconds
  .claude/settings.json
  docs/HOOK_CONFIGURATION_GUIDE.md
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

docs: Add comprehensive documentation and tests for framework injection
  STEP_13_ACTUAL_TEST_RESULTS.md
  STEP_13_LOCAL_TEST_PLAN.md
  docs/concepts/framework-injection-architecture.md
  docs/howto/verify-framework-injection.md
  docs/index.md
  docs/reference/user-prompt-submit-hook-api.md
  tests/hooks/test_amplihack_injection.py
Due: none

fix: Eliminate TOCTOU races in stop hook file operations (#2159)
  .claude/tools/amplihack/hooks/stop.py
Due: check-dependencies

fix: Add session_id filtering to Kuzu memory queries
  src/amplihack/memory/backends/kuzu_backend.py
  src/amplihack/memory/kuzu/code_graph.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

Revert "fix: Correct hook timeout format from milliseconds to seconds"
  .claude/settings.json
  docs/HOOK_CONFIGURATION_GUIDE.md
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

Revert "fix: Increase stop hook timeout from 30s to 2 minutes"
  .claude/settings.json
  docs/index.md
  src/amplihack/utils/uvx_settings_template.json
  uv.lock
Due: sync-hooks-validation

Restore Blarify ON by default (revert PR #2120)
  docs/blarify_integration.md
  docs/blarify_quickstart.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct hook timeout format and increase Stop timeout to 2 minutes
  .claude/settings.json
  .claude/tools/amplihack/hooks/hooks.json
  docs/HOOK_CONFIGURATION_GUIDE.md
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
