Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix(eval): poll subscription queue depth before sending questions
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

fix: bootstrap copilot in rust trial
  src/amplihack/launcher/copilot.py
  src/amplihack/rust_trial.py
  tests/test_rust_trial.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: bootstrap copilot in rust trial (#3031)
  pyproject.toml
  src/amplihack/launcher/copilot.py
  src/amplihack/rust_trial.py
  tests/test_rust_trial.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: seed copilot config in rust trial
  src/amplihack/rust_trial.py
  tests/test_rust_trial.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: seed copilot config in rust trial (#3032)
  src/amplihack/rust_trial.py
  tests/test_rust_trial.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(eval): revert to broadcast LEARN_CONTENT — all agents learn all content
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

fix: prefer newest rust snapshot release
  src/amplihack/rust_trial.py
  tests/test_rust_trial.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: prefer newest rust snapshot release (#3033)
  src/amplihack/rust_trial.py
  tests/test_rust_trial.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(eval): partition content across agents, remove all timeouts
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

fix(eval): address all review findings — thread safety, no timeouts, liveness
  deploy/azure_hive/EVAL_PLAN.md
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/remote_agent_adapter.py
  src/amplihack/agents/goal_seeking/input_source.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(eval): block all parallel threads on idle wait before sending questions
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

feat(hive): replace replication with proper DHT sharding via DistributedHiveGraph (#3034)
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/main.bicep
  deploy/azure_hive/tests/test_agent_entrypoint.py
  experiments/hive_mind/run_20agent_eval.py
  src/amplihack/agents/goal_seeking/hive_mind/orchestrator.py
  tests/hive_mind/test_dht_shard_cross_query.py
  tests/hive_mind/test_eval_integration.py
  tests/integration/test_distributed_hive_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add update command with Rust CLI delegation
  .claude/context/PROJECT.md
  src/amplihack/auto_update.py
  src/amplihack/cli.py
  tests/integration/test_cli_platform.py
  tests/test_auto_update.py
  tests/test_cli_claude_command_guard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: revert PROJECT.md project name change from feature branch
  .claude/context/PROJECT.md
Due: none

fix: add timeout to Rust CLI delegation in run_update_command
  src/amplihack/auto_update.py
  tests/test_auto_update.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert "[skip ci] chore: Auto-bump patch version"
  pyproject.toml
Due: none

fix: add timeout to Rust CLI delegation in run_update_command (#3037)
  src/amplihack/auto_update.py
  tests/test_auto_update.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add update command with Rust CLI delegation (#3035)
  pyproject.toml
  src/amplihack/auto_update.py
  src/amplihack/cli.py
  tests/integration/test_cli_platform.py
  tests/test_auto_update.py
  tests/test_cli_claude_command_guard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: DI-based ShardTransport for DistributedHiveGraph (issue #3034)
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  tests/hive_mind/test_dht_shard_cross_query.py
  tests/integration/test_distributed_hive_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: move _restart_cli constants to module level in auto_update.py
  src/amplihack/auto_update.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: move _restart_cli constants to module level (issue #3038) (#3040)
  pyproject.toml
  src/amplihack/auto_update.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Slim CLAUDE.md from 1156 to 330 lines (71% reduction)
  .claude/context/COMMANDS_REFERENCE.md
  .claude/context/PARALLEL_EXECUTION.md
  CLAUDE.md
Due: none

fix: Add /ultrathink deprecation note to COMMANDS_REFERENCE.md
  .claude/context/COMMANDS_REFERENCE.md
Due: none
