Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: correct Claude Code hook input format (top-level tool_name/tool_input)
  .claude/tools/xpia/hooks/pre_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use_rust.py
  tests/test_outside_in_xpia_rust.py
Due: check-imports, check-dependencies

docs: Add explanations for philosophical concepts in PHILOSOPHY.md
  .claude/context/PHILOSOPHY.md
Due: none

test(fleet): add real CopilotBackend SDK call to outside-in tests
  tests/agentic/copilot-copilot-backend.yaml
Due: none

test: expand outside-in tests from 35 to 135 (14 categories, 1065 LOC)
  tests/test_outside_in_xpia_rust.py
Due: none

fix(deploy): retry with backoff + region fallback on deploy failure
  deploy/azure_hive/deploy.sh
Due: none

fix(fleet): update CopilotBackend for github-copilot-sdk v0.1.19 API
  src/amplihack/fleet/_backends.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: correct install message and add version check for recipe-runner-rs
  src/amplihack/install.py
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add xfail regression tests for 24 known pattern bugs (13 FN, 11 FP)
  tests/test_outside_in_xpia_rust.py
Due: none

fix: correct test_adapters_no_longer_importable exception type
  CLAUDE.md
  tests/recipes/test_rust_runner.py
  uv.lock
Due: none

fix: correct install message and add version check for recipe-runner-rs (#2998)
  CLAUDE.md
  pyproject.toml
  src/amplihack/install.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add 21 more xfail regression tests: encoding bypasses, exfil, privesc, FPs
  tests/test_outside_in_xpia_rust.py
Due: none

feat: AMPLIHACK_HOOK_ENGINE=rust hook registration support
  src/amplihack/__init__.py
  src/amplihack/launcher/copilot.py
  src/amplihack/settings.py
  tests/test_rust_hook_engine.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: AMPLIHACK_HOOK_ENGINE=rust hook registration (Phase 1c)
  pyproject.toml
  src/amplihack/__init__.py
  src/amplihack/launcher/copilot.py
  src/amplihack/settings.py
  tests/test_rust_hook_engine.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add prerequisites and beginner resources section to README
  README.md
Due: none

feat: auto-install github-copilot-sdk on amplihack startup
  src/amplihack/__init__.py
  src/amplihack/copilot_auto_install.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: validate install URL and fix GH Actions script injection (#2986)
  .claude/tools/amplihack/install.sh
  .github/workflows/version-tag.yml
Due: none

fix: validate install URL and fix GH Actions script injection (#2986)
  .claude/tools/amplihack/install.sh
  .github/workflows/version-tag.yml
  pyproject.toml
Due: none

refactor: address review findings from retrofit workflow
  deploy/azure_hive/deploy.sh
  src/amplihack/agents/goal_seeking/hive_mind/unified.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: audit cycle 1 — path quoting, engine switch, error handling
  src/amplihack/__init__.py
  src/amplihack/launcher/copilot.py
  src/amplihack/settings.py
  tests/test_rust_hook_engine.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: audit cycle 2 — documentation, test coverage
  src/amplihack/__init__.py
  tests/test_rust_hook_engine.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Update xfail tests: 33 bugs fixed, remove resolved xfail markers
  tests/test_outside_in_xpia_rust.py
Due: none

fix: repair dev-orchestrator recipe runner path (fixes #3002)
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/multitask/SKILL.md
  .claude/skills/oxidizer-workflow/SKILL.md
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: harden issue 3002 recipe lookup path
  docs/OXIDIZER.md
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
  tests/skills/test_dev_orchestrator_issue_3002.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: repair dev-orchestrator recipe runner path (fixes #3002) (#3004)
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/multitask/SKILL.md
  .claude/skills/oxidizer-workflow/SKILL.md
  docs/OXIDIZER.md
  pyproject.toml
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
  tests/skills/test_dev_orchestrator_issue_3002.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(eval): distributed eval with local answer_question() — parity with single-agent (#3006)
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/main.bicep
Due: check-imports, check-dependencies

fix: harden recipe shell launch path
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/workflow_enforcement_hook.py
  docs/recipes/RECIPE_RUNNER_ULTRATHINK_INTEGRATION.md
  tests/recipes/test_recipe_runner_rust_only.yaml
  tests/skills/test_dev_orchestrator_issue_3002.py
Due: check-dependencies

fix: harden recipe shell launch path (#3008)
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/workflow_enforcement_hook.py
  docs/recipes/RECIPE_RUNNER_ULTRATHINK_INTEGRATION.md
  pyproject.toml
  tests/recipes/test_recipe_runner_rust_only.yaml
  tests/skills/test_dev_orchestrator_issue_3002.py
Due: check-dependencies
