Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

test: update test suite for sync/async and settings migration changes
  tests/agents/goal_seeking/test_answer_synthesizer.py
  tests/agents/test_doc_analyzer_learning.py
  tests/e2e/test_copilot_e2e.py
  tests/generator/test_multi_agent_packaging.py
  tests/generator/test_sdk_injection.py
  tests/hive_mind/test_embeddings.py
  tests/hive_mind/test_reranker.py
  tests/integration/test_cli_unified_staging.py
  tests/launcher/test_amplifier_launcher.py
  tests/memory/backends/test_kuzu_auto_linking.py
  tests/memory/backends/test_kuzu_code_schema.py
  tests/memory/backends/test_kuzu_schema_redesign.py
  tests/memory/backends/test_kuzu_session_isolation.py
  tests/memory/kuzu/indexing/test_staleness_and_estimation.py
  tests/memory/test_evaluation.py
  tests/test_codex_launcher.py
  tests/test_copilot_workflow_context.py
  tests/test_settings_migration.py
  tests/unit/test_cli_amplifier_uvx.py
  tests/unit/test_runtime_assets.py
  tests/unit/test_validate_hook_paths.py
Due: none

fix: make Anthropic dependencies optional and guard ANTHROPIC_API_KEY usage
  amplifier-bundle/tools/amplihack/remote/cli.py
  amplifier-bundle/tools/amplihack/remote/executor.py
  src/amplihack/agents/goal_seeking/hive_mind/query_expansion.py
  src/amplihack/hooks/launcher_detector.py
  src/amplihack/vendor/blarify/agents/llm_provider.py
  src/amplihack/vendor/blarify/agents/rotating_provider/rotating_anthropic.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add tests for Anthropic optional dependency guards
  amplifier-bundle/tools/amplihack/remote/tests/test_cli.py
  amplifier-bundle/tools/amplihack/remote/tests/test_executor_tmux.py
  src/amplihack/fleet/tests/test_backends.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_tui_dashboard.py
  tests/eval/test_gherkin_prompt_experiment.py
  tests/hive_mind/test_query_expansion.py
  tests/hooks/test_launcher_detector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages

fix: eliminate Claude-only CLI flags from all callsites when using Copilot (#4118, #4108, #4107)
  .secrets.baseline
  amplifier-bundle/tools/amplihack/remote/cli.py
  amplifier-bundle/tools/amplihack/remote/executor.py
  amplifier-bundle/tools/amplihack/remote/tests/test_cli.py
  amplifier-bundle/tools/amplihack/remote/tests/test_executor_tmux.py
  docs/audits/security-review-copilot-cli-flags-4118.md
  src/amplihack/agents/goal_seeking/hive_mind/query_expansion.py
  src/amplihack/eval/gherkin_agent_evaluator.py
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/_cli_fleet_ops.py
  src/amplihack/fleet/_tui_actions.py
  src/amplihack/fleet/_tui_workers.py
  src/amplihack/fleet/tests/test_backends.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_tui_dashboard.py
  src/amplihack/hooks/launcher_detector.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/vendor/blarify/agents/llm_provider.py
  src/amplihack/vendor/blarify/agents/rotating_provider/rotating_anthropic.py
  tests/eval/test_gherkin_prompt_experiment.py
  tests/hive_mind/test_query_expansion.py
  tests/hooks/test_launcher_detector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(ci): resolve skill drift and atlas staleness checks
  docs/atlas/compile-deps/compile-deps.mmd
  docs/atlas/compile-deps/index.md
  docs/claude/skills/docx/SKILL.md
  docs/claude/skills/pptx/SKILL.md
  tests/recipes/test_default_workflow_step19d_step21.py
Due: none

docs(atlas): refresh stale layers 4, 5, 7 for PR impact check
  docs/atlas/data-flow/index.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/index.md
Due: none

fix: sync skill drift and skip Playwright tests when unavailable
  tests/e2e/test_code_atlas_docs.py
Due: none

fix(recipes): replace quoted heredocs with direct env-var assignment (skwaq#469)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: stage Python package to ~/.amplihack/src/ for recipe runner on non-amplihack projects
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/workflow_enforcement_hook.py
  src/amplihack/cli.py
  src/amplihack/launcher/__init__.py
  src/amplihack/launcher/amplifier.py
  src/amplihack/launcher/codex.py
  src/amplihack/launcher/copilot.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(atlas): update layers 7,8 for launcher/__init__.py changes
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/service-components/index.md
Due: none

test(gadugi): add recipe runner PYTHONPATH staging scenario
  tests/gadugi/recipe-runner-pythonpath-staging.yaml
  tests/gadugi/recipe_runner_staging_smoke.py
Due: none

fix: stage Python package to ~/.amplihack/src/ for recipe runner on non-amplihack projects (#4265)
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/workflow_enforcement_hook.py
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/service-components/index.md
  src/amplihack/cli.py
  src/amplihack/launcher/__init__.py
  src/amplihack/launcher/amplifier.py
  src/amplihack/launcher/codex.py
  src/amplihack/launcher/copilot.py
  src/amplihack/launcher/core.py
  tests/gadugi/recipe-runner-pythonpath-staging.yaml
  tests/gadugi/recipe_runner_staging_smoke.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(install): add os.path.samefile() guard to prevent copytree same-file crash
  src/amplihack/install.py
  tests/unit/test_copytree_samefile.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add troubleshooting guide for copytree same-file crash
  docs/troubleshooting/README.md
  docs/troubleshooting/copytree-same-file-crash.md
Due: none

feat: migrate from KuzuDB to LadybugDB graph backend
  docs/KUZU_TEST_CONFIGURATION.md
  docs/LADYBUG_MIGRATION_GUIDE.md
  docs/memory/LADYBUG_GRAPH_STORE.md
  docs/memory/README.md
  src/amplihack/memory/__init__.py
  src/amplihack/memory/cli_visualize.py
  src/amplihack/memory/distributed_store.py
  src/amplihack/memory/facade.py
  src/amplihack/memory/ladybug_store.py
  tests/memory/test_cli_visualize.py
  tests/memory/test_code_context_injection.py
  tests/test_graph_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: guard staging functions against self-copy when source==dest
  src/amplihack/cli.py
  src/amplihack/install.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: guard staging functions against self-copy when source==dest (#4325)
  src/amplihack/cli.py
  src/amplihack/install.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Harden deployment truthfulness and worktree execution
  amplifier-bundle/recipes/default-workflow.yaml
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/cleanup_volumes.sh
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/eval_setup.py
  deploy/azure_hive/tests/__init__.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_eval_setup.py
  deploy/azure_hive/tests/test_shell_deployment_scripts.py
  docs/agent_memory_architecture.md
  docs/distributed_hive_mind.md
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
  src/amplihack/cli/hive.py
  tests/agents/goal_seeking/test_goal_seeking_agent.py
  tests/cli/test_hive_cli.py
  tests/recipes/test_step04_worktree_reuse.py
  tests/test_orchestration_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: pass copilot-specific flags after -- separator in delegate command
  amplifier-bundle/tools/amplihack/orchestration/claude_process.py
  amplifier-bundle/tools/amplihack/orchestration/tests/test_claude_process_delegate.py
Due: check-imports, check-dependencies

Handle PR-only step-03b references
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

Make resume guards Rust-safe
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_default_workflow_resumable_timeouts.py
Due: none

Revert accidental project context drift
  .claude/context/PROJECT.md
Due: none

Reuse valid existing worktrees
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_default_workflow_audit_remediation_4205.py
Due: none

fix: pass copilot-specific flags after -- separator in delegate command (#4343)
  amplifier-bundle/tools/amplihack/orchestration/claude_process.py
  amplifier-bundle/tools/amplihack/orchestration/tests/test_claude_process_delegate.py
Due: check-imports, check-dependencies

fix: update default-workflow and investigation-workflow skills to use recipe runner
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
Due: none

fix: update default-workflow and investigation-workflow skills to use recipe runner
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/tests/agentic/workflow-skill-recipe-runner-alignment.yaml
  amplifier-bundle/skills/default-workflow/SKILL.md
  amplifier-bundle/skills/investigation-workflow/SKILL.md
  docs/claude/skills/default-workflow/SKILL.md
  docs/claude/skills/investigation-workflow/SKILL.md
Due: none

fix: update default-workflow and investigation-workflow skills to use recipe runner (#4365)
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/tests/agentic/workflow-skill-recipe-runner-alignment.yaml
  amplifier-bundle/skills/default-workflow/SKILL.md
  amplifier-bundle/skills/investigation-workflow/SKILL.md
  docs/claude/skills/default-workflow/SKILL.md
  docs/claude/skills/investigation-workflow/SKILL.md
Due: none

fix: resolve step-07-write-tests LBracket parser error
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: improve step-03b issue/PR reference extraction
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_step03b_issue_ref_extraction.py
Due: none

fix: correct multitask orchestrator path and improve launch visibility
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/runtime_assets.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve step-07-write-tests LBracket parser error (#4367)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: improve step-03b issue/PR reference extraction (#4368)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/runtime_assets.py
  tests/recipes/test_step03b_issue_ref_extraction.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: harden step-15 commit/push bash generation
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_default_workflow_step15_scoped_imports.py
Due: none

fix: harden step-15 commit/push bash generation (#4370)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_default_workflow_step15_scoped_imports.py
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
