Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

docs(atlas): rebuild stale layers 2 and 8 for PR changes
  docs/atlas/ast-lsp-bindings/README.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/compile-deps/README.md
  docs/atlas/compile-deps/compile-deps.dot
  docs/atlas/compile-deps/compile-deps.mmd
Due: none

Revert "Reapply "fix(ci): atlas PR impact check should warn on stale layers, not fail""
  .github/workflows/atlas-ci.yml
Due: none

fix: use bundle subdir (not root) for AMPLIHACK_HOME in discovery (#3237)
  src/amplihack/recipes/discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(ci): atlas PR impact check should warn on stale layers, not fail
  .github/workflows/atlas-ci.yml
Due: none

Reapply "Reapply "fix(ci): atlas PR impact check should warn on stale layers, not fail""
  .github/workflows/atlas-ci.yml
Due: none

Reapply "fix(ci): atlas PR impact check should warn on stale layers, not fail"
  .github/workflows/atlas-ci.yml
Due: none

fix: add AMPLIHACK_HOME to recipe discovery search path (#3237)
  src/amplihack/recipes/discovery.py
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: update streaming output docs to reflect improved heartbeat (#3266)
  .claude/context/PROJECT.md
  docs/recipes/STREAMING_OUTPUT.md
Due: none

fix: improve error messages when recipe runner is killed by signal
  amplifier-bundle/recipes/_recipe_manifest.json
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: move signal import to module level in rust_runner.py
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert "fix(ci): atlas PR impact check should warn on stale layers, not fail"
  .github/workflows/atlas-ci.yml
Due: none

test(outside-in): add eval infra and retrieval parity YAML scenarios
  tests/outside-in/test-eval-infrastructure.yaml
  tests/outside-in/test-retrieval-parity-fixes.yaml
Due: none

fix: harden eval monitor consumption
  deploy/azure_hive/eval_monitor.py
  deploy/azure_hive/tests/test_eval_monitor.py
Due: check-imports, check-dependencies

fix: atlas staleness check recognizes rebuilt layers in same PR
  scripts/check-atlas-staleness.sh
Due: none

fix: improve heartbeat visibility, AMPLIHACK_HOME discovery, signal error handling (#3288)
  .claude/context/PROJECT.md
  .github/workflows/atlas-ci.yml
  amplifier-bundle/recipes/_recipe_manifest.json
  docs/atlas/ast-lsp-bindings/README.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/compile-deps/README.md
  docs/atlas/compile-deps/compile-deps.dot
  docs/atlas/compile-deps/compile-deps.mmd
  docs/recipes/STREAMING_OUTPUT.md
  pyproject.toml
  scripts/check-atlas-staleness.sh
  src/amplihack/recipes/discovery.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(code-atlas): language-agnostic extraction via tokei + cargo + npm
  scripts/atlas/common.py
  scripts/atlas/cross_layer_checks.py
  scripts/atlas/python/compile_deps.py
  scripts/atlas/python/repo_surface.py
  scripts/atlas/render.py
  tests/test_security_hygiene.py
  uv.lock
Due: check-imports, check-dependencies

feat: add eval telemetry spotchecks
  deploy/azure_hive/aspire/apphost.cs
  deploy/azure_hive/eval_monitor.py
  deploy/azure_hive/tests/test_aspire_apphost.py
  deploy/azure_hive/tests/test_eval_monitor.py
Due: check-imports, check-dependencies

fix: separate eval monitor consumer group
  deploy/azure_hive/aspire/apphost.cs
  deploy/azure_hive/eval_monitor.py
  deploy/azure_hive/eval_setup.py
  deploy/azure_hive/main.bicep
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_eval_monitor.py
Due: check-imports, check-dependencies

fix(#3297): propagate AMPLIHACK_AGENT_BINARY through all subprocess spawn sites
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/tests/test_orchestrator_ws1_log_visibility.py
  .claude/skills/multitask/tests/test_orchestrator_ws2_delegate_matching.py
  .claude/skills/multitask/tests/test_security_injection.py
  .claude/tools/amplihack/orchestration/claude_process.py
  amplifier-bundle/tools/amplihack/orchestration/claude_process.py
  amplifier-bundle/tools/amplihack/orchestration/tests/test_claude_process_delegate.py
  pyrightconfig.json
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/utils/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: emit learning progress at store start
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
Due: check-imports, check-dependencies

fix: include build hooks in docker image
  Dockerfile
Due: none

fix: run-scoped telemetry, distributed retrieval smoke, and ACR build reproducibility
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/aspire/apphost.cs
  deploy/azure_hive/eval_retrieval_smoke.py
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_aspire_apphost.py
  deploy/azure_hive/tests/test_eval_retrieval_smoke.py
  deploy/azure_hive/tests/test_remote_agent_adapter.py
  pyproject.toml
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(code-atlas): integrate blarify as universal AST engine for multi-language analysis
  scripts/atlas/blarify_bridge.py
  scripts/atlas/python/ast_bindings.py
  scripts/atlas/python/compile_deps.py
Due: check-imports, check-dependencies

docs(code-atlas): regenerate atlas with blarify multi-language definitions
  docs/atlas/api-contracts/api-contracts.mmd
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/index.md
Due: none
