Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

docs: document automatic shell profile PATH update for Claude CLI
  docs/PREREQUISITES.md
Due: none

feat: Add .NET exception handling quality improvement skill
  .claude/skills/dotnet-exception-handling/SKILL.md
Due: none

Fix(Security): Remove shell=True to prevent injection vulnerabilities (#2010)
  src/amplihack/utils/process.py
  tests/unit/test_process_security.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Remove point-in-time documentation
  BLARIFY_VALIDATION_RESULTS.md
  FINAL_LANGUAGE_SUPPORT_STATUS.md
  SCIP_INDEXER_STATUS.md
  TEST_RESULTS.md
  VALIDATION_SCRIPT_STATUS.md
  docs/memory/FINAL_CLEANUP_REPORT.md
  tests/integration/uvx/TEST_RESULTS.md
Due: none

feat(copilot): Stage all extensibility mechanisms for full parity (#2241)
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
  tests/launcher/test_copilot_parity.sh
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: bump version to 0.5.0 (MINOR - copilot full parity feature)
  pyproject.toml
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Enable documentation validation infrastructure in CI/CD (#2246)
  .github/workflows/docs-validation.yml
  pyproject.toml
  scripts/README_validation.md
  scripts/validate_docs_policy.py
  scripts/validate_gh_pages_links.py
Due: check-imports, check-dependencies

feat: Add auto-fix for version bump CI failures (#2248)
  .github/workflows/version-check.yml
  pyproject.toml
  scripts/auto_bump_version.py
  tests/unit/test_auto_bump_version.py
Due: check-imports, check-dependencies

docs: Simplify PROJECT.md overview description (#2170)
  .claude/context/PROJECT.md
  .github/workflows/version-check.yml
  pyproject.toml
  scripts/auto_bump_version.py
  tests/unit/test_auto_bump_version.py
Due: check-imports, check-dependencies

fix: skip Claude Code plugin install for copilot/codex/amplifier (#2243)
  docs/IMPLEMENTATION_SUMMARY.md
  src/amplihack/cli.py
  tests/test_cli_claude_command_guard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: auto-update shell profile to stop recurring npm PATH message (#2244)
  docs/PREREQUISITES.md
  src/amplihack/utils/claude_cli.py
  tests/unit/test_claude_cli_npm_path.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add handoff to .claude/logs/HANDOFF.md
  .claude/logs/HANDOFF.md
Due: none

fix(copilot): Preserve existing user copilot-instructions.md content
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: eliminate false-positive startup conflict prompt for auto-generated files
  src/amplihack/cli.py
  src/amplihack/safety/git_conflict_detector.py
  src/amplihack/safety/safe_copy_strategy.py
  tests/safety/test_auto_update_preference.py
  tests/safety/test_git_conflict_detector.py
  tests/safety/test_safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Update CI workflow tests to match implementation (#2233)
  .github/workflows/pm-daily-status.yml
  pyproject.toml
  tests/test_ci_workflows_integration.py
  tests/test_pm_daily_status_workflow.py
Due: none

fix(copilot): Stage agents to ~/.copilot/agents/ for universal discovery (#2241) (#2242)
  pyproject.toml
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
  tests/launcher/test_copilot_parity.sh
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: eliminate false-positive startup conflict prompt for auto-generated files (#2256)
  src/amplihack/cli.py
  src/amplihack/safety/git_conflict_detector.py
  src/amplihack/safety/safe_copy_strategy.py
  tests/safety/test_auto_update_preference.py
  tests/safety/test_git_conflict_detector.py
  tests/safety/test_safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: update auto_update preference docs to describe conflict prompt behavior
  src/amplihack/.claude/context/USER_PREFERENCES.md
  src/amplihack/amplifier-bundle/context/USER_PREFERENCES.md
Due: none

docs: update DISCOVERIES.md with Issue #2256 learnings
  src/amplihack/.claude/context/DISCOVERIES.md
  src/amplihack/amplifier-bundle/context/DISCOVERIES.md
Due: none

fix: Add .gitattributes to enforce LF line endings for Python/shell files
  .gitattributes
Due: none

docs: add troubleshooting guide and update DISCOVERIES for Issue #2256
  docs/troubleshooting/README.md
  docs/troubleshooting/startup-conflict-prompt.md
Due: none
