Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: Correct anti-sycophancy parser to extract actual content from USER_PREFERENCES.md
  .claude/tools/amplihack/hooks/claude_power_steering.py
Due: check-dependencies

feat: Add slash commands for code graph functionality
  .claude/commands/code-graph-core.md
  .claude/commands/code-graph-images.md
  .claude/commands/code-graph-index.md
  .claude/commands/code-graph-update.md
  .claude/commands/code-graph.md
  docs/code-graph/README.md
  docs/code-graph/command-reference.md
  docs/code-graph/examples.md
  docs/code-graph/quick-start.md
  docs/code-graph/troubleshooting.md
  docs/index.md
Due: amplihack-sync-commands

feat: Add documentation validation infrastructure
  .markdownlint.json
  scripts/test_external_service_resilience.py
  scripts/validate_docs_examples.py
  scripts/validate_docs_policy.py
  scripts/validate_gh_pages_links.py
  tests/test_link_validator_security.py
  tests/test_validate_docs_examples.py
Due: check-imports, check-dependencies

feat: Update power steering hooks and skills
  .claude/skills/aspire/SKILL.md
  .claude/skills/shadow-testing/SKILL.md
  .claude/skills/shadow-testing/docker-compose/README.md
  .claude/skills/shadow-testing/docker-compose/ci-shadow.yml
  .claude/skills/shadow-testing/docker-compose/multi-repo.yml
  .claude/skills/shadow-testing/docker-compose/single-repo.yml
  .claude/skills/shadow-testing/examples/multi-repo-coordination.md
  .claude/skills/shadow-testing/examples/nodejs-package-test.md
  .claude/skills/shadow-testing/scripts/create-bundle.sh
  .claude/skills/shadow-testing/scripts/setup-shadow.sh
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_phase2.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_redirects.py
  OUTSIDE_IN_TEST_RESULTS.md
  build_hooks.py
  docs/claude/tools/amplihack/hooks/session_stop.py
  docs/stylesheets/extra.css
  tests/launcher/test_copilot_auto_update.py
  tests/skills/test_aspire_skill.py
Due: check-imports, check-dependencies

fix: Add granular sub-steps and verification gates to Steps 16-18
  .claude/workflow/DEFAULT_WORKFLOW.md
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: Align sub-step numbering between markdown and YAML
  .claude/workflow/DEFAULT_WORKFLOW.md
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: Add granular sub-steps and verification gates to Steps 16-18 (#2231)
  .claude/workflow/DEFAULT_WORKFLOW.md
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/amplifier-bundle/recipes/default-workflow.yaml
Due: none

docs: Add Rapid Setup guide with UV installation instructions
  README.md
Due: none

feat: add version management to DEFAULT_WORKFLOW with CI enforcement
  .github/workflows/version-check.yml
  .github/workflows/version-tag.yml
  amplifier-bundle/recipes/default-workflow.yaml
  scripts/check_version_bump.py
  src/amplihack/.claude/workflow/DEFAULT_WORKFLOW.md
Due: check-imports, check-dependencies

fix: remove trailing whitespace and unnecessary f-string
  scripts/check_version_bump.py
Due: check-imports, check-dependencies

feat: bump version to 0.3.0 (MINOR - new version management feature)
  pyproject.toml
Due: none

fix: correct step display message (Step 15, not 14)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

docs: add Rapid Setup guide with UV installation instructions
  README.md
Due: none

feat: add auto-update check with user prompt for uv tool installs
  pyproject.toml
  src/amplihack/__init__.py
  src/amplihack/auto_update.py
  src/amplihack/cli.py
  tests/test_auto_update.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Version Management Workflow Integration with CI Enforcement (#2223)
  .github/workflows/version-check.yml
  .github/workflows/version-tag.yml
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  scripts/check_version_bump.py
  src/amplihack/.claude/workflow/DEFAULT_WORKFLOW.md
Due: check-imports, check-dependencies

feat: Create SIMPLIFIED_WORKFLOW.md for documentation-only changes (Issue #2157)
  .claude/workflow/SIMPLIFIED_WORKFLOW.md
  tests/integration/test_simplified_workflow_integration.py
  tests/unit/workflow/test_simplified_workflow_best_practices.py
  tests/unit/workflow/test_simplified_workflow_documentation_steps.py
  tests/unit/workflow/test_simplified_workflow_mandatory_gates.py
  tests/unit/workflow/test_simplified_workflow_platform_commands.py
  tests/unit/workflow/test_simplified_workflow_security.py
  tests/unit/workflow/test_simplified_workflow_structure.py
  tests/unit/workflow/test_simplified_workflow_tool_verification.py
  uv.lock
Due: none

address review feedback
  .claude/workflow/SIMPLIFIED_WORKFLOW.md
Due: none

fix: correct Python quote escaping in version-tag workflow
  .github/workflows/version-tag.yml
Due: none

fix: Remove final remaining condition - all conditions removed from recipe
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

docs: Replace SIMPLIFIED_WORKFLOW with docs-specific version per Issue #2157
  .claude/workflow/SIMPLIFIED_WORKFLOW.md
Due: none

fix: Resolve CI workflow failures for PM Daily Status and Link Checker (#3)
  .github/scripts/link_checker.py
  .github/workflows/pm-daily-status.yml
  tests/test_ci_workflows_integration.py
  tests/test_link_checker_exit_code.py
  tests/test_pm_daily_status_workflow.py
Due: check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
