Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: require recipe-runner-rs 0.2.9 (context-via-file support) (#3747)
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: mark non-critical workflow steps as fatal: false
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: mark non-critical workflow steps as fatal: false (#3750)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use built-in context_validation in recipe YAMLs
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use built-in context_validation in recipe YAMLs (#3753)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Improve workflow recovery reliability
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  docs/concepts/recovery-workflow-architecture.md
  docs/howto/run-recovery-workflow.md
  docs/reference/recovery-reference.md
  docs/tutorials/recovery-workflow-tutorial.md
  src/amplihack/cli.py
  src/amplihack/recipe_cli/recipe_command.py
  src/amplihack/recipes/models.py
  src/amplihack/recovery/__init__.py
  src/amplihack/recovery/__main__.py
  src/amplihack/recovery/coordinator.py
  src/amplihack/recovery/models.py
  src/amplihack/recovery/results.py
  src/amplihack/recovery/stage2.py
  src/amplihack/recovery/stage3.py
  src/amplihack/recovery/stage4.py
  src/amplihack/staging_safety.py
  src/amplihack/utils/process.py
  src/amplihack/utils/secure_files.py
  tests/recipes/test_condition_evaluator.py
  tests/recipes/test_workflow_guard_steps.py
  tests/recipes/test_worktree_step_quoting.py
  tests/recovery/test_coordinator.py
  tests/recovery/test_results.py
  tests/recovery/test_stage2.py
  tests/recovery/test_stage3.py
  tests/recovery/test_stage4.py
  tests/test_staging_safety.py
  tests/unit/cli/test_recipe_command.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve orchestrator.py from AMPLIHACK_HOME + require runner 0.3.1
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve orchestrator.py from AMPLIHACK_HOME + require runner 0.3.1 (#3771)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: agent steps run from worktree, not repo root
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: agent steps run from worktree, not repo root (#3778)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: require recipe-runner-rs 0.3.2 (relative worktree path fix)
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: require recipe-runner-rs 0.3.2 (relative worktree path fix) (#3779)
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: require runner 0.3.3 (working_dir template rendering)
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: require runner 0.3.3 (working_dir template rendering) (#3781)
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: align find_recipe precedence with discovery
  src/amplihack/recipes/discovery.py
  tests/unit/recipes/test_discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: checkpoint commits skip pre-commit hooks + are non-fatal
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: checkpoint commits skip pre-commit hooks + are non-fatal (#3786)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: step-15 retries commit when pre-commit hooks modify files
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: step-15 retries commit when pre-commit hooks modify files (#3791)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: suppress nested recipe hook reinjection
  .claude/tools/amplihack/hooks/test_user_prompt_submit.py
  .claude/tools/amplihack/hooks/tests/test_user_prompt_coverage.py
  .claude/tools/amplihack/hooks/tests/test_workflow_classification_reminder.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
Due: check-dependencies

wip: checkpoint after design consolidation (steps 5-5e)
  .claude/context/PROJECT.md
Due: none

wip: checkpoint after implementation (steps 7-8)
  amplifier-bundle/recipes/_recipe_manifest.json
  amplifier-bundle/recipes/investigation-workflow.yaml
  docs/concepts/recipe-runner-reliability.md
  docs/features/branch-name-generation.md
  docs/howto/configure-copilot-parity-control-plane.md
  docs/howto/recipe-cli-commands.md
  docs/howto/validate-recipe-runner-reliability.md
  docs/index.md
  docs/recipes/README.md
  docs/recipes/quick-reference.md
  docs/reference/cli.md
  docs/reference/recipe-cli-reference.md
  docs/reference/recipe-result.md
  docs/reference/recipe-runner-reliability.md
  docs/tutorials/copilot-parity-control-plane.md
  docs/tutorials/recipe-runner-reliability-validation.md
  src/amplihack/recipes/discovery.py
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_recipe_resolution.py
  tests/recipes/test_env_var_size_guard.py
  tests/recipes/test_merged_reliability_validation.py
  tests/recipes/test_rust_runner_security.py
  tests/unit/recipes/test_discovery.py
  tests/unit/recipes/test_models.py
  tests/unit/recipes/test_parser.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

wip: checkpoint after implementation (steps 7-8)
  docs/concepts/recovery-workflow.md
  docs/howto/run-recovery-workflow.md
  docs/index.md
  docs/reference/recovery-workflow.md
  docs/tutorials/recovery-workflow.md
  src/amplihack/recovery/__init__.py
  src/amplihack/recovery/__main__.py
  src/amplihack/recovery/coordinator.py
  src/amplihack/recovery/models.py
  src/amplihack/recovery/results.py
  src/amplihack/recovery/stage2.py
  src/amplihack/recovery/stage3.py
  src/amplihack/recovery/stage4.py
  src/amplihack/staging_safety.py
  src/amplihack/utils/process.py
  src/amplihack/utils/secure_files.py
  tests/recovery/test_coordinator.py
  tests/recovery/test_results.py
  tests/recovery/test_stage2.py
  tests/recovery/test_stage3.py
  tests/recovery/test_stage4.py
  tests/test_staging_safety.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

wip: checkpoint after review feedback (steps 10-11)
  src/amplihack/recovery/stage3.py
  src/amplihack/staging_safety.py
  tests/recovery/test_stage3.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

wip: checkpoint after review feedback (steps 10-11)
  .claude/tools/amplihack/hooks/dev_intent_router.py
  .claude/tools/amplihack/hooks/tests/test_dev_intent_router.py
  src/amplihack/fleet/_auth_bundle.py
  src/amplihack/fleet/tests/test_fleet_auth.py
  src/amplihack/recipes/discovery.py
  src/amplihack/recipes/rust_runner.py
  tests/unit/recipes/test_discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(recovery): restore staged recovery workflow core
  src/amplihack/recovery/__init__.py
  src/amplihack/recovery/__main__.py
  src/amplihack/recovery/coordinator.py
  src/amplihack/recovery/models.py
  src/amplihack/recovery/results.py
  src/amplihack/recovery/stage2.py
  src/amplihack/recovery/stage3.py
  src/amplihack/recovery/stage4.py
  src/amplihack/staging_safety.py
  src/amplihack/utils/process.py
  src/amplihack/utils/secure_files.py
  tests/recovery/test_coordinator.py
  tests/recovery/test_results.py
  tests/recovery/test_stage2.py
  tests/recovery/test_stage3.py
  tests/recovery/test_stage4.py
  tests/test_staging_safety.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Validate the merged reliability fixes on clean origin/main in amploxy.
  .github/scripts/tests/__init__.py
  pyproject.toml
  uv.lock
Due: none

fix: all commit steps retry when pre-commit hooks modify files
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: all commit steps retry when pre-commit hooks modify files (#3831)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

feat(compat): restore infrastructure compatibility bridges
  .claude/tools/amplihack/__init__.py
  .claude/tools/amplihack/hooks/__init__.py
  .secrets.baseline
  amplifier-bundle/tools/amplihack/__init__.py
  src/amplihack/hooks/_copilot_stop_handler_impl.py
  src/amplihack/hooks/copilot_stop_handler.py
  src/amplihack/hooks/strategies/__init__.py
  src/amplihack/hooks/strategies/base.py
  src/amplihack/hooks/strategies/claude_strategy.py
  src/amplihack/hooks/strategies/copilot_strategy.py
  src/amplihack/launcher/core.py
  src/amplihack/proxy/__init__.py
  src/amplihack/proxy/litellm_callbacks.py
  src/amplihack/remote/__init__.py
  src/amplihack/tracing/trace_logger.py
  src/amplihack/utils/claude_trace.py
  src/amplihack/utils/prerequisites.py
  src/copilot_stop_handler.py
  tests/e2e/test_hook_startup_e2e.py
  tests/hooks/test_copilot_stop_handler.py
  tests/hooks/test_launcher_detector.py
  tests/hooks/test_strategies.py
  tests/tracing/test_e2e.py
  tests/tracing/test_integration.py
  tests/tracing/test_prerequisites_integration.py
  tests/tracing/test_trace_logger.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
