Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: detect suspended agent sessions via pane child process check
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/_tui_data.py
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: sweep report as single table with follow-up commands
  .claude/skills/fleet/SKILL.md
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/tests/test_fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: separate table, summaries, and follow-up commands in sweep report
  src/amplihack/fleet/_cli_session_ops.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add missing re-exports and sync .claude/ copy for power_steering_checker
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_checker/README.md
  .claude/tools/amplihack/hooks/power_steering_checker/__init__.py
  .claude/tools/amplihack/hooks/power_steering_checker/considerations.py
  .claude/tools/amplihack/hooks/power_steering_checker/main_checker.py
  .claude/tools/amplihack/hooks/power_steering_checker/progress_tracking.py
  .claude/tools/amplihack/hooks/power_steering_checker/result_formatting.py
  .claude/tools/amplihack/hooks/power_steering_checker/sdk_calls.py
Due: check-dependencies

docs: add distributed hive mind architecture with mermaid diagrams
  .claude/context/PROJECT.md
  docs/distributed_hive_mind.md
  uv.lock
Due: none

feat: add --session filter to sweep and advance for single-session targeting
  .claude/skills/fleet/SKILL.md
  src/amplihack/fleet/_cli_session_ops.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: sweep report always shows next steps with command examples
  src/amplihack/fleet/_cli_session_ops.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add /fleet skill tutorial for Claude Code and Copilot CLI
  docs/fleet-orchestration/TUTORIAL.md
Due: none

feat: add Memory facade with remember()/recall() API and MemoryConfig
  src/amplihack/memory/__init__.py
  src/amplihack/memory/config.py
  src/amplihack/memory/facade.py
  tests/test_memory_facade.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add Memory+OODA loop integration design document
  docs/memory_ooda_integration.md
Due: none

refactor: split considerations.py into 6 focused modules (issue #2845)
  .claude/tools/amplihack/hooks/power_steering_checker/__init__.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_ci_pr.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_docs.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_quality.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  .claude/tools/amplihack/hooks/power_steering_checker/considerations.py
  .claude/tools/amplihack/hooks/power_steering_checker/session_detection.py
  .claude/tools/amplihack/hooks/power_steering_checker/transcript_helpers.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/__init__.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_ci_pr.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_docs.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_quality.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/considerations.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/session_detection.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/transcript_helpers.py
Due: check-imports, check-dependencies

feat: semantic DHT routing via embeddings + Memory wired into OODA loop
  src/amplihack/agents/goal_seeking/agentic_loop.py
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: update test_power_steering_worktree.py for refactored package structure
  .claude/tools/amplihack/hooks/tests/test_power_steering_worktree.py
Due: none

feat: admiral now reads full tmux scrollback + session transcript
  src/amplihack/fleet/_session_context.py
  src/amplihack/fleet/_session_gather.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: comprehensive agent memory architecture reference
  docs/agent_memory_architecture.md
  uv.lock
Due: none

docs: add Admiral Reasoning Loop reference for fleet PR
  docs/fleet-orchestration/ADMIRAL_REASONING.md
Due: none

feat(memory): add GraphStore protocol with InMemory, Kuzu, and Distributed backends
  src/amplihack/memory/__init__.py
  src/amplihack/memory/distributed_store.py
  src/amplihack/memory/facade.py
  src/amplihack/memory/graph_store.py
  src/amplihack/memory/kuzu_store.py
  src/amplihack/memory/memory_store.py
  tests/test_graph_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: align mixin method behavior with original monolith for 6 failing tests
  .claude/tools/amplihack/hooks/power_steering_checker/checks_ci_pr.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_docs.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_quality.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  .claude/tools/amplihack/hooks/power_steering_checker/main_checker.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_ci_pr.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_docs.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_quality.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/main_checker.py
Due: check-imports, check-dependencies

feat: --session accepts vm:session format, improved Next Steps hints
  .claude/skills/fleet/SKILL.md
  docs/fleet-orchestration/TUTORIAL.md
  src/amplihack/fleet/_cli_session_ops.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(power_steering_checker): address 3 confirmed findings from quality audit
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_docs.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_quality.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/main_checker.py
Due: check-imports, check-dependencies

feat(memory): make shard backend configurable (memory vs kuzu)
  docs/agent_memory_architecture.md
  src/amplihack/memory/config.py
  src/amplihack/memory/distributed_store.py
  src/amplihack/memory/facade.py
  tests/test_graph_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: rename 'sweep' to 'scout' across all surfaces
  .claude/skills/fleet/SKILL.md
  docs/fleet-orchestration/ADMIRAL_REASONING.md
  docs/fleet-orchestration/TUTORIAL.md
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/tests/test_fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(memory): add export/import methods and full-node gossip protocol
  src/amplihack/memory/distributed_store.py
  src/amplihack/memory/graph_store.py
  src/amplihack/memory/kuzu_store.py
  src/amplihack/memory/memory_store.py
  tests/test_graph_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(quality-audit-cycle): prevent JSON agent output from being interpreted as bash commands in verify-fixes step
  amplifier-bundle/recipes/quality-audit-cycle.yaml
Due: none

fix(quality-audit-cycle): prevent JSON from being interpreted as bash commands in verify-fixes (#2886)
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  pyproject.toml
Due: none

fix: remove redundant single quotes from quality-audit-cycle bash templates
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  uv.lock
Due: none

fix: remove redundant single quotes from quality-audit-cycle bash templates (#2887)
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  uv.lock
Due: none

fix: address security and code quality issues from PR #2872 review
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/__init__.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/main_checker.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/progress_tracking.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/sdk_calls.py
Due: check-imports, check-dependencies

refactor: split power_steering_checker.py 5063 LOC into 5 modules (issue #2845)
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/README.md
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/__init__.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/considerations.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/main_checker.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/progress_tracking.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/result_formatting.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/sdk_calls.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_psc_considerations.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_psc_integration.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_psc_main_checker.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_psc_progress_tracking.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_psc_result_formatting.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_psc_sdk_calls.py
  docs/features/power-steering/architecture-refactor.md
  docs/reference/power-steering-checker-api.md
  docs/reference/power-steering-checker-configuration.md
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
