Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

refactor(eval): remove duplicate eval data files, import from amplihack-agent-eval
  src/amplihack/agents/teaching/generator_teacher.py
  src/amplihack/eval/IMPLEMENTATION_SUMMARY.md
  src/amplihack/eval/PROGRESSIVE_TEST_SUITE.md
  src/amplihack/eval/QUICK_START.md
  src/amplihack/eval/long_horizon_data.py
  src/amplihack/eval/progressive_test_suite.py
  src/amplihack/eval/test_levels.py
  tests/eval/test_long_horizon_grading.py
  tests/eval/test_long_horizon_memory.py
  tests/eval/test_progressive_suite.py
  tests/eval/test_security_data_gen.py
  verify_progressive_tests.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor(eval): remove duplicate eval data, use amplihack-agent-eval (#2523)
  pyproject.toml
  src/amplihack/agents/teaching/generator_teacher.py
  src/amplihack/eval/IMPLEMENTATION_SUMMARY.md
  src/amplihack/eval/PROGRESSIVE_TEST_SUITE.md
  src/amplihack/eval/QUICK_START.md
  src/amplihack/eval/long_horizon_data.py
  src/amplihack/eval/progressive_test_suite.py
  src/amplihack/eval/test_levels.py
  tests/eval/test_long_horizon_grading.py
  tests/eval/test_long_horizon_memory.py
  tests/eval/test_progressive_suite.py
  tests/eval/test_security_data_gen.py
  verify_progressive_tests.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): escape task_description in step-04-setup-worktree to prevent bash syntax errors
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

chore: Add v0.9.1 documentation and cleanup temporary files
  TEST_RESULTS.md
  docs/CHANGELOG_v0.9.1.md
  docs/concepts/settings-manager-vs-permanent-changes.md
  docs/howto/troubleshoot-hooks.md
  docs/reference/hook-persistence-implementation.md
Due: none

feat: Add temporal reasoning code generation to LearningAgent (#2521)
  docs/GOAL_SEEKING_AGENTS.md
  pyproject.toml
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add TRANSITIONED_TO edges for temporal transition chains (#2522)
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  tests/agents/goal_seeking/test_hierarchical_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: update uv.lock after merge
  uv.lock
Due: none

fix(recipes): escape task_description in step-04-setup-worktree (#2525) (#2526)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

feat: add parallel eval to long_horizon_memory for ~6x speedup (#2528)
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Eliminate silent degradation by making data fetch failures explicit
  .github/scripts/README.md
  .github/scripts/pm_daily_status.py
  .github/scripts/pm_roadmap_review.py
  .github/scripts/tests/test_pm_daily_status.py
  .github/scripts/tests/test_pm_roadmap_review.py
Due: check-dependencies

feat: Add silent-degradation-audit skill for multi-wave code audits
  .claude/skills/silent-degradation-audit/README.md
  .claude/skills/silent-degradation-audit/SKILL.md
  .claude/skills/silent-degradation-audit/category_agents/background-work.md
  .claude/skills/silent-degradation-audit/category_agents/config-errors.md
  .claude/skills/silent-degradation-audit/category_agents/dependency-failures.md
  .claude/skills/silent-degradation-audit/category_agents/functional-stubs.md
  .claude/skills/silent-degradation-audit/category_agents/operator-visibility.md
  .claude/skills/silent-degradation-audit/category_agents/test-effectiveness.md
  .claude/skills/silent-degradation-audit/exclusions-global.json
  .claude/skills/silent-degradation-audit/recipe/audit-workflow.yaml
  .claude/skills/silent-degradation-audit/tools/__init__.py
  .claude/skills/silent-degradation-audit/tools/convergence_tracker.py
  .claude/skills/silent-degradation-audit/tools/exclusion_manager.py
  .claude/skills/silent-degradation-audit/tools/language_detector.py
  .claude/skills/silent-degradation-audit/validation_panel/panel-spec.md
  .claude/skills/silent-degradation-audit/validation_panel/voting-rules.md
Due: check-dependencies

feat: parallel eval for ~6x speedup (#2528) (#2529)
  pyproject.toml
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address PR #2530 review feedback (security, types, logging)
  .claude/skills/silent-degradation-audit/tools/exclusion_manager.py
  .claude/skills/silent-degradation-audit/tools/language_detector.py
  .claude/skills/silent-degradation-audit/validation_panel/voting-rules.md
Due: check-dependencies

docs: Add silent-degradation-audit to README Feature Catalog
  README.md
Due: none

fix: Always log permission errors and add HOW_TO tutorial
  .claude/skills/silent-degradation-audit/tools/language_detector.py
Due: check-dependencies

fix: harden PM workflow scripts with robust error handling (#3) (#2509)
  .github/scripts/README.md
  .github/scripts/pm_daily_status.py
  .github/scripts/pm_roadmap_review.py
  .github/scripts/tests/test_pm_daily_status.py
  .github/scripts/tests/test_pm_roadmap_review.py
  pyproject.toml
Due: check-dependencies

docs: Add HOW_TO.md tutorial for silent-degradation-audit
  .claude/skills/silent-degradation-audit/HOW_TO.md
Due: none

feat: Add silent-degradation-audit skill for multi-wave code audits (#2530)
  .claude/skills/silent-degradation-audit/HOW_TO.md
  .claude/skills/silent-degradation-audit/README.md
  .claude/skills/silent-degradation-audit/SKILL.md
  .claude/skills/silent-degradation-audit/category_agents/background-work.md
  .claude/skills/silent-degradation-audit/category_agents/config-errors.md
  .claude/skills/silent-degradation-audit/category_agents/dependency-failures.md
  .claude/skills/silent-degradation-audit/category_agents/functional-stubs.md
  .claude/skills/silent-degradation-audit/category_agents/operator-visibility.md
  .claude/skills/silent-degradation-audit/category_agents/test-effectiveness.md
  .claude/skills/silent-degradation-audit/exclusions-global.json
  .claude/skills/silent-degradation-audit/recipe/audit-workflow.yaml
  .claude/skills/silent-degradation-audit/tools/__init__.py
  .claude/skills/silent-degradation-audit/tools/convergence_tracker.py
  .claude/skills/silent-degradation-audit/tools/exclusion_manager.py
  .claude/skills/silent-degradation-audit/tools/language_detector.py
  .claude/skills/silent-degradation-audit/validation_panel/panel-spec.md
  .claude/skills/silent-degradation-audit/validation_panel/voting-rules.md
  README.md
  TEST_RESULTS.md
  docs/CHANGELOG_v0.9.1.md
  docs/concepts/settings-manager-vs-permanent-changes.md
  docs/howto/troubleshoot-hooks.md
  docs/reference/hook-persistence-implementation.md
  pyproject.toml
Due: check-dependencies

feat: Add disk management to multitask skill (#2534)
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/tests/test_disk_management.py
Due: check-dependencies

fix: power-steering infinite loop in worktrees (#2531)
  .claude/tools/amplihack/hooks/git_utils.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_worktree.py
  .github/scripts/SECURITY_REVIEW_2531.md
  docs/features/power-steering/migration-worktree-support.md
  docs/features/power-steering/worktree-support.md
  docs/git-utils-api.md
  docs/howto/power-steering-worktree-troubleshooting.md
  docs/migration-worktree-support.md
  docs/power-steering-worktree-troubleshooting.md
  docs/reference/git-utils-api.md
  docs/worktree-support.md
  test_outside_in_worktree.py
Due: check-imports, check-dependencies

fix: power-steering infinite loop in worktrees (#2531) (#2537)
  .claude/tools/amplihack/hooks/git_utils.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_worktree.py
  .github/scripts/SECURITY_REVIEW_2531.md
  docs/features/power-steering/migration-worktree-support.md
  docs/features/power-steering/worktree-support.md
  docs/git-utils-api.md
  docs/howto/power-steering-worktree-troubleshooting.md
  docs/migration-worktree-support.md
  docs/power-steering-worktree-troubleshooting.md
  docs/reference/git-utils-api.md
  docs/worktree-support.md
  pyproject.toml
  test_outside_in_worktree.py
Due: check-imports, check-dependencies

fix: correct .disabled file path in shared runtime check (#2531)
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-dependencies

fix: correct .disabled file path in shared runtime check (#2531 hotfix) (#2538)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  pyproject.toml
Due: check-dependencies

feat: Add disk management to multitask skill (#2534) (#2536)
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/tests/test_disk_management.py
Due: check-dependencies

fix: prevent memory leak in retrieve_transition_chain (#2545)
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add power-steering re-enable prompt on CLI startup (#2544)
  .claude/tools/amplihack/hooks/tests/test_re_enable_prompt.py
  docs/features/power-steering/README.md
  src/amplihack/cli.py
  src/amplihack/launcher/copilot.py
  src/amplihack/power_steering/__init__.py
  src/amplihack/power_steering/re_enable_prompt.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: prevent memory leak in retrieve_transition_chain (#2545) (#2546)
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: change LearningAgent default model from gpt-3.5-turbo to claude-sonnet (#2550)
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add power-steering re-enable prompt on CLI startup (#2544) (#2547)
  .claude/tools/amplihack/hooks/tests/test_re_enable_prompt.py
  docs/features/power-steering/README.md
  pyproject.toml
  src/amplihack/cli.py
  src/amplihack/launcher/copilot.py
  src/amplihack/power_steering/__init__.py
  src/amplihack/power_steering/re_enable_prompt.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
