Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: wire FederatedGraphStore into AgentNode (optional import)
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

eval: full 20-agent distributed eval — routing adds +23pp
  experiments/hive_mind/run_full_distributed_eval.py
Due: check-imports, check-dependencies

feat: experiment 5 — unified hive mind combining all 4 approaches (94% overall)
  experiments/hive_mind/run_unified_eval.py
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/unified.py
  tests/hive_mind/test_unified.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: gateway word-overlap filter reduces false contradictions
  src/amplihack/agents/goal_seeking/hive_mind/kuzu_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: 5-agent real-world hive mind evaluation
  experiments/hive_mind/run_5agent_real_eval.py
Due: check-imports, check-dependencies

fix: recursive federated query across hive tree (6/6 cross-tree)
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: audit round 2 — delete dead code, fix imports, fix PeerHiveGraph
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/_utils.py
  src/amplihack/agents/goal_seeking/hive_mind/blackboard.py
  src/amplihack/agents/goal_seeking/hive_mind/controller.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
  src/amplihack/agents/goal_seeking/hive_mind/event_sourced.py
  src/amplihack/agents/goal_seeking/hive_mind/gossip.py
  src/amplihack/agents/goal_seeking/hive_mind/hierarchical.py
  src/amplihack/agents/goal_seeking/hive_mind/kuzu_hive.py
  src/amplihack/agents/goal_seeking/hive_mind/learning_agent_bridge.py
  src/amplihack/agents/goal_seeking/hive_mind/peer_hive.py
  src/amplihack/agents/goal_seeking/hive_mind/unified.py
  tests/hive_mind/test_blackboard.py
  tests/hive_mind/test_event_sourced.py
  tests/hive_mind/test_gossip.py
  tests/hive_mind/test_hierarchical.py
  tests/hive_mind/test_kuzu_hive.py
  tests/hive_mind/test_learning_agent_bridge.py
  tests/hive_mind/test_unified.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: PostToolUse hook-based workflow enforcement guard (#2743)
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/post_tool_use.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  .claude/tools/amplihack/hooks/workflow_enforcement_hook.py
Due: check-dependencies

fix: federated retrieval parity — global re-ranking by keyword score (#2754)
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/peer_hive.py
  tests/hive_mind/test_hive_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: ClaudeSDKAdapter missing mode/working_dir params + README recipe CLI docs
  README.md
  src/amplihack/recipes/adapters/claude_sdk.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: ClaudeSDKAdapter missing mode/working_dir params + README recipe CLI docs (#2757)
  README.md
Due: none

fix: trim USER_PREFERENCES.md template from ~280 lines to 40 (81% reduction)
  .claude/context/PROJECT.md
  .claude/context/USER_PREFERENCES.md
  amplifier-bundle/context/USER_PREFERENCES.md
  docs/claude/context/USER_PREFERENCES.md
  src/amplihack/.claude/context/USER_PREFERENCES.md
  src/amplihack/amplifier-bundle/context/USER_PREFERENCES.md
Due: none

fix: add missing installed_at to copilot plugin config (#2751)
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: prevent Issue Classifier cascade failures on [agentics] tracking issues (#2609)
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/issue-classifier.md
Due: none

fix: add missing installed_at to copilot plugin config (#2751)
  pyproject.toml
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use temp dir for recipe runner agent steps to prevent nested session race (#2758)
  src/amplihack/recipes/adapters/cli_subprocess.py
  tests/unit/recipes/test_cli_subprocess_temp_dir.py
  tests/unit/recipes/test_streaming_adapters.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: deploy script — storage policy + dependency conflict
  experiments/hive_mind/deploy_azure_hive.sh
Due: none

fix: agent_runner uses current HiveGraph API (not deleted kuzu_hive)
  experiments/hive_mind/deploy_azure_hive.sh
Due: none

fix: deploy script — disable public blob access for Azure policy compliance
  experiments/hive_mind/deploy_azure_hive.sh
Due: none

fix: deduplicate USER_PREFERENCES.md from 5 copies to 2 canonical sources
  .claude/context/PROJECT.md
  .claude/context/USER_PREFERENCES.md
  .gitignore
  amplifier-bundle/context/USER_PREFERENCES.md
  docs/claude/context/USER_PREFERENCES.md
  src/amplihack/.claude/context/DISCOVERIES.md
  src/amplihack/.claude/context/USER_PREFERENCES.md
  src/amplihack/amplifier-bundle/context/DISCOVERIES.md
  src/amplihack/amplifier-bundle/context/USER_PREFERENCES.md
Due: none

fix: recipe bash steps use printf pattern to prevent quoting breakage (#2764)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/unit/recipes/test_context.py
Due: none

fix: deploy script — install amplihack from feature branch
  experiments/hive_mind/deploy_azure_hive.sh
Due: none

fix: deploy script — use external ingress for eval access
  experiments/hive_mind/deploy_azure_hive.sh
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
