Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

chore: add Dockerfile for hive mind experiments
  experiments/hive_mind/Dockerfile.hive
Due: none

fix: auto-install azlin on first fleet command, not just fleet setup
  src/amplihack/fleet/fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: xpia hooks crash at module level, Kuzu missing table error, broken tests
  .claude/tools/amplihack/hooks/settings_migrator.py
  .claude/tools/xpia/hooks/post_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use.py
  .claude/tools/xpia/hooks/session_start.py
  amplifier-bundle/tools/amplihack/hooks/settings_migrator.py
  amplifier-bundle/tools/xpia/hooks/post_tool_use.py
  amplifier-bundle/tools/xpia/hooks/pre_tool_use.py
  amplifier-bundle/tools/xpia/hooks/session_start.py
  docs/claude/tools/amplihack/hooks/settings_migrator.py
  docs/claude/tools/xpia/hooks/post_tool_use.py
  docs/claude/tools/xpia/hooks/pre_tool_use.py
  docs/claude/tools/xpia/hooks/session_start.py
  src/amplihack/memory/backends/kuzu_backend.py
  tests/e2e/test_hook_startup_e2e.py
  tests/test_session_start_integration.py
  tests/test_xpia_hook_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: xpia hook crashes, Kuzu missing table error, broken tests (#2838)
  .claude/tools/amplihack/hooks/settings_migrator.py
  .claude/tools/xpia/hooks/post_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use.py
  .claude/tools/xpia/hooks/session_start.py
  amplifier-bundle/tools/amplihack/hooks/settings_migrator.py
  amplifier-bundle/tools/xpia/hooks/post_tool_use.py
  amplifier-bundle/tools/xpia/hooks/pre_tool_use.py
  amplifier-bundle/tools/xpia/hooks/session_start.py
  docs/claude/tools/amplihack/hooks/settings_migrator.py
  docs/claude/tools/xpia/hooks/post_tool_use.py
  docs/claude/tools/xpia/hooks/pre_tool_use.py
  docs/claude/tools/xpia/hooks/session_start.py
  src/amplihack/memory/backends/kuzu_backend.py
  tests/e2e/test_hook_startup_e2e.py
  tests/test_session_start_integration.py
  tests/test_xpia_hook_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: convert ASCII art diagrams to Mermaid in ARCHITECTURE.md
  docs/hive_mind/ARCHITECTURE.md
Due: none

feat: copilot-status + copilot-log CLI commands, ensure_azlin tests, docs
  docs/FLEET_COPILOT.md
  src/amplihack/fleet/_cli_commands.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/tests/test_defaults.py
  src/amplihack/fleet/tests/test_fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: review findings — handle malformed JSONL, lazy path resolution
  src/amplihack/fleet/_cli_commands.py
  src/amplihack/fleet/tests/test_fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: prompt variant system for eval experiments
  experiments/hive_mind/run_learning_agent_hive_eval.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/prompts/variants/variant_1_minimal.md
  src/amplihack/agents/goal_seeking/prompts/variants/variant_2_basic.md
  src/amplihack/agents/goal_seeking/prompts/variants/variant_3_structured.md
  src/amplihack/agents/goal_seeking/prompts/variants/variant_4_detailed.md
  src/amplihack/agents/goal_seeking/prompts/variants/variant_5_expert.md
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: wire prompt_variant through all eval condition runners
  experiments/hive_mind/run_learning_agent_hive_eval.py
  src/amplihack/agents/goal_seeking/__pycache__/_hierarchical_memory_local.cpython-312.pyc
  src/amplihack/agents/goal_seeking/__pycache__/learning_agent.cpython-312.pyc
  uv.lock
Due: check-imports, check-dependencies

fix: 7 critical findings from quality audit (#2841)
  .claude/context/PROJECT.md
  amplifier-bundle/tools/amplihack/hooks/stop.py
  src/amplihack/fleet/_defaults.py
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/prompts/__init__.py
  src/amplihack/fleet/tests/test_defaults.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Cycle 2-3 audit findings — validate SSH session names, atomic writes
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/fleet/fleet_reasoners.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: ALL remaining Cycle 2 audit findings (D2-D10)
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/_session_context.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_observer.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: 15 tests for Cycle 2-3 audit fixes (TDD, DEFAULT_WORKFLOW)
  src/amplihack/fleet/tests/test_fleet_adopt.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_observer.py
  src/amplihack/fleet/tests/test_fleet_reasoners.py
  src/amplihack/fleet/tests/test_fleet_session_reasoner.py
  src/amplihack/fleet/tests/test_fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages

test: 152 tests for 6 previously untested fleet modules
  src/amplihack/fleet/tests/test_backends.py
  src/amplihack/fleet/tests/test_session_context.py
  src/amplihack/fleet/tests/test_session_gather.py
  src/amplihack/fleet/tests/test_status.py
  src/amplihack/fleet/tests/test_system_prompt.py
  src/amplihack/fleet/tests/test_validation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages

refactor: split all 10 oversized fleet modules under 300-line limit
  src/amplihack/fleet/_admiral_actions.py
  src/amplihack/fleet/_admiral_types.py
  src/amplihack/fleet/_auth_bundle.py
  src/amplihack/fleet/_cli_commands.py
  src/amplihack/fleet/_cli_copilot_ops.py
  src/amplihack/fleet/_coordination.py
  src/amplihack/fleet/_transcript.py
  src/amplihack/fleet/_transcript_report.py
  src/amplihack/fleet/_tui_workers.py
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_auth.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_graph.py
  src/amplihack/fleet/fleet_reasoners.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_state.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_director.py
  src/amplihack/fleet/tests/test_fleet_session_reasoner.py
  src/amplihack/fleet/tests/test_fleet_tui.py
  src/amplihack/fleet/transcript_analyzer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: 24 silent fallback / error swallowing patterns across 12 fleet files
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/_session_gather.py
  src/amplihack/fleet/_transcript.py
  src/amplihack/fleet/_tui_actions.py
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/_tui_workers.py
  src/amplihack/fleet/fleet_auth.py
  src/amplihack/fleet/fleet_logs.py
  src/amplihack/fleet/fleet_observer.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_setup.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/transcript_analyzer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove hardcoded project context from session_start hook (#2833)
  .claude/skills/e2e-outside-in-test-generator/generator/api_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/app_type_detector.py
  .claude/skills/e2e-outside-in-test-generator/generator/cli_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/mcp_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/templates/api_endpoint.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/api_workflow.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/cli_command.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/cli_error_handling.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/cli_smoke.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/mcp_tool.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/mcp_workflow.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/tui_navigation.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/tui_smoke.template
  .claude/skills/e2e-outside-in-test-generator/generator/tui_test_generator.py
  amplifier-bundle/tools/amplihack/hooks/session_start.py
Due: check-imports, check-dependencies

feat: add drift detection script and CI workflow (#2820)
  .github/workflows/drift-detection.yml
  scripts/check-drift.sh
Due: none

fix: quality audit fixes for hive mind modules
  experiments/hive_mind/agent_runner.py
  src/amplihack/agents/goal_seeking/__pycache__/cognitive_adapter.cpython-312.pyc
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/__init__.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/crdt.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/embeddings.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/hive_graph.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/quality.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/reranker.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/crdt.py
  src/amplihack/agents/goal_seeking/hive_mind/embeddings.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/quality.py
  src/amplihack/agents/goal_seeking/hive_mind/reranker.py
  tests/hive_mind/test_controller.py
  tests/hive_mind/test_distributed.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: add drift detection for triplicated skill/agent files (#2820)
  .github/workflows/drift-detection.yml
  scripts/check_drift.py
Due: check-imports, check-dependencies

fix: remove hardcoded 'Microsoft Hackathon 2025' from session context (#2833)
  .claude/tools/amplihack/hooks/session_start.py
  amplifier-bundle/tools/amplihack/hooks/session_start.py
  docs/claude/tools/amplihack/hooks/session_start.py
Due: check-imports, check-dependencies

fix: Cycle 4 audit findings — split _transcript.py, fix __all__, cleanup
  src/amplihack/fleet/_cli_copilot_ops.py
  src/amplihack/fleet/_transcript.py
  src/amplihack/fleet/_transcript_report.py
  src/amplihack/fleet/_transcript_summary.py
  src/amplihack/fleet/fleet_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: decompose 4 CRITICAL mega-functions in experiment scripts
  experiments/hive_mind/run_20agent_eval.py
  experiments/hive_mind/run_5agent_real_eval.py
  experiments/hive_mind/run_rigorous_eval.py
  experiments/hive_mind/run_unified_eval.py
Due: check-imports, check-dependencies

fix: add __all__ to 14 fleet modules + Cycle 4 _transcript.py split
  src/amplihack/fleet/_cli_commands.py
  src/amplihack/fleet/_cli_copilot_ops.py
  src/amplihack/fleet/_cli_fleet_ops.py
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/_session_context.py
  src/amplihack/fleet/_session_gather.py
  src/amplihack/fleet/_system_prompt.py
  src/amplihack/fleet/_tui_actions.py
  src/amplihack/fleet/_tui_classify.py
  src/amplihack/fleet/_tui_data.py
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/_tui_refresh.py
  src/amplihack/fleet/_tui_styles.py
  src/amplihack/fleet/_tui_workers.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: quality audit round 2 — thread safety, hardcoded paths, dead code (#2849)
  experiments/hive_mind/run_distributed_20agent_eval.py
  experiments/hive_mind/run_full_distributed_eval.py
  experiments/hive_mind/run_learning_agent_hive_eval.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
  src/amplihack/agents/goal_seeking/hive_mind/event_bus.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  tests/hive_mind/test_controller.py
  tests/hive_mind/test_crdt.py
  tests/hive_mind/test_distributed.py
  tests/hive_mind/test_embeddings.py
  tests/hive_mind/test_event_bus.py
  tests/hive_mind/test_retrieval_pipeline_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: quality audit round 3 — remaining HIGH issues, MEDIUM cleanup, untrack pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/__init__.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/__init__.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/constants.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/controller.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/controller.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/crdt.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/distributed.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/distributed.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/embeddings.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/embeddings.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/event_bus.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/event_bus.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/fact_lifecycle.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/gossip.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/hive_graph.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/hive_graph.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/peer_hive.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/peer_hive.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/quality.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/quality.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/query_expansion.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/query_expansion.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/reranker.cpython-310.pyc
  src/amplihack/agents/goal_seeking/hive_mind/__pycache__/reranker.cpython-312.pyc
  src/amplihack/agents/goal_seeking/hive_mind/constants.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
  src/amplihack/agents/goal_seeking/hive_mind/event_bus.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/quality.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
