Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fixed formatting for agent.md reference example
  docs/WORKSPACE_PATTERN.md
Due: none

fix: Add idempotency checks to Recipe Runner git push steps (#2498)
  amplifier-bundle/recipes/default-workflow.yaml
  docs/claude/tools/amplihack/hooks/README.md
  docs/howto/exception-handling.md
  docs/reference/exception-handling.md
  tests/recipes/test_git_push_idempotency.py
  tests/test_claude_md_installation.py
Due: none

fix: address Repo Guardian feedback - remove debug_eval, move ephemeral docs
  .claude/runtime/logs/session_docs/LONG_HORIZON_MEMORY_RESULTS.md
  .claude/runtime/logs/session_docs/QUALITY_AUDIT_COMPREHENSIVE.md
  .gitignore
  debug_eval/summary.json
Due: none

fix: remove ephemeral Specs docs per Repo Guardian feedback
  Specs/EVAL_IMPROVEMENT_REPORT.md
  Specs/LONG_HORIZON_10_ITERATION_REPORT.md
Due: none

test(eval): add tests for math intent classification and code generation
  tests/agents/goal_seeking/test_math_intent.py
Due: none

test(eval): add Q&A echo filtering and SUMMARY filter tests per reviewer findings
  tests/agents/goal_seeking/test_math_intent.py
Due: none

feat: add TRANSITIONED_TO graph edges for temporal state transitions
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/backfill_transitions.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add temporal transition tests, fix chain dedup and precedence
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_hierarchical_memory.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(eval): improve 5000-turn eval score with 10 targeted improvements
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/similarity.py
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: migrate HierarchicalMemory to amplihack-memory-lib (#2505, #2506)
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: harden PM workflow scripts with robust error handling and tests (#3)
  .github/scripts/README.md
  .github/scripts/pm_daily_status.py
  .github/scripts/pm_roadmap_review.py
  .github/scripts/tests/test_pm_daily_status.py
  .github/scripts/tests/test_pm_roadmap_review.py
Due: check-dependencies

feat(eval): improve 5000-turn eval from 77.4% to 90.9% with targeted fixes
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(eval): improve temporal retrieval with higher entity limit and keyword supplement
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(eval): improve temporal trap instructions with step-by-step chain reasoning
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): append non-interactive footer to nested claude -p prompts (#2464)
  src/amplihack/recipes/adapters/cli_subprocess.py
  tests/unit/recipes/test_cli_subprocess_no_interactive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipe-cli): handle special characters in -c context args (#2460)
  src/amplihack/cli.py
  src/amplihack/recipe_cli/recipe_command.py
  tests/unit/cli/test_recipe_command.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): auto-stage git changes after agent steps to prevent work loss (#2465)
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/unit/recipes/test_auto_stage.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add CONTRIBUTING.md for new contributors
  CONTRIBUTING.md
Due: none

docs: Organize goal-seeking agent documentation following Diátaxis framework
  docs/index.md
  docs/reference/goal-seeking-agents-quick-reference.md
  docs/tutorials/README.md
Due: none

docs: improve Quick Start section - explain uv/uvx for beginners
  README.md
Due: none

fix(recipes): recipe runner reliability fixes (#2518)
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  src/amplihack/cli.py
  src/amplihack/recipe_cli/recipe_command.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/unit/cli/test_recipe_command.py
  tests/unit/recipes/test_auto_stage.py
  tests/unit/recipes/test_cli_subprocess_no_interactive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(eval): improve 5000-turn eval from 65.6% to ~90.5% overall (#2510)
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/similarity.py
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: migrate HierarchicalMemory to amplihack-memory-lib (#2507)
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Documentation for workspace_pattern `agent.md` example (#2499)
  docs/WORKSPACE_PATTERN.md
  pyproject.toml
Due: none

feat: Add temporal reasoning code generation to LearningAgent
  docs/GOAL_SEEKING_AGENTS.md
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix PR Triage Agent: switch from explicit to automatic GitHub MCP lockdown mode (#2470)
  .github/workflows/pr-triage-agent.lock.yml
  pyproject.toml
Due: none

feat: Add TRANSITIONED_TO edges for temporal transition chain tracking
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  tests/agents/goal_seeking/test_hierarchical_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
