Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

docs: Add comprehensive Claude Code vs Copilot CLI hooks comparison
  docs/HOOKS_COMPARISON.md
Due: none

fix(bundle): fix skills and recipes discovery paths
  amplifier-bundle/bundle.md
  build_hooks.py
Due: check-dependencies

feat: Add Claude Code plugin architecture for amplihack
  .claude-plugin/plugin.json
  .claude/tools/amplihack/hooks/hooks.json
  docs/index.md
  docs/plugin/LSP_CONFIGURATION.md
  docs/plugin/PLUGIN_DEVELOPMENT.md
  docs/plugin/PLUGIN_INSTALLATION.md
  docs/plugin/QUICK_REFERENCE.md
  docs/plugin/README.md
  docs/plugin/index.md
  src/amplihack/lsp_detector/__init__.py
  src/amplihack/lsp_detector/detector.py
  src/amplihack/path_resolver/__init__.py
  src/amplihack/path_resolver/resolver.py
  src/amplihack/plugin_manager/__init__.py
  src/amplihack/plugin_manager/manager.py
  src/amplihack/settings_generator/__init__.py
  src/amplihack/settings_generator/generator.py
  tests/PLUGIN_TESTS_SUMMARY.md
  tests/TEST_PLAN_PLUGIN_ARCHITECTURE.md
  tests/e2e/test_complete_workflow.py
  tests/integration/test_plugin_installation.py
  tests/unit/test_lsp_detector.py
  tests/unit/test_path_resolver.py
  tests/unit/test_plugin_manager.py
  tests/unit/test_settings_generator.py
  tests/verify_tests.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Document adaptive hook system design for Phase 2
  Specs/AdaptiveHookSystem.md
Due: none

fix: Add missing Operations category to ultrathink.md Default Behavior
  .claude/commands/amplihack/ultrathink.md
Due: amplihack-sync-commands

fix: Add Step 13 verification gate and enforcement mechanisms
  .claude/context/USER_PREFERENCES.md
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

test: Add comprehensive outside-in test harness for plugin validation
  tests/IMPLEMENTATION_COMPLETE.md
  tests/PLUGIN_TEST_HARNESS_SUMMARY.md
  tests/conftest.py
  tests/e2e/README.md
  tests/e2e/test_hook_protocol_e2e.py
  tests/e2e/test_lsp_detection_e2e.py
  tests/e2e/test_plugin_manager_e2e.py
  tests/harness/README.md
  tests/harness/__init__.py
  tests/harness/subprocess_test_harness.py
  tests/verify_harness_setup.py
Due: none

feat: Adaptive hooks with Copilot context injection workaround (Phase 2)
  .claude/settings.json
  .claude/tools/amplihack/hooks/session_start.py
  .gitignore
  src/amplihack/context/adaptive/__init__.py
  src/amplihack/context/adaptive/detector.py
  src/amplihack/context/adaptive/strategies.py
  src/amplihack/hooks/launcher_detector.py
  src/amplihack/hooks/strategies/__init__.py
  src/amplihack/hooks/strategies/base.py
  src/amplihack/hooks/strategies/claude_strategy.py
  src/amplihack/hooks/strategies/copilot_strategy.py
  src/amplihack/launcher/copilot.py
  tests/hooks/__init__.py
  tests/hooks/test_launcher_detector.py
  tests/hooks/test_session_start_strategies.py
  tests/hooks/test_strategies.py
  tests/test_copilot_launcher_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

fix: Remove approval path from Step 13 verification gate
  .claude/context/USER_PREFERENCES.md
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

fix: Correct launcher detection type in session_start.py
  .claude/tools/amplihack/hooks/session_start.py
Due: check-dependencies

feat: CONFIRMED WORKING - Adaptive hooks inject context into Copilot CLI!
  .claude/context/PROJECT.md.bak
  .claude/settings.json
Due: sync-hooks-validation

feat: Generalize adaptive hook pattern to ALL hooks
  .claude/tools/amplihack/hooks/post_tool_use.py
  .claude/tools/amplihack/hooks/pre_tool_use.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  src/amplihack/context/adaptive/strategies.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Add UVX-based integration tests for plugin validation
  tests/integration/uvx/IMPLEMENTATION_SUMMARY.md
  tests/integration/uvx/README.md
  tests/integration/uvx/__init__.py
  tests/integration/uvx/harness/__init__.py
  tests/integration/uvx/harness/output_validator.py
  tests/integration/uvx/harness/test_helpers.py
  tests/integration/uvx/harness/uvx_launcher.py
  tests/integration/uvx/test_agents.py
  tests/integration/uvx/test_commands.py
  tests/integration/uvx/test_hooks.py
  tests/integration/uvx/test_lsp_detection.py
  tests/integration/uvx/test_settings_generation.py
  tests/integration/uvx/test_skills.py
  tests/integration/uvx/verify_implementation.py
Due: none

docs: Add UVX integration test results
  tests/integration/uvx/TEST_RESULTS.md
Due: none

refactor: rename package to amplihack and harden build
  build_hooks.py
  pyproject.toml
Due: check-dependencies

feat: Make ultrathink-orchestrator default for dev/investigation tasks (#1943)
  .claude/commands/amplihack/ultrathink.md
  .claude/context/USER_PREFERENCES.md
  .claude/docs/TEST_EXECUTION_GUIDE_ULTRATHINK_DEFAULT.md
  .claude/docs/VERIFICATION_SCENARIOS_ULTRATHINK_DEFAULT.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  CLAUDE.md
Due: amplihack-sync-commands

docs: Add adaptive hook system documentation
  .claude/context/COPILOT_CLI.md
  .claude/settings.json
  docs/COPILOT_CLI.md
  docs/HOOKS_COMPARISON.md
Due: sync-hooks-validation

fix: AGENTS.md must be in repository root, not .github/agents/
  .gitignore
  src/amplihack/context/adaptive/strategies.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: VERIFIED WORKING - Copilot preferences injection via AGENTS.md in root
  .github/hooks/copilot-test-inject.sh
  .github/hooks/copilot-test.json
Due: none

docs: Update README with Copilot CLI integration
  README.md
Due: none

fix: Address code review findings - security and correctness
  .github/hooks/error-occurred
  .github/hooks/post-tool-use
  .github/hooks/pre-tool-use
  .github/hooks/session-start
  .github/hooks/session-stop
  .github/hooks/user-prompt-submit
  src/amplihack/context/adaptive/detector.py
  src/amplihack/hooks/strategies/__init__.py
  src/amplihack/hooks/strategies/base.py
  src/amplihack/hooks/strategies/claude_strategy.py
  src/amplihack/hooks/strategies/copilot_strategy.py
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Make plugin discoverable in Claude Code /plugin command
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
  src/amplihack/plugin_manager/manager.py
  src/amplihack/settings_generator/generator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add complete implementation summary
  IMPLEMENTATION_SUMMARY.md
Due: none

fix: Create AGENTS.md in launcher BEFORE spawning Copilot
  .claude/settings.json.backup.uvx
  COMPREHENSIVE_TEST_PLAN.md
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
