Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix(ci): Fix plugin test navigation and PR branch reference (#2329)
  .github/workflows/plugin-test.yml
  tests/agentic/test-claude-plugin-pty.js
Due: none

fix(hooks): Stop hook restoration bug - remove SettingsManager from launch
  .claude/context/PROJECT.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(launcher): Add 30-second auto-timeout to settings.json prompt
  src/amplihack/launcher/settings_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(hooks): Update hooks config paths and fix Recipe Runner SDK adapter
  .claude/tools/amplihack/hooks/hooks.json
  src/amplihack/recipes/adapters/claude_sdk.py
  tests/hooks/test_hooks_config_validation.py
  tests/recipes/test_claude_sdk_adapter_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(hooks): Remove SettingsManager backup/restore from launch - Issue #2335
  STEP_13_TEST_RESULTS.md
  src/amplihack/launcher/core.py
  src/amplihack/tracing/trace_logger.py
  tests/launcher/TEST_RESULTS_BEFORE_FIX.md
  tests/launcher/test_hook_restoration_bug.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(tests): Prioritize project file over installed file in hooks validation tests
  tests/hooks/test_hooks_config_validation.py
Due: none

chore(cleanup): Move test documentation to correct location
  tests/launcher/STEP_13_TEST_RESULTS.md
Due: none

fix(hooks): Remove SettingsManager backup/restore from launch - Issue #2335 (#2338)
  pyproject.toml
  src/amplihack/launcher/core.py
  src/amplihack/tracing/trace_logger.py
  tests/launcher/STEP_13_TEST_RESULTS.md
  tests/launcher/TEST_RESULTS_BEFORE_FIX.md
  tests/launcher/test_hook_restoration_bug.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(hooks): Add missing __future__ annotations import to blarify_staleness_hook
  .claude/tools/amplihack/blarify_staleness_hook.py
Due: check-dependencies

fix(hooks): Remove SettingsManager backup/restore from launch - Issue #2335 (#2338)
  src/amplihack/launcher/core.py
  src/amplihack/tracing/trace_logger.py
  tests/launcher/STEP_13_TEST_RESULTS.md
  tests/launcher/TEST_RESULTS_BEFORE_FIX.md
  tests/launcher/test_hook_restoration_bug.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(hooks): Update hooks config paths, fix Recipe Runner SDK adapter, and fix blarify hook NameError (#2336)
  .claude/tools/amplihack/blarify_staleness_hook.py
  .claude/tools/amplihack/hooks/hooks.json
  pyproject.toml
  src/amplihack/recipes/adapters/claude_sdk.py
  tests/hooks/test_hooks_config_validation.py
  tests/recipes/test_claude_sdk_adapter_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Clone from main, let workflow create branch
  .claude/skills/multitask/orchestrator.py
Due: check-dependencies

fix(hooks): Add automatic migration for legacy hook paths in settings.json
  src/amplihack/settings.py
  tests/test_settings_migration.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Add outside-in test scenario for hook migration
  tests/agentic/test-hook-migration.yaml
Due: none

fix: Multitask clone from main (#2343)
  .claude/skills/multitask/orchestrator.py
Due: check-dependencies

fix: Increase recipe runner agent step timeout to 15 min
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/adapters/nested_session.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: LLM-powered agentic loop for goal-seeking agents (#2341)
  src/amplihack/agents/goal_seeking/README.md
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/agents/goal_seeking/action_executor.py
  src/amplihack/agents/goal_seeking/agentic_loop.py
  src/amplihack/agents/goal_seeking/memory_retrieval.py
  src/amplihack/agents/goal_seeking/wikipedia_learning_agent.py
  tests/agents/__init__.py
  tests/agents/goal_seeking/__init__.py
  tests/agents/goal_seeking/test_action_executor.py
  tests/agents/goal_seeking/test_agentic_loop.py
  tests/agents/goal_seeking/test_memory_retrieval.py
  tests/agents/goal_seeking/test_wikipedia_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: LLM-powered agentic loop for goal-seeking agents (#2341) (#2346)
  src/amplihack/agents/goal_seeking/README.md
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/agents/goal_seeking/action_executor.py
  src/amplihack/agents/goal_seeking/agentic_loop.py
  src/amplihack/agents/goal_seeking/memory_retrieval.py
  src/amplihack/agents/goal_seeking/wikipedia_learning_agent.py
  tests/agents/__init__.py
  tests/agents/goal_seeking/__init__.py
  tests/agents/goal_seeking/test_action_executor.py
  tests/agents/goal_seeking/test_agentic_loop.py
  tests/agents/goal_seeking/test_memory_retrieval.py
  tests/agents/goal_seeking/test_wikipedia_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Learning agents import names and graceful degradation
  generated-agents/bug-predictor/__init__.py
  generated-agents/bug-predictor/agent.py
  generated-agents/bug-predictor/metrics.py
  generated-agents/doc-analyzer/__init__.py
  generated-agents/doc-analyzer/agent.py
  generated-agents/performance-optimizer/agent.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
