Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: package amplihack as proper Copilot CLI plugin with unprefixed command names (#2686)
  .claude/commands/amplihack/analyze.md
  .claude/commands/amplihack/auto-dev.md
  .claude/commands/amplihack/auto.md
  .claude/commands/amplihack/cascade.md
  .claude/commands/amplihack/consensus.md
  .claude/commands/amplihack/customize.md
  .claude/commands/amplihack/debate.md
  .claude/commands/amplihack/default-workflow.md
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/expert-panel.md
  .claude/commands/amplihack/fix.md
  .claude/commands/amplihack/guide.md
  .claude/commands/amplihack/hybrid.md
  .claude/commands/amplihack/improve.md
  .claude/commands/amplihack/ingest-code.md
  .claude/commands/amplihack/install.md
  .claude/commands/amplihack/investigation.md
  .claude/commands/amplihack/knowledge-builder.md
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/modular-build.md
  .claude/commands/amplihack/n-version.md
  .claude/commands/amplihack/no-auto-dev.md
  .claude/commands/amplihack/plugin.json
  .claude/commands/amplihack/qa.md
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/remote.md
  .claude/commands/amplihack/run.md
  .claude/commands/amplihack/skill-builder.md
  .claude/commands/amplihack/socratic.md
  .claude/commands/amplihack/transcripts.md
  .claude/commands/amplihack/ultrathink.md
  .claude/commands/amplihack/uninstall.md
  .claude/commands/amplihack/unlock.md
  .claude/commands/amplihack/verification.md
  .claude/commands/amplihack/xpia.md
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
  tests/launcher/test_copilot_installation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies, amplihack-sync-commands

fix: add regression tests to close issue #2662 — dead code already removed
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: none

fix: quote all {{var}} bash assignments + warn on empty decomposition (#2614, #2645)
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: validate sessions schema in _load() to prevent AttributeError (#2648)
  amplifier-bundle/tools/session_tree.py
  tests/test_session_tree.py
Due: check-imports, check-dependencies

fix: bash injection prevention + empty decomposition warning (#2614, #2645) (#2694)
  .claude/commands/amplihack/analyze.md
  .claude/commands/amplihack/auto-dev.md
  .claude/commands/amplihack/auto.md
  .claude/commands/amplihack/cascade.md
  .claude/commands/amplihack/consensus.md
  .claude/commands/amplihack/customize.md
  .claude/commands/amplihack/debate.md
  .claude/commands/amplihack/default-workflow.md
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/expert-panel.md
  .claude/commands/amplihack/fix.md
  .claude/commands/amplihack/guide.md
  .claude/commands/amplihack/hybrid.md
  .claude/commands/amplihack/improve.md
  .claude/commands/amplihack/ingest-code.md
  .claude/commands/amplihack/install.md
  .claude/commands/amplihack/investigation.md
  .claude/commands/amplihack/knowledge-builder.md
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/modular-build.md
  .claude/commands/amplihack/n-version.md
  .claude/commands/amplihack/no-auto-dev.md
  .claude/commands/amplihack/plugin.json
  .claude/commands/amplihack/qa.md
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/remote.md
  .claude/commands/amplihack/run.md
  .claude/commands/amplihack/skill-builder.md
  .claude/commands/amplihack/socratic.md
  .claude/commands/amplihack/transcripts.md
  .claude/commands/amplihack/ultrathink.md
  .claude/commands/amplihack/uninstall.md
  .claude/commands/amplihack/unlock.md
  .claude/commands/amplihack/verification.md
  .claude/commands/amplihack/xpia.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
  tests/launcher/test_copilot_installation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies, amplihack-sync-commands

fix: add regression tests verifying dead code removal from classify() (#2662) (#2693)
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: none

fix: validate sessions schema in _load() to prevent AttributeError (#2648) (#2691)
  amplifier-bundle/tools/session_tree.py
  tests/test_session_tree.py
Due: check-imports, check-dependencies

feat: add Step 16b outside-in fix loop after PR creation
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

feat: enforce outside-in testing in /dev workflow for all PR-producing workstreams
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

feat: enforce outside-in testing for all PR-producing workstreams in /dev (#2695)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
Due: none

fix: change default model to opus[1m] across all launchers
  pyproject.toml
  src/amplihack/launcher/copilot.py
  src/amplihack/launcher/core.py
  tests/launcher/test_default_model.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: change default model to opus[1m] across all launchers (#2699)
  pyproject.toml
  src/amplihack/launcher/copilot.py
  src/amplihack/launcher/core.py
  tests/launcher/test_default_model.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add code-edit guardrail to CLAUDE.md workflow classification
  CLAUDE.md
Due: none

fix: add code-edit guardrail to CLAUDE.md workflow classification (#2698)
  CLAUDE.md
Due: none

fix: strengthen routing prompt — code file edits always DEV, never Q&A/OPS
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  pyproject.toml
Due: check-imports, check-dependencies

fix: strengthen routing prompt — code file edits always DEV, never Q&A/OPS (#2702)
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  pyproject.toml
Due: check-imports, check-dependencies

fix: address review feedback - comment clarity, try/finally, skip redundant DB query
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: remove point-in-time investigation doc from repo
  docs/investigations/INFRA03_AGENTIC_REGRESSION_2690.md
Due: none

docs: add investigation findings for infra_03 agentic regression (#2690)
  docs/investigations/INFRA03_AGENTIC_REGRESSION_2690.md
Due: none

fix: 4-solution agentic answer mode fixes for infra_03 regression (#2690)
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/long_horizon_memory.py
  tests/agents/goal_seeking/test_agentic_answer_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: extract routing prompt to templates/routing_prompt.txt + strengthen for all code/docs changes
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/templates/routing_prompt.txt
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  uv.lock
Due: check-imports, check-dependencies

fix: extract routing prompt to templates/routing_prompt.txt + strengthen for all code/docs changes (#2704)
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/templates/routing_prompt.txt
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  uv.lock
Due: check-imports, check-dependencies

fix: extend _force_simple to simple_recall path (infra_03 Tier3 fix)
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
