Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

WIP: event-driven eval trigger (FEED_COMPLETE → AGENT_READY)
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/feed_content.py
  experiments/hive_mind/query_hive.py
Due: check-imports, check-dependencies

refactor: remove fallback patterns from Rust runner integration; rename repo refs
  .gitignore
  amplifier-bundle/recipes/oxidizer-workflow.yaml
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

investigate: dual status classifiers — DO-NOT-RECOMMEND unification (#2898) (#2933)
  docs/investigations/2898-status-classifiers.md
  pyproject.toml
  tests/outside_in/test_status_classifiers_investigation.py
Due: none

feat: parallel VM polling with ThreadPoolExecutor (#2896) (#2934)
  .claude/tools/amplihack/remote/orchestrator.py
  .claude/tools/amplihack/remote/vm_pool.py
  amplifier-bundle/tools/amplihack/remote/orchestrator.py
  amplifier-bundle/tools/amplihack/remote/vm_pool.py
  docs/claude/tools/amplihack/remote/orchestrator.py
  docs/claude/tools/amplihack/remote/vm_pool.py
  tests/outside_in/test_parallel_vm_polling.py
Due: check-imports, check-dependencies

feat: add allow-list for safe send_input patterns (#2903) (#2936)
  src/amplihack/testing/__init__.py
  src/amplihack/testing/send_input_allowlist.py
  tests/outside_in/test_safe_send_input_allowlist.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add --port flag to azlin for bastion tunnel reuse (#2897) (#2937)
  .claude/tools/amplihack/remote/cli.py
  .claude/tools/amplihack/remote/executor.py
  .claude/tools/amplihack/remote/orchestrator.py
  .claude/tools/amplihack/remote/session.py
  amplifier-bundle/tools/amplihack/remote/cli.py
  amplifier-bundle/tools/amplihack/remote/executor.py
  amplifier-bundle/tools/amplihack/remote/orchestrator.py
  amplifier-bundle/tools/amplihack/remote/session.py
  tests/outside_in/conftest.py
  tests/outside_in/test_bastion_tunnel_reuse.py
Due: check-imports, check-dependencies

feat: split fleet CLI - extract _cli_formatters from _cli_session_ops (#2900) (#2938)
  src/amplihack/fleet/__init__.py
  src/amplihack/fleet/_cli_formatters.py
  src/amplihack/fleet/_cli_session_ops.py
  tests/outside_in/test_fleet_cli_session_ops.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use run-script file for tmux eval pipeline to fix quoting issues (#2922) (#2939)
  .claude/tools/amplihack/remote/executor.py
  amplifier-bundle/tools/amplihack/remote/executor.py
  docs/claude/tools/amplihack/remote/executor.py
  tests/outside_in/test_eval_pipeline_tmux.py
Due: check-imports, check-dependencies

feat: cache SSH output between discovery and reasoning phases (#2899)
  .claude/tools/amplihack/remote/session.py
  amplifier-bundle/tools/amplihack/remote/session.py
  docs/claude/tools/amplihack/remote/session.py
  tests/outside_in/test_cache_ssh_output.py
Due: check-imports, check-dependencies

feat: cache SSH output between discovery and reasoning phases (#2899) (#2942)
  .claude/tools/amplihack/remote/session.py
  amplifier-bundle/tools/amplihack/remote/session.py
  docs/claude/tools/amplihack/remote/session.py
  tests/outside_in/test_cache_ssh_output.py
Due: check-imports, check-dependencies

feat(hive-mind): refactor hive mind as haymaker WorkloadBase + stable agent API
  deploy/azure_hive/feed_content.py
  experiments/hive_mind/query_hive.py
  pyproject.toml
  src/amplihack/agent/__init__.py
  src/amplihack/cli/hive_haymaker.py
  src/amplihack/workloads/__init__.py
  src/amplihack/workloads/hive/__init__.py
  src/amplihack/workloads/hive/_eval.py
  src/amplihack/workloads/hive/_feed.py
  src/amplihack/workloads/hive/events.py
  src/amplihack/workloads/hive/workload.py
  tests/workloads/__init__.py
  tests/workloads/test_hive_workload.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(fleet): add hostname verification and dedup for concurrent Bastion SSH polling
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/tests/test_fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add rust_runner tests, subprocess timeout, clearer engine logging
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): sanitize branch names and add sub-recipe agentic recovery
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/recipes/runner.py
  src/amplihack/recipes/tests/__init__.py
  src/amplihack/recipes/tests/test_branch_name_sanitization.py
  src/amplihack/recipes/tests/test_sub_recipe_recovery.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add RECIPE_RESILIENCE.md for branch sanitization and sub-recipe recovery
  docs/RECIPE_RESILIENCE.md
Due: none

feat: integrate /top5 priority aggregation into pm-architect
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/pm-architect/scripts/generate_top5.py
  .claude/skills/pm-architect/scripts/tests/conftest.py
  .claude/skills/pm-architect/scripts/tests/test_generate_top5.py
Due: check-dependencies

feat: GitHub-native data sourcing for /top5
  .claude/skills/pm-architect/scripts/generate_top5.py
  .claude/skills/pm-architect/scripts/tests/test_generate_top5.py
  .pm/sources.yaml
Due: check-dependencies

fix: address review findings in /top5 implementation
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/pm-architect/scripts/generate_top5.py
  .pm/backlog/items.yaml
  .pm/config.yaml
  .pm/delegations/del-001.yaml
  .pm/delegations/del-002.yaml
  .pm/roadmap.md
  .pm/workstreams/ws-001.yaml
  .pm/workstreams/ws-002.yaml
Due: check-dependencies

test: add outside-in agentic test scenarios for /top5 trigger
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-error-handling.yaml
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-local-overrides.yaml
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-ranking.yaml
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-smoke.yaml
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-with-sources.yaml
Due: none

refactor(tests): consolidate parametrized and prompt-assertion tests
  src/amplihack/recipes/tests/test_branch_name_sanitization.py
  src/amplihack/recipes/tests/test_sub_recipe_recovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages
