Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: Use named constant MAX_CONVERSATION_SUMMARY_LENGTH=512K and fix encoding
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/hooks/claude_power_steering.py
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
  tests/outside_in/test_pr2365_behavioral.py
Due: check-imports, check-dependencies

feat: implement agentic power-steering analysis (#2365)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_checker_unit.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_validator.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_validator_simple.py
  .claude/tools/amplihack/hooks/workflow_invocation_validator.py
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/hooks/claude_power_steering.py
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
  pyproject.toml
  tests/outside_in/test_pr2365_behavioral.py
  tests/outside_in/test_pr2365_power_steering_fixes.yaml
  uv.lock
Due: check-imports, check-dependencies

feat: Add general-purpose learning improvements for teacher-student eval
  eval_progressive_example/L1/scores.json
  eval_progressive_example/L2/scores.json
  eval_progressive_example/L3/scores.json
  eval_progressive_example/L4/scores.json
  eval_progressive_example/L5/scores.json
  eval_progressive_example/L6/scores.json
  eval_progressive_example/summary.json
  src/amplihack/agents/goal_seeking/graph_rag_retriever.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix typos in Microsoft Amplifier secxtion of README.md (#2379)
  README.md
Due: none

fix: Simplify synthesis prompt to recover L3/L4 scores, add parallel eval runner
  examples/run_progressive_eval.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/progressive_test_suite.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix #2403: Restructure README - fix convoluted sections with clear value proposition
  README.md
  tests/test_readme_structure.py
Due: none

Fix #2403: Restructure README - fix convoluted sections with clear value proposition (#2404)
  README.md
  pyproject.toml
  tests/test_readme_structure.py
Due: none

feat: Iterative reasoning loop in AgenticLoop + parallel eval runner
  Specs/TEACHER_STUDENT_EVAL_DESIGN.md
  eval_progressive_example/run_0/L1/scores.json
  eval_progressive_example/run_0/L2/scores.json
  eval_progressive_example/run_0/L3/scores.json
  eval_progressive_example/run_0/L4/scores.json
  eval_progressive_example/run_0/L5/scores.json
  eval_progressive_example/run_0/L6/scores.json
  eval_progressive_example/run_0/summary.json
  eval_progressive_example/run_1/L1/scores.json
  eval_progressive_example/run_1/L2/scores.json
  eval_progressive_example/run_1/L3/scores.json
  eval_progressive_example/run_1/L4/scores.json
  eval_progressive_example/run_1/L5/scores.json
  eval_progressive_example/run_1/L6/scores.json
  eval_progressive_example/run_1/summary.json
  eval_progressive_example/run_2/L1/scores.json
  eval_progressive_example/run_2/L2/scores.json
  eval_progressive_example/run_2/L3/scores.json
  eval_progressive_example/run_2/L4/scores.json
  eval_progressive_example/run_2/L5/scores.json
  eval_progressive_example/run_2/L6/scores.json
  eval_progressive_example/run_2/summary.json
  run_parallel_eval.py
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/agents/goal_seeking/agentic_loop.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/goal_agent_generator/templates/memory_template.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add logging to all silent except Exception: blocks in hooks
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/gitignore_checker.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/pre_compact.py
  .claude/tools/amplihack/hooks/precommit_prefs.py
  .claude/tools/amplihack/hooks/shutdown_context.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/outside-in/test_exception_handling_outside_in.py
  .claude/tools/amplihack/hooks/tests/outside-in/test_gitignore_checker_outside_in.yaml
  .claude/tools/amplihack/hooks/tests/outside-in/test_workflow_reminder_exception_handling.yaml
  .claude/tools/amplihack/hooks/tests/outside-in/test_xpia_hooks_outside_in.yaml
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  .claude/tools/xpia/hooks/post_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use.py
  .pre-commit-config.yaml
Due: check-imports, check-dependencies

fix: add logging to all silent except Exception: blocks in hooks (#2407)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/gitignore_checker.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/pre_compact.py
  .claude/tools/amplihack/hooks/precommit_prefs.py
  .claude/tools/amplihack/hooks/shutdown_context.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/outside-in/test_exception_handling_outside_in.py
  .claude/tools/amplihack/hooks/tests/outside-in/test_gitignore_checker_outside_in.yaml
  .claude/tools/amplihack/hooks/tests/outside-in/test_workflow_reminder_exception_handling.yaml
  .claude/tools/amplihack/hooks/tests/outside-in/test_xpia_hooks_outside_in.yaml
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  .claude/tools/xpia/hooks/post_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use.py
  .pre-commit-config.yaml
  pyproject.toml
Due: check-imports, check-dependencies

fix: improve exception handling across amplihack CLI
  src/amplihack/__init__.py
  src/amplihack/cli.py
  src/amplihack/exceptions.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/claude_binary_manager.py
  src/amplihack/launcher/copilot.py
  src/amplihack/launcher/memory_config.py
  src/amplihack/launcher/nesting_detector.py
  src/amplihack/plugin_manager/manager.py
  src/amplihack/utils/claude_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve pre-existing pyright errors in auto_mode and memory_config
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/memory_config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Remove dump-all-facts fallback for synthesis, keep adaptive routing
  Specs/COGNITIVE_MEMORY_ARCHITECTURE.md
  src/amplihack/agents/goal_seeking/agentic_loop.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: improve exception handling across amplihack CLI (#2409)
  src/amplihack/__init__.py
  src/amplihack/cli.py
  src/amplihack/exceptions.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/claude_binary_manager.py
  src/amplihack/launcher/copilot.py
  src/amplihack/launcher/memory_config.py
  src/amplihack/launcher/nesting_detector.py
  src/amplihack/plugin_manager/manager.py
  src/amplihack/utils/claude_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix hook path configuration to use absolute paths
  src/amplihack/settings.py
  tests/test_settings.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add outside-in test scenarios for hook path fix
  .gitignore
  tests/outside-in/test_hook_cross_directory_execution.yaml
  tests/outside-in/test_hook_path_absolute_uvx.yaml
Due: none

docs: add exception handling documentation for PRs #2407 & #2409
  docs/claude/tools/amplihack/hooks/README.md
  docs/howto/exception-handling.md
  docs/index.md
  docs/reference/exception-handling.md
Due: none

Sync hooks after fixing static template paths
  .claude/settings.json
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

Fix hook path configuration - ensure absolute paths in settings.json (#2410)
  .claude/settings.json
  .gitignore
  pyproject.toml
  src/amplihack/settings.py
  src/amplihack/utils/uvx_settings_template.json
  tests/outside-in/test_hook_cross_directory_execution.yaml
  tests/outside-in/test_hook_path_absolute_uvx.yaml
  tests/test_settings.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
