Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: Configure statusline to use global path in all directories (#2202)
  src/amplihack/cli.py
  src/amplihack/utils/uvx_settings_template.json
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Fix missing LiteralString import in batch_processing_queries
  src/amplihack/vendor/blarify/documentation/queries/batch_processing_queries.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix all missing LiteralString imports in documentation queries
  src/amplihack/vendor/blarify/documentation/queries/workflow_queries.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Properly add LiteralString import to workflow_queries
  src/amplihack/vendor/blarify/documentation/queries/workflow_queries.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add missing tree-sitter language dependencies for blarify
  pyproject.toml
Due: none

Add missing LiteralString import to update_graph.py
  src/amplihack/vendor/blarify/repositories/graph_db_manager/graph_queries/update_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add Go, Java, PHP, Ruby language support to prerequisite checker
  src/amplihack/memory/kuzu/indexing/prerequisite_checker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

feat: Add anti-sycophancy preference enforcement to power steering
  .claude/tools/amplihack/hooks/claude_power_steering.py
Due: check-dependencies

fix: Improve anti-sycophancy section parser and documentation
  .claude/tools/amplihack/hooks/claude_power_steering.py
Due: check-dependencies

chore: remove point-in-time test results doc
  tests/skills/TEST_RESULTS.md
Due: none

Include blarify vendor config files in package distribution
  pyproject.toml
Due: none

Add dotnet 10 support and dependency installation instructions
  pyproject.toml
  src/amplihack/memory/kuzu/indexing/prerequisite_checker.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/omnisharp/omnisharp.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove unnecessary design documentation
  docs/features/COPILOT_AUTO_UPDATE_DESIGN.md
Due: none

fix: implement all review feedback from Step 16 reviews
  .claude/skills/aspire/SKILL.md
Due: none

fix(copilot): Stage skills to ~/.copilot/skills/ for Copilot CLI (#2199)
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add shadow-testing skill and enhance outside-in-testing with shadow integration
  .claude/skills/outside-in-testing/SKILL.md
  .claude/skills/shadow-testing/README.md
  .claude/skills/shadow-testing/SKILL.md
  .claude/skills/shadow-testing/docker-compose/README.md
  .claude/skills/shadow-testing/docker-compose/ci-shadow.yml
  .claude/skills/shadow-testing/docker-compose/multi-repo.yml
  .claude/skills/shadow-testing/docker-compose/single-repo.yml
  .claude/skills/shadow-testing/examples/multi-repo-coordination.md
  .claude/skills/shadow-testing/examples/nodejs-package-test.md
  .claude/skills/shadow-testing/examples/python-library-test.md
  .claude/skills/shadow-testing/scripts/create-bundle.sh
  .claude/skills/shadow-testing/scripts/setup-shadow.sh
  .claude/skills/shadow-testing/scripts/test-shadow.sh
Due: none

feat(skill): Add Aspire orchestration skill (#2198)
  .claude/skills/aspire/SKILL.md
  .claude/skills/aspire/commands.md
  .claude/skills/aspire/examples.md
  .claude/skills/aspire/patterns.md
  .claude/skills/aspire/reference.md
  .claude/skills/aspire/troubleshooting.md
  tests/skills/README.md
  tests/skills/__init__.py
  tests/skills/test_aspire_skill.py
Due: none

feat: Add auto-update check for GitHub Copilot CLI on launch (#2194)
  README.md
  src/amplihack/launcher/copilot.py
  tests/launcher/__init__.py
  tests/launcher/test_copilot.py
  tests/launcher/test_copilot_auto_update.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
