Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

wip: checkpoint after review feedback (steps 10-11)
  pyproject.toml
  src/amplihack/memory_auto_install.py
  tests/test_import_no_auto_install.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(deps): sync uv.lock to pyproject.toml version 0.6.89
  uv.lock
Due: none

fix(review): address all PR #3337 review feedback
  pyproject.toml
  src/amplihack/__init__.py
  src/amplihack/memory_auto_install.py
  tests/test_import_no_auto_install.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: improve temporal and meta retrieval
  src/amplihack/agents/goal_seeking/hive_mind/distributed_memory.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/similarity.py
  tests/agents/goal_seeking/test_learning_agent.py
  tests/agents/goal_seeking/test_similarity.py
  tests/hive_mind/test_distributed_memory_cluster_api.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: prioritize anchored temporal facts
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/similarity.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: truncate large context echoes in verification gate steps to avoid ARG_MAX
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(aspire): use scale-aware answer_timeout default in apphost and eval_setup
  deploy/azure_hive/aspire/apphost.cs
  deploy/azure_hive/eval_setup.py
  deploy/azure_hive/tests/test_aspire_apphost.py
  tests/agents/goal_seeking/test_math_intent.py
Due: check-imports, check-dependencies

fix(retrieval): add **kwargs to get_all_facts() signatures for call-site compatibility
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/controller.py
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
  src/amplihack/agents/goal_seeking/memory_retrieval.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: publish startup online signal
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
Due: check-imports, check-dependencies

chore: raise federated agent headroom
  deploy/azure_hive/main.bicep
Due: none

revert: restore valid consumption sizing
  deploy/azure_hive/main.bicep
Due: none

test(qa): add gadugi outside-in scenarios and validation tests for #3268
  tests/gadugi/cli-crash-handler-propagation.yaml
  tests/skills/test_gadugi_scenarios_3268.py
Due: none

fix(baseline): flatten triple-nested exception handling in cli.py (#3233) (#3268)
  pyproject.toml
  src/amplihack/cli.py
  tests/gadugi/cli-crash-handler-propagation.yaml
  tests/skills/test_gadugi_scenarios_3268.py
  tests/unit/test_cli_crash_handler.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(qa): add gadugi outside-in scenarios for step-02b progress markers (#3286)
  tests/gadugi/step-02b-progress-markers.yaml
  tests/skills/test_gadugi_scenarios_3286.py
Due: none

fix: add progress markers to step-02b-analyze-codebase (closes #3266) (#3286)
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  tests/gadugi/step-02b-progress-markers.yaml
  tests/skills/test_gadugi_scenarios_3286.py
Due: none

test(qa): add gadugi outside-in scenarios for step-16 PR idempotency (#3335)
  tests/gadugi/step-16-pr-creation-idempotency.yaml
  tests/skills/test_gadugi_scenarios_3335.py
Due: none

fix(recipe): make step-16-create-draft-pr idempotent (#3335)
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  tests/gadugi/step-16-pr-creation-idempotency.yaml
  tests/recipes/test_pr_creation_idempotency.py
  tests/skills/test_gadugi_scenarios_3335.py
Due: none

fix: replace subprocess auto-install with startup import check (#3327)
  src/amplihack/memory_auto_install.py
  tests/unit/test_memory_startup_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(qa): add gadugi outside-in scenario for memory lib startup check
  tests/gadugi/memory-lib-startup-check.yaml
Due: none

fix: replace subprocess auto-install with startup import check (#3327) (#3351)
  pyproject.toml
  src/amplihack/memory_auto_install.py
  tests/gadugi/memory-lib-startup-check.yaml
  tests/unit/test_memory_startup_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: truncate large context in verification gate echoes (ARG_MAX)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/gadugi/arg-max-verification-gates.yaml
  tests/skills/test_gadugi_scenarios_3342.py
Due: none

fix: truncate large context in verification gate echoes (ARG_MAX) (#3355)
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  tests/gadugi/arg-max-verification-gates.yaml
  tests/skills/test_gadugi_scenarios_3342.py
Due: none

Revert "fix: truncate large context in verification gate echoes (ARG_MAX) (#3355)"
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  tests/gadugi/arg-max-verification-gates.yaml
  tests/skills/test_gadugi_scenarios_3342.py
Due: none
