Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: Create AGENTS.md in launcher BEFORE spawning Copilot
  .claude/settings.json.backup.uvx
  COMPREHENSIVE_TEST_PLAN.md
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove test artifacts
  .claude/settings.json.backup.uvx
  COMPREHENSIVE_TEST_PLAN.md
Due: none

docs: update package name references to amplihack
  docs/AUTO_MODE.md
  docs/DEVELOPING_AMPLIHACK.md
Due: none

polish: Fix all minor code review issues
  src/amplihack/context/adaptive/detector.py
  src/amplihack/context/adaptive/strategies.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove duplicate PluginManager import causing UnboundLocalError
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove duplicate PluginManager import to fix UnboundLocalError
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

security: Add hardening for adversarial scenarios
  .claude/settings.json.backup.uvx
  SECURITY_REVIEW_COPILOT_CLI.md
  src/amplihack/context/adaptive/detector.py
  src/amplihack/context/adaptive/strategies.py
  tests/hooks/CONTRARIAN_ANALYSIS.md
  tests/hooks/EDGE_CASE_TESTING_SUMMARY.md
  tests/hooks/EDGE_CASE_TEST_REPORT.md
  tests/hooks/test_copilot_edge_cases.py
  tests/hooks/test_session_start_strategies.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Actually remove duplicate PluginManager import on line 840
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove temporal test reports
  SECURITY_REVIEW_COPILOT_CLI.md
  tests/hooks/CONTRARIAN_ANALYSIS.md
  tests/hooks/EDGE_CASE_TESTING_SUMMARY.md
  tests/hooks/EDGE_CASE_TEST_REPORT.md
Due: none

fix: Remove duplicate PluginManager import (for real this time)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(bundle): add mandatory workflow classification instructions
  amplifier-bundle/bundle.md
Due: none

fix: Remove duplicate PluginManager import
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Restore plugin architecture from febfce8f and remove duplicate import
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove backup files and improve .gitignore patterns
  .claude/context/PROJECT.md.bak
  .claude/settings.json.backup.uvx
  .gitignore
  docs/claude/skills/agent-sdk/.metadata/versions.json
  src/amplihack/proxy/integrated_proxy.py.backup
Due: none

fix: Use claude plugin install and fix hook paths
  .claude/tools/amplihack/hooks/hooks.json
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Include .claude-plugin directory in Python package
  pyproject.toml
Due: none

fix: Replace directory symlink with individual agent symlinks
  .github/agents/ambiguity.md
  .github/agents/amplifier-cli-architect.md
  .github/agents/analyzer.md
  .github/agents/api-designer.md
  .github/agents/architect.md
  .github/agents/azure-kubernetes-expert.md
  .github/agents/builder.md
  .github/agents/ci-diagnostic-workflow.md
  .github/agents/cleanup.md
  .github/agents/database.md
  .github/agents/documentation-writer.md
  .github/agents/fallback-cascade.md
  .github/agents/fix-agent.md
  .github/agents/integration.md
  .github/agents/memory-manager.md
  .github/agents/multi-agent-debate.md
  .github/agents/n-version-validator.md
  .github/agents/optimizer.md
  .github/agents/patterns.md
  .github/agents/philosophy-guardian.md
  .github/agents/pre-commit-diagnostic.md
  .github/agents/preference-reviewer.md
  .github/agents/prompt-writer.md
  .github/agents/reviewer.md
  .github/agents/rust-programming-expert.md
  .github/agents/security.md
  .github/agents/test-agent.md
  .github/agents/tester.md
  .github/agents/visualization-architect.md
  .github/agents/worktree-manager.md
  .github/agents/xpia-defense.md
  README.md
Due: none

feat(bundle): add lock mode and auto-workflow for continuous work
  amplifier-bundle/bundle.md
  amplifier-bundle/modules/hook-lock-mode/amplifier_hook_lock_mode/__init__.py
  amplifier-bundle/modules/hook-lock-mode/pyproject.toml
  amplifier-bundle/modules/hook-session-stop/amplifier_hook_session_stop/__init__.py
  amplifier-bundle/recipes/auto-workflow.yaml
Due: check-imports, check-dependencies

fix: Complete plugin manifest packaging implementation
  pyproject.toml
Due: none

fix: Correct plugin manifest path - use .parent not .parent.parent
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add plugin manifest copying to build_hooks.py
  build_hooks.py
Due: check-dependencies

fix: Remove local subprocess import shadowing module-level import
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add subprocess import and define package_root
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Restore working CLI code from c46714a2
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct plugin manifest path to amplihack/.claude-plugin/
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add subprocess import
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove local subprocess import on line 700
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
