Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix(delegate): make ClaudeProcess permission flags conditional on delegate type
  .claude/agents/amplihack/specialized/prompt-writer.md
  .claude/context/PROJECT.md.bak.32f012495a6a4476bf9f9843ea649435
  amplifier-bundle/agents/specialized/prompt-writer.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/amplihack/orchestration/claude_process.py
  amplifier-bundle/tools/amplihack/orchestration/tests/test_claude_process_delegate.py
  docs/investigations/issue-4118-copilot-cli-flags-requirements.md
  tests/gadugi/copilot_nested_compat_smoke.py
  tests/recipes/test_investigation_workflow_context_contract.py
  tests/recipes/test_rust_runner_support.py
  tests/skills/test_dev_orchestrator_issue_4002.py
  tests/test_multitask_orchestrator_classic_delegate_launcher.py
  tests/test_multitask_orchestrator_setup_isolation.py
  tests/unit/recipes/test_default_workflow_clarify_requirements_guard.py
  tests/unit/test_prompt_writer_recipe_mode.py
Due: check-imports, check-dependencies

chore(pr): drop stray PROJECT backup file from #4118 branch
  .claude/context/PROJECT.md.bak.32f012495a6a4476bf9f9843ea649435
Due: none

fix(recipe): make classify-and-decompose CLI flags conditional on agent binary (#4118)
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

docs: update investigation scope to reflect smart-orchestrator.yaml fix
  docs/investigations/issue-4118-copilot-cli-flags-requirements.md
Due: none

chore(pr): remove unrelated workflow guard changes from #4118 PR
  .claude/agents/amplihack/specialized/prompt-writer.md
  amplifier-bundle/agents/specialized/prompt-writer.md
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_investigation_workflow_context_contract.py
  tests/test_multitask_orchestrator_setup_isolation.py
  tests/unit/recipes/test_default_workflow_clarify_requirements_guard.py
  tests/unit/test_prompt_writer_recipe_mode.py
Due: none

docs: retcon documentation for #4118 Copilot CLI flags fix
  .claude/context/PROJECT.md
  docs/audits/recipe-runner-quality-robustness-audit.md
  docs/howto/use-non-claude-agent.md
  docs/recipes/RECENT_FIXES_MARCH_2026.md
  docs/reference/copilot-parity-control-plane.md
Due: none

test(recipe): add TDD tests for classify-and-decompose copilot flag isolation (#4118)
  docs/investigations/step6c-doc-refinement-summary.md
  tests/unit/test_classify_decompose_copilot_flags.py
Due: none

fix(pr): harden nested CLI reliability
  amplifier-bundle/tools/amplihack/orchestration/claude_process.py
  src/amplihack/launcher/auto_mode.py
  tests/unit/test_auto_mode_copilot_flags.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(pr): drop stale #4118 audit noise
  docs/howto/use-non-claude-agent.md
  docs/investigations/issue-4118-copilot-cli-flags-requirements.md
  docs/recipes/RECENT_FIXES_MARCH_2026.md
  docs/reference/copilot-parity-control-plane.md
Due: none

fix(pr): tighten nested compatibility edge cases
  src/amplihack/launcher/auto_mode.py
  tests/gadugi/test_copilot_nested_compat_smoke.py
  tests/unit/test_auto_mode_copilot_flags.py
  tests/unit/test_auto_mode_injection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(pr): tighten auto-mode evaluation fallbacks
  src/amplihack/launcher/auto_mode.py
  tests/unit/test_auto_mode_evaluation.py
  tests/unit/test_auto_mode_timeout.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(recipes): add step-03-create-issue idempotency guard tests
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
  docs/atlas/ast-lsp-bindings/index.md
  launcher.py
  run.sh
Due: check-imports, check-dependencies

chore: update PROJECT.md for issue-4174 worktree
  .claude/context/PROJECT.md
Due: none

fix(launcher): strip --dangerously-skip-permissions from Copilot binary paths
  launcher.py
  run.sh
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(multitask): add TIMEOUT_LIFECYCLE.md retcon documentation
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/TIMEOUT_LIFECYCLE.md
  .claude/skills/multitask/reference.md
Due: none

docs(multitask): fix completed state cleanup-eligible flag in TIMEOUT_LIFECYCLE.md
  .claude/skills/multitask/TIMEOUT_LIFECYCLE.md
Due: none

docs(multitask): add timeout_policy/max_runtime to reference.md API and config docs
  .claude/skills/multitask/reference.md
Due: none

fix(workflow): replace not-in-list conditions with Rust-runner-compatible form (#4177)
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_default_workflow_resumable_timeouts.py
Due: none

chore: remove workstream artifacts from PR
  .claude/context/PROJECT.md
  docs/atlas/ast-lsp-bindings/index.md
  launcher.py
  run.sh
Due: check-imports, check-dependencies

feat(recipes): auto-update recipe-runner-rs on version mismatch
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(launcher): strip --dangerously-skip-permissions from Copilot binary paths
  .claude/context/PROJECT.md
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): add idempotency guards to step-03-create-issue
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
  docs/atlas/ast-lsp-bindings/index.md
Due: check-imports, check-dependencies

docs: expand step-03-idempotency.md with full retcon documentation
  docs/recipes/step-03-idempotency.md
Due: none

docs: clarify printf vs heredoc in step-03 security section
  docs/recipes/step-03-idempotency.md
Due: none

test: add TDD tests for step-03-create-issue idempotency guards
  amplifier-bundle/tools/test_step03_create_issue_idempotency.py
Due: check-imports, check-dependencies

chore: update PROJECT.md context for issue-4194 workstream
  .claude/context/PROJECT.md
Due: none

fix(#4169): smart-orchestrator teardown hardening + atlas refresh
  .claude/skills/merge-ready/SKILL.md
  .claude/skills/merge-ready/pr-description-template.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  src/amplihack/recipes/rust_runner.py
  tests/gadugi/merge-ready/smart-orchestrator-teardown-and-atlas-refresh.yaml
  tests/knowledge_builder/test_kb_modules.py
  tests/recipes/test_default_workflow_resumable_timeouts.py
  tests/recipes/test_rust_runner.py
  tests/recipes/test_rust_runner_binary.py
  tests/recipes/test_smart_orchestrator_bundle_sync.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(#4118): handle copilot binary paths in knowledge builder
  src/amplihack/knowledge_builder/modules/_agent_flags.py
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  tests/knowledge_builder/test_kb_modules.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(#4169): tighten KB subprocess reliability
  docs/atlas/ast-lsp-bindings/index.md
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  tests/knowledge_builder/test_kb_modules.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(#4190): remove CLI timeout escape hatches; restore fatal dep check
  src/amplihack/cli.py
  src/amplihack/cli/__init__.py
  tests/unit/test_auto_mode_timeout.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(atlas): remove resolve_timeout/--no-timeout references from atlas diagrams
  docs/atlas/service-components/service-components.dot
  docs/atlas/user-journeys/user-journeys.mmd
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
