Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: add Aspire AppHost for Azure Hive orchestration with OTEL telemetry
  Dockerfile
  deploy/azure_hive/Dockerfile
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/aspire/.aspire/settings.json
  deploy/azure_hive/aspire/NuGet.config
  deploy/azure_hive/aspire/apphost.cs
  deploy/azure_hive/aspire/telemetry_heartbeat.py
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/eval_distributed_security.py
  deploy/azure_hive/main.bicep
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_aspire_apphost.py
  deploy/azure_hive/tests/test_remote_agent_adapter.py
  src/amplihack/agents/goal_seeking/runtime_factory.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/agents/goal_seeking/sdk_adapters/copilot_sdk.py
  src/amplihack/observability.py
  tests/agents/goal_seeking/test_copilot_sdk_adapter.py
  tests/agents/goal_seeking/test_runtime_factory.py
  tests/test_observability.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(code-atlas): v3 deterministic extraction — 15 scripts, 19.6s pipeline
  docs/atlas/api-contracts/api-contracts.mmd
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/compile-deps.mmd
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/data-flow.mmd
  docs/atlas/data-flow/index.md
  docs/atlas/glossary.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/repo-surface/repo-surface.mmd
  docs/atlas/runtime-topology/index.md
  docs/atlas/runtime-topology/runtime-topology.mmd
  docs/atlas/service-components/index.md
  docs/atlas/service-components/service-components.mmd
  docs/atlas/user-journeys/index.md
  docs/atlas/user-journeys/user-journeys.mmd
  docs/javascripts/extra.js
  docs/stylesheets/extra.css
  scripts/atlas/__init__.py
  scripts/atlas/common.py
  scripts/atlas/cross_layer_checks.py
  scripts/atlas/prepare_bug_hunt.py
  scripts/atlas/python/__init__.py
  scripts/atlas/python/layer1_repo_surface.py
  scripts/atlas/python/layer2_ast_bindings.py
  scripts/atlas/python/layer3_compile_deps.py
  scripts/atlas/python/layer4_runtime_topology.py
  scripts/atlas/python/layer5_api_contracts.py
  scripts/atlas/python/layer6_data_flow.py
  scripts/atlas/python/layer7_service_components.py
  scripts/atlas/python/layer8_user_journeys.py
  scripts/atlas/render.py
  scripts/atlas/run_all.py
Due: check-imports, check-dependencies

test(code-atlas): add e2e test scenarios for atlas v3 pipeline
  tests/atlas/test_atlas_e2e.yaml
Due: none

fix(code-atlas): address quality audit cycle 1 — 11 findings fixed
  scripts/atlas/common.py
  scripts/atlas/cross_layer_checks.py
  scripts/atlas/python/layer4_runtime_topology.py
  scripts/atlas/python/layer5_api_contracts.py
  scripts/atlas/python/layer6_data_flow.py
  scripts/atlas/python/layer8_user_journeys.py
Due: check-imports, check-dependencies

docs(code-atlas): regenerate atlas with fixed extraction pipeline (14.8s)
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/index.md
Due: none

fix(code-atlas): address quality audit cycle 2 — 6 findings fixed
  scripts/atlas/common.py
  scripts/atlas/cross_layer_checks.py
  scripts/atlas/python/layer2_ast_bindings.py
  scripts/atlas/python/layer3_compile_deps.py
  scripts/atlas/python/layer4_runtime_topology.py
  scripts/atlas/python/layer5_api_contracts.py
  scripts/atlas/render.py
Due: check-imports, check-dependencies

fix: remove dead Python <3.8 fallbacks in version detection (#3295)
  pyproject.toml
  src/amplihack/__init__.py
  tests/agentic/version-detection-outside-in.yaml
  tests/unit/test_version_detection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(code-atlas): audit cycle 3 — fix critical journey tracing, rename layers
  scripts/atlas/common.py
  scripts/atlas/python/api_contracts.py
  scripts/atlas/python/ast_bindings.py
  scripts/atlas/python/compile_deps.py
  scripts/atlas/python/data_flow.py
  scripts/atlas/python/repo_surface.py
  scripts/atlas/python/runtime_topology.py
  scripts/atlas/python/service_components.py
  scripts/atlas/python/user_journeys.py
  scripts/atlas/render.py
  scripts/atlas/run_all.py
  src/amplihack/memory/backends/kuzu_backend.py
  src/amplihack/memory/kuzu/connector.py
  tests/memory/kuzu/test_graph_db_env_vars.py
  tests/test_security_hygiene.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(code-atlas): regenerate atlas with fixed journey tracing + AnnAssign support
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/data-flow.mmd
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/repo-surface/repo-surface.mmd
  docs/atlas/runtime-topology/index.md
  docs/atlas/runtime-topology/runtime-topology.mmd
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/index.md
  docs/atlas/user-journeys/user-journeys.mmd
Due: none

feat(eval): distributed eval infrastructure, retrieval parity fixes, 100-agent scale
  deploy/azure_hive/aspire/apphost.cs
  deploy/azure_hive/eval_assess.py
  deploy/azure_hive/eval_monitor.py
  deploy/azure_hive/eval_report.py
  deploy/azure_hive/eval_scale_100.py
  deploy/azure_hive/eval_setup.py
  deploy/azure_hive/tests/test_aspire_apphost.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_memory.py
  tests/hive_mind/test_retrieval_parity.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(code-atlas): dead code detector 1817→139 items, circular import severity
  :memory:
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/index.md
  docs/atlas/service-components/service-components.mmd
  docs/atlas/user-journeys/index.md
  scripts/atlas/common.py
  scripts/atlas/cross_layer_checks.py
  scripts/atlas/python/ast_bindings.py
  tests/memory/backends/test_memory_type_filter_regression.py
Due: check-imports, check-dependencies

fix(code-atlas): deterministic issue filing with gh/ADO support in recipe
  amplifier-bundle/recipes/code-atlas.yaml
Due: none

fix: use bundle subdir (not root) for AMPLIHACK_HOME in discovery (#3237)
  src/amplihack/recipes/discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

style: apply ruff and prettier formatting to rust_runner.py and STREAMING_OUTPUT.md
  docs/recipes/STREAMING_OUTPUT.md
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add AMPLIHACK_HOME to recipe discovery search path (#3237)
  src/amplihack/recipes/discovery.py
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Reapply "Reapply "fix(ci): atlas PR impact check should warn on stale layers, not fail""
  .github/workflows/atlas-ci.yml
Due: none

fix: improve error messages when recipe runner is killed by signal
  amplifier-bundle/recipes/_recipe_manifest.json
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(ci): atlas PR impact check should warn on stale layers, not fail
  .github/workflows/atlas-ci.yml
Due: none

Revert "Reapply "fix(ci): atlas PR impact check should warn on stale layers, not fail""
  .github/workflows/atlas-ci.yml
Due: none

Revert "fix(ci): atlas PR impact check should warn on stale layers, not fail"
  .github/workflows/atlas-ci.yml
Due: none

fix(ci): atlas check fails on stale layers with clear rebuild instructions
  .github/workflows/atlas-ci.yml
Due: none

Reapply "fix(ci): atlas PR impact check should warn on stale layers, not fail"
  .github/workflows/atlas-ci.yml
Due: none

docs(atlas): rebuild stale layers 2 and 8 for PR changes
  docs/atlas/ast-lsp-bindings/README.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/compile-deps/README.md
  docs/atlas/compile-deps/compile-deps.dot
  docs/atlas/compile-deps/compile-deps.mmd
Due: none

docs: update streaming output docs to reflect improved heartbeat (#3266)
  .claude/context/PROJECT.md
  docs/recipes/STREAMING_OUTPUT.md
Due: none

fix: improve AMPLIHACK_HOME discovery — validate path and emit warning (#3237)
  src/amplihack/recipes/discovery.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
