Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: Resolve CI workflow failures for PM Daily Status and Link Checker (#3)
  .github/scripts/link_checker.py
  .github/workflows/pm-daily-status.yml
  tests/test_ci_workflows_integration.py
  tests/test_link_checker_exit_code.py
  tests/test_pm_daily_status_workflow.py
Due: check-dependencies

feat: Fix failing CI workflows (PM Daily Status Report and Docs Weekly Link Checker)
  pyproject.toml
Due: none

test: fix PM Daily Status workflow test-implementation mismatch
  .github/workflows/pm-daily-status.yml
  tests/test_ci_workflows_integration.py
  tests/test_pm_daily_status_workflow.py
Due: none

fix: remove variable interpolation from step-17f bash command
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: bump version to 0.3.2 (PATCH - recipe bash escaping bug fix)
  pyproject.toml
Due: none

fix: remove variable interpolation from step-17f bash command (#2234)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

feat: Enhance pre_tool_use.py hook to prevent commits to main branch and block --no-verify bypass attempts
  .claude/tools/amplihack/hooks/pre_tool_use.py
  .claude/tools/amplihack/hooks/tests/test_main_branch_protection.py
  amplifier-bundle/tools/amplihack/hooks/pre_tool_use.py
  docs/features/main-branch-protection.md
  pyproject.toml
Due: check-imports, check-dependencies

chore: bump version to 0.4.1 (PATCH - main branch protection hook)
  pyproject.toml
Due: none

feat: Add background indexing prompt and staleness detection for blarify
  docs/blarify/README.md
  docs/blarify/background-indexing.md
  docs/blarify/multi-language-validation.md
  docs/index.md
  src/amplihack/launcher/core.py
  src/amplihack/memory/kuzu/indexing/staleness_detector.py
  src/amplihack/memory/kuzu/indexing/time_estimator.py
  tests/TDD_TEST_SUMMARY.md
  tests/memory/kuzu/indexing/test_staleness_and_estimation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add blarify staleness hook + multi-language validation script (partial)
  .claude/tools/amplihack/blarify_staleness_hook.py
  .claude/tools/amplihack/hooks/post_tool_use.py
  .gitignore
  VALIDATION_SCRIPT_STATUS.md
  docs/blarify/background-indexing.md
  scripts/debug_kuzu_contents.py
  scripts/test_blarify_simple.py
  scripts/validate_blarify_languages.py
Due: check-imports, check-dependencies

feat: Create github-branch-protection skill and configure amplihack repo with branch protection
  amplifier-bundle/skills/github-branch-protection/SKILL.md
  docs/features/main-branch-protection.md
  pyproject.toml
  tests/integration/test_github_branch_protection_integration.py
  tests/skills/test_github_branch_protection_skill.py
Due: none

address review feedback
  amplifier-bundle/skills/github-branch-protection/SKILL.md
  tests/integration/test_github_branch_protection_integration.py
  tests/skills/test_github_branch_protection_skill.py
Due: none

fix: Fix vendored blarify integration - symbol extraction now works
  scripts/fix_vendor_imports.py
  scripts/test_blarify_simple.py
  src/amplihack/memory/kuzu/code_graph.py
  src/amplihack/memory/kuzu/indexing/orchestrator.py
  src/amplihack/vendor/blarify/cli/commands/create.py
  src/amplihack/vendor/blarify/code_hierarchy/languages/FoundRelationshipScope.py
  src/amplihack/vendor/blarify/code_hierarchy/languages/language_definitions.py
  src/amplihack/vendor/blarify/code_hierarchy/tree_sitter_helper.py
  src/amplihack/vendor/blarify/code_references/hybrid_resolver.py
  src/amplihack/vendor/blarify/code_references/lsp_helper.py
  src/amplihack/vendor/blarify/code_references/scip_helper.py
  src/amplihack/vendor/blarify/documentation/documentation_creator.py
  src/amplihack/vendor/blarify/documentation/utils/bottom_up_batch_processor.py
  src/amplihack/vendor/blarify/graph/graph.py
  src/amplihack/vendor/blarify/graph/node/class_node.py
  src/amplihack/vendor/blarify/graph/node/documentation_node.py
  src/amplihack/vendor/blarify/graph/node/folder_node.py
  src/amplihack/vendor/blarify/graph/node/types/definition_node.py
  src/amplihack/vendor/blarify/graph/node/types/node.py
  src/amplihack/vendor/blarify/graph/node/utils/node_factory.py
  src/amplihack/vendor/blarify/graph/relationship/relationship.py
  src/amplihack/vendor/blarify/graph/relationship/relationship_creator.py
  src/amplihack/vendor/blarify/project_graph_creator.py
  src/amplihack/vendor/blarify/stats/complexity.py
  src/amplihack/vendor/blarify/tools/get_blame_info.py
  src/amplihack/vendor/blarify/tools/grep_code.py
  src/amplihack/vendor/blarify/utils/ensure_language_server_installed.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_server.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add multi-language validation results
  BLARIFY_VALIDATION_RESULTS.md
Due: none

feat: Add language tooling detection and auto branch detection
  scripts/check_language_tooling.py
  scripts/validate_blarify_languages.py
Due: check-imports, check-dependencies

docs: Update validation results with tooling improvements
  BLARIFY_VALIDATION_RESULTS.md
Due: none

feat: Add authenticated-web-scraper skill
  .claude/skills/authenticated-web-scraper/SKILL.md
  .claude/skills/authenticated-web-scraper/scripts/launch_edge_debug.mjs
  .claude/skills/authenticated-web-scraper/scripts/scrape_site.mjs
Due: none

feat: Add SCIP indexer runner and extended dependency installer
  SCIP_INDEXER_STATUS.md
  src/amplihack/memory/kuzu/indexing/dependency_installer.py
  src/amplihack/memory/kuzu/indexing/orchestrator.py
  src/amplihack/memory/kuzu/indexing/scip_indexer_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies
