Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

test: Add comprehensive test suite for CI validators (A-grade)
  tests/ci/README.md
  tests/ci/test_check_point_in_time_docs.py
  tests/ci/test_check_root_files.py
  tests/ci/test_check_unrelated_changes.py
  tests/test_root_cleanup.py
Due: none

fix: Update skill discovery to use uppercase SKILL.md (#2054)
  .claude-plugin/marketplace.json
  .claude/context/PROJECT.md
  .claude/context/PROJECT_AMPLIHACK.md
  .claude/settings.json
  .claude/settings.json.backup.uvx
  .claude/tools/amplihack/profile_management/discovery.py
  .claude/tools/amplihack/profile_management/index.py
  .claude/tools/amplihack/profile_management/tests/test_discovery.py
  .claude/tools/amplihack/profile_management/tests/test_end_to_end.py
  .claude/tools/amplihack/profile_management/tests/test_filter.py
  .claude/tools/amplihack/profile_management/tests/test_index.py
  .github/skills
  marketplace.json
Due: sync-hooks-validation, check-dependencies

feat: Add root directory protection system with CI validation (#2058)
  .claude/agents/amplihack/specialized/cleanup.md
  .claude/ci/check_point_in_time_docs.py
  .claude/ci/check_root_files.py
  .claude/ci/check_unrelated_changes.py
  .github/root-hygiene-config.yml
  .github/workflows/root-hygiene.yml
  test_fix_locally.py
  tests/ci/README.md
  tests/ci/test_check_point_in_time_docs.py
  tests/ci/test_check_root_files.py
  tests/ci/test_check_unrelated_changes.py
  tests/test_meta_delegator_REAL_TASK.py
  tests/test_meta_delegator_comprehensive.py
  tests/test_meta_delegator_e2e.py
  tests/test_root_cleanup.py
Due: check-imports, check-dependencies

chore: Remove redundant memory-manager agent specification
  .claude/agents/amplihack/specialized/memory-manager.md
  .claude/skills/agent-performance/SKILL.md
  README.md
  amplifier-bundle/agents/specialized/memory-manager.md
  amplifier-bundle/bundle.md
  docs/claude/agents/amplihack/specialized/memory-manager.md
  src/amplihack/.claude/agents/amplihack/specialized/memory-manager.md
  src/amplihack/amplifier-bundle/agents/specialized/memory-manager.md
  tests/test_memory_manager_removed.py
Due: none

fix: Correct condition syntax in default-workflow recipe
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: Correct condition syntax in auto-workflow recipe
  amplifier-bundle/recipes/auto-workflow.yaml
Due: none

fix: Skip Claude Code plugin installation for amplifier command (Issue #6c57f713) (#2059)
  src/amplihack/cli.py
  tests/unit/test_cli_amplifier_uvx.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct condition syntax in workflow recipes (#2061)
  amplifier-bundle/recipes/auto-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

feat: Add SessionEnd hook to warn about uncommitted work on exit
  .claude/settings.json
  .claude/tools/amplihack/hooks/session_end.py
  .claude/tools/amplihack/hooks/tests/test_session_end.py
Due: sync-hooks-validation, check-dependencies

feat: Add SessionEnd hook to warn about uncommitted work on exit (#2063)
  .claude/settings.json
  .claude/tools/amplihack/hooks/session_end.py
  .claude/tools/amplihack/hooks/tests/test_session_end.py
Due: sync-hooks-validation, check-dependencies

chore: Remove redundant memory-manager agent specification (#2064)
  .claude/agents/amplihack/specialized/memory-manager.md
  .claude/skills/agent-performance/SKILL.md
  README.md
  amplifier-bundle/agents/specialized/memory-manager.md
  amplifier-bundle/bundle.md
  docs/claude/agents/amplihack/specialized/memory-manager.md
  src/amplihack/.claude/agents/amplihack/specialized/memory-manager.md
  src/amplihack/amplifier-bundle/agents/specialized/memory-manager.md
  tests/test_memory_manager_removed.py
Due: none

fix: Change extraKnownMarketplaces from dict to list (#2065)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add Socratic code review mode for dialogue-based reviews (#2032)
  .claude/agents/amplihack/core/reviewer.md
  .claude/agents/amplihack/specialized/socratic-reviewer.md
  .claude/skills/socratic-review/SKILL.md
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

test: Add gadugi test scenario for socratic-reviewer agent
  .claude/tests/agentic/socratic-reviewer/socratic-review-basic-test.yaml
Due: none

feat: Add feedback loop mechanism to Socratic review
  .claude/agents/amplihack/specialized/socratic-reviewer.md
  .claude/skills/socratic-review/SKILL.md
Due: none

fix: Auto-detect non-interactive context to avoid wasted INCONCLUSIVE exits
  .claude/agents/amplihack/specialized/socratic-reviewer.md
  .claude/skills/socratic-review/SKILL.md
Due: none

fix: Exit with INCONCLUSIVE instead of fake handoff to traditional review
  .claude/agents/amplihack/specialized/socratic-reviewer.md
  .claude/context/PROJECT.md
  .claude/skills/socratic-review/SKILL.md
Due: none

chore: Remove agent-performance skill from codebase
  .claude/skills/agent-performance/README.md
  .claude/skills/agent-performance/SKILL.md
  amplifier-bundle/skills/agent-performance/README.md
  amplifier-bundle/skills/agent-performance/SKILL.md
  src/amplihack/.claude/skills/agent-performance/README.md
  src/amplihack/.claude/skills/agent-performance/SKILL.md
  src/amplihack/amplifier-bundle/skills/agent-performance/README.md
  src/amplihack/amplifier-bundle/skills/agent-performance/SKILL.md
  tests/test_memory_manager_removed.py
Due: none

chore: Remove agent-performance skill from codebase (#2068)
  .claude/skills/agent-performance/README.md
  .claude/skills/agent-performance/SKILL.md
  amplifier-bundle/skills/agent-performance/README.md
  amplifier-bundle/skills/agent-performance/SKILL.md
  src/amplihack/.claude/skills/agent-performance/README.md
  src/amplihack/.claude/skills/agent-performance/SKILL.md
  src/amplihack/amplifier-bundle/skills/agent-performance/README.md
  src/amplihack/amplifier-bundle/skills/agent-performance/SKILL.md
  tests/test_memory_manager_removed.py
Due: none

feat: Add Socratic code review mode for dialogue-based reviews (#2038)
  .claude/agents/amplihack/core/reviewer.md
  .claude/agents/amplihack/specialized/socratic-reviewer.md
  .claude/context/PROJECT.md
  .claude/skills/socratic-review/SKILL.md
  .claude/tests/agentic/socratic-reviewer/socratic-review-basic-test.yaml
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

fix: Change extraKnownMarketplaces from dict to list (#2065) (#2066)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Enhance power-steering compaction handling with robust validation
  .claude/tools/amplihack/HOW_TO_CUSTOMIZE_POWER_STEERING.md
  .claude/tools/amplihack/hooks/compaction_validator.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/COMPACTION_TEST_SUMMARY.md
  .claude/tools/amplihack/hooks/tests/IMPLEMENTATION_GUIDE.md
  .claude/tools/amplihack/hooks/tests/RUN_COMPACTION_TESTS.sh
  .claude/tools/amplihack/hooks/tests/test_compaction_validator.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_compaction.py
  .claude/tools/amplihack/hooks/workflow_tracker.py
  LOCAL_TEST_RESULTS.md
  docs/index.md
  docs/power_steering_compaction_api.md
  docs/power_steering_compaction_overview.md
Due: check-dependencies

docs: Remove placeholder markers from compaction documentation
  docs/power_steering_compaction_api.md
  docs/power_steering_compaction_overview.md
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
