Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: Memory retrieval compatible with old/new amplihack-memory-lib
  .claude/context/PROJECT.md
  .claude/skills/multitask/orchestrator.py
  recipe_context.json
  run_one_workstream.sh
  run_recipe_subprocess.sh
  src/amplihack/agents/goal_seeking/memory_retrieval.py
  uv.lock
  workstreams_config.json
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Use ExperienceStore for search/stats (MemoryConnector lacks these)
  src/amplihack/agents/goal_seeking/memory_retrieval.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): Fix 5 critical recipe runner bugs for reliable execution
  STEP_13_TEST_RESULTS.md
  amplifier-bundle/recipes/qa-workflow.yaml
  docs/howto/recipe-cli-commands.md
  docs/recipes/README.md
  docs/recipes/quick-reference.md
  src/amplihack/cli.py
  src/amplihack/recipe_cli/recipe_command.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/recipes/test_recipe_runner_bug_fixes.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): Fix 5 critical recipe runner bugs (#2347)
  STEP_13_TEST_RESULTS.md
  amplifier-bundle/recipes/qa-workflow.yaml
  docs/howto/recipe-cli-commands.md
  docs/recipes/README.md
  docs/recipes/quick-reference.md
  pyproject.toml
  src/amplihack/cli.py
  src/amplihack/recipe_cli/recipe_command.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/recipes/test_recipe_runner_bug_fixes.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove hard timeouts from recipe adapters, add output monitoring
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/adapters/nested_session.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(hooks): Add automatic migration for legacy hook paths in settings.json (#2344)
  src/amplihack/settings.py
  tests/agentic/test-hook-migration.yaml
  tests/test_settings_migration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: improve settings.json configuration with validation and auto-approval
  src/amplihack/settings.py
  tests/unit/test_validate_hook_paths.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add how-to guide for settings hook configuration
  docs/howto/settings-hook-configuration.md
Due: none

docs: link settings hook configuration guide from README
  README.md
Due: none

feat: Add pre-push hook to block direct pushes to main
  .claude/tools/amplihack/hooks/prevent_direct_main_push.sh
Due: none

feat: Add pre-push hook to block direct pushes to main (#2354)
  .claude/tools/amplihack/hooks/prevent_direct_main_push.sh
Due: none

feat: improve settings.json configuration with validation and auto-approval (#2352)
  README.md
  docs/howto/settings-hook-configuration.md
  pyproject.toml
  src/amplihack/settings.py
  tests/unit/test_validate_hook_paths.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add mandatory session-start workflow classification to index
  docs/index.md
Due: none

chore: Final cleanup - remove point-in-time analysis and test result documentation
  ARCHITECTURE_SUMMARY.md
  CRITICAL_FIXES_SUMMARY.md
  PHILOSOPHY_COMPLIANCE_EXECUTIVE.txt
  PHILOSOPHY_REVIEW.md
  REVIEWER_FIXES_IMPLEMENTATION.md
  STEP_13_LOCAL_TEST_RESULTS.md
  TESTS_COMPLETE.md
  tests/workflows/README.md
  tests/workflows/TDD_STATUS.md
  tests/workflows/TEST_SUMMARY.md
Due: none

feat: Implement mandatory workflow classification at session start with Recipe Runner
  ARCHITECTURE_SUMMARY.md
  CRITICAL_FIXES_SUMMARY.md
  PHILOSOPHY_COMPLIANCE_EXECUTIVE.txt
  PHILOSOPHY_REVIEW.md
  REVIEWER_FIXES_IMPLEMENTATION.md
  STEP_13_LOCAL_TEST_RESULTS.md
  TESTS_COMPLETE.md
  src/amplihack/workflows/__init__.py
  src/amplihack/workflows/classifier.py
  src/amplihack/workflows/execution_tier_cascade.py
  src/amplihack/workflows/session_start.py
  src/amplihack/workflows/session_start_skill.py
  tests/workflows/README.md
  tests/workflows/TDD_STATUS.md
  tests/workflows/TEST_SUMMARY.md
  tests/workflows/__init__.py
  tests/workflows/conftest.py
  tests/workflows/run_tests.sh
  tests/workflows/test_classifier.py
  tests/workflows/test_e2e_acceptance_criteria.py
  tests/workflows/test_execution_tier_cascade.py
  tests/workflows/test_performance.py
  tests/workflows/test_regression.py
  tests/workflows/test_session_start_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add session summary documenting workflow completion
  SESSION_SUMMARY.md
Due: none

fix: Fix all test failures, remove root pollution, add tutorial
  SESSION_SUMMARY.md
  STEP_13_TEST_RESULTS.md
  docs/tutorials/session-start-workflow-classification.md
  tests/workflows/test_e2e_acceptance_criteria.py
  tests/workflows/test_execution_tier_cascade.py
  tests/workflows/test_regression.py
  tests/workflows/test_session_start_integration.py
  uv.lock
Due: none

feat: Add slash commands for all recipes with hybrid workflow and aliases
  .claude/commands/amplihack/consensus.md
  .claude/commands/amplihack/default-workflow.md
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/guide.md
  .claude/commands/amplihack/hybrid.md
  .claude/commands/amplihack/investigation.md
  .claude/commands/amplihack/qa.md
  .claude/commands/amplihack/run.md
  .claude/commands/amplihack/verification.md
Due: amplihack-sync-commands

feat: Add agent learning evaluation harness with L1-L4 testing (#2359)
  TEST_RESULTS.md
  docs/howto/agent-learning-eval-harness.md
  examples/sample_news.json
  src/amplihack/eval/__init__.py
  src/amplihack/eval/agent_subprocess.py
  src/amplihack/eval/grader.py
  src/amplihack/eval/harness_runner.py
  src/amplihack/eval/multi_source_collector.py
  src/amplihack/eval/quiz_generator.py
  tests/eval/__init__.py
  tests/eval/test_grader.py
  tests/eval/test_harness_runner.py
  tests/eval/test_multi_source_collector.py
  tests/eval/test_quiz_generator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Agent learning evaluation harness with L1-L4 testing (#2359) (#2363)
  TEST_RESULTS.md
  docs/howto/agent-learning-eval-harness.md
  examples/sample_news.json
  src/amplihack/eval/__init__.py
  src/amplihack/eval/agent_subprocess.py
  src/amplihack/eval/grader.py
  src/amplihack/eval/harness_runner.py
  src/amplihack/eval/multi_source_collector.py
  src/amplihack/eval/quiz_generator.py
  tests/eval/__init__.py
  tests/eval/test_grader.py
  tests/eval/test_harness_runner.py
  tests/eval/test_multi_source_collector.py
  tests/eval/test_quiz_generator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address review feedback - add tests and fix Python 3.10 compat
  tests/launcher/test_copilot.py
Due: none

feat: Integrate awesome-copilot as complementary extension (#2362)
  .claude/agents/amplihack/specialized/iac-planner.md
  .claude/agents/amplihack/specialized/mcp-server-builder.md
  .claude/agents/amplihack/specialized/openapi-scaffolder.md
  .claude/skills/awesome-copilot-sync/SKILL.md
  .claude/skills/awesome-copilot-sync/check_drift.py
  llms.txt
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address power-steering feedback - move llms.txt, add docs
  docs/howto/awesome-copilot-integration.md
  docs/llms.txt
Due: none
