Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: reduce redundant shard query fanout
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/memory_retrieval.py
  tests/agents/goal_seeking/test_learning_agent.py
  tests/agents/goal_seeking/test_memory_retrieval.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Windows native compatibility — guard Unix-only imports, syscalls, and permissions
  build_hooks.py
  src/amplihack/bundle_generator/filesystem_packager.py
  src/amplihack/bundle_generator/repackage_generator.py
  src/amplihack/docker/manager.py
  src/amplihack/eval/long_horizon_memory.py
  src/amplihack/eval/long_horizon_multi_seed.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/goal_agent_generator/packager.py
  src/amplihack/launcher/auto_mode_ui.py
  src/amplihack/launcher/copilot.py
  src/amplihack/memory/kuzu/indexing/dependency_installer.py
  src/amplihack/rust_trial.py
  src/amplihack/vendor/blarify/cli/commands/create.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/eclipse_jdtls/eclipse_jdtls.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/intelephense/intelephense.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/omnisharp/omnisharp.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/rust_analyzer/rust_analyzer.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/solargraph/solargraph.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/typescript_language_server/typescript_language_server.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Windows Phase 2-3 — file locking, fleet guard, test skips, docs
  .claude/tools/amplihack/hooks/file_lock_utils.py
  README.md
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/recipes/tests/test_branch_name_sanitization.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Windows ARM64 kuzu support via x86_64 Python fallback (#3133)
  .claude/skills/dev-orchestrator/SKILL.md
  src/amplihack/cli.py
  src/amplihack/launcher/platform_check.py
  src/amplihack/memory_auto_install.py
  tests/gadugi/test_windows_platform.yaml
  tests/integration/test_cli_platform.py
  tests/unit/test_platform_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Windows native compatibility — Phases 1-3 (#3127)
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/file_lock_utils.py
  README.md
  build_hooks.py
  src/amplihack/bundle_generator/filesystem_packager.py
  src/amplihack/bundle_generator/repackage_generator.py
  src/amplihack/cli.py
  src/amplihack/docker/manager.py
  src/amplihack/eval/long_horizon_memory.py
  src/amplihack/eval/long_horizon_multi_seed.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/goal_agent_generator/packager.py
  src/amplihack/launcher/auto_mode_ui.py
  src/amplihack/launcher/copilot.py
  src/amplihack/launcher/platform_check.py
  src/amplihack/memory/kuzu/indexing/dependency_installer.py
  src/amplihack/memory_auto_install.py
  src/amplihack/recipes/tests/test_branch_name_sanitization.py
  src/amplihack/rust_trial.py
  src/amplihack/vendor/blarify/cli/commands/create.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/eclipse_jdtls/eclipse_jdtls.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/intelephense/intelephense.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/omnisharp/omnisharp.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/rust_analyzer/rust_analyzer.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/solargraph/solargraph.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/typescript_language_server/typescript_language_server.py
  tests/gadugi/test_windows_platform.yaml
  tests/integration/test_cli_platform.py
  tests/unit/test_platform_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(runner): auto-normalise {{var}} quoting in recipe commands (#3140)
  docs/RECIPE_VARIABLE_EXPANSION.md
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: drop CWD-traversal auto-discovery from resolve_bundle_asset (#3141)
  src/amplihack/resolve_bundle_asset.py
  tests/test_resolve_bundle_asset.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(workflows): add GhAwCompiler frontend — fix YAML on boolean coercion, line:col, typo escalation, fuzzy suggestions (#3144)
  src/amplihack/workflows/__init__.py
  src/amplihack/workflows/gh_aw_compiler.py
  tests/unit/workflows/__init__.py
  tests/unit/workflows/test_gh_aw_compiler.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add pre-commit guard against CI-incompatible MCP servers in .mcp.json (#3143)
  .claude/skills/gh-aw-adoption/reference.md
  .pre-commit-config.yaml
  scripts/pre-commit/check_mcp_config.py
Due: check-imports, check-dependencies

fix: unify distributed cognitive memory contracts (#3175)
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/main.bicep
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_partition_routing.py
  docs/concepts/unified-distributed-cognitive-memory.md
  docs/index.md
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_memory.py
  src/amplihack/agents/goal_seeking/input_source.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/memory_retrieval.py
  tests/agents/goal_seeking/test_goal_seeking_agent.py
  tests/agents/goal_seeking/test_learning_agent.py
  tests/agents/goal_seeking/test_memory_retrieval.py
  tests/hive_mind/test_dht_shard_cross_query.py
  tests/hive_mind/test_distributed_memory_cluster_api.py
  tests/hive_mind/test_distributed_query_contracts.py
  tests/test_distributed_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix external orchestrator runtime resolution
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/cli.py
  src/amplihack/launcher/copilot.py
  src/amplihack/runtime_assets.py
  tests/integration/test_cli_unified_staging.py
  tests/test_copilot_workflow_context.py
  tests/unit/test_runtime_assets.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix external orchestrator runtime resolution (#3179)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/cli.py
  src/amplihack/launcher/copilot.py
  src/amplihack/runtime_assets.py
  tests/integration/test_cli_unified_staging.py
  tests/test_copilot_workflow_context.py
  tests/unit/test_runtime_assets.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: force store path for learning events
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_partition_routing.py
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
  tests/agents/goal_seeking/test_goal_seeking_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: best-effort shard collection prevents cascade answer failures
  plan.md
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  tests/hive_mind/test_distributed_query_contracts.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

wip: checkpoint after implementation (steps 7-8)
  .claude/skills/code-atlas/README.md
  .claude/skills/code-atlas/SECURITY.md
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/code-atlas/tests/run_all_tests.sh
  .claude/skills/code-atlas/tests/test_atlas_output_structure.sh
  .claude/skills/code-atlas/tests/test_bug_hunt_workflow.sh
  .claude/skills/code-atlas/tests/test_ci_workflow.sh
  .claude/skills/code-atlas/tests/test_layer_contracts.sh
  .claude/skills/code-atlas/tests/test_publication_workflow.sh
  .claude/skills/code-atlas/tests/test_rebuild_script.sh
  .claude/skills/code-atlas/tests/test_scenarios.md
  .claude/skills/code-atlas/tests/test_security_controls.md
  .claude/skills/code-atlas/tests/test_security_controls.sh
  .claude/skills/code-atlas/tests/test_staleness_triggers.sh
  .github/workflows/atlas-ci.yml
  docs/SESSION_SUMMARY.md
  docs/howto/add-custom-journeys.md
  docs/howto/configure-staleness-triggers.md
  docs/howto/publish-atlas-to-github-pages.md
  docs/howto/use-code-atlas.md
  docs/index.md
  docs/reference/atlas-layers-explained.md
  docs/reference/code-atlas-reference.md
  docs/tutorials/code-atlas-getting-started.md
  scripts/check-atlas-staleness.sh
  scripts/github-api-adapter.sh
  scripts/rebuild-atlas-all.sh
  scripts/render-atlas-svg.sh
  scripts/safe_read.sh
  scripts/validate_atlas_output.sh
Due: none

refactor(code-atlas): fix test-implementation mismatches and remove transient doc
  .claude/skills/code-atlas/tests/run_all_tests.sh
  .claude/skills/code-atlas/tests/test_publication_workflow.sh
  .claude/skills/code-atlas/tests/test_rebuild_script.sh
  .claude/skills/code-atlas/tests/test_security_controls.sh
  docs/SESSION_SUMMARY.md
  scripts/check-atlas-staleness.sh
  scripts/rebuild-atlas-all.sh
Due: none

wip: checkpoint after review feedback (steps 10-11)
  .claude/skills/code-atlas/API-CONTRACTS.md
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/code-atlas/tests/run_all_tests.sh
  .claude/skills/code-atlas/tests/test_publication_workflow.sh
  .claude/skills/code-atlas/tests/test_rebuild_script.sh
  .claude/skills/code-atlas/tests/test_security_controls.sh
  .github/workflows/atlas-ci.yml
  scripts/check-atlas-staleness.sh
  scripts/rebuild-atlas-all.sh
  scripts/render-atlas-svg.sh
  scripts/safe_read.sh
  scripts/validate_atlas_output.sh
Due: none

fix(code-atlas): add detect-secrets pragmas for test fixture credentials
  .claude/skills/code-atlas/tests/test_layer_contracts.sh
  .claude/skills/code-atlas/tests/test_rebuild_script.sh
  .claude/skills/code-atlas/tests/test_security_controls.sh
Due: none

fix: skip cross-shard aggregation to prevent O(N^2) deadlock storms
  src/amplihack/agents/goal_seeking/hive_mind/distributed_memory.py
  tests/hive_mind/test_distributed_memory_cluster_api.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(skills): add code-atlas skill for graph-based architecture auditing
  .claude/context/PROJECT.md
  .claude/skills/code-atlas/SKILL.md
  scripts/add_logging.py
  src/amplihack/utils/logging_utils.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: gate feed on agent online
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_remote_agent_adapter.py
  src/amplihack/agents/goal_seeking/input_source.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: repair bash syntax errors in test_layer_contracts.sh
  .claude/skills/code-atlas/tests/test_layer_contracts.sh
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
