Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

feat(fleet): --confirm is now default for advance, --force flag to skip
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/tests/test_fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(fleet): bastion tunnel reuse via get_existing_tunnels()
  src/amplihack/fleet/_defaults.py
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(fleet): PR URL detection via gh pr list on remote VM
  src/amplihack/fleet/_session_gather.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(fleet): wire fleet_health.py into SessionContext for reasoning
  src/amplihack/fleet/_session_context.py
  src/amplihack/fleet/_session_gather.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: update all fleet docs for 11 improvements
  .claude/skills/fleet/SKILL.md
  docs/fleet-orchestration/ADMIRAL_REASONING.md
  docs/fleet-orchestration/ARCHITECTURE.md
  docs/fleet-orchestration/TUTORIAL.md
Due: none

fix: accept network_graph.search_query event type in agent handler
  deploy/azure_hive/agent_entrypoint.py
Due: check-imports, check-dependencies

fix: wire NetworkGraphStore.recall_fn to CognitiveAdapter to fix dual-storage path
  experiments/hive_mind/validate_recall_fn.py
  src/amplihack/memory/facade.py
  src/amplihack/memory/network_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor(fleet): extract scout/advance to _cli_scout_advance.py, all CLI modules under 400 LOC
  .claude/skills/fleet/SKILL.md
  src/amplihack/fleet/_cli_commands.py
  src/amplihack/fleet/_cli_scout_advance.py
  src/amplihack/fleet/_cli_session_ops.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: search_query messages now reach agents via recall_fn and OODA buffering
  src/amplihack/memory/network_store.py
  src/amplihack/memory/tests/test_network_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Update documentation for power_steering_checker refactoring and Copilot CLI support
  docs/COPILOT_CLI.md
  docs/features/power-steering/README.md
  docs/reference/power-steering-checker-api.md
Due: none

fix: publish network_graph.search_response (not QUERY_RESPONSE) so query_hive receives results
  src/amplihack/memory/network_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use security analyst content in feed_content.py, handle QUERY_RESPONSE in agent_entrypoint
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/feed_content.py
Due: check-imports, check-dependencies

fix: auto-create Kuzu table and handle missing table in NetworkGraphStore
  experiments/hive_mind/query_hive.py
  src/amplihack/memory/network_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: tokenize query in KuzuGraphStore.search_nodes for keyword matching
  src/amplihack/memory/kuzu_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

improve query_hive: LLM grading and retry logic for 0-result queries
  experiments/hive_mind/eval_security_results_final.json
  experiments/hive_mind/eval_security_results_v2.json
  experiments/hive_mind/eval_security_results_v3.json
  experiments/hive_mind/eval_security_results_v4.json
  experiments/hive_mind/eval_security_results_v5.json
  experiments/hive_mind/eval_security_results_v6.json
  experiments/hive_mind/query_hive.py
Due: check-imports, check-dependencies

fix: improve hive recall from 51.2% to >=83.9% via n-gram + substring matching
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
  src/amplihack/memory/network_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add keyword/entity fallback grader and expand result window in query_hive
  experiments/hive_mind/query_hive.py
Due: check-imports, check-dependencies

feat: wire LearningAgent.answer_question into distributed Q&A pipeline
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/eval_500_turns.py
  deploy/azure_hive/eval_500_turns_report.json
  deploy/azure_hive/tests/test_agent_entrypoint.py
Due: check-imports, check-dependencies

fix: dev-orchestrator uses tmux for recipe execution, not run_in_background
  .claude/skills/dev-orchestrator/SKILL.md
Due: none

docs: update presentation slides 16 & 19 with final eval results
  docs/hive_mind_presentation.md
Due: none

fix: unset CLAUDECODE in SDK adapter, auto-install tmux in install script
  .claude/tools/amplihack/install.sh
  docs/fleet-orchestration/TUTORIAL.md
  src/amplihack/recipes/adapters/claude_sdk.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: recipe runner nesting — unset CLAUDECODE, tmux execution, auto-install tmux
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/tools/amplihack/install.sh
  src/amplihack/recipes/adapters/claude_sdk.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: recipe runner nesting — unset CLAUDECODE, tmux execution, auto-install tmux (#2912)
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/tools/amplihack/install.sh
  pyproject.toml
  src/amplihack/recipes/adapters/claude_sdk.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(hive-mind): add messaging transport investigation findings
  deploy/azure_hive/cleanup_volumes.sh
  deploy/azure_hive/eval_5000_turns.py
  deploy/azure_hive/eval_5000_turns_report.json
  deploy/azure_hive/main.bicep
  docs/hive_mind/MESSAGING_TRANSPORT_INVESTIGATION.md
Due: check-imports, check-dependencies

fix: add OPERATIONS session type to prevent power-steering false positives on PM sessions (#2913)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_operations_sessions.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_power_steering_operations_sessions.py
Due: check-imports, check-dependencies

fix: power-steering incorrectly blocks Q&A/PM sessions with dev checks (#2914)
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
Due: check-imports, check-dependencies

feat: add --repeats flag to query_hive.py with median and stddev reporting
  experiments/hive_mind/query_hive.py
Due: check-imports, check-dependencies

docs: update slide 16 with 3-repeat results (86.5% median, 10.1% stddev)
  docs/hive_mind_presentation.md
Due: none
