Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: Convert memory backends to async/await (#2185)
  src/amplihack/memory/backends/__init__.py
  src/amplihack/memory/backends/base.py
  src/amplihack/memory/backends/kuzu_backend.py
  src/amplihack/memory/backends/sqlite_backend.py
  src/amplihack/memory/cli_cleanup.py
  src/amplihack/memory/cli_visualize.py
  src/amplihack/memory/coordinator.py
  src/amplihack/memory/evaluation/performance_evaluator.py
  src/amplihack/memory/evaluation/reliability_evaluator.py
  tests/memory/test_backends.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Recipe condition syntax and amplifier update command (#2180)
  .claude/context/PATTERNS.md
  amplifier-bundle/bundle.md
  amplifier-bundle/recipes/auto-workflow.yaml
  amplifier-bundle/recipes/cascade-workflow.yaml
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/debate-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/n-version-workflow.yaml
  amplifier-bundle/recipes/qa-workflow.yaml
  src/amplihack/launcher/amplifier.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add amplifier-bundle-stories as dependency
  amplifier-bundle/bundle.md
  src/amplihack/amplifier-bundle/bundle.md
Due: none

feat: Add amplifier-bundle-stories as dependency (#2182)
  amplifier-bundle/bundle.md
  src/amplihack/amplifier-bundle/bundle.md
Due: none

security: Update requests package to fix CVE-2023-32681 and CVE-2024-35195
  pyproject.toml
Due: none

cleanup: Remove 28 backup directories consuming 430MB
  .gitignore
Due: none

feat: Add auto-update check for GitHub Copilot CLI on launch
  src/amplihack/launcher/copilot.py
  tests/launcher/__init__.py
  tests/launcher/test_copilot.py
  tests/launcher/test_copilot_auto_update.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove unused imports from copilot launcher
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add design documentation for copilot auto-update feature
  docs/features/COPILOT_AUTO_UPDATE_DESIGN.md
Due: none

docs: Document auto-update feature in README
  README.md
Due: none

fix: Add file locking to prevent power-steering counter race condition (#2169)
  .claude/tools/amplihack/hooks/file_lock_utils.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/TEST_FILE_LOCKING_README.md
  .claude/tools/amplihack/hooks/tests/test_file_locking.py
  docs/index.md
  docs/reference/power-steering-file-locking.md
  uv.lock
Due: check-dependencies

feat: Add session_id to Kuzu memory schemas for session isolation (#2184)
  src/amplihack/memory/kuzu/code_graph.py
  tests/memory/backends/test_kuzu_code_schema.py
  tests/memory/backends/test_kuzu_session_isolation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

Add blarify indexing enhancements infrastructure (#2186)
  REVIEW_FIXES_SUMMARY.md
  src/amplihack/memory/kuzu/indexing/__init__.py
  src/amplihack/memory/kuzu/indexing/background_indexer.py
  src/amplihack/memory/kuzu/indexing/error_handler.py
  src/amplihack/memory/kuzu/indexing/orchestrator.py
  src/amplihack/memory/kuzu/indexing/prerequisite_checker.py
  src/amplihack/memory/kuzu/indexing/progress_tracker.py
  tests/memory/kuzu/indexing/README.md
  tests/memory/kuzu/indexing/TEST_SUMMARY.md
  tests/memory/kuzu/indexing/__init__.py
  tests/memory/kuzu/indexing/run_tests.sh
  tests/memory/kuzu/indexing/test_background_indexer.py
  tests/memory/kuzu/indexing/test_blarify_integration.py
  tests/memory/kuzu/indexing/test_error_handler.py
  tests/memory/kuzu/indexing/test_orchestrator.py
  tests/memory/kuzu/indexing/test_prerequisite_checker.py
  tests/memory/kuzu/indexing/test_progress_tracker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

Fix attribute names and None check in launcher integration
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix IndexingResult attribute names (files_indexed -> total_files) and add None check for language_statuses
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Support dotnet 10.x - it's a production release
  src/amplihack/memory/kuzu/indexing/prerequisite_checker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

feat(skill): add comprehensive .NET Aspire orchestration skill (#2197)
  .claude/skills/aspire/SKILL.md
  .claude/skills/aspire/examples.md
  .claude/skills/aspire/patterns.md
  .claude/skills/aspire/reference.md
  .claude/skills/aspire/troubleshooting.md
  ASPIRE_SKILL_TEST_SUMMARY.md
  tests/skills/README.md
  tests/skills/TEST_RESULTS.md
  tests/skills/__init__.py
  tests/skills/test_aspire_skill.py
Due: none

chore: remove transient test summary file
  ASPIRE_SKILL_TEST_SUMMARY.md
Due: none

Add dotnet 9 and 10 support to blarify multilspy vendor code
  src/amplihack/vendor/blarify/vendor/multilspy/multilspy_utils.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: emphasize polyglot support in Aspire skill
  .claude/skills/aspire/SKILL.md
Due: none

security: Update requests package to fix CVE-2023-32681 and CVE-2024-35195 (#2192)
  pyproject.toml
Due: none
