Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: Add auto-update check for GitHub Copilot CLI on launch (#2194)
  README.md
  src/amplihack/launcher/copilot.py
  tests/launcher/__init__.py
  tests/launcher/test_copilot.py
  tests/launcher/test_copilot_auto_update.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add graceful degradation for Python indexing (#2186)
  src/amplihack/memory/kuzu/indexing/prerequisite_checker.py
  tests/memory/kuzu/indexing/test_prerequisite_checker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

Address code review feedback for graceful degradation
  src/amplihack/memory/kuzu/indexing/prerequisite_checker.py
  tests/memory/kuzu/indexing/test_prerequisite_checker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

feat: Add comprehensive GitHub Copilot CLI skill (#2130)
  .claude/skills/github-copilot-cli/SKILL.md
  .claude/skills/github-copilot-cli/examples.md
  .claude/skills/github-copilot-cli/reference.md
Due: none

feat: Auto-install missing blarify dependencies at CLI startup (#2186)
  src/amplihack/cli.py
  src/amplihack/memory/kuzu/indexing/dependency_installer.py
  tests/memory/kuzu/indexing/test_dependency_installer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix prerequisite bugs: copilot PermissionError and InstallationResult TypeError
  docs/reference/prerequisite-checking.md
  src/amplihack/launcher/copilot.py
  src/amplihack/utils/prerequisites.py
  tests/launcher/test_copilot.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix scip-python installation to use npm instead of pip
  src/amplihack/memory/kuzu/indexing/dependency_installer.py
  tests/memory/kuzu/indexing/test_dependency_installer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

Fix prerequisite bugs: copilot PermissionError and InstallationResult TypeError (#2211)
  docs/reference/prerequisite-checking.md
  src/amplihack/launcher/copilot.py
  src/amplihack/utils/prerequisites.py
  tests/launcher/test_copilot.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add scip-typescript auto-installation for TypeScript/JavaScript indexing
  src/amplihack/memory/kuzu/indexing/dependency_installer.py
  tests/memory/kuzu/indexing/test_dependency_installer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

Add UX improvements: progress indicators, time estimates, and elapsed time display
  src/amplihack/launcher/core.py
  src/amplihack/launcher/json_logger.py
  src/amplihack/utils/prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Increase Node.js heap size for scip-python/scip-typescript to handle large codebases
  src/amplihack/vendor/blarify/code_references/scip_helper.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove debug guard blocking plugin installation on fresh WSL systems
  LOCAL_TEST_PLAN.md
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add actual test results from outside-in testing via uvx
  ACTUAL_TEST_RESULTS.md
Due: none

fix: Remove debug guard blocking plugin installation (Issue #2212) (#2213)
  ACTUAL_TEST_RESULTS.md
  LOCAL_TEST_PLAN.md
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Copy plugin directories to package root for Claude Code discovery in UVX
  build_hooks.py
  docs/build_system/plugin-directory-structure-fix.md
  docs/index.md
Due: check-dependencies

fix: Add path validation and update documentation per review feedback
  build_hooks.py
  docs/build_system/plugin-directory-structure-fix.md
Due: check-dependencies

fix: Add commands/skills/agents to package-data for wheel inclusion
  pyproject.toml
Due: none

fix: Always use --plugin-dir for plugin discovery (remove conditional logic)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Create symlinks at repo root and remove invalid path field from marketplace.json
  agents
  commands
  marketplace.json
  skills
Due: none

fix: Update outside-in-testing skill for @gadugi/agentic-test NPM package
  .claude/skills/outside-in-testing/README.md
  .claude/skills/outside-in-testing/SKILL.md
Due: none

fix: Complete CLI naming migration in outside-in-testing skill
  .claude/skills/outside-in-testing/README.md
  .claude/skills/outside-in-testing/SKILL.md
  .claude/skills/outside-in-testing/examples/cli/calculator-basic.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-error-handling.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-interactive-session.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-comprehension-agent.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-reporter-integration.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-ipc-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-menu-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/multi-window-coordination.yaml
  .claude/skills/outside-in-testing/examples/electron/single-window-basic.yaml
  .claude/skills/outside-in-testing/examples/tui/file-manager-navigation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-form-validation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-performance-monitoring.yaml
  .claude/skills/outside-in-testing/examples/web/dashboard-smoke-test.yaml
  .claude/skills/outside-in-testing/examples/web/web-authentication-flow.yaml
  .claude/skills/outside-in-testing/examples/web/web-visual-regression.yaml
  .claude/skills/outside-in-testing/scripts/check-freshness.py
Due: check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
