Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: add skill_invocation power-steering check (from closed #2916) (#2926)
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  tests/outside_in/test_skill_invocation_check_e2e.py
Due: check-imports, check-dependencies

fix: add OPERATIONS session type for PM/planning sessions (#2914) (#2923)
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker/session_detection.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_operations_sessions.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/session_detection.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_power_steering_operations_sessions.py
  tests/outside_in/test_operations_session_e2e.py
Due: check-imports, check-dependencies

fix: add safety valve to stop hook lock mode (#2874) (#2924)
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_stop_hook_safety_valve.py
  amplifier-bundle/tools/amplihack/hooks/stop.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_stop_hook_safety_valve.py
  docs/claude/tools/amplihack/hooks/stop.py
  tests/outside_in/test_stop_hook_safety_valve_e2e.py
Due: check-imports, check-dependencies

fix: remove CLAUDECODE env var detection, centralize env stripping
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/reference.md
  .claude/skills/multitask/test_orchestrator.py
  docs/recipes/RECENT_FIXES_MARCH_2026.md
  docs/recipes/STREAMING_OUTPUT.md
  scripts/run_recipe_subprocess.sh
  src/amplihack/recipes/adapters/__init__.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/adapters/env.py
  src/amplihack/recipes/adapters/nested_session.py
  tests/recipes/test_nested_session_adapter.py
  tests/recipes/test_recipe_runner_parse_json.py
  tests/unit/recipes/test_cli_subprocess_temp_dir.py
  tests/unit/recipes/test_streaming_adapters.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: enforce review and outside-in testing steps in multitask workstreams (#2925)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/outside_in/test_multitask_mandatory_review_steps.py
Due: none

fix: use stdin for large payloads in recipe summarize step (#2921)
  amplifier-bundle/recipes/_recipe_manifest.json
  src/amplihack/recipes/adapters/cli_subprocess.py
  tests/outside_in/test_recipe_summarize_arg_max.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: enforce review and outside-in testing steps in multitask workstreams (#2925) (#2930)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/outside_in/test_multitask_mandatory_review_steps.py
Due: none

fix: use stdin for large payloads in recipe summarize step (#2921) (#2931)
  amplifier-bundle/recipes/_recipe_manifest.json
  src/amplihack/recipes/adapters/cli_subprocess.py
  tests/outside_in/test_recipe_summarize_arg_max.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add oxidizer-workflow recipe for Python-to-Rust migration
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/oxidizer-workflow.yaml
Due: none

fix: remove CLAUDECODE env var detection, centralize stripping (#2883)
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/reference.md
  .claude/skills/multitask/test_orchestrator.py
  docs/recipes/RECENT_FIXES_MARCH_2026.md
  docs/recipes/STREAMING_OUTPUT.md
  scripts/run_recipe_subprocess.sh
  src/amplihack/recipes/adapters/__init__.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/adapters/env.py
  src/amplihack/recipes/adapters/nested_session.py
  tests/recipes/test_nested_session_adapter.py
  tests/recipes/test_recipe_runner_parse_json.py
  tests/unit/recipes/test_cli_subprocess_temp_dir.py
  tests/unit/recipes/test_streaming_adapters.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

investigate: add recommendation doc and tests for dual status classifiers (#2898)
  docs/investigations/2898-status-classifiers.md
  tests/outside_in/test_status_classifiers_investigation.py
Due: none

feat: implement parallel VM polling with ThreadPoolExecutor (#2896)
  .claude/tools/amplihack/remote/orchestrator.py
  .claude/tools/amplihack/remote/vm_pool.py
  amplifier-bundle/tools/amplihack/remote/orchestrator.py
  amplifier-bundle/tools/amplihack/remote/vm_pool.py
  docs/claude/tools/amplihack/remote/orchestrator.py
  docs/claude/tools/amplihack/remote/vm_pool.py
  tests/outside_in/test_parallel_vm_polling.py
Due: check-imports, check-dependencies

feat: add allow-list for safe send_input patterns (#2903)
  src/amplihack/testing/__init__.py
  src/amplihack/testing/send_input_allowlist.py
  tests/outside_in/test_safe_send_input_allowlist.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add --port flag to azlin for bastion tunnel reuse (#2897)
  .claude/tools/amplihack/remote/cli.py
  .claude/tools/amplihack/remote/executor.py
  .claude/tools/amplihack/remote/orchestrator.py
  .claude/tools/amplihack/remote/session.py
  amplifier-bundle/tools/amplihack/remote/cli.py
  amplifier-bundle/tools/amplihack/remote/executor.py
  amplifier-bundle/tools/amplihack/remote/orchestrator.py
  amplifier-bundle/tools/amplihack/remote/session.py
  tests/outside_in/conftest.py
  tests/outside_in/test_bastion_tunnel_reuse.py
Due: check-imports, check-dependencies

Oxidizer v2.0: Zero-tolerance parity with quality + degradation audits
  amplifier-bundle/recipes/oxidizer-workflow.yaml
Due: none

fix(fleet): add __main__ support for python -m invocation
  .claude/context/PROJECT.md
  src/amplihack/fleet/__main__.py
  src/amplihack/fleet/fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: split fleet CLI - extract formatters module from session ops (#2900)
  src/amplihack/fleet/__init__.py
  src/amplihack/fleet/_cli_formatters.py
  src/amplihack/fleet/_cli_session_ops.py
  tests/outside_in/test_fleet_cli_session_ops.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use run-script file for tmux eval pipeline to fix quoting issues (#2922)
  .claude/tools/amplihack/remote/executor.py
  amplifier-bundle/tools/amplihack/remote/executor.py
  docs/claude/tools/amplihack/remote/executor.py
  tests/outside_in/test_eval_pipeline_tmux.py
Due: check-imports, check-dependencies

docs: note canonical location in hooks README
  .claude/tools/amplihack/hooks/README.md
Due: none

feat: add /top5 skill for pm-architect priority aggregation
  .claude/skills/top5/SKILL.md
  .claude/skills/top5/scripts/generate_top5.py
  .claude/skills/top5/scripts/tests/__init__.py
  .claude/skills/top5/scripts/tests/conftest.py
  .claude/skills/top5/scripts/tests/test_generate_top5.py
Due: check-dependencies

Fix deploy: single-region, clean deploys, no silent fallbacks
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/main.bicep
Due: check-imports, check-dependencies

fix(fleet): filter shared-NFS VMs from refresh_all to prevent duplicate sessions
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Rust recipe runner integration with transparent fallback
  .gitignore
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
