Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: change LearningAgent default model from gpt-3.5-turbo to claude-sonnet (#2550) (#2551)
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: periodic agent restart in eval harness to cap memory at 5GB (#2557)
  src/amplihack/eval/long_horizon_memory.py
  tests/eval/test_long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add flush_memory() to HierarchicalMemory for periodic cache flush (#2559)
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/long_horizon_memory.py
  tests/agents/goal_seeking/test_hierarchical_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add flush_memory() to HierarchicalMemory for periodic cache flush (#2560)
  pyproject.toml
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/long_horizon_memory.py
  tests/agents/goal_seeking/test_hierarchical_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: prevent power-steering infinite loop on all-checks-passed (#2548)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_issue_2548_all_pass_loop.py
Due: check-dependencies

fix: prevent power-steering infinite loop on all-checks-passed (#2548) (#2562)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_issue_2548_all_pass_loop.py
Due: check-dependencies

feat: periodic agent restart in eval harness to cap memory (#2557) (#2558)
  src/amplihack/eval/long_horizon_memory.py
  tests/eval/test_long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use args.flush_every not args.restart_every
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: move precommit_manager.py into proper skill directory (#2533)
  .claude/skills/pre-commit-manager/SKILL.md
  .claude/skills/pre-commit-manager/precommit_manager.py
  .claude/tools/amplihack/hooks/tests/test_precommit_end_to_end.py
  .claude/tools/amplihack/hooks/tests/test_precommit_security.py
  .claude/tools/amplihack/hooks/tests/test_precommit_skill_operations.py
Due: check-dependencies

fix: power-steering misclassifies PR review/merge as DEVELOPMENT (#2563)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_pr_review_classification.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_power_steering_pr_review_classification.py
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/hooks/tests/test_power_steering_pr_review_classification.py
Due: check-imports, check-dependencies

fix: power-steering misclassifies PR review/merge as DEVELOPMENT (#2564)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_pr_review_classification.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_power_steering_pr_review_classification.py
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/hooks/tests/test_power_steering_pr_review_classification.py
  pyproject.toml
Due: check-imports, check-dependencies

docs: add pre_tool_use.py to hooks README with protection descriptions
  .claude/tools/amplihack/hooks/README.md
  amplifier-bundle/tools/amplihack/hooks/README.md
Due: none

fix: prevent crash when renaming directory containing CWD (#2539)
  .claude/tools/amplihack/hooks/pre_tool_use.py
  .claude/tools/amplihack/hooks/tests/test_pre_tool_use_cwd_protection.py
  amplifier-bundle/tools/amplihack/hooks/pre_tool_use.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_pre_tool_use_cwd_protection.py
  docs/claude/tools/amplihack/hooks/pre_tool_use.py
  docs/claude/tools/amplihack/hooks/tests/test_pre_tool_use_cwd_protection.py
  tests/hooks/test_pre_tool_use_cwd_protection.py
Due: check-imports, check-dependencies

refactor: merge mv/rename tests into existing test_cwd_deletion_protection.py
  .claude/tools/amplihack/hooks/tests/test_cwd_deletion_protection.py
  .claude/tools/amplihack/hooks/tests/test_pre_tool_use_cwd_protection.py
Due: none

fix: prevent crash when renaming directory containing CWD (#2540)
  .claude/tools/amplihack/hooks/README.md
  .claude/tools/amplihack/hooks/pre_tool_use.py
  amplifier-bundle/tools/amplihack/hooks/README.md
  amplifier-bundle/tools/amplihack/hooks/pre_tool_use.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_pre_tool_use_cwd_protection.py
  docs/claude/tools/amplihack/hooks/pre_tool_use.py
  docs/claude/tools/amplihack/hooks/tests/test_pre_tool_use_cwd_protection.py
  pyproject.toml
  tests/hooks/test_pre_tool_use_cwd_protection.py
Due: check-imports, check-dependencies

refactor: split power_steering_state.py into focused modules (#2556)
  .claude/tools/amplihack/hooks/power_steering_constants.py
  .claude/tools/amplihack/hooks/power_steering_delta_analyzer.py
  .claude/tools/amplihack/hooks/power_steering_models.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/power_steering_state_io.py
  .claude/tools/amplihack/hooks/power_steering_state_manager.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_state_refactor.py
Due: check-dependencies

refactor: split power_steering_state.py into focused modules (#2556) (#2565)
  .claude/tools/amplihack/hooks/power_steering_constants.py
  .claude/tools/amplihack/hooks/power_steering_delta_analyzer.py
  .claude/tools/amplihack/hooks/power_steering_models.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/power_steering_state_io.py
  .claude/tools/amplihack/hooks/power_steering_state_manager.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_state_refactor.py
  pyproject.toml
Due: check-dependencies

feat: add explicit del + gc.collect to agent restart for memory freedom (#2566)
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add explicit del + gc.collect to agent restart (#2566) (#2568)
  pyproject.toml
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: prevent power-steering false-positive loop on completed bug fixes (#2561)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_issue_2561_false_positive_loop.py
Due: check-dependencies

fix: stop hook reports false failures when all checks pass (#2473)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_issue_2473_false_failures.py
Due: check-dependencies

fix: add --subprocess-safe flag to prevent staging race in multitask (#2567)
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/orchestrator.py
  src/amplihack/cli.py
  src/amplihack/install.py
  tests/integration/test_cli_unified_staging.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve pre-existing pyright errors in cli.py and install.py
  src/amplihack/cli.py
  src/amplihack/install.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: prevent power-steering false-positive loop on completed bug fixes (#2561) (#2569)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_issue_2561_false_positive_loop.py
  pyproject.toml
Due: check-dependencies

fix: stop hook false failures when all checks pass (#2473) (#2570)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_issue_2473_false_failures.py
Due: check-dependencies

fix: add --subprocess-safe flag to prevent staging race in multitask (#2567) (#2571)
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/orchestrator.py
  src/amplihack/cli.py
  src/amplihack/install.py
  tests/integration/test_cli_unified_staging.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: self-copy crash in --load-db + docs for --segment-size
  src/amplihack/eval/QUICK_START.md
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add --segment-size for subprocess-segmented learning phase (#2572)
  src/amplihack/eval/long_horizon_memory.py
  tests/eval/test_long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
