Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: README platform — Windows requires WSL, native not supported
  README.md
Due: none

fix: README platform — Windows requires WSL, native not supported (#2734)
  README.md
Due: none

docs: restructure README Feature Catalog with progressive disclosure
  README.md
Due: none

docs: restructure README Feature Catalog with progressive disclosure (#2735)
  README.md
Due: none

feat: smart context inference for recipe runner
  src/amplihack/recipe_cli/recipe_command.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: smart context inference for recipe runner (#2738)
  src/amplihack/recipe_cli/recipe_command.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: make recipe runner MANDATORY for /dev — close all escape hatches
  .claude/commands/amplihack/dev.md
  .claude/skills/dev-orchestrator/SKILL.md
Due: amplihack-sync-commands

fix: make recipe runner MANDATORY for /dev — close all bypass escape hatches (#2741)
  .claude/commands/amplihack/dev.md
  .claude/skills/dev-orchestrator/SKILL.md
  pyproject.toml
Due: amplihack-sync-commands

feat: PostToolUse hook-based workflow enforcement guard (#2742)
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/post_tool_use.py
  .claude/tools/amplihack/hooks/workflow_enforcement_hook.py
Due: check-dependencies

fix: add missing skill names + evidence patterns to workflow enforcement hook
  .claude/tools/amplihack/hooks/workflow_enforcement_hook.py
Due: check-dependencies

fix: detect /dev at UserPromptSubmit level for Copilot workflow enforcement
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

feat: distributed hive mind — 4 experiment implementations with 174 passing tests
  docs/hive_mind/ARCHITECTURE_RESEARCH.md
  experiments/hive_mind/__init__.py
  experiments/hive_mind/run_blackboard_eval.py
  experiments/hive_mind/run_event_sourced_eval.py
  experiments/hive_mind/run_gossip_eval.py
  experiments/hive_mind/run_hierarchical_eval.py
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/blackboard.py
  src/amplihack/agents/goal_seeking/hive_mind/event_sourced.py
  src/amplihack/agents/goal_seeking/hive_mind/gossip.py
  src/amplihack/agents/goal_seeking/hive_mind/hierarchical.py
  tests/hive_mind/__init__.py
  tests/hive_mind/test_blackboard.py
  tests/hive_mind/test_event_sourced.py
  tests/hive_mind/test_gossip.py
  tests/hive_mind/test_hierarchical.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

eval: distributed 14-agent eval with topic partitioning (1000 turns)
  experiments/hive_mind/run_distributed_eval.py
Due: check-imports, check-dependencies

feat: quality audit fixes + LearningAgent integration bridge
  docs/hive_mind/DESIGN.md
  experiments/hive_mind/run_integration_eval.py
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/_utils.py
  src/amplihack/agents/goal_seeking/hive_mind/blackboard.py
  src/amplihack/agents/goal_seeking/hive_mind/event_sourced.py
  src/amplihack/agents/goal_seeking/hive_mind/gossip.py
  src/amplihack/agents/goal_seeking/hive_mind/hierarchical.py
  src/amplihack/agents/goal_seeking/hive_mind/learning_agent_bridge.py
  src/amplihack/agents/goal_seeking/hive_mind/unified.py
  tests/hive_mind/test_learning_agent_bridge.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: gateway word-overlap filter reduces false contradictions
  src/amplihack/agents/goal_seeking/hive_mind/kuzu_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

eval: full 20-agent distributed eval — routing adds +23pp
  experiments/hive_mind/run_full_distributed_eval.py
Due: check-imports, check-dependencies

feat: HiveController + Bicep infrastructure
  infra/hive-mind.bicep
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/controller.py
  tests/hive_mind/test_controller.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Kuzu-backed hive mind v2 + event bus abstraction
  docs/hive_mind/GRAPH_OF_GRAPHS_DESIGN.md
  experiments/hive_mind/run_kuzu_hive_eval.py
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/event_bus.py
  src/amplihack/agents/goal_seeking/hive_mind/kuzu_hive.py
  tests/hive_mind/test_event_bus.py
  tests/hive_mind/test_kuzu_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: experiment 5 — unified hive mind combining all 4 approaches (94% overall)
  experiments/hive_mind/run_unified_eval.py
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/unified.py
  tests/hive_mind/test_unified.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: HiveGraph protocol + P2P Raft + federation (71 tests)
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/peer_hive.py
  tests/hive_mind/test_hive_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: distributed hive mind v3 + Azure deploy + graph-of-graphs design
  experiments/hive_mind/deploy_azure_hive.sh
  experiments/hive_mind/run_distributed_20agent_eval.py
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
  tests/hive_mind/test_distributed.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

eval: 20-agent hive mind eval with adversarial consensus blocking
  experiments/hive_mind/run_20agent_eval.py
Due: check-imports, check-dependencies

fix: recursive federated query across hive tree (6/6 cross-tree)
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: wire FederatedGraphStore into AgentNode (optional import)
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: 5-agent real-world hive mind evaluation
  experiments/hive_mind/run_5agent_real_eval.py
Due: check-imports, check-dependencies

feat: HiveDeployer — configurable distributed hive mind orchestrator
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/deployer.py
  tests/hive_mind/test_deployer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

eval: 20-agent Kuzu hive — adversary blocked, gateway needs tuning
  experiments/hive_mind/run_20agent_kuzu_eval.py
Due: check-imports, check-dependencies

fix: quality audit — 10 CRITICAL+HIGH issues resolved
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/peer_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: share Kuzu DB instance between CognitiveMemory and KuzuGraphStore
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
