Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat(skills): Add session-learning skill for cross-session knowledge
  .claude/commands/amplihack/learnings.md
  .claude/data/learnings/architecture.yaml
  .claude/data/learnings/debugging.yaml
  .claude/data/learnings/errors.yaml
  .claude/data/learnings/tools.yaml
  .claude/data/learnings/workflows.yaml
  .claude/skills/session-learning/README.md
  .claude/skills/session-learning/SKILL.md
Due: amplihack-sync-commands

fix(docs): Fix formula formatting in session-learning README
  .claude/skills/session-learning/README.md
Due: none

fix(skills): Standardize session-replay frontmatter per FRONTMATTER_STANDARDS.md
  .claude/skills/session-replay/README.md
  .claude/skills/session-replay/SKILL.md
Due: none

fix: Improve session-replay skill quality to 9/10
  .claude/skills/session-replay/README.md
  .claude/skills/session-replay/SKILL.md
Due: none

feat(skills): Add session-replay skill for trace analysis
  .claude/skills/session-replay/README.md
  .claude/skills/session-replay/SKILL.md
Due: none

feat(skills): Add smart-test skill for intelligent test selection
  .claude/data/test-mapping/code_to_tests.yaml
  .claude/data/test-mapping/reliability.yaml
  .claude/skills/smart-test/README.md
  .claude/skills/smart-test/SKILL.md
Due: none

fix(skill): Remove future-proofing language from smart-test skill
  .claude/skills/smart-test/SKILL.md
Due: none

fix: Improve smart-test skill quality to 9/10
  .claude/data/test-mapping/code_to_tests.yaml
  .claude/data/test-mapping/reliability.yaml
  .claude/skills/smart-test/SKILL.md
Due: none

fix(smart-test): Add missing frontmatter fields per FRONTMATTER_STANDARDS.md
  .claude/skills/smart-test/SKILL.md
Due: none

feat(skills): Add dependency-resolver skill for env mismatch detection
  .claude/skills/dependency-resolver/README.md
  .claude/skills/dependency-resolver/SKILL.md
Due: none

fix: Address review feedback for dependency-resolver skill
  .claude/skills/dependency-resolver/SKILL.md
Due: none

feat(skills): Add code-visualizer skill for auto diagram generation
  .claude/skills/code-visualizer/README.md
  .claude/skills/code-visualizer/SKILL.md
Due: none

feat(skills): Add workflow-enforcement skill to prevent step skipping
  .claude/skills/workflow-enforcement/README.md
  .claude/skills/workflow-enforcement/SKILL.md
  .claude/templates/workflow_state.yaml.template
Due: none

feat(skills): Add agent-performance skill for metrics tracking
  .claude/skills/agent-performance/README.md
  .claude/skills/agent-performance/SKILL.md
Due: none

feat(skills): Add session-learning skill for cross-session knowledge
  .claude/commands/amplihack/learnings.md
  .claude/data/learnings/_stats.yaml
  .claude/data/learnings/architecture.yaml
  .claude/data/learnings/debugging.yaml
  .claude/data/learnings/errors.yaml
  .claude/data/learnings/tools.yaml
  .claude/data/learnings/workflows.yaml
  .claude/skills/session-learning/README.md
  .claude/skills/session-learning/SKILL.md
Due: amplihack-sync-commands

feat(skills): Add multi-repo skill for cross-repository orchestration
  .claude/data/multi-repo/dependencies.yaml
  .claude/data/multi-repo/linked-prs.yaml
  .claude/skills/multi-repo/README.md
  .claude/skills/multi-repo/SKILL.md
Due: none

feat(skills): Enhance context_management to v3.0 with proactive features
  .claude/skills/context_management/README.md
  .claude/skills/context_management/SKILL.md
  .claude/skills/context_management/examples/proactive_management.md
Due: none

fix: Rename skill directory to follow kebab-case convention
  .claude/context/PROJECT.md.bak
  .claude/settings.json.backup.uvx
  .claude/skills/context-management/QUICK_START.md
  .claude/skills/context-management/README.md
  .claude/skills/context-management/SKILL.md
  .claude/skills/context-management/__init__.py
  .claude/skills/context-management/automation.py
  .claude/skills/context-management/context_extractor.py
  .claude/skills/context-management/context_rehydrator.py
  .claude/skills/context-management/core.py
  .claude/skills/context-management/examples/basic_usage.md
  .claude/skills/context-management/examples/proactive_management.md
  .claude/skills/context-management/examples/proactive_workflow.md
  .claude/skills/context-management/examples/rehydration_levels.md
  .claude/skills/context-management/models.py
  .claude/skills/context-management/orchestrator.py
  .claude/skills/context-management/test_full_automation_flow.py
  .claude/skills/context-management/test_model_aware_thresholds.py
  .claude/skills/context-management/test_performance.py
  .claude/skills/context-management/test_real_hook_integration.py
  .claude/skills/context-management/test_with_real_transcript.py
  .claude/skills/context-management/tests/__init__.py
  .claude/skills/context-management/tests/fixtures/high_token_usage.json
  .claude/skills/context-management/tests/fixtures/sample_conversation.json
  .claude/skills/context-management/tests/fixtures/sample_snapshot.json
  .claude/skills/context-management/tests/test_context_extractor.py
  .claude/skills/context-management/tests/test_context_rehydrator.py
  .claude/skills/context-management/tests/test_integration.py
  .claude/skills/context-management/tests/test_orchestrator.py
  .claude/skills/context-management/tests/test_token_monitor.py
  .claude/skills/context-management/token_monitor.py
  AGENTS.md
Due: check-dependencies

feat(skills): Enhance context_management to v3.0 with proactive features (#1622)
  .claude/context/PROJECT.md.bak
  .claude/settings.json.backup.uvx
  .claude/skills/context-management/QUICK_START.md
  .claude/skills/context-management/README.md
  .claude/skills/context-management/SKILL.md
  .claude/skills/context-management/__init__.py
  .claude/skills/context-management/automation.py
  .claude/skills/context-management/context_extractor.py
  .claude/skills/context-management/context_rehydrator.py
  .claude/skills/context-management/core.py
  .claude/skills/context-management/examples/basic_usage.md
  .claude/skills/context-management/examples/proactive_management.md
  .claude/skills/context-management/examples/proactive_workflow.md
  .claude/skills/context-management/examples/rehydration_levels.md
  .claude/skills/context-management/models.py
  .claude/skills/context-management/orchestrator.py
  .claude/skills/context-management/test_full_automation_flow.py
  .claude/skills/context-management/test_model_aware_thresholds.py
  .claude/skills/context-management/test_performance.py
  .claude/skills/context-management/test_real_hook_integration.py
  .claude/skills/context-management/test_with_real_transcript.py
  .claude/skills/context-management/tests/__init__.py
  .claude/skills/context-management/tests/fixtures/high_token_usage.json
  .claude/skills/context-management/tests/fixtures/sample_conversation.json
  .claude/skills/context-management/tests/fixtures/sample_snapshot.json
  .claude/skills/context-management/tests/test_context_extractor.py
  .claude/skills/context-management/tests/test_context_rehydrator.py
  .claude/skills/context-management/tests/test_integration.py
  .claude/skills/context-management/tests/test_orchestrator.py
  .claude/skills/context-management/tests/test_token_monitor.py
  .claude/skills/context-management/token_monitor.py
  AGENTS.md
Due: check-dependencies

feat: Add Claude Code LSP Auto-Configuration skill (Issue #1954)
  .claude/skills/lsp-setup/README.md
  .claude/skills/lsp-setup/SKILL.md
  .claude/skills/lsp-setup/USAGE_EXAMPLES.md
  .claude/skills/lsp-setup/__init__.py
  .claude/skills/lsp-setup/language_detector.py
  .claude/skills/lsp-setup/lsp_configurator.py
  .claude/skills/lsp-setup/plugin_manager.py
  .claude/skills/lsp-setup/status_tracker.py
  .claude/skills/lsp-setup/tests/README.md
  .claude/skills/lsp-setup/tests/TEST_METRICS.md
  .claude/skills/lsp-setup/tests/TEST_SUMMARY.md
  .claude/skills/lsp-setup/tests/__init__.py
  .claude/skills/lsp-setup/tests/conftest.py
  .claude/skills/lsp-setup/tests/test_e2e.py
  .claude/skills/lsp-setup/tests/test_integration.py
  .claude/skills/lsp-setup/tests/test_language_detector.py
  .claude/skills/lsp-setup/tests/test_lsp_configurator.py
  .claude/skills/lsp-setup/tests/test_plugin_manager.py
  .claude/skills/lsp-setup/tests/test_status_tracker.py
  .claude/skills/lsp_setup
Due: check-dependencies

fix: Correct type hints - use Any instead of any
  .claude/skills/lsp-setup/lsp_configurator.py
Due: check-dependencies

feat(memory): Migrate DISCOVERIES.md references to Kuzu memory backend
  .claude/agents/amplihack/core/reviewer.md
  .claude/agents/amplihack/specialized/amplifier-cli-architect.md
  .claude/agents/amplihack/specialized/fix-agent.md
  .claude/agents/amplihack/workflows/amplihack-improvement-workflow.md
  .claude/skills/cascade-workflow/SKILL.md
  .claude/skills/debate-workflow/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/knowledge-extractor/SKILL.md
  .claude/skills/n-version-workflow/SKILL.md
  .claude/skills/philosophy-compliance-workflow/SKILL.md
  .claude/tools/amplihack/hooks/session_start.py
  .claude/workflow/INVESTIGATION_WORKFLOW.md
  .claude/workflow/N_VERSION_WORKFLOW.md
  CLAUDE.md
  src/amplihack/memory/discoveries.py
  tests/memory/test_discoveries_adapter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Integrate LSP auto-configuration into amplihack launcher
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix async/await bug in memory hooks
  .claude/tools/amplihack/hooks/agent_memory_hook.py
  .claude/tools/amplihack/hooks/tests/test_agent_memory_sync.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
