Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix(transcript_parser): support real Copilot dotted event type format
  .claude/tools/amplihack/hooks/power_steering_checker/transcript_parser.py
  .claude/tools/amplihack/hooks/tests/fixtures/copilot_events.jsonl
  .claude/tools/amplihack/hooks/tests/test_transcript_parser.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/transcript_parser.py
  amplifier-bundle/tools/amplihack/hooks/tests/fixtures/copilot_events.jsonl
  uv.lock
Due: check-imports, check-dependencies

feat(memory): add per-fact embedding index, domain_expertise config, and AgentRegistry
  src/amplihack/memory/config.py
  src/amplihack/memory/distributed_store.py
  src/amplihack/memory/network_store.py
  src/amplihack/memory/tests/test_network_store.py
  tests/test_graph_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: unset CLAUDECODE env var before claude_agent_sdk.query() calls to prevent nested session errors
  .claude/skills/pm-architect/scripts/generate_daily_status.py
  .claude/skills/pm-architect/scripts/generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/triage_pr.py
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/claude_reflection.py
  amplifier-bundle/skills/pm-architect/scripts/generate_daily_status.py
  amplifier-bundle/skills/pm-architect/scripts/generate_roadmap_review.py
  amplifier-bundle/skills/pm-architect/scripts/triage_pr.py
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/claude_reflection.py
  docs/claude/skills/pm-architect/scripts/generate_daily_status.py
  docs/claude/skills/pm-architect/scripts/generate_roadmap_review.py
  docs/claude/skills/pm-architect/scripts/triage_pr.py
  docs/claude/tools/amplihack/hooks/claude_power_steering.py
  docs/claude/tools/amplihack/hooks/claude_reflection.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: address all quality audit findings — tests, docs, code quality
  .claude/skills/fleet/SKILL.md
  docs/fleet-orchestration/ADMIRAL_REASONING.md
  docs/fleet-orchestration/ARCHITECTURE.md
  docs/fleet-orchestration/TUTORIAL.md
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/_tui_refresh.py
  src/amplihack/fleet/fleet_logs.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_tui.py
  src/amplihack/fleet/tests/test_session_gather.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(memory): fix pre-existing test failures in memory test suite
  src/amplihack/memory/coordinator.py
  src/amplihack/memory/kuzu/code_graph.py
  src/amplihack/memory/sqlite_backend.py
  tests/memory/__init__.py
  tests/memory/kuzu/test_code_graph.py
  tests/memory/kuzu/test_kuzu_connector.py
  tests/memory/unit/test_memory_coordinator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(hive): remove InMemoryGraphStore fallbacks, add managed disk volumes, add docs index
  deploy/azure_hive/main.bicep
  docs/index.md
  src/amplihack/memory/facade.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: update hive_mind_presentation slides 2 and 16 with accurate data
  :memory:
  docs/hive_mind_presentation.md
Due: none

Add Jekyll config for GitHub Pages
  _config.yml
Due: none

fix: use EmptyDir volume instead of AzureDisk in Container Apps
  deploy/azure_hive/main.bicep
Due: none

feat(hive): add distributed learning content pipeline
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/feed_content.py
  docs/hive_mind_presentation.md
Due: check-imports, check-dependencies

fix(hive): wire LEARN_CONTENT receiver so agents consume Service Bus events
  src/amplihack/memory/facade.py
  src/amplihack/memory/network_store.py
  src/amplihack/memory/tests/test_network_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: fix stale restart description, remove review artifact
  .claude/context/PROJECT.md
  docs/fleet-orchestration/ADMIRAL_REASONING.md
  docs/fleet-orchestration/TUTORIAL.md
  uv.lock
Due: none

feat(hive-mind): add query_hive.py for Q&A eval against live Azure hive
  docs/distributed_hive_mind.md
  experiments/hive_mind/eval_demo_results.json
  experiments/hive_mind/eval_live_results.json
  experiments/hive_mind/query_hive.py
Due: check-imports, check-dependencies

feat(hive): use security analyst questions via amplihack_eval in query_hive.py
  experiments/hive_mind/eval_security_results.json
  experiments/hive_mind/query_hive.py
Due: check-imports, check-dependencies

Add QUERY event handler to agent_entrypoint and NetworkGraphStore
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/query_test.py
  src/amplihack/memory/facade.py
  src/amplihack/memory/network_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: skip empty QUERY_RESPONSE from graph store auto-handler
  deploy/azure_hive/query_test.py
  src/amplihack/memory/network_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(fleet): parallel VM polling with ThreadPoolExecutor in refresh_all()
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(fleet): cache Phase 1 SSH output for Phase 3 reasoning in scout
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/_session_gather.py
  src/amplihack/fleet/_tui_data.py
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/fleet_session_reasoner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(fleet): incremental scout with ~/.amplihack/fleet/last_scout.json
  src/amplihack/fleet/_cli_session_ops.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor(fleet): unify dual status classifiers — _tui_classify delegates to _status (Issue #2799)
  src/amplihack/fleet/_tui_classify.py
  src/amplihack/fleet/tests/test_fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor(fleet): extract formatters from _cli_session_ops to _cli_formatters.py
  src/amplihack/fleet/_cli_formatters.py
  src/amplihack/fleet/_cli_session_ops.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(fleet): LLM cost control — reasoning max_tokens from 128K to 8192
  src/amplihack/fleet/_constants.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(fleet): SAFE_INPUT_PATTERNS allow-list in _validation.py
  src/amplihack/fleet/_validation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
