Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: self-copy crash in --load-db + docs for --segment-size
  src/amplihack/eval/QUICK_START.md
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add --segment-size documentation to eval architecture and agent guides
  docs/EVAL_SYSTEM_ARCHITECTURE.md
  docs/GOAL_SEEKING_AGENTS.md
Due: none

feat: export CognitiveMemory from amplihack-memory-lib (#2574)
  amplihack-memory-lib/pyproject.toml
  amplihack-memory-lib/src/amplihack_memory/__init__.py
  amplihack-memory-lib/src/amplihack_memory/cognitive_memory.py
  amplihack-memory-lib/src/amplihack_memory/memory_types.py
  amplihack-memory-lib/tests/conftest.py
  amplihack-memory-lib/tests/test_cognitive_memory.py
  pyproject.toml
  pyrightconfig.json
Due: check-imports, check-dependencies

refactor: address review findings for CognitiveMemory (#2574)
  amplihack-memory-lib/README.md
  amplihack-memory-lib/src/amplihack_memory/cognitive_memory.py
  uv.lock
Due: check-imports, check-dependencies

docs: add CognitiveMemory references to memory docs (#2574)
  docs/AGENT_MEMORY_INTEGRATION.md
  docs/memory/README.md
Due: none

fix: replace remaining bare pass with debug logging (#2574)
  amplihack-memory-lib/src/amplihack_memory/cognitive_memory.py
Due: check-imports, check-dependencies

feat: export CognitiveMemory from amplihack-memory-lib (#2574) (#2575)
  amplihack-memory-lib/README.md
  amplihack-memory-lib/pyproject.toml
  amplihack-memory-lib/src/amplihack_memory/__init__.py
  amplihack-memory-lib/src/amplihack_memory/cognitive_memory.py
  amplihack-memory-lib/src/amplihack_memory/memory_types.py
  amplihack-memory-lib/tests/conftest.py
  amplihack-memory-lib/tests/test_cognitive_memory.py
  docs/AGENT_MEMORY_INTEGRATION.md
  docs/memory/README.md
  pyproject.toml
  pyrightconfig.json
  uv.lock
Due: check-imports, check-dependencies

docs: daily documentation updates for merged PRs (2026-02-27)
  docs/AGENT_MEMORY_QUICKSTART.md
  docs/HOOK_CONFIGURATION_GUIDE.md
  docs/howto/cli-flags-reference.md
Due: none

chore: update uv.lock to amplihack-memory-lib v0.2.0 with CognitiveMemory
  uv.lock
Due: none

fix: improve power-steering consideration questions for precision and clarity
  .claude/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/considerations.yaml
  docs/claude/tools/amplihack/considerations.yaml
Due: none

docs: add CONTRIBUTING.md for new contributors
  CONTRIBUTING.md
Due: none

fix: reduce power-steering false positives with implementation fixes and new checks
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/considerations.yaml
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

fix: remove decisions_logged consideration
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/considerations.yaml
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

fix: make CognitiveMemory resilient to schema mismatches and segment runner resilient to failures
  amplihack-memory-lib/src/amplihack_memory/cognitive_memory.py
  src/amplihack/eval/long_horizon_memory.py
  tests/eval/test_long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: CognitiveMemory schema resilience and segment retry (#2611) (#2612)
  amplihack-memory-lib/src/amplihack_memory/cognitive_memory.py
  pyproject.toml
  src/amplihack/eval/long_horizon_memory.py
  tests/eval/test_long_horizon_memory.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add guidance field for LLM-powered consideration evaluation
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  docs/claude/tools/amplihack/considerations.yaml
  docs/claude/tools/amplihack/hooks/claude_power_steering.py
Due: check-imports, check-dependencies

feat: add --memory-type flag to force hierarchical or cognitive memory backend
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: unified smart-orchestrator — replace ultrathink, auto-detect parallel workstreams (#2577)
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  CLAUDE.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/test_smart_orchestrator_decomposition.py
Due: check-dependencies, amplihack-sync-commands

feat: add goal-seeking loop, session tree, dynamic agent routing to smart-orchestrator (#2577)
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/multitask/orchestrator.py
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/session_tree.py
  tests/test_session_tree.py
Due: check-imports, check-dependencies

fix: address all 20 quality audit findings from PR #2578 review
  .claude/commands/amplihack/dev.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/multitask/orchestrator.py
  CLAUDE.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/session_tree.py
  tests/test_session_tree.py
  tests/test_smart_orchestrator_decomposition.py
Due: check-imports, check-dependencies, amplihack-sync-commands

fix: address security review findings in smart-orchestrator recipe
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: address all 21 multi-perspective review gaps in smart-orchestrator PR #2578
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/dev-orchestrator/SKILL.md
  CLAUDE.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/orch_helper.py
  amplifier-bundle/tools/session_tree.py
  tests/test_smart_orchestrator_decomposition.py
Due: check-imports, check-dependencies, amplihack-sync-commands

fix: round-3 quality audit — reliability, security, architecture, test quality
  .claude/skills/multitask/orchestrator.py
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/orch_helper.py
  amplifier-bundle/tools/session_tree.py
  tests/test_session_tree.py
  tests/test_smart_orchestrator_decomposition.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
