Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: extract inline prompts to .md files + improve weak category synthesis (#2676) (#2679)
  pyproject.toml
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/prompts/__init__.py
  src/amplihack/agents/goal_seeking/prompts/concept_map_system.md
  src/amplihack/agents/goal_seeking/prompts/concept_map_user.md
  src/amplihack/agents/goal_seeking/prompts/entity_field_extraction_system.md
  src/amplihack/agents/goal_seeking/prompts/entity_field_extraction_user.md
  src/amplihack/agents/goal_seeking/prompts/explanation_system.md
  src/amplihack/agents/goal_seeking/prompts/explanation_user.md
  src/amplihack/agents/goal_seeking/prompts/fact_extraction_system.md
  src/amplihack/agents/goal_seeking/prompts/fact_extraction_user.md
  src/amplihack/agents/goal_seeking/prompts/intent_classification_system.md
  src/amplihack/agents/goal_seeking/prompts/intent_classification_user.md
  src/amplihack/agents/goal_seeking/prompts/keyword_expansion_system.md
  src/amplihack/agents/goal_seeking/prompts/keyword_expansion_user.md
  src/amplihack/agents/goal_seeking/prompts/knowledge_gaps_system.md
  src/amplihack/agents/goal_seeking/prompts/knowledge_gaps_user.md
  src/amplihack/agents/goal_seeking/prompts/number_extraction_system.md
  src/amplihack/agents/goal_seeking/prompts/number_extraction_user.md
  src/amplihack/agents/goal_seeking/prompts/synthesis_system.md
  src/amplihack/agents/goal_seeking/prompts/synthesis_user.md
  src/amplihack/agents/goal_seeking/prompts/temporal_detection_system.md
  src/amplihack/agents/goal_seeking/prompts/temporal_detection_user.md
  src/amplihack/agents/goal_seeking/prompts/verify_fact_system.md
  src/amplihack/agents/goal_seeking/prompts/verify_fact_user.md
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: retrieval improvements for incident/CVE and enumeration queries (#2680 part 1)
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: retrieval improvements for incident/CVE and enumeration queries (#2680 part 1) (#2681)
  pyproject.toml
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: unify goal-seeking agentic loop with answer_question (#2680 part 3)
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/eval/long_horizon_memory.py
  tests/agents/goal_seeking/test_agentic_answer_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: unify goal-seeking agentic loop with answer_question (#2680 part 3) (#2682)
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/eval/long_horizon_memory.py
  tests/agents/goal_seeking/test_agentic_answer_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: UX improvements — semaphore toggle, short-message skip, welcome banner
  .claude/commands/amplihack/auto-dev.md
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/no-auto-dev.md
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  docs/tutorials/dev-orchestrator-tutorial.md
Due: check-imports, check-dependencies, amplihack-sync-commands

fix: remove all hardcoded model defaults, use env-based config (#2680 part 2)
  src/amplihack/agents/domain_agents/base.py
  src/amplihack/agents/domain_agents/code_review/agent.py
  src/amplihack/agents/domain_agents/data_analysis/agent.py
  src/amplihack/agents/domain_agents/document_creator/agent.py
  src/amplihack/agents/domain_agents/meeting_synthesizer/agent.py
  src/amplihack/agents/domain_agents/project_planning/agent.py
  src/amplihack/agents/goal_seeking/agentic_loop.py
  src/amplihack/agents/goal_seeking/sdk_adapters/claude_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/copilot_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/factory.py
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
  src/amplihack/agents/teaching/generator_teacher.py
  src/amplihack/eval/agent_subprocess.py
  src/amplihack/eval/general_capability_eval.py
  src/amplihack/eval/grader.py
  src/amplihack/eval/long_horizon_multi_seed.py
  src/amplihack/eval/long_horizon_self_improve.py
  src/amplihack/eval/matrix_eval.py
  src/amplihack/eval/meta_eval_experiment.py
  src/amplihack/eval/metacognition_grader.py
  src/amplihack/eval/teaching_session.py
  src/amplihack/eval/teaching_subprocess.py
  tests/agents/goal_seeking/test_agentic_loop.py
  tests/agents/goal_seeking/test_claude_sdk_adapter.py
  tests/agents/goal_seeking/test_copilot_sdk_adapter.py
  tests/agents/goal_seeking/test_microsoft_sdk_adapter.py
  tests/agents/goal_seeking/test_sdk_load_prebuilt_db.py
  tests/agents/test_teaching_agent.py
  tests/eval/test_teaching_session.py
  tests/recipes/test_claude_sdk_adapter_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove all hardcoded model defaults, use env-based config (#2680 part 2) (#2683)
  src/amplihack/agents/domain_agents/base.py
  src/amplihack/agents/domain_agents/code_review/agent.py
  src/amplihack/agents/domain_agents/data_analysis/agent.py
  src/amplihack/agents/domain_agents/document_creator/agent.py
  src/amplihack/agents/domain_agents/meeting_synthesizer/agent.py
  src/amplihack/agents/domain_agents/project_planning/agent.py
  src/amplihack/agents/goal_seeking/agentic_loop.py
  src/amplihack/agents/goal_seeking/sdk_adapters/claude_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/copilot_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/factory.py
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
  src/amplihack/agents/teaching/generator_teacher.py
  src/amplihack/eval/agent_subprocess.py
  src/amplihack/eval/general_capability_eval.py
  src/amplihack/eval/grader.py
  src/amplihack/eval/long_horizon_multi_seed.py
  src/amplihack/eval/long_horizon_self_improve.py
  src/amplihack/eval/matrix_eval.py
  src/amplihack/eval/meta_eval_experiment.py
  src/amplihack/eval/metacognition_grader.py
  src/amplihack/eval/teaching_session.py
  src/amplihack/eval/teaching_subprocess.py
  tests/agents/goal_seeking/test_agentic_loop.py
  tests/agents/goal_seeking/test_claude_sdk_adapter.py
  tests/agents/goal_seeking/test_copilot_sdk_adapter.py
  tests/agents/goal_seeking/test_microsoft_sdk_adapter.py
  tests/agents/goal_seeking/test_sdk_load_prebuilt_db.py
  tests/agents/test_teaching_agent.py
  tests/eval/test_teaching_session.py
  tests/recipes/test_claude_sdk_adapter_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: classification visibility + workflow-active semaphore + bug fix
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: check-imports, check-dependencies

fix: quality audit findings — PID liveness check, test isolation, banner bug test
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: check-imports, check-dependencies

fix: move welcome message to session_start hook (visible via stderr)
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/session_start.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: check-imports, check-dependencies

feat: unified dev-orchestrator with auto-routing, UX improvements, and quality audit (#2653)
  .claude/commands/amplihack/auto-dev.md
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/no-auto-dev.md
  .claude/skills/amplihack-expert/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  README.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/amplihack/hooks/dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/session_start.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_dev_intent_router.py
  amplifier-bundle/tools/amplihack/hooks/user_prompt_submit.py
  docs/tutorials/README.md
  docs/tutorials/dev-orchestrator-tutorial.md
Due: check-imports, check-dependencies, amplihack-sync-commands

fix: rewrite agentic answer mode to augment single-shot pipeline (#2684)
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_agentic_answer_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: rewrite agentic answer mode to augment single-shot pipeline (#2684) (#2685)
  pyproject.toml
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_agentic_answer_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add CONTRIBUTING.md for new contributors (#2610)
  CONTRIBUTING.md
Due: none

fix: complete session TTL pruning for missing completed_at (#2639)
  amplifier-bundle/tools/session_tree.py
  tests/test_session_tree.py
Due: check-imports, check-dependencies

fix: conservative agentic evaluation - skip re-synthesis for substantive answers
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: complete session TTL pruning for missing completed_at (#2639) (#2658)
  amplifier-bundle/tools/session_tree.py
  tests/test_session_tree.py
Due: check-imports, check-dependencies

test: document and test detect_session_type keyword priority (#2633)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_issue_2633_multi_keyword_priority.py
Due: check-dependencies

fix: conservative agentic evaluation + preserve original answer context (#2687)
  pyproject.toml
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: document and test detect_session_type keyword priority (#2633) (#2659)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_issue_2633_multi_keyword_priority.py
Due: check-dependencies

docs: clarify First Session instructions for beginners
  README.md
Due: none

docs: clarify First Session instructions for beginners (#2689)
  README.md
Due: none

fix: package amplihack as proper Copilot CLI plugin with unprefixed command names (#2686)
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: package amplihack as proper Copilot CLI plugin with unprefixed command names (#2686)
  .claude/commands/amplihack/analyze.md
  .claude/commands/amplihack/auto-dev.md
  .claude/commands/amplihack/auto.md
  .claude/commands/amplihack/cascade.md
  .claude/commands/amplihack/consensus.md
  .claude/commands/amplihack/customize.md
  .claude/commands/amplihack/debate.md
  .claude/commands/amplihack/default-workflow.md
  .claude/commands/amplihack/dev.md
  .claude/commands/amplihack/expert-panel.md
  .claude/commands/amplihack/fix.md
  .claude/commands/amplihack/guide.md
  .claude/commands/amplihack/hybrid.md
  .claude/commands/amplihack/improve.md
  .claude/commands/amplihack/ingest-code.md
  .claude/commands/amplihack/install.md
  .claude/commands/amplihack/investigation.md
  .claude/commands/amplihack/knowledge-builder.md
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/modular-build.md
  .claude/commands/amplihack/n-version.md
  .claude/commands/amplihack/no-auto-dev.md
  .claude/commands/amplihack/plugin.json
  .claude/commands/amplihack/qa.md
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/remote.md
  .claude/commands/amplihack/run.md
  .claude/commands/amplihack/skill-builder.md
  .claude/commands/amplihack/socratic.md
  .claude/commands/amplihack/transcripts.md
  .claude/commands/amplihack/ultrathink.md
  .claude/commands/amplihack/uninstall.md
  .claude/commands/amplihack/unlock.md
  .claude/commands/amplihack/verification.md
  .claude/commands/amplihack/xpia.md
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
  tests/launcher/test_copilot_installation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
