Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: standardize error messages and add worktree guard tests
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_worktree_isolation.py
Due: none

fix: address blocking review findings from PR #3696
  .claude/skills/multitask/orchestrator.py
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
  src/amplihack/runtime_assets.py
  tests/recipes/test_heartbeat.py
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
  tests/unit/test_runtime_assets.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: enforce worktree isolation in default-workflow (#3684, #3673) (#3693)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/unit/recipes/test_worktree_isolation_3684_3673.py
Due: none

fix: quality-audit-cycle recipe end-to-end execution bugs (#3638, #3653) (#3694)
  .claude/skills/multitask/orchestrator.py
  .claude/skills/quality-audit/SKILL.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/skills/quality-audit/SKILL.md
  docs/claude/skills/quality-audit/SKILL.md
  docs/howto/run-quality-audit.md
  docs/index.md
  docs/reference/quality-audit-cycle-recipe.md
  src/amplihack/recipes/models.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
  src/amplihack/runtime_assets.py
  tests/recipes/test_heartbeat.py
  tests/recipes/test_step_transition_jsonl.py
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
  tests/unit/test_runtime_assets.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: asset resolution validation and no-remote workflow guards (#3668, #3669)
  amplifier-bundle/recipes/consensus-workflow.yaml
  src/amplihack/runtime_assets.py
  tests/recipes/test_no_remote_guards.py
  tests/recipes/test_no_remote_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Address review feedback: tighten stderr filter, extract shared helper, clarify YAML guards
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: asset resolution validation and no-remote workflow guards (#3668, #3669) (#3696)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
  src/amplihack/runtime_assets.py
  tests/recipes/test_no_remote_guards.py
  tests/recipes/test_no_remote_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: recipe runner output visibility and heartbeat (#3624, #3625, #3626)
  .claude/skills/multitask/orchestrator.py
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: recipe runner output visibility and heartbeat (#3624, #3625, #3626) (#3697)
  .claude/skills/multitask/orchestrator.py
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve branch truncation, anti-recursion, step-02c timeout, and AMPLIHACK_HOME docs (#3551, #3548, #3291, #3298)
  .claude/skills/dev-orchestrator/SKILL.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/tests/test_bugfix_consolidated.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages

fix: address all review feedback from PR #3699
  .claude/skills/multitask/orchestrator.py
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/tests/test_bugfix_consolidated.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

cleanup: change debug log to warn level in _read_workstream_progress
  .claude/skills/multitask/orchestrator.py
Due: check-dependencies

fix: recipe orchestration bugs — branch truncation, anti-recursion, timeout, visibility
  .claude/skills/dev-orchestrator/SKILL.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
  src/amplihack/recipes/tests/test_bugfix_consolidated.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: recipe orchestration bugs — branch truncation, anti-recursion, timeout, visibility (#3700)
  .claude/skills/dev-orchestrator/SKILL.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
  src/amplihack/recipes/tests/test_bugfix_consolidated.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: auto-update recipe-runner-rs when version is outdated
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: auto-update recipe-runner-rs when version is outdated (#3705)
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: 5 code hygiene bugs (#3529, #3331, #3321, #3309, #3308)
  .claude/tools/amplihack/generate_workflow_report.py
  .claude/tools/amplihack/profile_management/index.py
  .claude/tools/amplihack/profile_management/tests/test_index.py
  .claude/tools/amplihack/update_prefs.py
  .env.example
  amplifier-bundle/skills/pm-architect/scripts/tests/test_agent_query.py
  amplifier-bundle/tools/amplihack/generate_workflow_report.py
  amplifier-bundle/tools/amplihack/profile_management/index.py
  amplifier-bundle/tools/amplihack/profile_management/tests/test_index.py
  amplifier-bundle/tools/amplihack/update_prefs.py
  docs/claude/skills/pm-architect/scripts/tests/test_agent_query.py
  docs/claude/tools/amplihack/generate_workflow_report.py
  docs/claude/tools/amplihack/hooks/workflow_gate.py
  docs/claude/tools/amplihack/hooks/workflow_tracker.py
  docs/claude/tools/amplihack/profile_management/index.py
  docs/claude/tools/amplihack/profile_management/tests/test_index.py
  docs/claude/tools/amplihack/update_prefs.py
  scripts/validate_gh_pages_links.py
  src/amplihack/__init__.py
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/bundle_generator/builder.py
  src/amplihack/bundle_generator/exceptions.py
  src/amplihack/bundle_generator/models.py
  src/amplihack/bundle_generator/packager.py
  src/amplihack/goal_agent_generator/models.py
  src/amplihack/memory_auto_install.py
  tests/meta_delegation/integration/test_gadugi_integration.py
  tests/test_base_packager.py
  tests/test_main_rust_cli_handoff.py
  tests/unit/test_memory_startup_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: 5 code hygiene bugs (#3529, #3331, #3321, #3309, #3308)
  pyproject.toml
Due: none

feat: add persistent log file for recipe runner output capture
  src/amplihack/recipes/models.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: DEVELOPMENT: Fix recipe runner output capture — ALL workflow output mu
  pyproject.toml
Due: none

fix: restore utcnow hygiene test and widen regex pattern
  tests/unit/hygiene/__init__.py
  tests/unit/hygiene/test_bug3309_utcnow_deprecation.py
Due: none

fix: address security and quality review findings for log file handling
  src/amplihack/recipes/rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve 5 code hygiene bugs (#3529, #3331, #3309, #3308, #3321) (#3704)
  .claude/tools/amplihack/generate_workflow_report.py
  .claude/tools/amplihack/profile_management/index.py
  .claude/tools/amplihack/profile_management/tests/test_index.py
  .claude/tools/amplihack/update_prefs.py
  .env.example
  amplifier-bundle/skills/pm-architect/scripts/tests/test_agent_query.py
  amplifier-bundle/tools/amplihack/generate_workflow_report.py
  amplifier-bundle/tools/amplihack/profile_management/index.py
  amplifier-bundle/tools/amplihack/profile_management/tests/test_index.py
  amplifier-bundle/tools/amplihack/update_prefs.py
  docs/claude/skills/pm-architect/scripts/tests/test_agent_query.py
  docs/claude/tools/amplihack/generate_workflow_report.py
  docs/claude/tools/amplihack/hooks/workflow_gate.py
  docs/claude/tools/amplihack/hooks/workflow_tracker.py
  docs/claude/tools/amplihack/profile_management/index.py
  docs/claude/tools/amplihack/profile_management/tests/test_index.py
  docs/claude/tools/amplihack/update_prefs.py
  scripts/validate_gh_pages_links.py
  src/amplihack/__init__.py
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/bundle_generator/builder.py
  src/amplihack/bundle_generator/exceptions.py
  src/amplihack/bundle_generator/models.py
  src/amplihack/bundle_generator/packager.py
  src/amplihack/goal_agent_generator/models.py
  src/amplihack/memory_auto_install.py
  tests/meta_delegation/integration/test_gadugi_integration.py
  tests/test_base_packager.py
  tests/test_main_rust_cli_handoff.py
  tests/unit/hygiene/__init__.py
  tests/unit/hygiene/test_bug3309_utcnow_deprecation.py
  tests/unit/test_memory_startup_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: quality audit — fd leak, dead code, TOCTOU, test coverage
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix issue 107 execution root workflow
  .claude/skills/multitask/orchestrator.py
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/orch_helper.py
  amplifier-bundle/tools/setup_execution_root.py
  amplifier-bundle/tools/validate_gh_account.py
  src/amplihack/recipes/execution_root_policy.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_copilot.py
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_default_workflow_no_remote_issue_creation.py
  tests/recipes/test_python_runner_removed_outside_in.py
  tests/recipes/test_rust_runner.py
  tests/recipes/test_rust_runner_execution.py
  tests/recipes/test_rust_runner_recipe_resolution.py
  tests/recipes/test_setup_execution_root.py
  tests/recipes/test_validate_gh_account.py
  tests/recipes/test_worktree_step_quoting.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add resilience to commonly-failing default-workflow steps
  .claude/skills/default-workflow/SKILL.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/skills/default-workflow/SKILL.md
  docs/claude/skills/default-workflow/SKILL.md
Due: none

fix: address blocking review findings on default-workflow resilience
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: add resilience to commonly-failing default-workflow steps (#3728)
  .claude/skills/default-workflow/SKILL.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/skills/default-workflow/SKILL.md
  docs/claude/skills/default-workflow/SKILL.md
Due: none

Prevent copilot wrapper recursion
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_copilot_wrapper_recursion_guard.py
  tests/skills/test_smart_orchestrator_issue_3497.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Make copilot wrapper path self-contained
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Decouple recursion test from dirty imports
  tests/recipes/test_copilot_wrapper_recursion_guard.py
Due: none

Load recursion test without recipe package init
  tests/recipes/test_copilot_wrapper_recursion_guard.py
Due: none

Stub recipe imports in recursion test
  tests/recipes/test_copilot_wrapper_recursion_guard.py
Due: none

Restore patch helper import in recursion test
  tests/recipes/test_copilot_wrapper_recursion_guard.py
Due: none

fix: add input validation and log monitoring to recipe SKILL.md files
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/quality-audit/SKILL.md
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/skills/default-workflow/SKILL.md
  amplifier-bundle/skills/investigation-workflow/SKILL.md
  amplifier-bundle/skills/quality-audit/SKILL.md
  docs/claude/skills/default-workflow/SKILL.md
  docs/claude/skills/investigation-workflow/SKILL.md
  docs/claude/skills/quality-audit/SKILL.md
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: prevent cleanup-helper arg list overflow after parallel workstreams
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: add pre-flight validation to all core recipe YAMLs
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add pre-flight validation to all core recipe YAMLs (#3732)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: require recipe-runner-rs 0.2.9 (context-via-file support)
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
