Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: LearningAgent-based hive eval + CognitiveAdapter auto-promotion (#2794)
  docs/hive_mind/DESIGN.md
  docs/hive_mind/EVAL.md
  docs/hive_mind/TUTORIAL.md
  experiments/hive_mind/agent_runner.py
  experiments/hive_mind/run_learning_agent_hive_eval.py
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  tests/hive_mind/test_cognitive_adapter_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: complete all issue #2775 work items + session co-pilot + security hardening
  amplifier-bundle/tools/amplihack/hooks/compaction_validator.py
  amplifier-bundle/tools/amplihack/hooks/git_utils.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  src/amplihack/fleet/__init__.py
  src/amplihack/fleet/_validation.py
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/fleet/fleet_auth.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_dashboard.py
  src/amplihack/fleet/fleet_director.py
  src/amplihack/fleet/fleet_graph.py
  src/amplihack/fleet/fleet_health.py
  src/amplihack/fleet/fleet_logs.py
  src/amplihack/fleet/fleet_observer.py
  src/amplihack/fleet/fleet_reasoners.py
  src/amplihack/fleet/fleet_results.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_setup.py
  src/amplihack/fleet/fleet_state.py
  src/amplihack/fleet/fleet_tasks.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/fleet_tui_dashboard.py
  src/amplihack/fleet/tests/test_fleet_admiral.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_tasks.py
  src/amplihack/fleet/tests/test_fleet_tui_dashboard.py
  src/amplihack/fleet/transcript_analyzer.py
  src/amplihack/launcher/agent_memory.py
  tests/agentic/fleet-tui-smoke.yaml
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: address all Step 16 review findings (7 items)
  src/amplihack/fleet/_validation.py
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_director.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_tui_dashboard.py
  src/amplihack/fleet/tests/test_fleet_admiral.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
  src/amplihack/fleet/transcript_analyzer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add test result interpretation guidance to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat: implement 5 federated parity proposals (#2796)
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  tests/hive_mind/test_hive_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve all 26 quality audit findings (4 parallel workstreams)
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_auth.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_dashboard.py
  src/amplihack/fleet/fleet_graph.py
  src/amplihack/fleet/fleet_logs.py
  src/amplihack/fleet/fleet_observer.py
  src/amplihack/fleet/fleet_reasoners.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_state.py
  src/amplihack/fleet/fleet_tasks.py
  src/amplihack/fleet/fleet_tui_dashboard.py
  src/amplihack/fleet/tests/test_fleet_reasoners.py
  src/amplihack/fleet/tests/test_fleet_tasks.py
  src/amplihack/fleet/transcript_analyzer.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add ARCHITECTURE.md — how facts flow through flat vs federated
  docs/hive_mind/ARCHITECTURE.md
Due: none

fix: resolve all audit round 3 findings (4 parallel workstreams)
  src/amplihack/fleet/__init__.py
  src/amplihack/fleet/_defaults.py
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/fleet/fleet_auth.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_dashboard.py
  src/amplihack/fleet/fleet_director.py
  src/amplihack/fleet/fleet_graph.py
  src/amplihack/fleet/fleet_health.py
  src/amplihack/fleet/fleet_logs.py
  src/amplihack/fleet/fleet_observer.py
  src/amplihack/fleet/fleet_results.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_setup.py
  src/amplihack/fleet/fleet_state.py
  src/amplihack/fleet/fleet_tasks.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_director.py
  src/amplihack/fleet/tests/test_fleet_reasoners.py
  src/amplihack/fleet/tests/test_fleet_tui.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve 8 validated findings from audit round 4
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/fleet/fleet_observer.py
  src/amplihack/fleet/fleet_setup.py
  src/amplihack/fleet/fleet_state.py
  src/amplihack/fleet/fleet_tasks.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/tests/test_fleet_state.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve 7 validated findings from audit round 5
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_auth.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_observer.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/transcript_analyzer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve 6 validated findings from audit round 6
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_reasoners.py
  src/amplihack/fleet/transcript_analyzer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add vector search to amplihack-memory-lib (BGE embeddings + Kuzu HNSW)
  amplihack-memory-lib/pyproject.toml
  amplihack-memory-lib/src/amplihack_memory/__init__.py
  amplihack-memory-lib/src/amplihack_memory/_embeddings.py
  amplihack-memory-lib/src/amplihack_memory/cognitive_memory.py
  amplihack-memory-lib/tests/test_vector_search.py
Due: check-imports, check-dependencies

fix: resolve last 7 silent degradation findings from audit round 7
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/fleet/fleet_auth.py
  src/amplihack/fleet/fleet_logs.py
  src/amplihack/fleet/fleet_setup.py
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add test result interpretation guidance to CONTRIBUTING.md (#2798)
  CONTRIBUTING.md
Due: none

fix: recipe runner — adapter, heredoc quoting, condition eval (#2803)
  .claude/skills/dev-orchestrator/SKILL.md
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: add textual to base dependencies and fix TUI import error
  pyproject.toml
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: recipe runner — adapter auto-detection, heredoc quoting, condition eval (#2803) (#2804)
  .claude/skills/dev-orchestrator/SKILL.md
  pyproject.toml
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: remove dead ImportError fallback code for textual
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove all fallback and optional-dependency patterns
  src/amplihack/fleet/_defaults.py
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_state.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/tests/conftest.py
  src/amplihack/fleet/tests/test_fleet_admiral.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_session_reasoner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add valid YAML frontmatter to 4 broken skills
  .claude/skills/azure-admin/SKILL.md
  .claude/skills/azure-devops-cli/SKILL.md
  .claude/skills/github/SKILL.md
  .claude/skills/silent-degradation-audit/SKILL.md
Due: none

fix: remove hardcoded timeout defaults from recipe runner
  src/amplihack/recipes/adapters/base.py
  src/amplihack/recipes/adapters/claude_sdk.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/adapters/nested_session.py
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: retrieval pipeline upgrade for hive mind (#2800)
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/embeddings.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/quality.py
  src/amplihack/agents/goal_seeking/hive_mind/query_expansion.py
  src/amplihack/agents/goal_seeking/hive_mind/reranker.py
  tests/hive_mind/test_embeddings.py
  tests/hive_mind/test_quality.py
  tests/hive_mind/test_query_expansion.py
  tests/hive_mind/test_reranker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove .github/skills symlink to prevent duplicate skill loading
  .github/skills
Due: none

fix: remove hardcoded 120s timeout from recipe runner bash steps (#2807)
  pyproject.toml
  src/amplihack/recipes/adapters/base.py
  src/amplihack/recipes/adapters/claude_sdk.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/adapters/nested_session.py
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: wire vector search into query_facts and RRF into query_federated
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  tests/hive_mind/test_embeddings.py
  tests/hive_mind/test_reranker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: recipe discovery includes installed package path (#2812)
  src/amplihack/recipes/discovery.py
  tests/unit/recipes/test_discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add outside-in tests for skill frontmatter loading
  tests/outside_in/test_skill_frontmatter_loading.py
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
