Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix(power_steering_checker): address 3 confirmed findings from quality audit
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_docs.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_quality.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/main_checker.py
Due: check-imports, check-dependencies

fix: align mixin method behavior with original monolith for 6 failing tests
  .claude/tools/amplihack/hooks/power_steering_checker/checks_ci_pr.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_docs.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_quality.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  .claude/tools/amplihack/hooks/power_steering_checker/main_checker.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_ci_pr.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_docs.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_quality.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/main_checker.py
Due: check-imports, check-dependencies

fix: update test_power_steering_worktree.py for refactored package structure
  .claude/tools/amplihack/hooks/tests/test_power_steering_worktree.py
Due: none

fix: apply 13 quality audit fixes to distributed hive mind codebase
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/memory/config.py
  src/amplihack/memory/distributed_store.py
  src/amplihack/memory/kuzu_store.py
  src/amplihack/memory/memory_store.py
  tests/test_graph_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(memory): add NetworkGraphStore with Azure Service Bus and Redis replication
  src/amplihack/memory/config.py
  src/amplihack/memory/facade.py
  src/amplihack/memory/network_store.py
  src/amplihack/memory/tests/__init__.py
  src/amplihack/memory/tests/test_network_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(cli): add amplihack-hive CLI for distributed hive mind management
  pyproject.toml
  src/amplihack/cli/__init__.py
  src/amplihack/cli/hive.py
  src/amplihack/cli/tests/__init__.py
  src/amplihack/cli/tests/test_hive_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(deploy): add Azure hive mind deployment infrastructure
  deploy/azure_hive/Dockerfile
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/main.bicep
  deploy/azure_hive/tests/__init__.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
Due: check-imports, check-dependencies

docs: update agent_memory_architecture.md and distributed_hive_mind.md with deployment instructions
  docs/agent_memory_architecture.md
  docs/distributed_hive_mind.md
Due: none

fix: support dockerless builds in deploy.sh via ACR remote build
  deploy/azure_hive/deploy.sh
Due: none

docs: add hive mind presentation (19 slides with eval data and diagrams)
  docs/hive_mind_presentation.md
Due: none

fix: address all quality audit findings from fleet PR review
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/_constants.py
  src/amplihack/fleet/_session_gather.py
  src/amplihack/fleet/_status.py
  src/amplihack/fleet/_tui_classify.py
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/_validation.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_session_reasoner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: correct Dockerfile COPY path for repo-root build context
  deploy/azure_hive/Dockerfile
Due: none

fix: replace ceil/float with integer ceiling division in Bicep
  deploy/azure_hive/main.bicep
Due: none

fix: disable blob public access on storage account per Azure policy
  deploy/azure_hive/main.bicep
Due: none

fix: add explicit dependsOn envStorage for Container Apps
  deploy/azure_hive/main.bicep
Due: none

fix: move bloom/hash_ring into memory package, fix Dockerfile for source install
  deploy/azure_hive/Dockerfile
  src/amplihack/memory/bloom.py
  src/amplihack/memory/distributed_store.py
  src/amplihack/memory/hash_ring.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: create parent directories before KuzuGraphStore database init
  src/amplihack/memory/kuzu_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: create parent directory (not db_path itself) before KuzuGraphStore init
  src/amplihack/memory/kuzu_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove stale empty db_path dir and create parent before KuzuGraphStore init
  src/amplihack/memory/kuzu_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(hive): use simple memory backend, graceful SB import, and scale to 100 agents
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/main.bicep
Due: check-imports, check-dependencies

feat(memory): wire NetworkGraphStore for distributed topology via Azure Service Bus
  deploy/azure_hive/agent_entrypoint.py
  src/amplihack/memory/facade.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(hive-mind): update all 4 docs with Azure deployment facts and latest eval results
  docs/agent_memory_architecture.md
  docs/distributed_hive_mind.md
  docs/hive_mind_presentation.md
  docs/memory_ooda_integration.md
Due: none

fix: admiral uses Opus with 128K max tokens, not Sonnet with 4K
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/_constants.py
  src/amplihack/fleet/tests/test_fleet_session_reasoner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(power_steering_checker): add Copilot transcript format auto-detection and parsing
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/__init__.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/main_checker.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/transcript_parser.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_transcript_parser.py
Due: check-imports, check-dependencies

docs: add prompt-to-distributed-hive tutorial and refresh stale docs
  docs/hive_mind/GETTING_STARTED.md
  docs/hive_mind/TUTORIAL.md
  docs/hive_mind_presentation.md
  docs/tutorial_prompt_to_distributed_hive.md
Due: none

Remove simple backend hack and fix Azure volumes for Kuzu (POSIX locks)
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/main.bicep
  docs/agent_memory_architecture.md
  docs/distributed_hive_mind.md
  docs/hive_mind_presentation.md
  docs/memory_ooda_integration.md
  src/amplihack/memory/facade.py
  tests/test_memory_facade.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: update all docs for Opus model, 128K tokens, 60 blocklist patterns
  .claude/skills/fleet/SKILL.md
  docs/fleet-orchestration/ADMIRAL_REASONING.md
Due: none

test(power_steering): add Copilot e2e tests and sync transcript_parser to .claude/ (#2845)
  .claude/tools/amplihack/hooks/power_steering_checker/main_checker.py
  .claude/tools/amplihack/hooks/power_steering_checker/transcript_parser.py
  .claude/tools/amplihack/hooks/tests/fixtures/copilot_events.jsonl
  .claude/tools/amplihack/hooks/tests/test_copilot_e2e_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/tests/fixtures/copilot_events.jsonl
Due: check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
