Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix(build): Include amplifier-bundle/ in wheel package
  build_hooks.py
Due: check-dependencies

fix: Remove unnecessary cclsp MCP server configuration
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Check plugin install success and show actual errors
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove duplicate PluginManager import to fix UnboundLocalError
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove duplicate PluginManager import
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove duplicate PluginManager import causing UnboundLocalError
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Use claude plugin install and fix hook paths
  .claude/tools/amplihack/hooks/hooks.json
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Add UVX-based integration tests for plugin validation
  tests/integration/uvx/IMPLEMENTATION_SUMMARY.md
  tests/integration/uvx/README.md
  tests/integration/uvx/__init__.py
  tests/integration/uvx/harness/__init__.py
  tests/integration/uvx/harness/output_validator.py
  tests/integration/uvx/harness/test_helpers.py
  tests/integration/uvx/harness/uvx_launcher.py
  tests/integration/uvx/test_agents.py
  tests/integration/uvx/test_commands.py
  tests/integration/uvx/test_hooks.py
  tests/integration/uvx/test_lsp_detection.py
  tests/integration/uvx/test_settings_generation.py
  tests/integration/uvx/test_skills.py
  tests/integration/uvx/verify_implementation.py
Due: none

fix: Make plugin discoverable in Claude Code /plugin command
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
  src/amplihack/plugin_manager/manager.py
  src/amplihack/settings_generator/generator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add UVX integration test results
  tests/integration/uvx/TEST_RESULTS.md
Due: none

docs: Add complete implementation summary
  IMPLEMENTATION_SUMMARY.md
Due: none

feat: Add Claude Code plugin architecture for amplihack
  .claude-plugin/plugin.json
  .claude/tools/amplihack/hooks/hooks.json
  docs/index.md
  docs/plugin/LSP_CONFIGURATION.md
  docs/plugin/PLUGIN_DEVELOPMENT.md
  docs/plugin/PLUGIN_INSTALLATION.md
  docs/plugin/QUICK_REFERENCE.md
  docs/plugin/README.md
  docs/plugin/index.md
  src/amplihack/lsp_detector/__init__.py
  src/amplihack/lsp_detector/detector.py
  src/amplihack/path_resolver/__init__.py
  src/amplihack/path_resolver/resolver.py
  src/amplihack/plugin_manager/__init__.py
  src/amplihack/plugin_manager/manager.py
  src/amplihack/settings_generator/__init__.py
  src/amplihack/settings_generator/generator.py
  tests/PLUGIN_TESTS_SUMMARY.md
  tests/TEST_PLAN_PLUGIN_ARCHITECTURE.md
  tests/e2e/test_complete_workflow.py
  tests/integration/test_plugin_installation.py
  tests/unit/test_lsp_detector.py
  tests/unit/test_path_resolver.py
  tests/unit/test_plugin_manager.py
  tests/unit/test_settings_generator.py
  tests/verify_tests.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Add comprehensive outside-in test harness for plugin validation
  tests/IMPLEMENTATION_COMPLETE.md
  tests/PLUGIN_TEST_HARNESS_SUMMARY.md
  tests/conftest.py
  tests/e2e/README.md
  tests/e2e/test_hook_protocol_e2e.py
  tests/e2e/test_lsp_detection_e2e.py
  tests/e2e/test_plugin_manager_e2e.py
  tests/harness/README.md
  tests/harness/__init__.py
  tests/harness/subprocess_test_harness.py
  tests/verify_harness_setup.py
Due: none

fix: Correct plugin manifest path - use .parent not .parent.parent
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Complete plugin manifest packaging implementation
  pyproject.toml
Due: none

fix: Restore working CLI code from c46714a2
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add plugin manifest copying to build_hooks.py
  build_hooks.py
Due: check-dependencies

feat: Complete Claude Code plugin architecture implementation (Issue #1948)
  .claude-plugin/plugin.json
  .claude/tools/amplihack/hooks/hooks.json
  ISSUE_1948_REQUIREMENTS.md
  Specs/BACKWARD_COMPATIBILITY.md
  Specs/CROSS_TOOL_COMPATIBILITY.md
  Specs/DOCUMENTATION_UPDATES.md
  Specs/HOOK_REGISTRATION_AUDIT.md
  Specs/IMPLEMENTATION_PLAN.md
  Specs/PLUGIN_CLI_COMMANDS.md
  Specs/PLUGIN_MARKETPLACE_CONFIG.md
  TDD_TESTS_DELIVERY.md
  docs/MIGRATION_GUIDE.md
  docs/PLUGIN_ARCHITECTURE.md
  docs/PLUGIN_CLI_HELP.md
  docs/PLUGIN_DOCUMENTATION_INDEX.md
  docs/README_PLUGIN_SECTION.md
  docs/RETCON_DOCUMENTATION_SUMMARY.md
  src/amplihack/cli.py
  src/amplihack/mode_detector/__init__.py
  src/amplihack/mode_detector/detector.py
  src/amplihack/mode_detector/migration.py
  src/amplihack/plugin_cli/__init__.py
  src/amplihack/plugin_cli/cli_handlers.py
  src/amplihack/plugin_cli/parser_setup.py
  src/amplihack/plugin_cli/verifier.py
  src/amplihack/plugin_manager/manager.py
  src/amplihack/settings_generator/generator.py
  tests/TEST_SUMMARY.md
  tests/integration/test_backward_compat.py
  tests/integration/test_plugin_cli_integration.py
  tests/unit/test_hook_registration.py
  tests/unit/test_marketplace_config.py
  tests/unit/test_plugin_cli.py
  tests/verify_tests.sh
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove local subprocess import shadowing module-level import
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add subprocess import and define package_root
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct plugin manifest path to amplihack/.claude-plugin/
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Define local_claude_dir before use
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove local subprocess import on line 700
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
