Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: implement CRLF normalisation and git check-ref-format validation in branch slug pipeline
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(eval): fix distributed ooda-eval Log Analytics answer reader
  experiments/hive_mind/query_hive.py
Due: check-imports, check-dependencies

fix(recipes): address PR #2973 review findings — quoting consistency, trailing hyphen, fallback collision
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  docs/features/branch-name-generation.md
Due: none

fix(recipes): add empty-slug guard and correct doc examples
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  docs/features/branch-name-generation.md
Due: none

fix: truncate branch name to prevent git ref-format errors (#2952)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  docs/features/branch-name-generation.md
  pyproject.toml
Due: none

fix(fleet): poll VMs sequentially to avoid Bastion tunnel collisions
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(deploy): add model parameter and fix Service Bus topic name
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/main.bicep
Due: none

feat(fleet): use azlin session data as source of truth for discovery
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/tests/test_fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: eliminate silent ImportError fallbacks in src/amplihack (Phase 3)
  src/amplihack/__init__.py
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/agents/goal_seeking/hive_mind/controller.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
  src/amplihack/agents/goal_seeking/hive_mind/embeddings.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/query_expansion.py
  src/amplihack/agents/goal_seeking/hive_mind/reranker.py
  src/amplihack/agents/goal_seeking/sdk_adapters/claude_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/copilot_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/factory.py
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
  src/amplihack/auto_update.py
  src/amplihack/dep_check.py
  src/amplihack/eval/compat.py
  src/amplihack/goal_agent_generator/cli.py
  src/amplihack/launcher/agent_memory.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/auto_mode_ui.py
  src/amplihack/launcher/fork_manager.py
  src/amplihack/launcher/memory_config.py
  src/amplihack/memory/auto_backend.py
  src/amplihack/memory/cli_visualize.py
  src/amplihack/memory/kuzu/code_graph.py
  src/amplihack/memory/kuzu/connector.py
  src/amplihack/memory_auto_install.py
  src/amplihack/meta_delegation/subprocess_adapter.py
  src/amplihack/power_steering/re_enable_prompt.py
  src/amplihack/proxy/github_auth.py
  src/amplihack/proxy/litellm_callbacks.py
  src/amplihack/proxy/log_streaming.py
  src/amplihack/security/cli.py
  src/amplihack/utils/claude_cli.py
  src/amplihack/utils/prerequisites.py
  src/amplihack/vendor/blarify/vendor/multilspy/multilspy_utils.py
  src/amplihack/workflows/execution_tier_cascade.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: eliminate silent ImportError fallbacks in amplifier-bundle (Phase 2)
  amplifier-bundle/modules/hook-memory/amplifier_hook_memory/__init__.py
  amplifier-bundle/modules/hook-post-tool-use/amplifier_hook_post_tool_use/__init__.py
  amplifier-bundle/modules/hook-power-steering/amplifier_hook_power_steering/__init__.py
  amplifier-bundle/modules/hook-pre-compact/amplifier_hook_pre_compact/__init__.py
  amplifier-bundle/modules/hook-pre-tool-use/amplifier_hook_pre_tool_use/__init__.py
  amplifier-bundle/modules/hook-session-start/amplifier_hook_session_start/__init__.py
  amplifier-bundle/modules/hook-session-stop/amplifier_hook_session_stop/__init__.py
  amplifier-bundle/modules/hook-user-prompt/amplifier_hook_user_prompt/__init__.py
  amplifier-bundle/recipes/oxidizer-workflow.yaml
  amplifier-bundle/skills/common/verification/verify_skill.py
  amplifier-bundle/skills/context-management/automation.py
  amplifier-bundle/skills/pm-architect/scripts/generate_daily_status.py
  amplifier-bundle/skills/pm-architect/scripts/generate_roadmap_review.py
  amplifier-bundle/skills/pm-architect/scripts/triage_pr.py
  amplifier-bundle/tools/amplihack/builders/__init__.py
  amplifier-bundle/tools/amplihack/builders/claude_transcript_builder.py
  amplifier-bundle/tools/amplihack/builders/codex_transcripts_builder.py
  amplifier-bundle/tools/amplihack/builders/export_on_compact_integration.py
  amplifier-bundle/tools/amplihack/context_automation_hook.py
  amplifier-bundle/tools/amplihack/context_preservation.py
  amplifier-bundle/tools/amplihack/context_preservation_secure.py
  amplifier-bundle/tools/amplihack/memory/context_preservation.py
  amplifier-bundle/tools/amplihack/memory/examples.py
  amplifier-bundle/tools/amplihack/profile_management/cli.py
  amplifier-bundle/tools/amplihack/reflection/contextual_error_analyzer.py
  amplifier-bundle/tools/amplihack/reflection/display.py
  amplifier-bundle/tools/amplihack/reflection/reflection.py
  amplifier-bundle/tools/amplihack/update_engine.py
  amplifier-bundle/tools/amplihack/xpia_defense.py
  amplifier-bundle/tools/ci_workflow.py
  amplifier-bundle/tools/scripts/cleanup_duplicate_issues.py
  amplifier-bundle/tools/xpia/hooks/pre_tool_use.py
  amplifier-bundle/tools/xpia/hooks/session_start.py
Due: check-imports, check-dependencies

fix: eliminate silent ImportError fallbacks in hooks (Phase 1)
  .claude/tools/amplihack/hooks/agent_memory_hook.py
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/file_lock_utils.py
  .claude/tools/amplihack/hooks/hook_processor.py
  .claude/tools/amplihack/hooks/post_tool_use.py
  .claude/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  .claude/tools/amplihack/hooks/power_steering_checker/main_checker.py
  .claude/tools/amplihack/hooks/power_steering_checker/progress_tracking.py
  .claude/tools/amplihack/hooks/power_steering_checker/result_formatting.py
  .claude/tools/amplihack/hooks/power_steering_checker/sdk_calls.py
  .claude/tools/amplihack/hooks/power_steering_delta_analyzer.py
  .claude/tools/amplihack/hooks/power_steering_models.py
  .claude/tools/amplihack/hooks/power_steering_sdk.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/power_steering_state_io.py
  .claude/tools/amplihack/hooks/power_steering_state_manager.py
  .claude/tools/amplihack/hooks/pre_tool_use.py
  .claude/tools/amplihack/hooks/precommit_installer.py
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  .claude/tools/amplihack/hooks/workflow_enforcement_hook.py
Due: check-dependencies

fix(fleet): handle truncated status column from azlin list
  src/amplihack/fleet/_tui_parsers.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: implement tree-wide spawn counter to prevent exponential fan-out (issue 2963)
  .claude/commands/amplihack/ps-diagnose.md
  amplifier-bundle/tools/session_tree.py
  tests/test_session_tree.py
Due: check-imports, check-dependencies, amplihack-sync-commands

fix: add retry backoff on rate limits, increase all timeouts
  experiments/hive_mind/query_hive.py
  src/amplihack/agents/goal_seeking/input_source.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(hive-mind): link EVAL.md to amplihack-agent-eval docs site
  docs/hive_mind/EVAL.md
Due: none

feat: add 209 tests for Python hook coverage uplift
  .claude/tools/amplihack/hooks/tests/test_hook_processor_edge_cases.py
  .claude/tools/amplihack/hooks/tests/test_pre_tool_use_security.py
  .claude/tools/amplihack/hooks/tests/test_session_lifecycle.py
  .claude/tools/amplihack/hooks/tests/test_stop_state_machine.py
  .claude/tools/amplihack/hooks/tests/test_user_prompt_coverage.py
Due: none

test: Phase 0c — Python hook test coverage uplift (209 new tests, 84% coverage)
  .claude/tools/amplihack/hooks/tests/test_hook_processor_edge_cases.py
  .claude/tools/amplihack/hooks/tests/test_pre_tool_use_security.py
  .claude/tools/amplihack/hooks/tests/test_session_lifecycle.py
  .claude/tools/amplihack/hooks/tests/test_stop_state_machine.py
  .claude/tools/amplihack/hooks/tests/test_user_prompt_coverage.py
  pyproject.toml
Due: none

fix(fleet): clear DEFAULT_EXCLUDE_VMS — all VMs are fleet-managed
  src/amplihack/fleet/_defaults.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add Rust XPIA subprocess bridge (rust_xpia.py)
  src/amplihack/security/rust_xpia.py
  tests/test_rust_xpia.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add tree-scoped spawn counter to prevent power steering fan-out (#2963)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/session_tree.py
  tests/test_session_tree.py
Due: check-imports, check-dependencies

fix(deploy): use deployment-specific Service Bus topic name
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/main.bicep
Due: none

fix: add tree-scoped spawn counter to prevent power steering fan-out (#2963)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/session_tree.py
  pyproject.toml
  tests/test_session_tree.py
Due: check-imports, check-dependencies

fix: truncate task_description in git operations across all recipes (#2994)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: truncate task_description in git operations (#2994)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
Due: none

test: add 35 outside-in tests for Rust XPIA integration
  tests/test_outside_in_xpia_rust.py
Due: none

test(fleet): add outside-in agentic tests for SessionCopilot
  tests/agentic/copilot-copilot-backend.yaml
  tests/agentic/copilot-dangerous-input.yaml
  tests/agentic/copilot-lifecycle-claude.yaml
  tests/agentic/copilot-mark-complete.yaml
  tests/agentic/copilot-stop-handler-integration.yaml
Due: none

fix: correct Claude Code hook input format (top-level tool_name/tool_input)
  .claude/tools/xpia/hooks/pre_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use_rust.py
  tests/test_outside_in_xpia_rust.py
Due: check-imports, check-dependencies
