Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix(recipe): Ensure default-workflow uses isolated worktrees for all operations
  amplifier-bundle/recipes/default-workflow.yaml
  test-worktree-isolation.sh
Due: none

feat: Add pre-commit-manager skill with intelligent preference memory (#2281)
  .claude/docs/SECURITY_CODE_REVIEW_CHECKLIST.md
  .claude/docs/SECURITY_REQUIREMENTS.md
  .claude/docs/SECURITY_SUMMARY.md
  .claude/skills/pre-commit-manager/README.md
  .claude/skills/pre-commit-manager/SKILL.md
  .claude/skills/precommit_manager.py
  .claude/tools/amplihack/hooks/precommit_installer.py
  .claude/tools/amplihack/hooks/precommit_prefs.py
  .claude/tools/amplihack/hooks/tests/test_precommit_end_to_end.py
  .claude/tools/amplihack/hooks/tests/test_precommit_installer.py
  .claude/tools/amplihack/hooks/tests/test_precommit_installer_enhanced.py
  .claude/tools/amplihack/hooks/tests/test_precommit_prefs.py
  .claude/tools/amplihack/hooks/tests/test_precommit_security.py
  .claude/tools/amplihack/hooks/tests/test_precommit_skill_operations.py
  README.md
  pyproject.toml
Due: check-dependencies

fix(recipe): Ensure default-workflow uses isolated worktrees for all operations
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(recipe): Ensure default-workflow uses isolated worktrees (#2294)
  amplifier-bundle/recipes/default-workflow.yaml
  test-worktree-isolation.sh
Due: none

feat(ultrathink): integrate Recipe Runner for code-enforced workflow execution
  .claude/commands/amplihack/ultrathink.md
Due: amplihack-sync-commands

feat: Expand recipe runner test coverage from 1.12:1 to 3.51:1 ratio
  pytest.ini
  tests/unit/recipes/README.md
  tests/unit/recipes/test_adapters_extended.py
  tests/unit/recipes/test_discovery_extended.py
  tests/unit/recipes/test_edge_cases.py
  tests/unit/recipes/test_integration_scenarios.py
  tests/unit/recipes/test_security_attacks.py
Due: none

Fix critical code review issues in memory library
  amplihack-memory-lib/README.md
  amplihack-memory-lib/examples/basic_usage.py
  amplihack-memory-lib/examples/secure_memory_usage.py
  amplihack-memory-lib/pyproject.toml
  amplihack-memory-lib/setup.py
  amplihack-memory-lib/src/amplihack_memory/__init__.py
  amplihack-memory-lib/src/amplihack_memory/connector.py
  amplihack-memory-lib/src/amplihack_memory/exceptions.py
  amplihack-memory-lib/src/amplihack_memory/experience.py
  amplihack-memory-lib/src/amplihack_memory/pattern_recognition.py
  amplihack-memory-lib/src/amplihack_memory/security.py
  amplihack-memory-lib/src/amplihack_memory/semantic_search.py
  amplihack-memory-lib/src/amplihack_memory/store.py
  amplihack-memory-lib/tests/README.md
  amplihack-memory-lib/tests/conftest.py
  amplihack-memory-lib/tests/test_experience_model.py
  amplihack-memory-lib/tests/test_experience_store.py
  amplihack-memory-lib/tests/test_memory_connector.py
  amplihack-memory-lib/tests/test_pattern_recognition.py
  amplihack-memory-lib/tests/test_security.py
  amplihack-memory-lib/tests/test_semantic_search.py
Due: check-imports, check-dependencies

fix: Correct ExperienceStore API calls in doc-analyzer
  generated-agents/doc-analyzer/agent.py
Due: check-imports, check-dependencies

fix: Create broken-links label in docs-link-checker workflow (#2280)
  .github/workflows/docs-link-checker.yml
Due: none

test: Add gadugi-agentic-test scenarios for Step 19
  tests/outside_in/test_agent_generation.yaml
  tests/outside_in/test_all_four_agents_learning.yaml
  tests/outside_in/test_doc_analyzer_learning.yaml
Due: none

fix: Add GitGuardian exceptions for memory library security code
  .gitguardian.yaml
Due: none

fix: Add test credential patterns to GitGuardian ignored_matches
  .gitguardian.yaml
Due: none

fix: Broaden GitGuardian exclusions for memory library
  .gitguardian.yaml
Due: none

test: Add comprehensive skill test coverage (workflow gap fix)
  tests/skills/README.md
  tests/skills/test_markitdown_skill.py
  tests/skills/test_skill_builder.py
  uv.lock
Due: none

fix: Use absolute paths for Stop/SessionStart hooks (#2299)
  .claude/settings.json
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

Address PR #2237 review comments: cross-platform fixes, test organization, and dependencies (#2272)
  pyproject.toml
  tests/hooks/test_main_branch_protection.py
  tests/integration/test_github_branch_protection_integration.py
  tests/skills/test_github_branch_protection_skill.py
Due: none

fix: Use absolute paths for Stop and SessionStart hooks (#2299)
  .claude/settings.json
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

fix: Improve test pass rate from 86.6% to 99.0% (185/187)
  amplihack-memory-lib/KNOWN_ISSUES.md
  amplihack-memory-lib/src/amplihack_memory/connector.py
  amplihack-memory-lib/src/amplihack_memory/pattern_recognition.py
  amplihack-memory-lib/src/amplihack_memory/store.py
  amplihack-memory-lib/test_fts_debug.py
  amplihack-memory-lib/test_search_debug.py
  amplihack-memory-lib/tests/test_experience_store.py
  amplihack-memory-lib/tests/test_memory_connector.py
  amplihack-memory-lib/tests/test_pattern_recognition.py
Due: check-imports, check-dependencies

feat: Integrate Recipe Runner into ultrathink orchestrator
  .claude/context/PROJECT.md
  INTEGRATION_SUMMARY.md
  docs/index.md
  docs/recipes/README.md
  docs/recipes/RECIPE_RUNNER_ULTRATHINK_INTEGRATION.md
Due: none

chore: Organize integration summary and ignore Rust artifacts
  .gitignore
  docs/implementation/recipe-runner-integration-summary.md
Due: none

feat: add end-to-end integration tests for meta-delegation (#2292)
  pytest.ini
  src/amplihack/meta_delegation/evidence_collector.py
  src/amplihack/meta_delegation/orchestrator.py
  src/amplihack/meta_delegation/subprocess_adapter.py
  src/amplihack/meta_delegation/success_evaluator.py
  tests/meta_delegation/e2e/README.md
  tests/meta_delegation/e2e/TEST_IMPLEMENTATION_SUMMARY.md
  tests/meta_delegation/e2e/TEST_STRUCTURE.txt
  tests/meta_delegation/e2e/conftest.py
  tests/meta_delegation/e2e/test_error_propagation.py
  tests/meta_delegation/e2e/test_multi_step_orchestration.py
  tests/meta_delegation/e2e/test_real_subprocess_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
