Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: Add Work IQ MCP integration for M365 data queries (#2107)
  .claude/skills/work-iq/SKILL.md
  .claude/skills/work-iq/examples.md
  .claude/skills/work-iq/reference.md
  .mcp.json
  marketplace.json
Due: none

fix: Make power-steering respect user PR merge approval preference
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_merge_preference.py
  .pre-commit-config.yaml
  docs/features/README.md
  docs/features/power-steering/README.md
  docs/features/power-steering/configuration.md
  docs/howto/power-steering-merge-preferences.md
  docs/index.md
  docs/reference/power-steering-merge-preferences.md
Due: check-dependencies

feat: Add mandatory outside-in testing step to DEFAULT_WORKFLOW (#2104)
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add Work IQ MCP integration for M365 data queries (#2107) (#2108)
  .claude/skills/work-iq/SKILL.md
  .claude/skills/work-iq/examples.md
  .claude/skills/work-iq/reference.md
  .mcp.json
  marketplace.json
Due: none

docs: Address minor review feedback for PR #2109
  .claude/tools/amplihack/hooks/tests/test_power_steering_merge_preference.py
  docs/features/power-steering/README.md
  docs/features/power-steering/configuration.md
  docs/howto/power-steering-merge-preferences.md
  docs/reference/power-steering-merge-preferences.md
Due: none

fix: Restore ToC sidebar and remove First Docs Site Tutorial from landing page
  docs/index.md
  mkdocs.yml
Due: none

feat(skills): Add .NET installation skill (#2110)
  .claude/skills/dotnet-install/SKILL.md
  .claude/skills/dotnet-install/reference.md
Due: none

fix: Add gitignore_checker.py to src/ directory for package distribution
  src/amplihack/.claude/tools/amplihack/hooks/__init__.py
  src/amplihack/.claude/tools/amplihack/hooks/gitignore_checker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add workflow classification reminder hook (#2075)
  .claude/AMPLIHACK.md
  .claude/tools/amplihack/hooks/hooks.json
  .claude/tools/amplihack/hooks/tests/integration_test_workflow_reminder.py
  .claude/tools/amplihack/hooks/tests/test-workflow-reminder-hook.yaml
  .claude/tools/amplihack/hooks/tests/test_hook_e2e.sh
  .claude/tools/amplihack/hooks/tests/test_workflow_classification_reminder.py
  .claude/tools/amplihack/hooks/tests/workflow-reminder-e2e.yaml
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  .claude/workflow/OPS_WORKFLOW.md
  amplifier-bundle/bundle.md
Due: check-dependencies

feat(skills): Add .NET installation skill (#2110) (#2112)
  .claude/skills/dotnet-install/SKILL.md
  .claude/skills/dotnet-install/reference.md
Due: none

fix: Restore ToC sidebar and remove First Docs Site Tutorial link
  docs/index.md
  mkdocs.yml
Due: none

Add AMPLIHACK_DISABLE_BLARIFY environment variable to skip indexing
  docs/blarify_integration.md
  docs/blarify_quickstart.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add AMPLIHACK_DISABLE_BLARIFY environment variable to skip indexing (#2117)
  docs/blarify_integration.md
  docs/blarify_quickstart.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Restore ToC sidebar and remove First Docs Site Tutorial link (#2115)
  docs/index.md
  mkdocs.yml
Due: none

Invert Blarify logic - disabled by default, opt-in to enable
  docs/blarify_integration.md
  docs/blarify_quickstart.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add session start hook to ensure .claude/logs and .claude/runtime are in .gitignore (#2105)
  .claude/docs/GITIGNORE_SESSION_HOOK.md
  .claude/tools/amplihack/hooks/__init__.py
  .claude/tools/amplihack/hooks/gitignore_checker.py
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/hooks/test_integration.py
  .claude/tools/amplihack/hooks/test_session_start_integration.py
  .claude/tools/amplihack/hooks/tests/__init__.py
  .claude/tools/amplihack/hooks/tests/test_gitignore_checker.py
  .claude/tools/amplihack/hooks/tests/test_gitignore_integration.py
  .claude/tools/amplihack/hooks/tests/test_gitignore_integration_direct.py
  .gitignore
  src/amplihack/.claude/tools/amplihack/hooks/__init__.py
  src/amplihack/.claude/tools/amplihack/hooks/gitignore_checker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Update github-copilot-cli-expert skill with latest CLI docs
  .claude/skills/github-copilot-cli-expert/README.md
  .claude/skills/github-copilot-cli-expert/SKILL.md
  .claude/skills/github-copilot-cli-expert/examples.md
  .claude/skills/github-copilot-cli-expert/reference.md
  amplifier-bundle/skills/github-copilot-cli-expert/README.md
  amplifier-bundle/skills/github-copilot-cli-expert/SKILL.md
  amplifier-bundle/skills/github-copilot-cli-expert/examples.md
  amplifier-bundle/skills/github-copilot-cli-expert/reference.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/README.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/SKILL.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/examples.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/reference.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/README.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/SKILL.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/examples.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/reference.md
Due: none

fix: Resolve circular imports in vendored blarify
  src/amplihack/vendor/blarify/graph/node/class_node.py
  src/amplihack/vendor/blarify/graph/node/deleted_node.py
  src/amplihack/vendor/blarify/graph/node/documentation_node.py
  src/amplihack/vendor/blarify/graph/node/file_node.py
  src/amplihack/vendor/blarify/graph/node/folder_node.py
  src/amplihack/vendor/blarify/graph/node/function_node.py
  src/amplihack/vendor/blarify/graph/node/workflow_node.py
  src/amplihack/vendor/blarify/graph/relationship/relationship.py
  src/amplihack/vendor/blarify/graph/relationship/relationship_creator.py
  tests/agentic/blarify-indexing-happy-path.yaml
  tests/manual/test_blarify_user_flow.sh
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Invert Blarify logic - disabled by default, opt-in to enable (#2120)
  docs/blarify_integration.md
  docs/blarify_quickstart.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Remove Neo4j references, update for Kuzu-only architecture
  docs/blarify_architecture.md
  docs/blarify_integration.md
  docs/index.md
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
