Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: add git pull --rebase before push in recipe workflow steps (#3194)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  tests/gadugi/recipe-push-divergence-fix.yaml
Due: none

fix(code-atlas): remove experiment data from repo, fix scripts for 8 layers
  .claude/skills/code-atlas/SKILL.md
  scripts/check-atlas-staleness.sh
  scripts/rebuild-atlas-all.sh
Due: none

docs(prerequisites): add Rust/cargo to WSL section and fix claude-trace status
  docs/PREREQUISITES.md
Due: none

fix(code-atlas): address quality audit — 4 critical, 4 high findings fixed
  .claude/skills/code-atlas/tests/test_atlas_output_structure.sh
  .claude/skills/code-atlas/tests/test_bug_hunt_workflow.sh
  .claude/skills/code-atlas/tests/test_layer7_8.sh
  amplifier-bundle/recipes/code-atlas.yaml
  scripts/check-atlas-staleness.sh
  scripts/render-atlas-svg.sh
Due: none

fix(code-atlas): quality audit round 2 — last 6 stale refs, simpler condition
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/code-atlas/tests/test_publication_workflow.sh
  .claude/skills/code-atlas/tests/test_scenarios.md
  amplifier-bundle/recipes/code-atlas.yaml
Due: none

fix: supplement large-kb simple retrieval
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(code-atlas): rename Layer 3 from HTTP Routing to API Contracts
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/code-atlas/tests/test_atlas_output_structure.sh
  .claude/skills/code-atlas/tests/test_layer_contracts.sh
  .claude/skills/code-atlas/tests/test_publication_workflow.sh
  .claude/skills/code-atlas/tests/test_staleness_triggers.sh
  amplifier-bundle/recipes/code-atlas.yaml
  scripts/check-atlas-staleness.sh
  scripts/rebuild-atlas-all.sh
Due: none

fix(code-atlas): complete API Contracts rename, fix layer numbering, update trigger table
  .claude/skills/code-atlas/README.md
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/code-atlas/tests/test_scenarios.md
  amplifier-bundle/recipes/code-atlas.yaml
  docs/reference/code-atlas-reference.md
  docs/tutorials/code-atlas-getting-started.md
Due: none

feat(code-atlas): slug-based layer identity — reordering never requires mass rename
  .claude/skills/code-atlas/API-CONTRACTS.md
  .claude/skills/code-atlas/LAYERS.yaml
  .claude/skills/code-atlas/SECURITY.md
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/code-atlas/tests/test_atlas_output_structure.sh
  .claude/skills/code-atlas/tests/test_layer7_8.sh
  .claude/skills/code-atlas/tests/test_layer_contracts.sh
  .claude/skills/code-atlas/tests/test_publication_workflow.sh
  .claude/skills/code-atlas/tests/test_rebuild_script.sh
  .claude/skills/code-atlas/tests/test_scenarios.md
  .claude/skills/code-atlas/tests/test_security_controls.md
  .claude/skills/code-atlas/tests/test_security_controls.sh
  amplifier-bundle/recipes/code-atlas.yaml
  docs/howto/use-code-atlas.md
  docs/reference/code-atlas-reference.md
  docs/tutorials/code-atlas-getting-started.md
  scripts/rebuild-atlas-all.sh
  scripts/safe_read.sh
  scripts/validate_atlas_output.sh
Due: none

fix(code-atlas): address round 4 audit — slug-based output messages, fix EXPECTED_LAYERS, update prose
  .claude/skills/code-atlas/SKILL.md
  scripts/check-atlas-staleness.sh
  scripts/rebuild-atlas-all.sh
Due: none

fix(code-atlas): round 5 audit — staleness test assert format, last stale refs
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/code-atlas/tests/test_staleness_triggers.sh
  scripts/rebuild-atlas-all.sh
Due: none

feat: add mermaid workflow graphs to skills, agents, and CLAUDE.md
  .claude/agents/amplihack/specialized/ci-diagnostic-workflow.md
  .claude/commands/amplihack/fix.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/quality-audit/SKILL.md
  CLAUDE.md
Due: amplihack-sync-commands

feat(code-atlas): add scope_target and diagram_type to LAYERS.yaml
  .claude/skills/code-atlas/LAYERS.yaml
Due: none

feat(code-atlas): rewrite skill to follow best practices — 1419→291 lines
  .claude/skills/code-atlas/README.md
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/code-atlas/bug-hunt-guide.md
  .claude/skills/code-atlas/examples.md
  .claude/skills/code-atlas/publication-guide.md
  .claude/skills/code-atlas/reference.md
Due: none

fix(code-atlas): structured diagram_type, monolith scope guidance
  .claude/skills/code-atlas/LAYERS.yaml
Due: none

fix: address 3 graph accuracy issues found during testing
  .claude/agents/amplihack/specialized/ci-diagnostic-workflow.md
  .claude/commands/amplihack/fix.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/quality-audit/SKILL.md
  CLAUDE.md
Due: amplihack-sync-commands

docs(design): LearningAgent integration into goal-seeking agent generator
  docs/design/learning-agent-generator-integration.md
Due: none

fix: address 3 graph accuracy issues found during testing
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/quality-audit/SKILL.md
Due: none

test: add validation script and gadugi scenario for mermaid graphs
  tests/agentic/mermaid-workflow-graphs.yaml
  tests/validate_mermaid_graphs.py
Due: none

fix: address quality audit cycle 1 findings — 4 high, 4 medium fixes
  .claude/agents/amplihack/specialized/ci-diagnostic-workflow.md
  .claude/commands/amplihack/fix.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
Due: amplihack-sync-commands

fix: address quality audit cycle 2 findings — 3 high, 5 medium fixes
  .claude/agents/amplihack/specialized/ci-diagnostic-workflow.md
  .claude/commands/amplihack/fix.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
Due: amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
