Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

test(recipes): isolate execution tests from version gating
  tests/recipes/test_rust_runner_execution.py
Due: none

fix(azure-hive): gate missing remote adapter contract\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_partition_routing.py
  deploy/azure_hive/tests/test_remote_agent_adapter.py
Due: check-imports, check-dependencies

fix(azure-hive): gate missing remote adapter contract (#3423)
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_partition_routing.py
  deploy/azure_hive/tests/test_remote_agent_adapter.py
  pyproject.toml
Due: check-imports, check-dependencies

fix: remediate memory eval audit drift
  deploy/azure_hive/tests/test_partition_routing.py
  docs/AGENT_MEMORY_QUICKSTART.md
  docs/EVAL_SYSTEM_ARCHITECTURE.md
  docs/atlas/api-contracts/inventory.md
  docs/atlas/compile-deps/README.md
  docs/concepts/memory-enabled-agents-architecture.md
  docs/evaluation-framework.md
  docs/howto/integrate-memory-into-agents.md
  docs/memory/MEMORY_TREE_VISUALIZATION.md
  docs/memory/README.md
  docs/memory/evaluation-summary.md
  docs/reference/memory-cli-reference.md
  docs/troubleshooting/memory-enabled-agents.md
  docs/tutorials/memory-enabled-agents-getting-started.md
  pyproject.toml
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/agents/goal_seeking/input_source.py
  src/amplihack/agents/goal_seeking/partition_routing.py
  src/amplihack/cli.py
  src/amplihack/eval/long_horizon_memory.py
  src/amplihack/eval/progressive_test_suite.py
  tests/agents/goal_seeking/test_hierarchical_memory.py
  tests/unit/cli/test_memory_commands.py
  tests/unit/deploy/test_remote_agent_adapter_wrapper.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(workflow): port recent upstream hardening
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(workflow): port recent upstream hardening (#3415)
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
Due: none

feat(pm-architect): port dual-SDK parity
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

docs(memory): restore landing page breadcrumb\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  docs/memory/README.md
Due: none

feat(eval): port distributed hive parity
  docs/examples/evaluate_backends.py
  scripts/test_validate_gh_pages_links.py
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/memory/backends/kuzu_backend.py
  src/amplihack/memory/evaluation/comparison.py
  tests/integration/memory/test_retrieval_flow.py
  tests/integration/memory/test_storage_flow.py
  tests/unit/memory/test_retrieval_pipeline.py
  tests/unit/memory/test_storage_pipeline.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(workflows): stop mutating PR branches for version bumps\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  .github/workflows/VERSION_WORKFLOWS.md
  .github/workflows/version-check.yml
Due: none

test(workflows): add advisory version-check scenario\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  tests/agentic/version-check-advisory-nonmutating.yaml
Due: none

fix: add AMPLIHACK_HOME to recipe discovery search path (#3237)
  src/amplihack/recipes/discovery.py
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

style: apply ruff and prettier formatting to rust_runner.py and STREAMING_OUTPUT.md
  docs/recipes/STREAMING_OUTPUT.md
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: improve error messages when recipe runner is killed by signal
  src/amplihack/recipes/rust_runner.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: update streaming output docs to reflect improved heartbeat (#3266)
  docs/recipes/STREAMING_OUTPUT.md
Due: none

docs: add supply-chain-audit tutorial and index entry
  docs/howto/run-supply-chain-audit.md
  docs/index.md
Due: none

feat: add GitHub Copilot SDK support to triage_pr.py
  .claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  .claude/skills/pm-architect/scripts/triage_pr.py
Due: check-dependencies

fix: improve AMPLIHACK_HOME discovery — validate path and emit warning (#3237)
  src/amplihack/recipes/discovery.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add supply-chain-audit skill for CI/CD and dependency attack surface auditing
  .claude/skills/supply-chain-audit/SKILL.md
  .claude/skills/supply-chain-audit/reference/actions.md
  .claude/skills/supply-chain-audit/reference/automations.md
  .claude/skills/supply-chain-audit/reference/containers.md
  .claude/skills/supply-chain-audit/reference/credentials.md
  .claude/skills/supply-chain-audit/reference/dotnet.md
  .claude/skills/supply-chain-audit/reference/eval-scenarios.md
  .claude/skills/supply-chain-audit/reference/go.md
  .claude/skills/supply-chain-audit/reference/node.md
  .claude/skills/supply-chain-audit/reference/python.md
  .claude/skills/supply-chain-audit/reference/rust.md
  .claude/skills/supply-chain-audit/reference/sbom-slsa.md
Due: none

fix: use bundle subdir (not root) for AMPLIHACK_HOME in discovery (#3237)
  src/amplihack/recipes/discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add supply-chain-audit skill to SKILL_CATALOG.md
  docs/skills/SKILL_CATALOG.md
Due: none

refactor: remove dead code from test_default_workflow_fixes.py
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

fix: correct issue number extraction and idempotent step-4 worktree setup
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

refactor: move signal import to module level in rust_runner.py
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: correct SDK_AVAILABLE reference and mock_query in pm-architect triage scripts
  .claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  .claude/skills/pm-architect/scripts/triage_pr.py
  amplifier-bundle/skills/pm-architect/scripts/tests/test_triage_pr.py
  amplifier-bundle/skills/pm-architect/scripts/triage_pr.py
  docs/claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  docs/claude/skills/pm-architect/scripts/triage_pr.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
