Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: Add gh-aw-adoption skill for automated GitHub Agentic Workflows adoption
  .claude/skills/gh-aw-adoption/GENERIC_ADOPTION_PROMPT.md
  .claude/skills/gh-aw-adoption/SKILL.md
  .claude/skills/gh-aw-adoption/examples.md
  .claude/skills/gh-aw-adoption/patterns.md
  .claude/skills/gh-aw-adoption/reference.md
Due: none

refactor: Remove specific repository references from gh-aw-adoption skill
  .claude/skills/gh-aw-adoption/GENERIC_ADOPTION_PROMPT.md
  .claude/skills/gh-aw-adoption/examples.md
  .claude/skills/gh-aw-adoption/patterns.md
Due: none

fix: Correct hook paths to use amplihack installation location
  .claude/settings.json
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

feat: Add gh-aw-adoption skill (#2304)
  .claude/skills/gh-aw-adoption/GENERIC_ADOPTION_PROMPT.md
  .claude/skills/gh-aw-adoption/SKILL.md
  .claude/skills/gh-aw-adoption/examples.md
  .claude/skills/gh-aw-adoption/patterns.md
  .claude/skills/gh-aw-adoption/reference.md
  pyproject.toml
Due: none

refactor: Make memory configuration startup output concise
  src/amplihack/launcher/memory_config.py
  tests/test_memory_config_output.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Make memory configuration startup output concise (#2307)
  pyproject.toml
  src/amplihack/launcher/memory_config.py
  tests/test_memory_config_output.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add /multitask skill with Recipe Runner integration (#2306)
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/examples.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/reference.md
  .claude/skills/multitask/test_orchestrator.py
Due: check-dependencies

docs: Add /multitask to README, CLAUDE.md, and skill catalog
  CLAUDE.md
  README.md
  docs/skills/SKILL_CATALOG.md
Due: none

test: Add outside-in test scenarios for multitask skill
  .claude/skills/multitask/tests/test-orchestrator-cli.yaml
Due: none

feat: Add /multitask skill with Recipe Runner integration (#2308)
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/examples.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/reference.md
  .claude/skills/multitask/test_orchestrator.py
  .claude/skills/multitask/tests/test-orchestrator-cli.yaml
  CLAUDE.md
  README.md
  docs/skills/SKILL_CATALOG.md
  pyproject.toml
Due: check-dependencies

fix: Remove redundant embedded USER_PREFERENCES.md from CLAUDE.md
  CLAUDE.md
Due: none

fix: Remove redundant embedded USER_PREFERENCES.md from CLAUDE.md (#2311)
  CLAUDE.md
  pyproject.toml
Due: none

chore: Add amplihack-memory-lib dependency from separate repo
  pyproject.toml
Due: none

feat: Auto-install amplihack-memory-lib on startup
  src/amplihack/__init__.py
  src/amplihack/memory_auto_install.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add CLI integration for Recipe Runner (#2290)
  docs/howto/recipe-cli-commands.md
  docs/index.md
  docs/recipes/README.md
  docs/recipes/cli-examples.md
  docs/recipes/quick-reference.md
  docs/reference/recipe-cli-reference.md
  src/amplihack/cli.py
  src/amplihack/cli/__init__.py
  src/amplihack/cli/recipe_command.py
  src/amplihack/cli/recipe_output.py
  tests/integration/test_recipe_cli_e2e.py
  tests/unit/cli/TEST_COVERAGE_SUMMARY.md
  tests/unit/cli/__init__.py
  tests/unit/cli/conftest.py
  tests/unit/cli/run_tests.sh
  tests/unit/cli/test_recipe_command.py
  tests/unit/cli/test_recipe_output.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove conflicting cli/ package that shadows cli.py module
  src/amplihack/cli/__init__.py
  src/amplihack/cli/recipe_command.py
  src/amplihack/cli/recipe_output.py
  tests/unit/cli/test_recipe_command.py
  tests/unit/cli/test_recipe_output.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Complete recipe CLI integration for issue #2290
  src/amplihack/cli.py
  src/amplihack/recipe_cli/__init__.py
  src/amplihack/recipe_cli/recipe_command.py
  src/amplihack/recipe_cli/recipe_output.py
  tests/conftest.py
  tests/integration/test_recipe_cli_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add CLI integration for Recipe Runner (#2297)
  docs/howto/recipe-cli-commands.md
  docs/index.md
  docs/recipes/README.md
  docs/recipes/cli-examples.md
  docs/recipes/quick-reference.md
  docs/reference/recipe-cli-reference.md
  pyproject.toml
  src/amplihack/cli.py
  src/amplihack/recipe_cli/__init__.py
  src/amplihack/recipe_cli/recipe_command.py
  src/amplihack/recipe_cli/recipe_output.py
  tests/conftest.py
  tests/integration/test_recipe_cli_e2e.py
  tests/unit/cli/TEST_COVERAGE_SUMMARY.md
  tests/unit/cli/__init__.py
  tests/unit/cli/conftest.py
  tests/unit/cli/run_tests.sh
  tests/unit/cli/test_recipe_command.py
  tests/unit/cli/test_recipe_output.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(gh-aw): Collect all Wave 1 agentic workflows
  .github/workflows/bot-detection.md
  .github/workflows/code-simplifier.md
  .github/workflows/daily-code-metrics.md
  .github/workflows/daily-doc-updater.md
  .github/workflows/daily-file-diet.md
  .github/workflows/daily-security-red-team.md
  .github/workflows/daily-syntax-error-quality.md
  .github/workflows/dependabot-burner.md
  .github/workflows/docs-noob-tester.md
  .github/workflows/duplicate-code-detector.md
  .github/workflows/issue-classifier.md
  .github/workflows/pr-triage-agent.md
  .github/workflows/security-compliance.md
  .github/workflows/static-analysis-report.md
  .github/workflows/unbloat-docs.md
  .github/workflows/weekly-issue-summary.md
Due: none

feat: Add .NET exception handling quality improvement skill
  .claude/skills/dotnet-exception-handling/SKILL.md
  .claude/skills/dotnet-exception-handling/examples.md
  .claude/skills/dotnet-exception-handling/patterns.md
  .claude/skills/dotnet-exception-handling/reference.md
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
