Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: add samefile guard to copytree_manifest (#4296)
  docs/troubleshooting/README.md
  docs/troubleshooting/copytree-same-file-crash.md
  src/amplihack/install.py
  tests/unit/test_copytree_samefile.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: prune old triage files to stay under 100-file limit
  pr-triage-20260225.json
  pr-triage-2888.json
  pr-triage-analysis.md
  pr_2470_triage.json
  pr_2499_triage.json
  pr_2507_triage.json
  pr_2516_triage.json
  pr_triage_history.jsonl
  pr_triage_report.md
  triage-history.md
  triage_results.json
  triage_run.json
Due: none

fix: add parse_json to merge-validations so fix step runs on confirmed findings (#4315)
  CONTRIBUTING.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  docs/DEVELOPING_AMPLIHACK.md
  docs/PREREQUISITES.md
  tests/unit/recipes/test_quality_audit_cycle_issue4315.py
Due: none

fix: quality-audit-cycle parse_json flag for merge-validations (#4378)
  CONTRIBUTING.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  docs/DEVELOPING_AMPLIHACK.md
  docs/PREREQUISITES.md
  tests/unit/recipes/test_quality_audit_cycle_issue4315.py
Due: none

fix(recipes): harden worktree idempotency for recovery re-runs (#4289)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_checkpoint_existing_branch_4289.py
Due: none

docs: fix documentation consistency issues (#4331, #4332, #4333, #4334)
  docs/DEVELOPING_AMPLIHACK.md
Due: none

fix: harden worktree idempotency for checkpoint recovery re-runs (#4380)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_checkpoint_existing_branch_4289.py
Due: none

docs: fix DEVELOPING_AMPLIHACK.md stale paths and Python version (#4381)
  docs/DEVELOPING_AMPLIHACK.md
Due: none

fix: resolve false positives in atlas validation causing weekly rebuild failure
  scripts/validate_atlas_output.sh
Due: none

fix: atlas validation false positives on SVG namespaces and Mermaid BR tags (#4382)
  scripts/validate_atlas_output.sh
Due: none

refactor: decompose generator_teacher.py (2740→429 lines)
  src/amplihack/agents/teaching/__init__.py
  src/amplihack/agents/teaching/curriculum/__init__.py
  src/amplihack/agents/teaching/curriculum/lesson_01.py
  src/amplihack/agents/teaching/curriculum/lesson_02.py
  src/amplihack/agents/teaching/curriculum/lesson_03.py
  src/amplihack/agents/teaching/curriculum/lesson_04.py
  src/amplihack/agents/teaching/curriculum/lesson_05.py
  src/amplihack/agents/teaching/curriculum/lesson_06.py
  src/amplihack/agents/teaching/curriculum/lesson_07.py
  src/amplihack/agents/teaching/curriculum/lesson_08.py
  src/amplihack/agents/teaching/curriculum/lesson_09.py
  src/amplihack/agents/teaching/curriculum/lesson_10.py
  src/amplihack/agents/teaching/curriculum/lesson_11.py
  src/amplihack/agents/teaching/curriculum/lesson_12.py
  src/amplihack/agents/teaching/curriculum/lesson_13.py
  src/amplihack/agents/teaching/curriculum/lesson_14.py
  src/amplihack/agents/teaching/generator_teacher.py
  src/amplihack/agents/teaching/models.py
  src/amplihack/agents/teaching/validators.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: decompose generator_teacher.py from 2740 to 429 lines (#4384)
  src/amplihack/agents/teaching/__init__.py
  src/amplihack/agents/teaching/curriculum/__init__.py
  src/amplihack/agents/teaching/curriculum/lesson_01.py
  src/amplihack/agents/teaching/curriculum/lesson_02.py
  src/amplihack/agents/teaching/curriculum/lesson_03.py
  src/amplihack/agents/teaching/curriculum/lesson_04.py
  src/amplihack/agents/teaching/curriculum/lesson_05.py
  src/amplihack/agents/teaching/curriculum/lesson_06.py
  src/amplihack/agents/teaching/curriculum/lesson_07.py
  src/amplihack/agents/teaching/curriculum/lesson_08.py
  src/amplihack/agents/teaching/curriculum/lesson_09.py
  src/amplihack/agents/teaching/curriculum/lesson_10.py
  src/amplihack/agents/teaching/curriculum/lesson_11.py
  src/amplihack/agents/teaching/curriculum/lesson_12.py
  src/amplihack/agents/teaching/curriculum/lesson_13.py
  src/amplihack/agents/teaching/curriculum/lesson_14.py
  src/amplihack/agents/teaching/generator_teacher.py
  src/amplihack/agents/teaching/models.py
  src/amplihack/agents/teaching/validators.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: update skills to use Rust CLI (amplihack recipe run) over Python paths
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/multitask/SKILL.md
  .claude/skills/oxidizer-workflow/SKILL.md
  .claude/skills/quality-audit/SKILL.md
Due: none

fix: update 6 skills to use Rust CLI instead of Python paths (#4383)
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/multitask/SKILL.md
  .claude/skills/oxidizer-workflow/SKILL.md
  .claude/skills/quality-audit/SKILL.md
Due: none

fix: migrate all skill files from Python amplihack to Rust CLI
  .claude/context/PROJECT.md
  .claude/skills/agent-generator-tutor/SKILL.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/documentation-writing/examples.md
  .claude/skills/e2e-outside-in-test-generator/generator/stack_detector.py
  .claude/skills/goal-seeking-agent-pattern/README.md
  .claude/skills/goal-seeking-agent-pattern/SKILL.md
  .claude/skills/goal-seeking-agent-pattern/examples/adaptive_testing.md
  .claude/skills/goal-seeking-agent-pattern/examples/data_pipeline.md
  .claude/skills/goal-seeking-agent-pattern/examples/workflow_automation.md
  .claude/skills/goal-seeking-agent-pattern/templates/integration_guide.md
  .claude/skills/goal-seeking-agent-pattern/tests/test_skill_activation.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/knowledge-extractor/SKILL.md
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/reference.md
  .claude/skills/multitask/test_orchestrator.py
  .claude/skills/multitask/tests/test_orchestrator_ws2_delegate_matching.py
  .claude/skills/multitask/tests/test_security_injection.py
  .claude/skills/oxidizer-workflow/SKILL.md
  .claude/skills/pm-architect/scripts/README.md
  .claude/skills/pm-architect/scripts/agent_query.py
  .claude/skills/quality-audit/SKILL.md
  .claude/skills/self-improving-agent-builder/SKILL.md
  .claude/skills/smart-test/README.md
  .claude/skills/smart-test/SKILL.md
  .claude/skills/tla-plus-expert/SKILL.md
  .claude/skills/transcript-viewer/SKILL.md
Due: check-dependencies

fix: migrate all skill files from Python amplihack to Rust CLI (#4386)
  .claude/context/PROJECT.md
  .claude/skills/agent-generator-tutor/SKILL.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/documentation-writing/examples.md
  .claude/skills/e2e-outside-in-test-generator/generator/stack_detector.py
  .claude/skills/goal-seeking-agent-pattern/README.md
  .claude/skills/goal-seeking-agent-pattern/SKILL.md
  .claude/skills/goal-seeking-agent-pattern/examples/adaptive_testing.md
  .claude/skills/goal-seeking-agent-pattern/examples/data_pipeline.md
  .claude/skills/goal-seeking-agent-pattern/examples/workflow_automation.md
  .claude/skills/goal-seeking-agent-pattern/templates/integration_guide.md
  .claude/skills/goal-seeking-agent-pattern/tests/test_skill_activation.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/knowledge-extractor/SKILL.md
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/reference.md
  .claude/skills/multitask/test_orchestrator.py
  .claude/skills/multitask/tests/test_orchestrator_ws2_delegate_matching.py
  .claude/skills/multitask/tests/test_security_injection.py
  .claude/skills/oxidizer-workflow/SKILL.md
  .claude/skills/pm-architect/scripts/README.md
  .claude/skills/pm-architect/scripts/agent_query.py
  .claude/skills/quality-audit/SKILL.md
  .claude/skills/self-improving-agent-builder/SKILL.md
  .claude/skills/smart-test/README.md
  .claude/skills/smart-test/SKILL.md
  .claude/skills/tla-plus-expert/SKILL.md
  .claude/skills/transcript-viewer/SKILL.md
Due: check-dependencies

fix: detect and recreate worktrees with wrong base branch (#4254)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_stale_worktree_wrong_base_4254.py
Due: none

fix: detect and recreate worktrees with wrong base branch (#4254) (#4387)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_stale_worktree_wrong_base_4254.py
Due: none

fix(default-workflow): re-prune worktree registrations after rm -rf orphan dirs
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(default-workflow): re-prune worktree registrations after rm -rf orphan dirs (#4394)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(workflow): also prune worktrees before REATTACH_OK=true and new-branch paths
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(recipes): forward COPILOT_MODEL env var to recipe-runner subprocess
  src/amplihack/recipes/rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add tests and docs for worktree reattach prune fix (#4394)
  docs/recipes/step-04-worktree-reattach-prune.md
  tests/recipes/test_worktree_reattach_prune_4394.py
  worktrees/README.md
Due: none

wip: checkpoint after implementation (steps 7-8)
  tests/recipes/test_worktree_reattach_prune_4394.py
Due: none

fix(recipes): forward COPILOT_MODEL env var to recipe-runner subprocess (#4395)
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/recipes/rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: stage amplifier-bundle to ~/.amplihack on install (mirrors fix from amplihack-rs PR #244)
  src/amplihack/install.py
  src/amplihack/uninstall.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(recipes): verify upstream fixes for relaunch issue #952
  amplifier-bundle/recipes/RELAUNCH_ISSUE_952_VERIFICATION.md
Due: none

test(recipes): add verification tests for relaunch issue #952
  tests/test_relaunch_issue_952_verification.py
Due: none

refactor(tests): remove outdated docstring and dead skip branch
  tests/test_relaunch_issue_952_verification.py
Due: none

feat(commands): add /amplihack-update slash command
  .claude/commands/amplihack/amplihack-update.md
Due: amplihack-sync-commands

docs: improve Code Style section in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix(default-workflow): make build_publish_validation_scope.py optional (#87)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(default-workflow): make build_publish_validation_scope.py optional (#87) (#4436)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(default-workflow): avoid bash $VAR expansion in task_description (#4389)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(default-workflow): honor caller's feature branch as worktree base (#4414)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(default-workflow): avoid bash $VAR expansion in task_description (#4389) (#4438)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(default-workflow): honor caller's feature branch as worktree base (#4414) (#4439)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(quality-audit-cycle): forbid fix-agent silent degradation to inline edits (#4388)
  amplifier-bundle/recipes/quality-audit-cycle.yaml
Due: none

fix(smart-orchestrator): no silent fallback to claude when AGENT_BINARY unset (rysweet/amplihack-rs#309)
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix(quality-audit-cycle): forbid fix-agent silent degradation to inline edits (#4388) (#4440)
  amplifier-bundle/recipes/quality-audit-cycle.yaml
Due: none
