Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: Integrate 7 Microsoft ecosystem bundles for comprehensive dev tooling (#2016)
  amplifier-bundle/bundle.md
  amplifier-bundle/context/amplifier-instructions.md
Due: none

fix: Improve error handling and test coverage for nesting protection
  src/amplihack/cli.py
  src/amplihack/launcher/auto_stager.py
  tests/unit/test_nesting_detector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Register workflow enforcement hooks in bundle.md
  amplifier-bundle/bundle.md
Due: none

test: Add comprehensive shadow environment test report
  SHADOW_TEST_REPORT.md
Due: none

security: Add symlink attack protection and session ID sanitization
  src/amplihack/launcher/auto_stager.py
  tests/unit/test_auto_stager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Enhance README with detailed framework description
  README.md
Due: none

chore: Clean up uncommitted changes before merge
  .claude/context/PROJECT.md.bak
  .claude/tools/amplihack/hooks/pre_tool_use.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  .claude/tools/statusline.sh
Due: check-dependencies

fix: Simplify auto-mode protection to cover ALL repositories
  src/amplihack/launcher/nesting_detector.py
  tests/unit/test_nesting_detector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add agentic TUI testing for Claude Code plugin
  tests/agentic/FINAL_SUMMARY.md
  tests/agentic/IMPLEMENTATION_SUMMARY.md
  tests/agentic/PR_TEST_SUMMARY.md
  tests/agentic/PTY_TESTING_EXPLAINED.md
  tests/agentic/README.md
  tests/agentic/TESTING_INSTRUCTIONS.md
  tests/agentic/claude-code-plugin-test.yaml
  tests/agentic/package.json
  tests/agentic/run-plugin-test.sh
  tests/agentic/setup-plugin-test-env.sh
  tests/agentic/test-claude-code-plugin-installation.yaml
  tests/agentic/test-claude-plugin-pty.js
Due: none

Update README with new features and launch commands
  README.md
Due: none

fix: Guide now gives immediate first command for beginners
  .claude/agents/amplihack/core/guide.md
Due: none

feat: Add GitHub Actions workflow for plugin testing
  .github/workflows/plugin-test.yml
  tests/agentic/CI_REQUIREMENTS.md
  tests/agentic/QUICK_TEST_REFERENCE.md
Due: none

feat: Add GitHub Actions workflow and CI documentation
  tests/agentic/COMPLETE_RECOVERY_SUMMARY.md
Due: none

docs: Add action items and recovery summary
  tests/agentic/ACTION_ITEMS.md
Due: none

Update README with Windows compatibility and prerequisites
  README.md
Due: none

Update README with help suggestion
  README.md
Due: none

fix: Update upload-artifact action to v4
  .github/workflows/plugin-test.yml
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
