Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

test(hive): add GoalSeekingAgent orient() cross-agent fact retrieval test (criterion 6)
  tests/integration/test_distributed_hive_e2e.py
Due: none

fix(hive): fix distributed cross-shard queries — local storage + fan-out loop
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  tests/hive_mind/test_dht_shard_cross_query.py
  tests/integration/test_distributed_hive_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: guard _end_session against missing runtime dir (issue #3053)
  src/amplihack/cli.py
  src/amplihack/launcher/session_tracker.py
  src/amplihack/session.py
  tests/integration/test_cli_session_init.py
  tests/unit/test_session_tracker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add outside-in behavioral tests for issue #3053 session_tracker fix
  tests/outside_in/test_issue_3053_session_tracker.py
Due: none

fix: use heredoc for session_info in smart-orchestrator bash steps (#3054) (#3057)
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
  tests/recipes/test_session_info_quoting.py
Due: none

fix: guard _end_session against missing runtime dir (issue #3053) (#3059)
  src/amplihack/cli.py
  src/amplihack/launcher/session_tracker.py
  src/amplihack/session.py
  tests/integration/test_cli_session_init.py
  tests/outside_in/test_issue_3053_session_tracker.py
  tests/unit/test_session_tracker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: ensure _end_session creates runtime dir before writing log (#3053)
  src/amplihack/launcher/session_tracker.py
  tests/unit/test_session_tracker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: 4 parity bugs + recipe orchestrator resilience
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/cli.py
  src/amplihack/install.py
  src/amplihack/launcher/core.py
  src/amplihack/settings.py
  src/amplihack/uninstall.py
  src/amplihack/utils/claude_cli.py
  src/amplihack/utils/prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: 4 parity bugs + recipe orchestrator resilience (#3060-#3065) (#3066)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/cli.py
  src/amplihack/install.py
  src/amplihack/launcher/core.py
  src/amplihack/settings.py
  src/amplihack/uninstall.py
  src/amplihack/utils/claude_cli.py
  src/amplihack/utils/prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add version subcommand for Rust CLI parity
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(eval): add SB send retry with reconnect in RemoteAgentAdapter
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

fix: skip blarify dep install in NONINTERACTIVE mode (#3063)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: skip blarify dep install in NONINTERACTIVE mode (#3063) (#3067)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: docs: CLAUDE.md conflates onboarding and reference documentation, creati
  .claude/AMPLIHACK.md
Due: none

feat: add reusable parity harness and audit cycle to qa-team skill
  .claude/context/PROJECT.md
  .claude/scenarios/parity-harness/PARITY_SCENARIO_FORMAT.md
  .claude/scenarios/parity-harness/example_scenario.yaml
  .claude/scenarios/parity-harness/parity_audit_cycle.py
  .claude/scenarios/parity-harness/shadow_parity_harness.py
  .claude/skills/qa-team/SKILL.md
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/intelephense/intelephense.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/typescript_language_server/typescript_language_server.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: sync qa-team SKILL.md to all locations
  amplifier-bundle/skills/qa-team/SKILL.md
  docs/claude/skills/qa-team/SKILL.md
Due: none

feat: add reusable parity harness and audit cycle to qa-team skill (#3070)
  .claude/context/PROJECT.md
  .claude/scenarios/parity-harness/PARITY_SCENARIO_FORMAT.md
  .claude/scenarios/parity-harness/example_scenario.yaml
  .claude/scenarios/parity-harness/parity_audit_cycle.py
  .claude/scenarios/parity-harness/shadow_parity_harness.py
  .claude/skills/qa-team/SKILL.md
  amplifier-bundle/skills/qa-team/SKILL.md
  docs/claude/skills/qa-team/SKILL.md
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/intelephense/intelephense.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/typescript_language_server/typescript_language_server.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add reusable parity harness and audit cycle to qa-team skill (#3070)
  .claude/scenarios/ab-comparison/SCENARIO_FORMAT.md
  .claude/scenarios/ab-comparison/ab_audit_cycle.py
  .claude/scenarios/ab-comparison/ab_comparison_harness.py
  .claude/scenarios/ab-comparison/example_scenario.yaml
  .claude/skills/qa-team/SKILL.md
  amplifier-bundle/skills/qa-team/SKILL.md
  docs/claude/skills/qa-team/SKILL.md
Due: check-imports, check-dependencies

feat: add reusable parity harness and audit cycle to qa-team skill (#3070) (#3072)
  .claude/scenarios/ab-comparison/SCENARIO_FORMAT.md
  .claude/scenarios/ab-comparison/ab_audit_cycle.py
  .claude/scenarios/ab-comparison/ab_comparison_harness.py
  .claude/scenarios/ab-comparison/example_scenario.yaml
  .claude/skills/qa-team/SKILL.md
  amplifier-bundle/skills/qa-team/SKILL.md
  docs/claude/skills/qa-team/SKILL.md
Due: check-imports, check-dependencies

fix(hive): fix cross-shard query failures — target_agent filter + parallel fan-out
  deploy/azure_hive/agent_entrypoint.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  tests/integration/test_distributed_hive_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(eval): prevent indefinite eval hang from Container App throttling
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/main.bicep
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

fix(hive): add SHARD_STORE replication so every agent holds all facts
  deploy/azure_hive/agent_entrypoint.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  tests/hive_mind/test_dht_shard_cross_query.py
  tests/integration/test_distributed_hive_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
