Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

docs: Add outside-in test results
  OUTSIDE_IN_TEST_RESULTS.md
Due: none

docs: Add recipe discovery troubleshooting guide and reorganize test results
  docs/recipes/recipe-discovery-troubleshooting.md
  docs/testing/issue-2381/OUTSIDE_IN_TEST_RESULTS.md
  docs/testing/issue-2381/STEP_13_TEST_RESULTS.md
Due: none

docs: Add workflow completion summary
  WORKFLOW_COMPLETION_SUMMARY.md
Due: none

fix: Prioritize global recipes in search path to fix /tmp clone discovery (#2381)
  STEP_13_TEST_RESULTS.md
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Move workflow completion summary to docs/ to resolve root pollution
  docs/testing/issue-2381/WORKFLOW_COMPLETION_SUMMARY.md
Due: none

feat: Add 3-scenario learning evaluation harness with Kuzu search fix
  eval_results.json
  run_3_scenario_eval.py
  src/amplihack/agents/goal_seeking/wikipedia_learning_agent.py
  src/amplihack/memory/backends/kuzu_backend.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prioritize global recipes in search path to fix /tmp clone discovery (#2386)
  OUTSIDE_IN_TEST_RESULTS.md
  docs/recipes/recipe-discovery-troubleshooting.md
  docs/testing/issue-2381/OUTSIDE_IN_TEST_RESULTS.md
  docs/testing/issue-2381/STEP_13_TEST_RESULTS.md
  docs/testing/issue-2381/WORKFLOW_COMPLETION_SUMMARY.md
  pyproject.toml
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Smart retrieval for small knowledge bases (#2396)
  pyrightconfig.json
  src/amplihack/agents/goal_seeking/memory_retrieval.py
  src/amplihack/agents/goal_seeking/wikipedia_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add gh-aw workflow troubleshooting learnings to skill
  .claude/skills/gh-aw-adoption/reference.md
Due: none

docs: Add gh-aw workflow troubleshooting learnings (#2398)
  .claude/skills/gh-aw-adoption/reference.md
  pyproject.toml
Due: none

feat: Phase 1 - HierarchicalMemory with Graph RAG for goal-seeking agents
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/graph_rag_retriever.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/agents/goal_seeking/similarity.py
  src/amplihack/agents/goal_seeking/wikipedia_learning_agent.py
  tests/agents/goal_seeking/test_flat_adapter.py
  tests/agents/goal_seeking/test_hierarchical_memory.py
  tests/agents/goal_seeking/test_similarity.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Expand gh-aw-adoption skill with troubleshooting guides
  .claude/skills/gh-aw-adoption/SKILL.md
  .claude/skills/gh-aw-adoption/examples.md
  .claude/skills/gh-aw-adoption/patterns.md
Due: none

refactor: Rename WikipediaLearningAgent to LearningAgent, wire progressive tests
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/agent_subprocess.py
  tests/agents/goal_seeking/test_learning_agent.py
  verify_progressive_tests.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add progressive test suite L1-L6 and updated grader
  examples/run_progressive_eval.py
  src/amplihack/eval/IMPLEMENTATION_SUMMARY.md
  src/amplihack/eval/PROGRESSIVE_TEST_SUITE.md
  src/amplihack/eval/QUICK_START.md
  src/amplihack/eval/grader.py
  src/amplihack/eval/progressive_test_suite.py
  src/amplihack/eval/test_levels.py
  tests/eval/test_progressive_suite.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Kuzu db path handling and agent_subprocess input parsing
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/eval/agent_subprocess.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Handle markdown-fenced JSON in grader and robust stdout parsing
  src/amplihack/eval/agent_subprocess.py
  src/amplihack/eval/grader.py
  src/amplihack/eval/progressive_test_suite.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add gh-aw-setup skill with Repo Guardian workflow templates
  .claude/skills/gh-aw-setup/SKILL.md
  .claude/skills/gh-aw-setup/repo-guardian-gate.yml
  .claude/skills/gh-aw-setup/repo-guardian.md
Due: none

fix: Grader JSON extraction, progressive suite plumbing, model defaults
  TASK_COMPLETION_SUMMARY.md
  debug_eval/summary.json
  eval_progressive_example/L1/scores.json
  eval_progressive_example/L2/scores.json
  eval_progressive_example/summary.json
  recipe_context.json
  uv.lock
  workstreams_config.json
Due: none

feat: Add Repo Guardian templates to gh-aw-adoption skill
  .claude/skills/gh-aw-adoption/SKILL.md
  .claude/skills/gh-aw-adoption/repo-guardian-gate.yml
  .claude/skills/gh-aw-adoption/repo-guardian.md
  .claude/skills/gh-aw-setup/SKILL.md
Due: none

feat: Add Repo Guardian templates to gh-aw-adoption skill (#2402)
  .claude/skills/gh-aw-adoption/SKILL.md
  .claude/skills/gh-aw-adoption/repo-guardian-gate.yml
  .claude/skills/gh-aw-adoption/repo-guardian.md
  pyproject.toml
Due: none

feat: Boost L3 temporal reasoning with intent detection, temporal metadata, and calculator tool
  eval_progressive_example/L3/scores.json
  eval_progressive_example/summary.json
  src/amplihack/agents/goal_seeking/action_executor.py
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct L3 Q2 expected answer (Norway +5 > Italy +4)
  src/amplihack/eval/test_levels.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address Copilot review issues in agentic power-steering PR
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_checker_unit.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_validator_simple.py
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/hooks/claude_power_steering.py
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

test: Add outside-in behavioral tests for PR 2365 Copilot fixes
  tests/outside_in/test_pr2365_behavioral.py
  tests/outside_in/test_pr2365_power_steering_fixes.yaml
Due: none

fix: Use named constant MAX_CONVERSATION_SUMMARY_LENGTH=512K and fix encoding
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  docs/claude/tools/amplihack/hooks/claude_power_steering.py
  docs/claude/tools/amplihack/hooks/power_steering_checker.py
  tests/outside_in/test_pr2365_behavioral.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
