Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: Add /ultrathink deprecation note to COMMANDS_REFERENCE.md
  .claude/context/COMMANDS_REFERENCE.md
Due: none

refactor: Slim CLAUDE.md from 1156 to 330 lines (71% reduction) (#3042)
  .claude/context/COMMANDS_REFERENCE.md
  .claude/context/PARALLEL_EXECUTION.md
  CLAUDE.md
  pyproject.toml
Due: none

fix: use heredoc for task_description in worktree setup steps (#3041)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/recipes/test_worktree_step_quoting.py
Due: none

test: add outside-in behavioral tests for issue #3041 worktree quoting fix
  tests/outside_in/test_issue_3041_worktree_quoting.py
Due: none

fix(deploy): use Standard SB SKU — Premium CBS auth fails in Container Apps
  deploy/azure_hive/main.bicep
Due: none

fix(deploy): register all agents on DHT ring for cross-shard routing
  deploy/azure_hive/Dockerfile
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/main.bicep
Due: check-imports, check-dependencies

fix(dht): small-hive optimization skips remote agents in distributed mode
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use heredoc for task_description in worktree setup steps (#3041) (#3043)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/outside_in/test_issue_3041_worktree_quoting.py
  tests/recipes/test_worktree_step_quoting.py
Due: none

fix: remove 1-hour timeout from Python recipe runner wrapper (#3049)
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: disable workiq MCP server by default (#3047)
  .claude/skills/work-iq/SKILL.md
  .mcp.json
Due: none

test: add outside-in validation for workiq opt-in (#3047)
  tests/outside_in/test_issue_3047_workiq_opt_in.py
Due: none

test: add outside-in validation for timeout removal (#3049)
  tests/outside_in/test_issue_3049_no_timeout.py
Due: none

fix: use env var for branch name slug in recipe worktree setup
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: disable workiq MCP server by default (#3047) (#3050)
  .claude/skills/work-iq/SKILL.md
  .mcp.json
  pyproject.toml
  src/amplihack/recipes/rust_runner.py
  tests/outside_in/test_issue_3047_workiq_opt_in.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove 1-hour timeout from Python recipe runner wrapper (#3051)
  tests/outside_in/test_issue_3049_no_timeout.py
Due: none

fix: remove single quotes around recipe template variables (#3048)
  amplifier-bundle/recipes/debate-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/long-horizon-memory-eval.yaml
  amplifier-bundle/recipes/n-version-workflow.yaml
  amplifier-bundle/recipes/oxidizer-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: remove single quotes around recipe template variables (#3055)
  amplifier-bundle/recipes/debate-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/long-horizon-memory-eval.yaml
  amplifier-bundle/recipes/n-version-workflow.yaml
  amplifier-bundle/recipes/oxidizer-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix(hive): fix distributed cross-shard queries — local storage + fan-out loop
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  tests/hive_mind/test_dht_shard_cross_query.py
  tests/integration/test_distributed_hive_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use heredoc for session_info in smart-orchestrator bash steps (#3054)
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/recipes/test_session_info_quoting.py
Due: none

test(hive): add GoalSeekingAgent orient() cross-agent fact retrieval test (criterion 6)
  tests/integration/test_distributed_hive_e2e.py
Due: none
