Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: Add workflow invocation enforcement (Issue #2040)
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_checker_unit.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_integration.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_validator.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_validator_simple.py
  .claude/tools/amplihack/hooks/workflow_invocation_validator.py
  .claude/tools/amplihack/hooks/workflow_invocation_validator_README.md
Due: check-dependencies, amplihack-sync-commands

test: Add real E2E test with subprocess spawning
  test_meta_delegator_e2e.py
Due: check-imports, check-dependencies

feat: Add workflow invocation enforcement (Issue #2040) (#2050)
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_checker_unit.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_integration.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_validator.py
  .claude/tools/amplihack/hooks/tests/test_workflow_invocation_validator_simple.py
  .claude/tools/amplihack/hooks/workflow_invocation_validator.py
  .claude/tools/amplihack/hooks/workflow_invocation_validator_README.md
Due: check-dependencies, amplihack-sync-commands

fix: Don't pass --plugin-dir when plugin installed via Claude Code
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Point plugin source to .claude directory not .claude-plugin
  .claude-plugin/marketplace.json
Due: none

fix: Set CLAUDE_PLUGIN_ROOT when plugin installed via Claude Code
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Export CLAUDE_PLUGIN_ROOT in launcher for hook resolution
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Hook manager checks installed plugin location first
  src/amplihack/hooks/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Use recipes behavior bundle instead of main bundle to resolve circular dependencies
  amplifier-bundle/bundle.md
Due: none

fix: Use amplihack command for proper subprocess spawn
  src/amplihack/meta_delegation/platform_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct plugin installation path resolution (Issue #2043) (#2045)
  .claude-plugin/plugin.json
  marketplace.json
  src/amplihack/cli.py
  src/amplihack/hooks/manager.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove truncation entirely - show full power-steering messages
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/tests/test_issue_2039_smart_truncation.py
  docs/features/power-steering/README.md
  docs/features/power-steering/technical-reference.md
Due: check-dependencies

fix: Complete orchestrator monitoring - system now works end-to-end
  src/amplihack/meta_delegation/orchestrator.py
  src/amplihack/meta_delegation/platform_cli.py
  src/amplihack/meta_delegation/state_machine.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Smart truncation of power-steering feedback messages (issue #2039) (#2048)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  docs/features/power-steering/README.md
  docs/features/power-steering/technical-reference.md
Due: check-dependencies

test: Add successful real coding task E2E test
  test_meta_delegator_REAL_TASK.py
Due: check-imports, check-dependencies

fix: Standardize skill filenames to uppercase SKILL.md
  .claude/skills/azure-devops-cli/SKILL.md
  .claude/skills/backlog-curator/SKILL.md
  .claude/skills/eval-recipes-runner/SKILL.md
  .claude/skills/microsoft-agent-framework/SKILL.md
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/roadmap-strategist/SKILL.md
  .claude/skills/work-delegator/SKILL.md
  .claude/skills/workstream-coordinator/SKILL.md
Due: none

fix: Standardize skill filenames to uppercase SKILL.md (#2053)
  .claude/skills/azure-devops-cli/SKILL.md
  .claude/skills/backlog-curator/SKILL.md
  .claude/skills/eval-recipes-runner/SKILL.md
  .claude/skills/microsoft-agent-framework/SKILL.md
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/roadmap-strategist/SKILL.md
  .claude/skills/work-delegator/SKILL.md
  .claude/skills/workstream-coordinator/SKILL.md
Due: none

fix: Update skill discovery and tests to use uppercase SKILL.md
  .claude/tools/amplihack/profile_management/discovery.py
  .claude/tools/amplihack/profile_management/index.py
  .claude/tools/amplihack/profile_management/tests/test_discovery.py
  .claude/tools/amplihack/profile_management/tests/test_end_to_end.py
  .claude/tools/amplihack/profile_management/tests/test_filter.py
  .claude/tools/amplihack/profile_management/tests/test_index.py
Due: check-dependencies

feat: Add meta-agentic task delegation system (Issue #2030) (#2044)
  docs/index.md
  docs/meta-delegation/README.md
  docs/meta-delegation/concepts.md
  docs/meta-delegation/howto.md
  docs/meta-delegation/reference.md
  docs/meta-delegation/troubleshooting.md
  docs/meta-delegation/tutorial.md
  src/amplihack/meta_delegation/__init__.py
  src/amplihack/meta_delegation/evidence_collector.py
  src/amplihack/meta_delegation/orchestrator.py
  src/amplihack/meta_delegation/persona.py
  src/amplihack/meta_delegation/platform_cli.py
  src/amplihack/meta_delegation/scenario_generator.py
  src/amplihack/meta_delegation/state_machine.py
  src/amplihack/meta_delegation/success_evaluator.py
  test_meta_delegator_REAL_TASK.py
  test_meta_delegator_comprehensive.py
  test_meta_delegator_e2e.py
  tests/meta_delegation/README.md
  tests/meta_delegation/__init__.py
  tests/meta_delegation/conftest.py
  tests/meta_delegation/e2e/__init__.py
  tests/meta_delegation/e2e/test_guide_teaches_beginner.py
  tests/meta_delegation/e2e/test_qa_validates_feature.py
  tests/meta_delegation/integration/__init__.py
  tests/meta_delegation/integration/test_gadugi_integration.py
  tests/meta_delegation/integration/test_persona_integration.py
  tests/meta_delegation/test_evidence_collector.py
  tests/meta_delegation/test_orchestrator.py
  tests/meta_delegation/test_persona.py
  tests/meta_delegation/test_platform_cli.py
  tests/meta_delegation/test_scenario_generator.py
  tests/meta_delegation/test_state_machine.py
  tests/meta_delegation/test_success_evaluator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add root directory protection system with CI validation
  .claude/agents/amplihack/specialized/cleanup.md
  .claude/ci/check_point_in_time_docs.py
  .claude/ci/check_root_files.py
  .claude/ci/check_unrelated_changes.py
  .github/root-hygiene-config.yml
  .github/workflows/root-hygiene.yml
  test_fix_locally.py
  tests/test_meta_delegator_REAL_TASK.py
  tests/test_meta_delegator_comprehensive.py
  tests/test_meta_delegator_e2e.py
Due: check-imports, check-dependencies

fix: Update root-hygiene allowlist with legitimate project files
  .github/root-hygiene-config.yml
Due: none

fix: Refine temporal indicators to reduce false positives
  .github/root-hygiene-config.yml
Due: none

fix: Skip Claude Code plugin installation for amplifier command (Issue #6c57f713)
  src/amplihack/cli.py
  tests/unit/test_cli_amplifier_uvx.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct marketplace.json path and add .github/skills symlink
  .claude-plugin/marketplace.json
  .claude/context/PROJECT.md
  .claude/context/PROJECT_AMPLIHACK.md
  .claude/settings.json
  .claude/settings.json.backup.uvx
  .github/skills
  marketplace.json
Due: sync-hooks-validation

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
