Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

Add live smoke experiment results: TLA+ spec doubles Claude baseline
  experiments/hive_mind/tla_prompt_language/README.md
  experiments/hive_mind/tla_prompt_language/results/smoke_live_20260331.json
  experiments/hive_mind/tla_prompt_language/results/smoke_live_20260331.md
Due: none

Add "Formal Specification as Prompt" pattern to PATTERNS.md
  .claude/context/PATTERNS.md
Due: none

Add TLC trace → pytest generation pipeline (#3941)
  src/amplihack/eval/trace_to_test.py
  tests/eval/test_tla_generated.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Complete all 8 experiment conditions: tla_only wins across both models
  experiments/hive_mind/tla_prompt_language/README.md
  experiments/hive_mind/tla_prompt_language/results/smoke_live_20260331.json
Due: none

Integrate TLA+ experiment findings into workflows and add best-effort spec
  .claude/agents/amplihack/specialized/prompt-writer.md
  amplifier-bundle/recipes/default-workflow.yaml
  experiments/hive_mind/tla_prompt_language/specs/DistributedRetrievalBestEffort.cfg
  experiments/hive_mind/tla_prompt_language/specs/DistributedRetrievalBestEffort.tla
Due: none

docs(atlas): refresh timestamps for CI staleness gate
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
Due: none

Address review feedback: fix duplicate header, add error handling, update atlas
  .claude/context/PATTERNS.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  experiments/hive_mind/tla_prompt_language/README.md
  src/amplihack/eval/trace_to_test.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): add idempotency guards to step-03-create-issue (#3954)
  amplifier-bundle/recipes/default-workflow.yaml
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/investigations/step-03-idempotency-guards-analysis.md
  docs/investigations/step03-external-service-integration-assessment.md
  docs/recipes/step-03-idempotency.md
  tests/gadugi/step-03-issue-creation-idempotency.yaml
  tests/recipes/test_shell_injection_fix_3045_3076.py
Due: none

Add Gherkin/BDD prompt-language experiment for behavioral code generation (#3962)
  experiments/hive_mind/gherkin_prompt_language/ANALYSIS.md
  experiments/hive_mind/gherkin_prompt_language/README.md
  experiments/hive_mind/gherkin_prompt_language/manifest.json
  experiments/hive_mind/gherkin_prompt_language/prompts/user_authentication_english.md
  experiments/hive_mind/gherkin_prompt_language/prompts/user_authentication_gherkin_only.md
  experiments/hive_mind/gherkin_prompt_language/prompts/user_authentication_gherkin_plus_acceptance.md
  experiments/hive_mind/gherkin_prompt_language/prompts/user_authentication_gherkin_plus_english.md
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331.md
  experiments/hive_mind/gherkin_prompt_language/specs/user_authentication.feature
  src/amplihack/eval/gherkin_prompt_experiment.py
  tests/eval/test_gherkin_prompt_experiment.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: clarify which API keys are required vs optional in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Redesign Gherkin experiment V2: harder recipe-step-executor target (#3962)
  experiments/hive_mind/gherkin_prompt_language/README.md
  experiments/hive_mind/gherkin_prompt_language/manifest.json
  experiments/hive_mind/gherkin_prompt_language/prompts/recipe_step_executor_english.md
  experiments/hive_mind/gherkin_prompt_language/prompts/recipe_step_executor_gherkin_only.md
  experiments/hive_mind/gherkin_prompt_language/prompts/recipe_step_executor_gherkin_plus_acceptance.md
  experiments/hive_mind/gherkin_prompt_language/prompts/recipe_step_executor_gherkin_plus_english.md
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/claude_opus_4_6__english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/claude_opus_4_6__gherkin_only__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/claude_opus_4_6__gherkin_plus_acceptance__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/claude_opus_4_6__gherkin_plus_english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/gpt_5_4__english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/gpt_5_4__gherkin_only__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/gpt_5_4__gherkin_plus_acceptance__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/gpt_5_4__gherkin_plus_english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/specs/recipe_step_executor.feature
  experiments/hive_mind/gherkin_prompt_language/specs/recipe_step_executor_acceptance_criteria.md
  src/amplihack/eval/gherkin_prompt_experiment.py
  tests/eval/test_gherkin_prompt_experiment.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): use fix-agent for quality-audit FIX step (#3970)
  .claude/skills/quality-audit/SKILL.md
  .claude/skills/quality-audit/reference.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/skills/quality-audit/SKILL.md
  amplifier-bundle/skills/quality-audit/reference.md
  docs/claude/skills/quality-audit/SKILL.md
  docs/claude/skills/quality-audit/reference.md
Due: none

Fix Gherkin scorer: _contains_any uses literal match, not regex (#3962)
  experiments/hive_mind/gherkin_prompt_language/README.md
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331.md
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331/claude_opus_4_6__english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331/claude_opus_4_6__gherkin_only__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331/claude_opus_4_6__gherkin_plus_acceptance__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331/claude_opus_4_6__gherkin_plus_english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331/gpt_5_4__english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_20260331/gpt_5_4__gherkin_plus_english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/claude_opus_4_6__english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/claude_opus_4_6__gherkin_only__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/claude_opus_4_6__gherkin_plus_acceptance__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/smoke_live_v2_20260331/claude_opus_4_6__gherkin_plus_english__r1_evaluation.json
  experiments/hive_mind/gherkin_prompt_language/results/unified_spec_strategy.md
  src/amplihack/eval/gherkin_prompt_experiment.py
  src/amplihack/eval/tla_prompt_experiment.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add QA scenario for quality-audit fix-agent migration
  .claude/tests/agentic/quality-audit-fix-agent-migration.yaml
Due: none

fix(recipes): use fix-agent for quality-audit FIX step (#3973)
  .claude/skills/quality-audit/SKILL.md
  .claude/skills/quality-audit/reference.md
  .claude/tests/agentic/quality-audit-fix-agent-migration.yaml
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/skills/quality-audit/SKILL.md
  amplifier-bundle/skills/quality-audit/reference.md
  docs/claude/skills/quality-audit/SKILL.md
  docs/claude/skills/quality-audit/reference.md
Due: none

fix: prevent classify-and-decompose recursion into workflow narration (#3971)
  .claude/tests/agentic/classify-decompose-recursion-fix.yaml
  .claude/tools/amplihack/hooks/tests/test_workflow_classification_reminder.py
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: check-dependencies

fix: prevent user_prompt_submit hooks from poisoning nested agent sessions (#3971)
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

fix: convert classify-and-decompose to bash step with --disallowed-tools (#3971)
  .claude/tests/agentic/classify-decompose-recursion-fix.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: address quality-audit cycle-1 findings (#3971)
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: check-dependencies

fix: add ImportError logging to _is_workflow_active in user_prompt_submit (#3971)
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

docs(atlas): acknowledge layer-8 staleness for hook-only changes (#3971)
  docs/atlas/ast-lsp-bindings/index.md
Due: none

fix: prevent classify-and-decompose recursion into workflow narration (#3971) (#3974)
  .claude/tests/agentic/classify-decompose-recursion-fix.yaml
  .claude/tools/amplihack/hooks/tests/test_workflow_classification_reminder.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  amplifier-bundle/recipes/smart-orchestrator.yaml
  docs/atlas/ast-lsp-bindings/index.md
Due: check-dependencies

fix(workflow): isolate stream-local worktrees (#4022)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_git_push_idempotency.py
  tests/test_multitask_orchestrator_local_src_bootstrap.py
  tests/unit/recipes/test_worktree_isolation_3684_3673.py
Due: none

fix(default-workflow): integrate recovery stack behaviors
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/test_orchestrator.py
  .claude/skills/multitask/tests/test_disk_management.py
  .claude/skills/multitask/tests/test_resumable_timeouts.py
  amplifier-bundle/recipes/default-workflow.yaml
  docs/features/README.md
  docs/features/resumable-workstream-timeouts.md
  docs/features/workflow-publish-import-validation.md
  docs/howto/configure-resumable-workstream-timeouts.md
  docs/howto/configure-workflow-publish-import-validation.md
  docs/index.md
  docs/reference/resumable-workstream-timeouts.md
  docs/reference/workflow-publish-import-validation.md
  docs/tutorials/README.md
  docs/tutorials/resumable-workstream-timeouts.md
  docs/tutorials/workflow-publish-import-validation.md
  mkdocs.yml
  pyproject.toml
  scripts/pre-commit/build_publish_validation_scope.py
  scripts/pre-commit/check_imports.py
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_default_workflow_resumable_timeouts.py
  tests/recipes/test_default_workflow_step15_scoped_imports.py
  tests/recipes/test_git_push_idempotency.py
  tests/recipes/test_heartbeat.py
  tests/recipes/test_rust_runner_execution.py
  tests/scripts/pre_commit/test_build_publish_validation_scope.py
  tests/scripts/pre_commit/test_check_imports.py
  tests/test_multitask_orchestrator_local_src_bootstrap.py
  tests/unit/recipes/test_worktree_isolation_3684_3673.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recovery): harden worktree state handoff
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/tests/test_security_injection.py
  amplifier-bundle/recipes/default-workflow.yaml
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_rust_runner_execution.py
  tests/unit/recipes/test_worktree_isolation_3684_3673.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(recovery): cover step-8b resume handoff (#4077)
  pyproject.toml
  tests/recipes/test_default_workflow_resumable_timeouts.py
  tests/test_multitask_orchestrator_local_src_bootstrap.py
  uv.lock
Due: none

fix(workflow): restore no-remote publish guards (#4077)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_no_remote_integration.py
  tests/unit/recipes/test_worktree_isolation_3684_3673.py
Due: none

fix(workflow): finalize issue 4077 follow-up patch
  amplifier-bundle/recipes/smart-orchestrator.yaml
  docs/features/README.md
  docs/features/branch-name-generation.md
  docs/features/power-steering/migration-worktree-support.md
  docs/features/resumable-workstream-timeouts.md
  docs/features/workflow-publish-import-validation.md
  docs/git-utils-api.md
  docs/index.md
  docs/migration-worktree-support.md
  docs/power-steering-worktree-troubleshooting.md
  docs/reference/resumable-workstream-timeouts.md
  docs/reference/workflow-publish-import-validation.md
  docs/worktree-support.md
  mkdocs.yml
  tests/skills/test_smart_orchestrator_copilot_classifier.py
Due: none

docs: clarify required vs optional API keys in .env setup (#3844)
  CONTRIBUTING.md
Due: none

fix(copilot): avoid nested recipe recursion (#4077)
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  docs/concepts/copilot-parity-control-plane.md
  docs/howto/configure-copilot-parity-control-plane.md
  docs/reference/copilot-parity-control-plane.md
  src/amplihack/launcher/copilot.py
  src/amplihack/recipes/rust_runner_copilot.py
  tests/recipes/test_rust_runner_support.py
  tests/skills/test_smart_orchestrator_copilot_classifier.py
  tests/test_copilot_launcher_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(release): bump version to 0.6.106
  pyproject.toml
  uv.lock
Due: none

Integrate TLA+ formal spec findings into workflows and tooling (#3959)
  .claude/agents/amplihack/specialized/prompt-writer.md
  .claude/context/PATTERNS.md
  amplifier-bundle/recipes/default-workflow.yaml
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  experiments/hive_mind/tla_prompt_language/README.md
  experiments/hive_mind/tla_prompt_language/results/smoke_live_20260331.json
  experiments/hive_mind/tla_prompt_language/results/smoke_live_20260331.md
  experiments/hive_mind/tla_prompt_language/specs/DistributedRetrievalBestEffort.cfg
  experiments/hive_mind/tla_prompt_language/specs/DistributedRetrievalBestEffort.tla
  src/amplihack/eval/trace_to_test.py
  tests/eval/test_tla_generated.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add reference implementation and complete smoke results for gherkin v2 experiment
  experiments/hive_mind/gherkin_v2_recipe_executor/reference/recipe_step_executor.py
  experiments/hive_mind/gherkin_v2_recipe_executor/reference/test_recipe_step_executor.py
  experiments/hive_mind/gherkin_v2_recipe_executor/results/smoke_live_20260331/experiment_report.json
  experiments/hive_mind/gherkin_v2_recipe_executor/results/smoke_live_20260331/experiment_report.md
  experiments/hive_mind/gherkin_v2_recipe_executor/results/smoke_live_20260331/gpt_5_4__gherkin_plus_acceptance__r1/raw_response.txt
  experiments/hive_mind/gherkin_v2_recipe_executor/results/smoke_live_20260331/gpt_5_4__gherkin_plus_acceptance__r1/run_result.json
Due: check-imports, check-dependencies

fix: address Repo Guardian feedback — remove ephemeral findings doc
  docs/gherkin_v2_experiment_findings.md
  experiments/hive_mind/gherkin_v2_recipe_executor/README.md
Due: none

fix(eval): address review findings — error visibility, dual backend, gen_start init
  src/amplihack/eval/gherkin_agent_evaluator.py
  src/amplihack/eval/gherkin_prompt_experiment.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add persistent findings document for gherkin v2 experiment
  docs/gherkin_v2_experiment_findings.md
Due: none
