Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix(eval): restore package-first import after syncing improvements to eval repo
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(eval): make amplihack-agent-eval a required dependency, not optional
  pyproject.toml
  src/amplihack/eval/long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

perf(eval): optimize learning pipeline for 1000+ turn eval runs
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert "perf(eval): optimize learning pipeline for 1000+ turn eval runs"
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(retrieval): remove artificial limit=1501 that silently drops old facts
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/sub_agents/memory_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(eval): add math intent classification, code generation, and category-specific synthesis (#2472)
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(retrieval): concept-based retrieval, regex fix, aggressive fallbacks (#2472)
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(retrieval): filter SUMMARY nodes from retrieval results
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(retrieval): conditional SUMMARY filtering for meta_memory only
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(retrieval): address 3 reviewer findings - locals hack, dead branch, variable init
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(retrieval): fall back to simple_retrieval when entity retrieval is empty
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(retrieval): filter Q&A echoes before cascade routing decision
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve all lint issues and reviewer findings across codebase
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/eval/five_agent_experiment.py
  src/amplihack/eval/long_horizon_multi_seed.py
  src/amplihack/eval/long_horizon_self_improve.py
  src/amplihack/eval/run_domain_evals.py
  src/amplihack/goal_agent_generator/skill_synthesizer.py
  src/amplihack/goal_agent_generator/templates/multi_agent_template.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(skills): add session-to-agent skill for converting sessions to goal-seeking agents
  amplifier-bundle/skills/session-to-agent/SKILL.md
  amplifier-bundle/skills/session-to-agent/examples.md
  amplifier-bundle/skills/session-to-agent/reference.md
Due: none

feat(memory): add memory export/import for knowledge transfer between agents
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/agents/goal_seeking/memory_export.py
  src/amplihack/cli.py
  tests/agents/goal_seeking/test_memory_export.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(eval): add general-purpose capability evaluations beyond memory
  src/amplihack/eval/__init__.py
  src/amplihack/eval/general_capability_eval.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: comprehensive documentation update for goal-seeking agent system
  README.md
  docs/EVAL_SYSTEM_ARCHITECTURE.md
  docs/GOAL_SEEKING_AGENTS.md
  docs/SDK_ADAPTERS_GUIDE.md
  docs/tutorials/GOAL_SEEKING_AGENT_TUTORIAL.md
Due: none

feat(teaching): update teaching agent to 14-lesson curriculum with tests and skill
  .claude/skills/agent-generator-tutor/SKILL.md
  src/amplihack/agents/teaching/generator_teacher.py
  tests/agents/test_teaching_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(eval): increase eval difficulty with harder question categories
  src/amplihack/eval/long_horizon_data.py
  src/amplihack/eval/long_horizon_memory.py
  tests/eval/test_long_horizon_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add E2E Outside-In Test Generator skill for full-stack SPAs (#2486)
  .claude/skills/e2e-outside-in-test-generator/CLEANUP_REPORT.md
  .claude/skills/e2e-outside-in-test-generator/IMPLEMENTATION.md
  .claude/skills/e2e-outside-in-test-generator/README.md
  .claude/skills/e2e-outside-in-test-generator/SKILL.md
  .claude/skills/e2e-outside-in-test-generator/examples.md
  .claude/skills/e2e-outside-in-test-generator/generator/__init__.py
  .claude/skills/e2e-outside-in-test-generator/generator/coverage_audit.py
  .claude/skills/e2e-outside-in-test-generator/generator/infrastructure_setup.py
  .claude/skills/e2e-outside-in-test-generator/generator/models.py
  .claude/skills/e2e-outside-in-test-generator/generator/orchestrator.py
  .claude/skills/e2e-outside-in-test-generator/generator/security.py
  .claude/skills/e2e-outside-in-test-generator/generator/stack_detector.py
  .claude/skills/e2e-outside-in-test-generator/generator/template_manager.py
  .claude/skills/e2e-outside-in-test-generator/generator/templates/api_streaming.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/component_interaction.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/form_interaction.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/keyboard_shortcuts.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/pwa_basics.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/responsive.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/smoke.template
  .claude/skills/e2e-outside-in-test-generator/generator/test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/utils.py
  .claude/skills/e2e-outside-in-test-generator/patterns.md
  .claude/skills/e2e-outside-in-test-generator/reference.md
  .claude/skills/e2e-outside-in-test-generator/tests/conftest.py
  .claude/skills/e2e-outside-in-test-generator/tests/test_basic_functionality.py
  .claude/skills/e2e-outside-in-test-generator/tests/test_security.py
Due: check-dependencies

feat: Add E2E Outside-In Test Generator skill for full-stack SPAs (#2488)
  .claude/skills/e2e-outside-in-test-generator/CLEANUP_REPORT.md
  .claude/skills/e2e-outside-in-test-generator/IMPLEMENTATION.md
  .claude/skills/e2e-outside-in-test-generator/README.md
  .claude/skills/e2e-outside-in-test-generator/SKILL.md
  .claude/skills/e2e-outside-in-test-generator/examples.md
  .claude/skills/e2e-outside-in-test-generator/generator/__init__.py
  .claude/skills/e2e-outside-in-test-generator/generator/coverage_audit.py
  .claude/skills/e2e-outside-in-test-generator/generator/infrastructure_setup.py
  .claude/skills/e2e-outside-in-test-generator/generator/models.py
  .claude/skills/e2e-outside-in-test-generator/generator/orchestrator.py
  .claude/skills/e2e-outside-in-test-generator/generator/security.py
  .claude/skills/e2e-outside-in-test-generator/generator/stack_detector.py
  .claude/skills/e2e-outside-in-test-generator/generator/template_manager.py
  .claude/skills/e2e-outside-in-test-generator/generator/templates/api_streaming.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/component_interaction.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/form_interaction.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/keyboard_shortcuts.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/pwa_basics.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/responsive.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/smoke.template
  .claude/skills/e2e-outside-in-test-generator/generator/test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/utils.py
  .claude/skills/e2e-outside-in-test-generator/patterns.md
  .claude/skills/e2e-outside-in-test-generator/reference.md
  .claude/skills/e2e-outside-in-test-generator/tests/conftest.py
  .claude/skills/e2e-outside-in-test-generator/tests/test_basic_functionality.py
  .claude/skills/e2e-outside-in-test-generator/tests/test_security.py
  pyproject.toml
Due: check-dependencies

docs: fix all reviewer findings - interface, lesson count, tutorial runner, new features
  README.md
  docs/EVAL_SYSTEM_ARCHITECTURE.md
  docs/GOAL_SEEKING_AGENTS.md
  docs/tutorials/GOAL_SEEKING_AGENT_TUTORIAL.md
  src/amplihack/agents/teaching/generator_teacher.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add GH_TOKEN and pull-requests permission to roadmap review workflow
  .github/workflows/pm-roadmap-review.yml
Due: none

fix: Disable explicit lockdown mode in PR Triage Agent workflow
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/pr-triage-agent.md
Due: none

fix: Correct sync-recipes workflow to use proper upstream path mappings
  .github/workflows/sync-recipes-upstream.yml
Due: none

docs: Add agentic workflows and lockdown mode documentation
  .github/workflows/README.md
Due: none

fix: Add idempotency checks to Recipe Runner git push steps
  amplifier-bundle/recipes/default-workflow.yaml
  docs/claude/tools/amplihack/hooks/README.md
  docs/howto/exception-handling.md
  docs/reference/exception-handling.md
  pyproject.toml
  tests/recipes/test_git_push_idempotency.py
  tests/test_claude_md_installation.py
Due: none

docs: fix exercise IDs and validation key from tutorial agent testing
  docs/GOAL_SEEKING_AGENTS.md
  docs/tutorials/GOAL_SEEKING_AGENT_TUTORIAL.md
Due: none

fix: Add GH_TOKEN auth to PM roadmap review workflow (#2494)
  .github/workflows/pm-roadmap-review.yml
  pyproject.toml
Due: none

fix: Disable explicit lockdown mode in PR Triage Agent workflow (#2495)
  .github/workflows/README.md
  .github/workflows/pr-triage-agent.lock.yml
  .github/workflows/pr-triage-agent.md
Due: none

fix: Correct sync-recipes workflow to use proper upstream path mappings (#2496)
  .github/workflows/sync-recipes-upstream.yml
Due: none
