Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix(criterion2): ensure original user question reaches search_facts / distributed hive
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/hive_mind/test_criterion2_query_text.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Enhance oxidizer skill and recipe with Effective Rust guidance (#3160)
  .claude/skills/oxidizer-workflow/SKILL.md
  amplifier-bundle/recipes/oxidizer-workflow.yaml
  docs/OXIDIZER.md
  pyproject.toml
Due: none

test(distributed-memory): prove original question propagation
  deploy/azure_hive/tests/test_agent_entrypoint.py
  tests/hive_mind/test_criterion2_query_text.py
Due: none

fix(deps): bump amplihack-memory-lib to f332f38 (eval correctness fixes)
  pyproject.toml
Due: none

fix(deps): bump amplihack-memory-lib to 724378c
  pyproject.toml
  uv.lock
Due: none

test: add regression test for issue #3053 (FileNotFoundError in _end_session)
  src/amplihack/launcher/session_tracker.py
  tests/unit/test_issue_3053_session_tracker_runtime_dir.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor(tests): remove dead code and unused imports from issue #3053 regression tests
  tests/unit/test_issue_3053_session_tracker_runtime_dir.py
Due: none

test: improve test quality for issue #3053 regression suite
  src/amplihack/launcher/session_tracker.py
  tests/unit/test_issue_3053_session_tracker_runtime_dir.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(deps): bump amplihack-memory-lib to 30e614b
  pyproject.toml
  uv.lock
Due: none

Enhance oxidizer skill and recipe with Effective Rust guidance (#3160)
  .claude/context/PROJECT.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/oxidizer-workflow/SKILL.md
  .claude/skills/pm-architect/scripts/delegate_response.py
  .claude/tools/amplihack/orchestration/claude_process.py
  .claude/tools/amplihack/remote/executor.py
  amplifier-bundle/recipes/oxidizer-workflow.yaml
  amplifier-bundle/skills/pm-architect/scripts/delegate_response.py
  amplifier-bundle/tools/amplihack/orchestration/claude_process.py
  docs/OXIDIZER.md
  docs/claude/skills/pm-architect/scripts/delegate_response.py
  docs/claude/tools/amplihack/orchestration/claude_process.py
  pyproject.toml
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  src/amplihack/knowledge_builder/orchestrator.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/meta_delegation/platform_cli.py
  src/amplihack/utils/__init__.py
  src/amplihack/utils/claude_cli.py
  tests/knowledge_builder/test_kb_integration.py
  tests/knowledge_builder/test_kb_modules.py
  tests/knowledge_builder/test_rust_expert_scenario.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: unify distributed cognitive memory contracts
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  docs/concepts/unified-distributed-cognitive-memory.md
  docs/index.md
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_memory.py
  tests/hive_mind/test_dht_shard_cross_query.py
  tests/hive_mind/test_distributed_memory_cluster_api.py
  tests/hive_mind/test_distributed_query_contracts.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: stabilize gossip peer selection
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  tests/test_distributed_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: route hive input via deterministic partitions
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/main.bicep
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_partition_routing.py
  src/amplihack/agents/goal_seeking/input_source.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: avoid duplicate question recall in orient
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
  tests/agents/goal_seeking/test_goal_seeking_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: raise azure shard query timeout
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
Due: check-imports, check-dependencies

fix: session_tracker _end_session crashes with FileNotFoundError on missing runtime dir (#3145)
  pyproject.toml
  src/amplihack/launcher/session_tracker.py
  tests/unit/test_issue_3053_session_tracker_runtime_dir.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Enhance oxidizer skill and recipe with Effective Rust guidance (#3160)
  .claude/context/PROJECT.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/pm-architect/scripts/delegate_response.py
  .claude/tools/amplihack/orchestration/claude_process.py
  .claude/tools/amplihack/remote/executor.py
  amplifier-bundle/skills/pm-architect/scripts/delegate_response.py
  amplifier-bundle/tools/amplihack/orchestration/claude_process.py
  docs/claude/skills/pm-architect/scripts/delegate_response.py
  docs/claude/tools/amplihack/orchestration/claude_process.py
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  src/amplihack/knowledge_builder/orchestrator.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/meta_delegation/platform_cli.py
  src/amplihack/utils/__init__.py
  src/amplihack/utils/claude_cli.py
  tests/knowledge_builder/test_kb_integration.py
  tests/knowledge_builder/test_kb_modules.py
  tests/knowledge_builder/test_rust_expert_scenario.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: make agent binary selection agent-agnostic across codebase (#3174)
  .claude/context/PROJECT.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/multitask/orchestrator.py
  .claude/skills/pm-architect/scripts/delegate_response.py
  .claude/tools/amplihack/orchestration/claude_process.py
  .claude/tools/amplihack/remote/executor.py
  amplifier-bundle/skills/pm-architect/scripts/delegate_response.py
  amplifier-bundle/tools/amplihack/orchestration/claude_process.py
  docs/claude/skills/pm-architect/scripts/delegate_response.py
  docs/claude/tools/amplihack/orchestration/claude_process.py
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  src/amplihack/knowledge_builder/orchestrator.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/meta_delegation/platform_cli.py
  src/amplihack/utils/__init__.py
  src/amplihack/utils/claude_cli.py
  tests/knowledge_builder/test_kb_integration.py
  tests/knowledge_builder/test_kb_modules.py
  tests/knowledge_builder/test_rust_expert_scenario.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: parallelize azure shard query handling
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
Due: check-imports, check-dependencies

fix(distributed-memory): deterministic fan-out, no silent fallbacks, no hardcoded constants (#3157)
  deploy/azure_hive/tests/test_agent_entrypoint.py
  pyproject.toml
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_memory.py
  src/amplihack/agents/goal_seeking/retrieval_constants.py
  tests/hive_mind/test_criterion2_query_text.py
  tests/hive_mind/test_distributed_fanout_determinism.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(criterion2): ensure original user question reaches search_facts / distributed hive (#3161)
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/hive_mind/test_criterion2_query_text.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
