Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: Add /amplihack:recipe slash command for recipe runner invocation
  src/amplihack/commands/amplihack/recipe.md
Due: none

feat: Git-based upstream sync + daily GitHub Action
  .github/workflows/sync-recipes-upstream.yml
  src/amplihack/recipes/discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Recipe discovery, listing, and upstream sync
  docs/recipes/README.md
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Add Amplifier compatibility integration tests
  tests/integration/__init__.py
  tests/integration/test_amplifier_compatibility.py
Due: none

fix: Address 8 quality issues from deep review
  docs/recipes/README.md
  src/amplihack/recipes/context.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/unit/recipes/test_parser.py
  tests/unit/recipes/test_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct misleading docstring about eval() usage in context.py
  src/amplihack/recipes/context.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: GitHub Action bugs - add step id and fix GITHUB_OUTPUT
  .github/workflows/sync-recipes-upstream.yml
Due: none

test: Add 32 comprehensive tests (public API + security)
  tests/skills/README.md
  tests/test_auto_update.py
  tests/test_ci_workflows_integration.py
  tests/test_link_checker_exit_code.py
  tests/test_pm_daily_status_workflow.py
  tests/unit/recipes/test_context.py
  tests/unit/recipes/test_public_api.py
  tests/unit/test_auto_bump_version.py
  tests/unit/test_claude_cli_npm_path.py
  tests/unit/test_process_security.py
  tests/unit/workflow/test_simplified_workflow_best_practices.py
Due: none

SECURITY: Fix critical shell=True and Unicode bypass vulnerabilities
  src/amplihack/recipes/adapters/claude_sdk.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/context.py
  tests/unit/recipes/test_adapters.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add Recipe Runner to main README
  README.md
Due: none

fix: List JSON rendering, typo detection, test cleanup
  src/amplihack/recipes/context.py
  src/amplihack/recipes/parser.py
  tests/unit/recipes/test_context.py
  tests/unit/recipes/test_parser.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Include exception message in condition evaluation warning log
  src/amplihack/recipes/runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipe): Ensure default-workflow uses isolated worktrees instead of repo_path
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

feat: Add markitdown skill and update skill-builder with best practices
  .claude/context/SECURITY_REVIEW_README.md
  .claude/skills/markitdown/SKILL.md
  .claude/skills/markitdown/examples.md
  .claude/skills/markitdown/patterns.md
  .claude/skills/markitdown/reference.md
  docs/features/copilot-installation-reporting.md
  docs/reference/copilot-installation-implementation.md
  docs/troubleshooting/copilot-installation-false-negative.md
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Due: none

feat: Recipe Runner - code-enforced deterministic workflow execution (#2254)
  .github/workflows/sync-recipes-upstream.yml
  README.md
  docs/index.md
  docs/recipes/README.md
  pyproject.toml
  src/amplihack/commands/amplihack/recipe.md
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/adapters/__init__.py
  src/amplihack/recipes/adapters/base.py
  src/amplihack/recipes/adapters/claude_sdk.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/agent_resolver.py
  src/amplihack/recipes/context.py
  src/amplihack/recipes/discovery.py
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/integration/__init__.py
  tests/integration/test_amplifier_compatibility.py
  tests/skills/README.md
  tests/test_auto_update.py
  tests/test_ci_workflows_integration.py
  tests/test_link_checker_exit_code.py
  tests/test_pm_daily_status_workflow.py
  tests/unit/recipes/__init__.py
  tests/unit/recipes/conftest.py
  tests/unit/recipes/test_adapters.py
  tests/unit/recipes/test_agent_resolver.py
  tests/unit/recipes/test_context.py
  tests/unit/recipes/test_discovery.py
  tests/unit/recipes/test_parser.py
  tests/unit/recipes/test_public_api.py
  tests/unit/recipes/test_runner.py
  tests/unit/test_auto_bump_version.py
  tests/unit/test_claude_cli_npm_path.py
  tests/unit/test_process_security.py
  tests/unit/workflow/test_simplified_workflow_best_practices.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Update skill-builder validation to enforce official best practices
  .claude/skills/skill-builder/SKILL.md
Due: none

fix(recipe): Ensure default-workflow uses isolated worktrees for all operations
  amplifier-bundle/recipes/default-workflow.yaml
  test-worktree-isolation.sh
Due: none

chore: Fix trailing whitespace and formatting (pre-commit auto-fix)
  .claude/tools/amplihack/hooks/tests/test_cwd_deletion_protection.py
  .claude/tools/amplihack/hooks/tests/test_main_branch_protection.py
  .claude/workflow/SIMPLIFIED_WORKFLOW.md
  .github/workflows/docs-validation.yml
  .github/workflows/version-tag.yml
  amplifier-bundle/recipes/default-workflow.yaml
  docs/claude/tools/amplihack/hooks/session_stop.py
  docs/features/main-branch-protection.md
  scripts/auto_bump_version.py
  scripts/check_version_bump.py
  scripts/test_external_service_resilience.py
  scripts/validate_docs_examples.py
  scripts/validate_docs_policy.py
  src/amplihack/auto_update.py
  src/amplihack/context/adaptive/detector.py
  src/amplihack/context/adaptive/strategies.py
  src/amplihack/launcher/json_logger.py
  src/amplihack/tracing/trace_logger.py
  tests/launcher/test_copilot.py
  tests/test_auto_update.py
  tests/test_ci_workflows_integration.py
  tests/test_pm_daily_status_workflow.py
  tests/unit/test_auto_bump_version.py
  tests/unit/test_claude_cli_npm_path.py
  tests/unit/workflow/test_simplified_workflow_best_practices.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add security warnings and line count validation to skills
  .claude/skills/markitdown/SKILL.md
  .claude/skills/skill-builder/SKILL.md
Due: none

feat: Add validation checklist and anti-patterns for 98/100 philosophy score
  .claude/skills/markitdown/SKILL.md
  .claude/skills/skill-builder/SKILL.md
Due: none

chore: Apply prettier formatting to examples.md
  .claude/skills/skill-builder/examples.md
Due: none

feat: Add pre-commit-manager skill with intelligent preference memory (#2281)
  .claude/docs/SECURITY_CODE_REVIEW_CHECKLIST.md
  .claude/docs/SECURITY_REQUIREMENTS.md
  .claude/docs/SECURITY_SUMMARY.md
  .claude/skills/pre-commit-manager/README.md
  .claude/skills/pre-commit-manager/SKILL.md
  .claude/skills/precommit_manager.py
  .claude/tools/amplihack/hooks/precommit_installer.py
  .claude/tools/amplihack/hooks/precommit_prefs.py
  .claude/tools/amplihack/hooks/tests/test_precommit_end_to_end.py
  .claude/tools/amplihack/hooks/tests/test_precommit_installer.py
  .claude/tools/amplihack/hooks/tests/test_precommit_installer_enhanced.py
  .claude/tools/amplihack/hooks/tests/test_precommit_prefs.py
  .claude/tools/amplihack/hooks/tests/test_precommit_security.py
  .claude/tools/amplihack/hooks/tests/test_precommit_skill_operations.py
Due: check-dependencies

feat: Add markitdown skill and enhance skill-builder with best practices (98/100 philosophy)
  .claude/context/SECURITY_REVIEW_README.md
  .claude/skills/markitdown/SKILL.md
  .claude/skills/markitdown/examples.md
  .claude/skills/markitdown/patterns.md
  .claude/skills/markitdown/reference.md
  .claude/skills/skill-builder/SKILL.md
  .claude/skills/skill-builder/examples.md
  .claude/tools/amplihack/hooks/tests/test_cwd_deletion_protection.py
  .claude/tools/amplihack/hooks/tests/test_main_branch_protection.py
  .claude/workflow/SIMPLIFIED_WORKFLOW.md
  .github/workflows/docs-validation.yml
  .github/workflows/version-tag.yml
  amplifier-bundle/recipes/default-workflow.yaml
  docs/claude/tools/amplihack/hooks/session_stop.py
  docs/features/copilot-installation-reporting.md
  docs/features/main-branch-protection.md
  docs/reference/copilot-installation-implementation.md
  docs/troubleshooting/copilot-installation-false-negative.md
  pyproject.toml
  scripts/auto_bump_version.py
  scripts/check_version_bump.py
  scripts/test_external_service_resilience.py
  scripts/validate_docs_examples.py
  scripts/validate_docs_policy.py
  src/amplihack/auto_update.py
  src/amplihack/context/adaptive/detector.py
  src/amplihack/context/adaptive/strategies.py
  src/amplihack/launcher/json_logger.py
  src/amplihack/tracing/trace_logger.py
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
  tests/launcher/test_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add pre-commit-manager feature to README
  README.md
Due: none

test: Add comprehensive test coverage for markitdown and skill-builder
  tests/skills/README.md
  tests/skills/test_markitdown_skill.py
  tests/skills/test_skill_builder.py
  uv.lock
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
