Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: remove worktree gitlink breaking uvx installs
  .gitignore
Due: none

fix: remove worktree gitlink breaking uvx installs (#2705)
  .gitignore
  pyproject.toml
Due: none

fix: 4-solution agentic answer mode fixes for infra_03 regression (#2690)
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/eval/long_horizon_memory.py
  tests/agents/goal_seeking/test_agentic_answer_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: simplify smart-orchestrator recipe — remove 3 redundant steps, cut 3 subprocesses
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix: simplify smart-orchestrator recipe — 23→20 steps, -3 subprocesses (#2706)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
Due: none

fix: correct SDK adapter import path in dev command and dev-orchestrator skill
  .claude/commands/amplihack/dev.md
  .claude/skills/dev-orchestrator/SKILL.md
Due: amplihack-sync-commands

fix: correct SDK adapter import path in dev command and skill (#2709)
  .claude/commands/amplihack/dev.md
  .claude/skills/dev-orchestrator/SKILL.md
  pyproject.toml
Due: amplihack-sync-commands

fix: heredoc stdin conflict, hierarchical memory path divergence, ops routing docs
  .claude/skills/dev-orchestrator/SKILL.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: streamline Claude CLI installation in PREREQUISITES.md
  docs/PREREQUISITES.md
Due: none

fix: heredoc stdin conflict, hierarchical memory path divergence, ops routing docs (#2715)
  .claude/skills/dev-orchestrator/SKILL.md
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add agent memory integration to AutoMode
  src/amplihack/launcher/agent_memory.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add agent memory to AutoMode via amplihack-memory-lib (#2720)
  pyproject.toml
  src/amplihack/launcher/agent_memory.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix memory: use kuzu backend (not sqlite), fix close()
  src/amplihack/launcher/agent_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix memory: use kuzu backend, fix close() (#2721)
  pyproject.toml
  src/amplihack/launcher/agent_memory.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: auto-cleanup workstream directories after completion to prevent disk exhaustion
  .claude/skills/multitask/orchestrator.py
Due: check-dependencies

fix: auto-cleanup workstream directories to prevent 49GB disk exhaustion (#2722)
  .claude/skills/multitask/orchestrator.py
Due: check-dependencies

docs: fix onboarding quality — prerequisites, tutorial, copilot, Claude Code setup
  docs/CLAUDE_CODE_SETUP.md
  docs/COPILOT_CLI.md
  docs/PREREQUISITES.md
  docs/tutorials/amplihack-tutorial.md
Due: none

docs: fix onboarding quality — prerequisites, tutorial, copilot, Claude Code setup (#2716)
  docs/CLAUDE_CODE_SETUP.md
  docs/COPILOT_CLI.md
  docs/PREREQUISITES.md
  docs/tutorials/amplihack-tutorial.md
Due: none

fix: CI workflows — sync-recipes git add failure + PM roadmap auth error
  .github/workflows/pm-roadmap-review.yml
  .github/workflows/sync-recipes-upstream.yml
Due: none

fix: CI workflows — sync-recipes git add failure + PM roadmap auth error (#2724)
  .github/workflows/pm-roadmap-review.yml
  .github/workflows/sync-recipes-upstream.yml
Due: none

feat: quality-audit-cycle v2.0 — seek/validate/fix/recurse loop
  .claude/skills/quality-audit-workflow/SKILL.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
Due: none

feat: quality-audit-cycle v2.0 — seek/validate/fix/recurse loop (#2725)
  .claude/skills/quality-audit-workflow/SKILL.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  pyproject.toml
Due: none

fix: Windows platform clarity + static analysis uses pyright
  .github/workflows/static-analysis-report.md
  README.md
Due: none

refactor: split integrated_proxy.py from 4177 to 1467 lines (65% reduction)
  src/amplihack/proxy/__init__.py
  src/amplihack/proxy/azure_errors.py
  src/amplihack/proxy/conversion.py
  src/amplihack/proxy/exceptions.py
  src/amplihack/proxy/integrated_proxy.py
  src/amplihack/proxy/models.py
  src/amplihack/proxy/monitoring.py
  src/amplihack/proxy/streaming.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove opus[1m] default from Copilot CLI launcher
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: remove pirate dialect from 3 documentation files
  docs/PLUGIN_ARCHITECTURE.md
  docs/contributing/file-organization.md
  docs/tutorials/first-docs-site.md
Due: none

fix: Copilot startup failure, Windows clarity, proxy refactor, static analysis pyright (#2728)
  .github/workflows/static-analysis-report.md
  README.md
  docs/PLUGIN_ARCHITECTURE.md
  docs/contributing/file-organization.md
  docs/tutorials/first-docs-site.md
  src/amplihack/launcher/copilot.py
  src/amplihack/proxy/__init__.py
  src/amplihack/proxy/azure_errors.py
  src/amplihack/proxy/conversion.py
  src/amplihack/proxy/exceptions.py
  src/amplihack/proxy/integrated_proxy.py
  src/amplihack/proxy/models.py
  src/amplihack/proxy/monitoring.py
  src/amplihack/proxy/streaming.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: README platform — Windows requires WSL, native not supported
  README.md
Due: none
