Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: Add Makefile to .gitattributes LF enforcement
  .gitattributes
Due: none

feat: Wire blarify code graph into session lifecycle and add query tool
  .claude/tools/amplihack/hooks/session_start.py
  .gitignore
  docs/howto/blarify-code-graph.md
  src/amplihack/memory/kuzu/code_graph.py
  src/amplihack/memory/kuzu/connector.py
  src/amplihack/memory/kuzu/indexing/background_indexer.py
  src/amplihack/memory/kuzu/indexing/orchestrator.py
  src/amplihack/memory/kuzu/indexing/staleness_detector.py
  src/amplihack/memory/kuzu/query_code_graph.py
  src/amplihack/tests/test_blarify_integration.py
  src/amplihack/tests/test_hook_triggers.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

refactor: Extract blarify session logic into dedicated module
  .claude/tools/amplihack/hooks/session_start.py
  src/amplihack/memory/kuzu/session_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

docs: Add blarify howto link to docs index
  docs/index.md
Due: none

fix: Address all 8 Copilot review comments
  .claude/commands/code-graph.md
  REVIEW_FIXES_SUMMARY.md
  docs/code-graph/quick-start.md
  fix_vendor_imports.py
  scripts/fix_vendor_imports.py
  scripts/test_blarify_simple.py
Due: check-imports, check-dependencies, amplihack-sync-commands

Bump version from 0.5.6 to 0.5.7
  pyproject.toml
Due: none

fix: Background indexer opens log before closing stdio, log query failures
  src/amplihack/memory/kuzu/indexing/background_indexer.py
  src/amplihack/memory/kuzu/session_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

feat: Add CWD deletion protection to pre_tool_use hook (#2276)
  .claude/tools/amplihack/hooks/pre_tool_use.py
  .claude/tools/amplihack/hooks/tests/test_cwd_deletion_protection.py
  amplifier-bundle/tools/amplihack/hooks/pre_tool_use.py
Due: check-imports, check-dependencies

fix: Eliminate silent failures in SCIP import, staleness hook, background worker
  .claude/tools/amplihack/blarify_staleness_hook.py
  src/amplihack/memory/kuzu/indexing/background_indexer.py
  src/amplihack/memory/kuzu/indexing/scip_importer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

feat: Add CWD deletion protection to pre_tool_use hook (#2277)
  .claude/tools/amplihack/hooks/pre_tool_use.py
  .claude/tools/amplihack/hooks/tests/test_cwd_deletion_protection.py
  amplifier-bundle/tools/amplihack/hooks/pre_tool_use.py
  pyproject.toml
Due: check-imports, check-dependencies

cleanup: Remove stub commands, fake docs, and misplaced test files
  .claude/commands/code-graph-core.md
  .claude/commands/code-graph-images.md
  .claude/commands/code-graph-index.md
  .claude/commands/code-graph-update.md
  docs/code-graph/README.md
  docs/code-graph/command-reference.md
  docs/code-graph/examples.md
  docs/code-graph/quick-start.md
  docs/code-graph/troubleshooting.md
  docs/index.md
  test_blarify_execution.py
  test_e2e_blarify_indexing.sh
  tests/TDD_TEST_SUMMARY.md
  tests/memory/kuzu/indexing/TEST_SUMMARY.md
Due: check-imports, check-dependencies, amplihack-sync-commands

fix(copilot): Remove redundant check_copilot() causing false negative (#2278)
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot_installation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

cleanup: Remove outdated docs, stale tests, debug scripts, session artifacts
  .claude/logs/HANDOFF.md
  docs/blarify/README.md
  docs/blarify/background-indexing.md
  docs/blarify/multi-language-validation.md
  docs/index.md
  scripts/debug_kuzu_contents.py
  scripts/test_blarify_simple.py
  tests/memory/kuzu/indexing/README.md
  tests/memory/kuzu/indexing/run_tests.sh
  tests/memory/kuzu/indexing/test_background_indexer.py
  tests/memory/kuzu/indexing/test_blarify_integration.py
  tests/memory/kuzu/indexing/test_dependency_installer.py
  tests/memory/kuzu/indexing/test_orchestrator.py
Due: check-imports, check-dependencies

fix(copilot): Remove redundant check_copilot() causing false negative (#2279)
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot_installation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add Recipe Runner for code-enforced deterministic workflow execution
  docs/index.md
  docs/recipes/README.md
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/adapters/__init__.py
  src/amplihack/recipes/adapters/base.py
  src/amplihack/recipes/adapters/claude_sdk.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/adapters/copilot_sdk.py
  src/amplihack/recipes/agent_resolver.py
  src/amplihack/recipes/context.py
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/unit/recipes/__init__.py
  tests/unit/recipes/conftest.py
  tests/unit/recipes/test_agent_resolver.py
  tests/unit/recipes/test_context.py
  tests/unit/recipes/test_parser.py
  tests/unit/recipes/test_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address all review feedback - security hardening, dead code removal
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/adapters/__init__.py
  src/amplihack/recipes/adapters/copilot_sdk.py
  src/amplihack/recipes/agent_resolver.py
  src/amplihack/recipes/context.py
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add /amplihack:recipe slash command for recipe runner invocation
  src/amplihack/commands/amplihack/recipe.md
Due: none

feat: Add recipe discovery, listing, file parsing, and upstream tracking
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/discovery.py
  src/amplihack/recipes/parser.py
  tests/unit/recipes/test_discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Add Amplifier compatibility integration tests
  tests/integration/__init__.py
  tests/integration/test_amplifier_compatibility.py
Due: none

SECURITY: Fix critical shell=True and Unicode bypass vulnerabilities
  src/amplihack/recipes/adapters/claude_sdk.py
  src/amplihack/recipes/adapters/cli_subprocess.py
  src/amplihack/recipes/context.py
  tests/unit/recipes/test_adapters.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address 8 quality issues from deep review
  docs/recipes/README.md
  src/amplihack/recipes/context.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/unit/recipes/test_parser.py
  tests/unit/recipes/test_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
