Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: repair bash syntax errors in test_layer_contracts.sh
  .claude/skills/code-atlas/tests/test_layer_contracts.sh
Due: none

fix(code-atlas): address blocking issues found in PR review
  scripts/check-atlas-staleness.sh
  scripts/rebuild-atlas-all.sh
  scripts/validate_atlas_output.sh
Due: none

fix: keep azure agents alive on transient input exhaustion
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_partition_routing.py
  src/amplihack/agents/goal_seeking/input_source.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

diag: emit azure shutdown telemetry
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
Due: check-imports, check-dependencies

fix: skip sessionStart update prompt in non-interactive runs
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/hooks/tests/test_session_lifecycle.py
Due: check-dependencies

fix: skip sessionStart update prompt in non-interactive runs (#3195)
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/hooks/tests/test_session_lifecycle.py
Due: check-dependencies

wip: checkpoint after implementation (steps 7-8)
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/tests/conftest.py
  amplifier-bundle/recipes/tests/pytest.ini
  amplifier-bundle/recipes/tests/test_recipe_push_diverged_fix.py
Due: none

fix(#3194): fix step-20b subshell operator precedence and add FORBIDDEN_PATTERNS.md
  FORBIDDEN_PATTERNS.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/tests/pytest.ini
  amplifier-bundle/recipes/tests/test_recipe_push_diverged_fix.py
Due: none

fix: reduce distributed retrieval storms
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_memory.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/retrieval_constants.py
  tests/agents/goal_seeking/test_learning_agent.py
  tests/hive_mind/test_distributed_memory_cluster_api.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: replace ; with && before git push to enforce fail-fast semantics
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: harden git commit steps in consensus-workflow to enforce fail-fast semantics
  amplifier-bundle/recipes/consensus-workflow.yaml
Due: none

address review feedback
  uv.lock
Due: none

fix: restore exact-id distributed recall
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: preserve exact-id facts in tiered retrieval
  src/amplihack/agents/goal_seeking/learning_agent.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(prerequisites): align Python version guidance
  CONTRIBUTING.md
Due: none

docs(prerequisites): add Rust guidance for WSL
  docs/PREREQUISITES.md
Due: none

docs(prerequisites): clarify claude-trace requirement
  docs/PREREQUISITES.md
Due: none

fix: add azure survivability mode
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/eval_distributed_security.py
  deploy/azure_hive/main.bicep
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_remote_agent_adapter.py
Due: check-imports, check-dependencies

docs(prerequisites): align claude-trace requirement
  docs/PREREQUISITES.md
Due: none

docs(contributing): align python version requirement
  CONTRIBUTING.md
Due: none

fix: skip session start prompts in non-interactive runs
  .claude/tools/amplihack/hooks/session_start.py
  tests/unit/tools/version_check/test_session_start_noninteractive.py
Due: check-dependencies

fix: skip session start prompts in non-interactive runs (#3206)
  tests/unit/tools/version_check/test_session_start_noninteractive.py
Due: none

Add repo-root import shim for local python
  amplihack/__init__.py
  tests/test_repo_root_import_shim.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
