Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: Add subprocess import
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Define package_root before use in debug print
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Restore working CLI code from c46714a2
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove local subprocess import on line 700
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Define local_claude_dir before use
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Complete Claude Code plugin architecture implementation (Issue #1948)
  .claude-plugin/plugin.json
  .claude/tools/amplihack/hooks/hooks.json
  ISSUE_1948_REQUIREMENTS.md
  Specs/BACKWARD_COMPATIBILITY.md
  Specs/CROSS_TOOL_COMPATIBILITY.md
  Specs/DOCUMENTATION_UPDATES.md
  Specs/HOOK_REGISTRATION_AUDIT.md
  Specs/IMPLEMENTATION_PLAN.md
  Specs/PLUGIN_CLI_COMMANDS.md
  Specs/PLUGIN_MARKETPLACE_CONFIG.md
  TDD_TESTS_DELIVERY.md
  docs/MIGRATION_GUIDE.md
  docs/PLUGIN_ARCHITECTURE.md
  docs/PLUGIN_CLI_HELP.md
  docs/PLUGIN_DOCUMENTATION_INDEX.md
  docs/README_PLUGIN_SECTION.md
  docs/RETCON_DOCUMENTATION_SUMMARY.md
  src/amplihack/cli.py
  src/amplihack/mode_detector/__init__.py
  src/amplihack/mode_detector/detector.py
  src/amplihack/mode_detector/migration.py
  src/amplihack/plugin_cli/__init__.py
  src/amplihack/plugin_cli/cli_handlers.py
  src/amplihack/plugin_cli/parser_setup.py
  src/amplihack/plugin_cli/verifier.py
  src/amplihack/plugin_manager/manager.py
  src/amplihack/settings_generator/generator.py
  tests/TEST_SUMMARY.md
  tests/integration/test_backward_compat.py
  tests/integration/test_plugin_cli_integration.py
  tests/unit/test_hook_registration.py
  tests/unit/test_marketplace_config.py
  tests/unit/test_plugin_cli.py
  tests/verify_tests.sh
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add subprocess import and define package_root
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct plugin manifest path to amplihack/.claude-plugin/
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove invalid agents and marketplace fields from plugin.json
  .claude-plugin/plugin.json
Due: none

fix: Define plugin_root before use in UVX plugin mode
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Include CLAUDE.md in wheel package for UVX deployment
  build_hooks.py
Due: check-dependencies

feat: Implement AMPLIHACK.md → CLAUDE.md copy via UserPromptSubmit hook
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  AMPLIHACK.md
  build_hooks.py
  pyproject.toml
Due: check-dependencies

fix: Add amplihack_md_src/dest attributes to __init__
  build_hooks.py
Due: check-dependencies

fix: Correct AMPLIHACK.md references in build_hooks warning messages
  build_hooks.py
Due: check-dependencies

feat: Move AMPLIHACK.md into .claude/ directory for plugin delivery
  .claude/AMPLIHACK.md
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  pyproject.toml
Due: check-dependencies

docs: Add comprehensive Step 13 local testing results
  STEP_13_LOCAL_TESTING_COMPLETE.md
Due: none

fix: Register all 36 agents in bundle.md agents section
  amplifier-bundle/bundle.md
Due: none

fix: Update MANIFEST.in to reference AMPLIHACK.md instead of CLAUDE.md
  MANIFEST.in
Due: none

docs: Update all CLAUDE.md and context_management references
  .claude/commands/amplihack/customize.md
  .claude/context/PATTERNS.md
  .claude/context/TOOL_VS_SKILL_CLASSIFICATION.md
  .claude/skills/session-replay/SKILL.md
Due: amplihack-sync-commands

fix: Add uv tool bin to PATH after installation
  src/amplihack/launcher/amplifier.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add repository URI to statusline after branch name
  .claude/tools/statusline.sh
  docs/reference/STATUSLINE.md
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
