Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: expand e2e-outside-in-test-generator to support CLI, TUI, API, MCP (#2825)
  .claude/skills/e2e-outside-in-test-generator/SKILL.md
  .claude/skills/e2e-outside-in-test-generator/generator/__init__.py
  .claude/skills/e2e-outside-in-test-generator/generator/api_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/app_type_detector.py
  .claude/skills/e2e-outside-in-test-generator/generator/cli_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/mcp_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/models.py
  .claude/skills/e2e-outside-in-test-generator/generator/orchestrator.py
  .claude/skills/e2e-outside-in-test-generator/generator/templates/api_endpoint.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/api_workflow.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/cli_command.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/cli_error_handling.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/cli_smoke.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/mcp_tool.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/mcp_workflow.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/tui_navigation.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/tui_smoke.template
  .claude/skills/e2e-outside-in-test-generator/generator/tui_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/tests/test_multi_app_type.py
Due: check-dependencies

feat: remove PeerHiveGraph dead code, add integration tests, update docs
  docs/hive_mind/ARCHITECTURE.md
  docs/hive_mind/EVAL.md
  docs/hive_mind/TUTORIAL.md
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/peer_hive.py
  tests/hive_mind/test_full_pipeline_integration.py
  tests/hive_mind/test_hive_graph.py
  tests/hive_mind/test_outside_in_crdt_gossip_lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: improve CLI detection - exclude vendor dirs, prioritize entry points
  .claude/skills/e2e-outside-in-test-generator/generator/app_type_detector.py
Due: check-dependencies

fix: remove all arbitrary file scan and output generation limits
  .claude/skills/e2e-outside-in-test-generator/generator/api_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/app_type_detector.py
  .claude/skills/e2e-outside-in-test-generator/generator/cli_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/mcp_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/stack_detector.py
  .claude/skills/e2e-outside-in-test-generator/generator/test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/tui_test_generator.py
Due: check-dependencies

fix: resolve hook duplication, Kuzu lock contention, and version detection (#2834)
  .claude/tools/amplihack/hooks/settings_migrator.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/version_checker.py
  src/amplihack/memory/backends/kuzu_backend.py
  tests/unit/memory/test_kuzu_retry.py
  tests/unit/test_settings_migrator_dedup.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

fix: allow safe function calls in recipe condition expressions (#2827)
  src/amplihack/recipes/context.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: extract copilot logic from stop.py, add decision logging, e2e tests
  amplifier-bundle/tools/amplihack/hooks/copilot_stop_handler.py
  amplifier-bundle/tools/amplihack/hooks/stop.py
  src/amplihack/fleet/fleet_copilot.py
  tests/e2e/test_copilot_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add Kuzu retry to KuzuConnector and blarify KuzuManager
  src/amplihack/memory/kuzu/connector.py
  src/amplihack/vendor/blarify/repositories/graph_db_manager/kuzu_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: 14 bugs found in deep audit — status inference, project root, fd leak
  .claude/tools/amplihack/lock_tool.py
  amplifier-bundle/modules/hook-lock-mode/amplifier_hook_lock_mode/__init__.py
  amplifier-bundle/tools/amplihack/hooks/copilot_stop_handler.py
  docs/FLEET_COPILOT.md
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: skip code graph injection during background blarify indexing
  .claude/tools/amplihack/hooks/session_start.py
  src/amplihack/memory/kuzu/session_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

fix: remove goal content length limit — no silent truncation
  amplifier-bundle/modules/hook-lock-mode/amplifier_hook_lock_mode/__init__.py
Due: check-imports, check-dependencies

refactor: extract prompts to files, centralize constants, remove XML sanitization
  amplifier-bundle/modules/hook-lock-mode/amplifier_hook_lock_mode/__init__.py
  amplifier-bundle/tools/amplihack/hooks/copilot_stop_handler.py
  src/amplihack/fleet/_constants.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_observer.py
  src/amplihack/fleet/prompts/__init__.py
  src/amplihack/fleet/prompts/copilot_system.prompt
  src/amplihack/fleet/prompts/lock_mode_directive.prompt
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve hook duplication, Kuzu lock contention, and version detection (#2835)
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/hooks/settings_migrator.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/version_checker.py
  src/amplihack/memory/backends/kuzu_backend.py
  src/amplihack/memory/kuzu/connector.py
  src/amplihack/memory/kuzu/session_integration.py
  src/amplihack/vendor/blarify/repositories/graph_db_manager/kuzu_manager.py
  tests/unit/memory/test_kuzu_retry.py
  tests/unit/test_settings_migrator_dedup.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: extract magic numbers and strings to hive_mind/constants.py
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/constants.py
  src/amplihack/agents/goal_seeking/hive_mind/controller.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
  src/amplihack/agents/goal_seeking/hive_mind/embeddings.py
  src/amplihack/agents/goal_seeking/hive_mind/fact_lifecycle.py
  src/amplihack/agents/goal_seeking/hive_mind/gossip.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/quality.py
  src/amplihack/agents/goal_seeking/hive_mind/query_expansion.py
  src/amplihack/agents/goal_seeking/hive_mind/reranker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: centralize ALL constants, make capacity CLI-configurable
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/_cli_fleet_ops.py
  src/amplihack/fleet/_constants.py
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_dashboard.py
  src/amplihack/fleet/fleet_health.py
  src/amplihack/fleet/fleet_reasoners.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_tasks.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/fleet_tui_dashboard.py
  src/amplihack/fleet/tests/test_fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add cross-repo integration tests for amplihack-agent-eval + hive mind
  tests/hive_mind/test_eval_integration.py
Due: none

test: add adversarial agent tests for hive mind quality gates
  tests/hive_mind/test_adversarial.py
Due: none

fix: 3 HIGH bugs from review — CLI flags now actually propagate
  pyproject.toml
  src/amplihack/fleet/_cli_fleet_ops.py
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/fleet_tui_dashboard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add beginner-friendly reading guide to README
  README.md
Due: none

test: add scale tests for hive mind (20-100 agents, CRDT, gossip, TTL)
  tests/hive_mind/test_scale.py
Due: none

fix: lint, format, and __all__ exports for hive_mind modules
  experiments/hive_mind/run_learning_agent_hive_eval.py
  src/amplihack/agents/goal_seeking/hive_mind/constants.py
  src/amplihack/agents/goal_seeking/hive_mind/crdt.py
  tests/hive_mind/test_retrieval_pipeline_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: address review feedback in scale tests
  tests/hive_mind/test_scale.py
Due: none

fix: remove unnecessary variable in distributed.py (RET504)
  src/amplihack/agents/goal_seeking/hive_mind/distributed.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: fleet setup command — auto-installs azlin on new machines
  src/amplihack/fleet/_defaults.py
  src/amplihack/fleet/fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: add Dockerfile for hive mind experiments
  experiments/hive_mind/Dockerfile.hive
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
