Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: Remove unused CompactionEvent class and add context comment
  .claude/tools/amplihack/hooks/compaction_validator.py
Due: check-dependencies

feat: Move workflow classification to top and clarify topic boundaries
  amplifier-bundle/bundle.md
Due: none

Migrate from claude-trace to native binary with optional trace logging
  docs/NATIVE_BINARY_TRACE_LOGGING.md
  docs/features/trace-logging.md
  docs/howto/trace-logging.md
  docs/index.md
  docs/migration/README.md
  docs/migration/claude-trace-to-native.md
  docs/reference/trace-logging-api.md
  docs/troubleshooting/trace-logging.md
  src/amplihack/launcher/__init__.py
  src/amplihack/launcher/claude_binary_manager.py
  src/amplihack/launcher/core.py
  src/amplihack/proxy/litellm_callbacks.py
  src/amplihack/proxy/server.py
  src/amplihack/proxy/token_sanitizer.py
  src/amplihack/tracing/__init__.py
  src/amplihack/tracing/trace_logger.py
  src/amplihack/utils/claude_trace.py
  src/amplihack/utils/prerequisites.py
  tests/tracing/COVERAGE_ANALYSIS.md
  tests/tracing/README.md
  tests/tracing/__init__.py
  tests/tracing/run_tests.sh
  tests/tracing/test_binary_manager.py
  tests/tracing/test_e2e.py
  tests/tracing/test_integration.py
  tests/tracing/test_litellm_callbacks.py
  tests/tracing/test_prerequisites_integration.py
  tests/tracing/test_trace_logger.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add workflow classification reminder hook
  .claude/tools/amplihack/hooks/hooks.json
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
Due: check-dependencies

Fix GitGuardian false positive in test fixtures
  tests/tracing/test_e2e.py
  tests/tracing/test_trace_logger.py
Due: none

Remove transient investigation documents
  PHASE3_ALPHA_PLUGIN_ARCHITECTURE_MAP.md
  TEAM_BRAVO_FINDINGS.md
Due: none

refactor: Update agent workflow references to use Skill tool invocation pattern
  .claude/agents/amplihack/specialized/fallback-cascade.md
  .claude/agents/amplihack/specialized/fix-agent.md
  .claude/agents/amplihack/specialized/knowledge-archaeologist.md
  .claude/agents/amplihack/specialized/multi-agent-debate.md
  .claude/agents/amplihack/specialized/n-version-validator.md
Due: none

Fix TokenSanitizer patterns to include underscores
  src/amplihack/proxy/token_sanitizer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Power-steering truncation now uses last 100 messages (not first 50)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/tests/test_conversation_truncation.py
  LOCAL_TEST_RESULTS.md
Due: check-dependencies

refactor: Update agent workflow references to use Skill tool invocation pattern (#2077)
  .claude/agents/amplihack/specialized/fallback-cascade.md
  .claude/agents/amplihack/specialized/fix-agent.md
  .claude/agents/amplihack/specialized/knowledge-archaeologist.md
  .claude/agents/amplihack/specialized/multi-agent-debate.md
  .claude/agents/amplihack/specialized/n-version-validator.md
Due: none

fix: Remove all message truncation - analyze full session
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/tests/test_conversation_truncation.py
Due: check-dependencies

chore: Remove LOCAL_TEST_RESULTS.md from root directory
  LOCAL_TEST_RESULTS.md
Due: none

Fix environment variable naming: CLAUDE_TRACE_* → AMPLIHACK_TRACE_*
  src/amplihack/proxy/litellm_callbacks.py
  src/amplihack/proxy/server.py
  src/amplihack/tracing/trace_logger.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Complete skill filename standardization to uppercase SKILL.md (Issue #2089)
  src/amplihack/.claude/skills/azure-devops-cli/SKILL.md
  src/amplihack/.claude/skills/backlog-curator/SKILL.md
  src/amplihack/.claude/skills/eval-recipes-runner/SKILL.md
  src/amplihack/.claude/skills/microsoft-agent-framework/SKILL.md
  src/amplihack/.claude/skills/pm-architect/SKILL.md
  src/amplihack/.claude/skills/roadmap-strategist/SKILL.md
  src/amplihack/.claude/skills/work-delegator/SKILL.md
  src/amplihack/.claude/skills/workstream-coordinator/SKILL.md
Due: none

fix: Power-steering truncation now uses last 100 messages (not first 50) (#2080)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/tests/test_conversation_truncation.py
Due: check-dependencies

fix: Complete skill filename standardization to uppercase SKILL.md (Issue #2089) (#2090)
  src/amplihack/.claude/skills/azure-devops-cli/SKILL.md
  src/amplihack/.claude/skills/backlog-curator/SKILL.md
  src/amplihack/.claude/skills/eval-recipes-runner/SKILL.md
  src/amplihack/.claude/skills/microsoft-agent-framework/SKILL.md
  src/amplihack/.claude/skills/pm-architect/SKILL.md
  src/amplihack/.claude/skills/roadmap-strategist/SKILL.md
  src/amplihack/.claude/skills/work-delegator/SKILL.md
  src/amplihack/.claude/skills/workstream-coordinator/SKILL.md
Due: none

feat: Disable GitHub MCP by default, use gh CLI instead (Issue #2092)
  .claude/skills/github/README.md
  .claude/skills/github/SKILL.md
  src/amplihack/launcher/copilot.py
  tests/test_copilot_launcher_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: remove obsolete planning documents
  PHASE3_ALPHA_PLUGIN_ARCHITECTURE_MAP.md
  TEAM_BRAVO_FINDINGS.md
Due: none

fix: Use --disable-mcp-server flag for reliable GitHub MCP disabling
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: remove obsolete planning documents (#2094)
  PHASE3_ALPHA_PLUGIN_ARCHITECTURE_MAP.md
  TEAM_BRAVO_FINDINGS.md
Due: none

feat: Add dotnet10-pack-tool skill for .NET 10 hybrid AOT packaging
  .claude/skills/dotnet10-pack-tool/SKILL.md
  .claude/skills/dotnet10-pack-tool/examples.md
  .claude/skills/dotnet10-pack-tool/reference.md
Due: none

feat: Disable GitHub MCP by default, use gh CLI instead (#2093)
  .claude/skills/github/README.md
  .claude/skills/github/SKILL.md
  src/amplihack/launcher/copilot.py
  tests/test_copilot_launcher_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(copilot): pre-configure /tmp directory access
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
