Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

refactor(tests): consolidate parametrized and prompt-assertion tests
  src/amplihack/recipes/tests/test_branch_name_sanitization.py
  src/amplihack/recipes/tests/test_sub_recipe_recovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages

feat: Rust recipe runner integration with engine selection
  .gitignore
  docs/recipes/README.md
  src/amplihack/install.py
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): add truncation indicator to partial_outputs for recovery agent observability
  src/amplihack/recipes/runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: enriched /top5 output with score breakdown, actions, near-misses, and repo summary
  .claude/skills/pm-architect/scripts/generate_top5.py
  .claude/skills/pm-architect/scripts/tests/test_generate_top5.py
Due: check-dependencies

feat: Oxidizer recipe — automated Python-to-Rust migration workflow
  .claude/skills/oxidizer-workflow/SKILL.md
  amplifier-bundle/recipes/oxidizer-workflow.yaml
  docs/OXIDIZER.md
  mkdocs.yml
Due: none

feat: Oxidizer recipe — automated Python-to-Rust migration workflow (#2950)
  .claude/skills/oxidizer-workflow/SKILL.md
  amplifier-bundle/recipes/oxidizer-workflow.yaml
  docs/OXIDIZER.md
  mkdocs.yml
  pyproject.toml
Due: none

fix(fleet): set DEFAULT_LLM_MAX_TOKENS to 128000, not 8192
  src/amplihack/fleet/_constants.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: address quality audit findings for rust runner integration
  src/amplihack/recipes/adapters/nested_session.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(hive-mind): absorb LearningAgent into Memory.store(), hide from public API, add ooda-eval CLI
  .claude/context/PROJECT.md
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/main.bicep
  experiments/hive_mind/query_hive.py
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/memory/facade.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: sync skill mirrors and remove ephemeral .pm/ state files
  .gitignore
  .pm/backlog/items.yaml
  .pm/config.yaml
  .pm/delegations/del-001.yaml
  .pm/delegations/del-002.yaml
  .pm/roadmap.md
  .pm/sources.yaml
  .pm/workstreams/ws-001.yaml
  .pm/workstreams/ws-002.yaml
  amplifier-bundle/skills/pm-architect/SKILL.md
  amplifier-bundle/skills/pm-architect/scripts/generate_top5.py
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-error-handling.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-local-overrides.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-ranking.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-smoke.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-with-sources.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/conftest.py
  amplifier-bundle/skills/pm-architect/scripts/tests/test_generate_top5.py
  docs/claude/skills/pm-architect/SKILL.md
  docs/claude/skills/pm-architect/scripts/generate_top5.py
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-error-handling.yaml
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-local-overrides.yaml
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-ranking.yaml
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-smoke.yaml
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-with-sources.yaml
  docs/claude/skills/pm-architect/scripts/tests/conftest.py
  docs/claude/skills/pm-architect/scripts/tests/test_generate_top5.py
Due: check-imports, check-dependencies

feat(ooda): replace timer-driven polling with event-driven InputSource
  deploy/azure_hive/agent_entrypoint.py
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/agents/goal_seeking/continuous_eval.py
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
  src/amplihack/agents/goal_seeking/input_source.py
  tests/agents/goal_seeking/test_input_source.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(fleet): split oversized module, add CopilotBackend fallback, fix status, add tests
  src/amplihack/fleet/__init__.py
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/_session_lifecycle.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/tests/test_backends.py
  src/amplihack/fleet/tests/test_cli_formatters.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_e2e.py
  src/amplihack/fleet/tests/test_fleet_session_reasoner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: address remaining quality audit findings for PR #2951
  docs/recipes/README.md
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: enforce engine validation, log install errors, limit nesting depth (C2-PR-1, C2-PR-2, C2-PR-6, C2-PR-9, C2-PR-10)
  src/amplihack/install.py
  src/amplihack/recipes/__init__.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: document engine differences, fix duration format, resolve working_dir (C2-INT-3/4/5/6/7/10)
  docs/recipes/README.md
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: install error visibility, consistent path resolution, robust priority test (C3-PR-1/2/3)
  src/amplihack/install.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: integrate /top5 priority aggregation into pm-architect (#2941)
  .claude/skills/pm-architect/scripts/generate_top5.py
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-error-handling.yaml
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-local-overrides.yaml
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-ranking.yaml
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-smoke.yaml
  .claude/skills/pm-architect/scripts/tests/agentic/test-top5-with-sources.yaml
  .claude/skills/pm-architect/scripts/tests/conftest.py
  .claude/skills/pm-architect/scripts/tests/test_generate_top5.py
  .gitignore
  amplifier-bundle/skills/pm-architect/SKILL.md
  amplifier-bundle/skills/pm-architect/scripts/generate_top5.py
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-error-handling.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-local-overrides.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-ranking.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-smoke.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/agentic/test-top5-with-sources.yaml
  amplifier-bundle/skills/pm-architect/scripts/tests/conftest.py
  amplifier-bundle/skills/pm-architect/scripts/tests/test_generate_top5.py
  docs/claude/skills/pm-architect/SKILL.md
  docs/claude/skills/pm-architect/scripts/generate_top5.py
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-error-handling.yaml
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-local-overrides.yaml
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-ranking.yaml
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-smoke.yaml
  docs/claude/skills/pm-architect/scripts/tests/agentic/test-top5-with-sources.yaml
  docs/claude/skills/pm-architect/scripts/tests/conftest.py
  docs/claude/skills/pm-architect/scripts/tests/test_generate_top5.py
  pyproject.toml
Due: check-imports, check-dependencies

feat: Rust recipe runner integration with engine selection (#2951)
  .gitignore
  docs/recipes/README.md
  src/amplihack/install.py
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/adapters/nested_session.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(ooda): decide() was classifying all content as 'answer' instead of 'store'
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(fleet): use streaming API for AnthropicBackend, fix azlin dev path discovery
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/_defaults.py
  src/amplihack/fleet/tests/test_backends.py
  src/amplihack/fleet/tests/test_defaults.py
  src/amplihack/fleet/tests/test_fleet_session_reasoner.py
  src/amplihack/fleet/tests/test_fleet_state.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: put classic launcher -p argument on single line to prevent hang (#2946)
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/test_orchestrator.py
Due: check-dependencies

fix: graceful fallback when parse_json fails instead of killing recipe (#2954)
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/recipes/test_recipe_runner_parse_json.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: classic mode launcher hangs indefinitely due to multi-line -p arg (#2958)
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/test_orchestrator.py
  pyproject.toml
Due: check-dependencies

feat(hive-mind): add HiveMindOrchestrator as unified four-layer coordination brick
  docs/hive_mind/MODULE_CREATION_GUIDE.md
  src/amplihack/agents/goal_seeking/hive_mind/__init__.py
  src/amplihack/agents/goal_seeking/hive_mind/orchestrator.py
  tests/agents/goal_seeking/test_goal_seeking_agent.py
  tests/hive_mind/test_orchestrator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(hive-mind): add HiveMindOrchestrator to architecture docs and tutorial
  docs/hive_mind/ARCHITECTURE.md
  docs/hive_mind/GETTING_STARTED.md
Due: none
