Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix(BL-003): address quality audit findings for bootstrap detection
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

fix(recipes): wrap workstream_count in str() before .strip() (#3606)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
Due: none

docs(atlas): rebuild ast-lsp-bindings layer for bootstrap detection tests
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
Due: none

fix: harden workflow asset handling and no-remote issue creation
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/runtime_assets.py
  tests/recipes/test_default_workflow_no_remote_issue_creation.py
  tests/skills/test_smart_orchestrator_multitask_runtime_asset.py
  tests/unit/test_runtime_assets.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): wrap workstream_count in str() before .strip() (#3606) (#3637)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
Due: none

fix: correct bool condition comparisons in code-atlas recipe
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/code-atlas.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
  tests/test_smart_orchestrator_decomposition.py
Due: none

fix: add safety guards to recipe condition expressions
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/n-version-workflow.yaml
  amplifier-bundle/recipes/qa-workflow.yaml
Due: none

fix: add bootstrap detection and fix bool conditions in consensus-workflow
  amplifier-bundle/recipes/consensus-workflow.yaml
Due: none

fix: fail explicitly on stale workflow worktrees
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  src/amplihack/recipes/rust_runner_copilot.py
  src/amplihack/recipes/worktree_guard.py
  tests/recipes/test_default_workflow_worktree_guard.py
  tests/recipes/test_rust_runner_support.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: quality-audit-cycle recipe 3 bugs (#3638)
  .claude/skills/quality-audit/SKILL.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/skills/quality-audit/SKILL.md
  docs/claude/skills/quality-audit/SKILL.md
  docs/howto/run-quality-audit.md
  docs/index.md
  docs/reference/quality-audit-cycle-recipe.md
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

perf: convert merge-validations from agent to deterministic bash step
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

fix: add working_dir to validate-agent-1/2/3 and remove [PLANNED] tag
  .claude/skills/quality-audit/SKILL.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/skills/quality-audit/SKILL.md
  docs/claude/skills/quality-audit/SKILL.md
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

docs: refresh ast-lsp atlas layer
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings-dot.svg
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings-mermaid.svg
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
Due: none

docs: recipe runner quality & robustness audit findings
  docs/audits/recipe-runner-quality-robustness-audit.md
Due: none

fix: correct F-ERR-2 accuracy, fix table formatting, adjust severity counts
  docs/audits/recipe-runner-quality-robustness-audit.md
Due: none

fix: validate and repair config.json installed_plugins before nested agent launch (#3671)
  pyproject.toml
  src/amplihack/launcher/copilot.py
  tests/launcher/test_config_validation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: prevent NameError when staging fails and warn on validation failure
  src/amplihack/launcher/copilot.py
  tests/launcher/test_config_validation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add safety guards to recipe condition expressions (#3651)
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/n-version-workflow.yaml
  amplifier-bundle/recipes/qa-workflow.yaml
Due: none

docs: update code atlas layers for compile-deps and ast-lsp-bindings
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
Due: none

fix: correct bool condition comparisons in code-atlas recipe (#3645)
  .claude/context/PROJECT.md
  amplifier-bundle/recipes/code-atlas.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/test_smart_orchestrator_decomposition.py
Due: none

fix: add bootstrap detection and fix bool conditions in consensus-workflow (#3650)
  amplifier-bundle/recipes/consensus-workflow.yaml
Due: none

fix: correct bool condition comparisons in code-atlas recipe
  pyproject.toml
Due: none

fix: handle bool coercion in recipe runner condition evaluator
  src/amplihack/recipes/models.py
  tests/unit/recipes/test_models.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: handle bool coercion in recipe runner condition evaluator (#3649)
  pyproject.toml
  src/amplihack/recipes/models.py
  tests/unit/recipes/test_models.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: correct output template version v3.0.0 → v4.0.0 and add version tests
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

perf: single-pass severity counting + session-scoped test fixtures
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

fix: recipe runner output visibility and heartbeat (#3624, #3625, #3626)
  .claude/skills/multitask/orchestrator.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_heartbeat.py
  tests/recipes/test_step_transition_jsonl.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

style: apply ruff formatting to visibility/heartbeat changes
  .claude/skills/multitask/orchestrator.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: enforce worktree isolation in default-workflow (#3684, #3673)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/unit/recipes/test_worktree_isolation_3684_3673.py
Due: none

fix: enforce fail-hard worktree validation in default-workflow
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
Due: none

perf: cache progress paths, hoist regex, use scandir for cleanup
  .claude/skills/multitask/orchestrator.py
  src/amplihack/recipes/models.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_execution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(docs): address blocking review findings in quality-audit docs
  docs/howto/run-quality-audit.md
  docs/reference/quality-audit-cycle-recipe.md
Due: none

perf: hoist regex patterns, use sets in get_status for O(1) heartbeat lookups
  .claude/skills/multitask/orchestrator.py
Due: check-dependencies

fix: address non-blocking review feedback (N3-N5)
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

fix: add missing set -euo pipefail to 3 bash steps, reorder step-19c guard
  amplifier-bundle/recipes/default-workflow.yaml
Due: none
