Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: Define package_root before use in debug print
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Define local_claude_dir before use
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert accidental plugin commits to main
  pyproject.toml
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Copy agents from package dir, not cwd (UVX compatibility)
  .github/agents/ambiguity.md
  .github/agents/amplifier-cli-architect.md
  .github/agents/amplihack
  .github/agents/analyzer.md
  .github/agents/api-designer.md
  .github/agents/architect.md
  .github/agents/azure-kubernetes-expert.md
  .github/agents/builder.md
  .github/agents/ci-diagnostic-workflow.md
  .github/agents/cleanup.md
  .github/agents/concept-extractor.md
  .github/agents/database.md
  .github/agents/documentation-writer.md
  .github/agents/fallback-cascade.md
  .github/agents/fix-agent.md
  .github/agents/insight-synthesizer.md
  .github/agents/integration.md
  .github/agents/knowledge-archaeologist.md
  .github/agents/memory-manager.md
  .github/agents/multi-agent-debate.md
  .github/agents/n-version-validator.md
  .github/agents/optimizer.md
  .github/agents/patterns.md
  .github/agents/philosophy-guardian.md
  .github/agents/pre-commit-diagnostic.md
  .github/agents/preference-reviewer.md
  .github/agents/prompt-writer.md
  .github/agents/reviewer.md
  .github/agents/rust-programming-expert.md
  .github/agents/security.md
  .github/agents/test-agent.md
  .github/agents/tester.md
  .github/agents/visualization-architect.md
  .github/agents/worktree-manager.md
  .github/agents/xpia-defense.md
  .gitignore
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove invalid empty-string package-data key that broke builds
  pyproject.toml
Due: none

Revert plugin architecture commits that broke main
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(bundle): add amplihack guide for feature discovery
  .claude/agents/amplihack/core/guide.md
  amplifier-bundle/agents/guide.md
  amplifier-bundle/bundle.md
  amplifier-bundle/recipes/guide.yaml
Due: none

improve: Performance, cleanup, and user customization enhancements
  COPILOT_LAUNCHER_AUDIT.md
  FINAL_AUDIT_RESULTS.md
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove audit docs
  COPILOT_LAUNCHER_AUDIT.md
  FINAL_AUDIT_RESULTS.md
Due: none

Add smart memory management for Claude Code launch
  docs/features/README.md
  docs/features/smart-memory-management.md
  docs/index.md
  src/amplihack/launcher/core.py
  src/amplihack/launcher/memory_config.py
  src/amplihack/launcher/tests/TEST_SUMMARY.md
  src/amplihack/launcher/tests/__init__.py
  src/amplihack/launcher/tests/test_memory_config.py
  src/amplihack/utils/prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Comprehensive regression testing - all systems validated
  REGRESSION_TEST_RESULTS.md
Due: none

fix: Add workaround for agent instruction loading bug
  amplifier-bundle/bundle.md
  amplifier-bundle/modules/hook-session-start/amplifier_hook_session_start/__init__.py
Due: check-imports, check-dependencies

Fix type hints: Replace lowercase 'any' with 'Any' from typing
  src/amplihack/launcher/memory_config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add smart memory management for Claude Code launch (#1956)
  docs/features/README.md
  docs/features/smart-memory-management.md
  docs/index.md
  src/amplihack/launcher/core.py
  src/amplihack/launcher/memory_config.py
  src/amplihack/launcher/tests/TEST_SUMMARY.md
  src/amplihack/launcher/tests/__init__.py
  src/amplihack/launcher/tests/test_memory_config.py
  src/amplihack/utils/prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(docs): Remove orphan markdown code fences in SKILL.md
  .claude/skills/code-visualizer/SKILL.md
Due: none

fix: Substantially improve code-visualizer skill to 9/10
  .claude/skills/code-visualizer/README.md
  .claude/skills/code-visualizer/SKILL.md
Due: none

feat(skills): Add code-visualizer skill for auto diagram generation
  .claude/skills/code-visualizer/README.md
  .claude/skills/code-visualizer/SKILL.md
Due: none

feat(skills): Add workflow-enforcement skill to prevent step skipping
  .claude/skills/workflow-enforcement/README.md
  .claude/skills/workflow-enforcement/SKILL.md
Due: none

fix: Substantially improve workflow-enforcement skill to 9/10 quality
  .claude/skills/workflow-enforcement/README.md
  .claude/skills/workflow-enforcement/SKILL.md
  .claude/templates/workflow_state.yaml.template
Due: none

fix(skill): Clarify workflow-enforcement as specification, not enforcement
  .claude/skills/workflow-enforcement/README.md
  .claude/skills/workflow-enforcement/SKILL.md
Due: none

fix(docs): Fix orphan code fences in code-visualizer SKILL.md
  .claude/skills/code-visualizer/SKILL.md
Due: none

fix(skills): Improve agent-performance skill quality (8.5 -> 9/10)
  .claude/skills/agent-performance/README.md
  .claude/skills/agent-performance/SKILL.md
Due: none

feat(skills): Add agent-performance skill for metrics tracking
  .claude/skills/agent-performance/README.md
  .claude/skills/agent-performance/SKILL.md
Due: none

fix(session-learning): Improve skill quality from 8/10 to 9/10
  .claude/data/learnings/_stats.yaml
  .claude/data/learnings/architecture.yaml
  .claude/data/learnings/debugging.yaml
  .claude/data/learnings/errors.yaml
  .claude/data/learnings/tools.yaml
  .claude/data/learnings/workflows.yaml
  .claude/skills/session-learning/SKILL.md
Due: none

feat(skills): Add multi-repo skill for cross-repository orchestration
  .claude/data/multi-repo/dependencies.yaml
  .claude/data/multi-repo/linked-prs.yaml
  .claude/skills/multi-repo/README.md
  .claude/skills/multi-repo/SKILL.md
Due: none

fix(session-learning): Fix typo in ranking formula documentation
  .claude/skills/session-learning/SKILL.md
Due: none
