Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: Complete CLI naming migration in outside-in-testing skill
  .claude/skills/outside-in-testing/README.md
  .claude/skills/outside-in-testing/SKILL.md
  .claude/skills/outside-in-testing/examples/cli/calculator-basic.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-error-handling.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-interactive-session.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-comprehension-agent.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-reporter-integration.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-ipc-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-menu-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/multi-window-coordination.yaml
  .claude/skills/outside-in-testing/examples/electron/single-window-basic.yaml
  .claude/skills/outside-in-testing/examples/tui/file-manager-navigation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-form-validation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-performance-monitoring.yaml
  .claude/skills/outside-in-testing/examples/web/dashboard-smoke-test.yaml
  .claude/skills/outside-in-testing/examples/web/web-authentication-flow.yaml
  .claude/skills/outside-in-testing/examples/web/web-visual-regression.yaml
  .claude/skills/outside-in-testing/scripts/check-freshness.py
Due: check-dependencies

feat: Add shadow-testing skill and enhance outside-in-testing with shadow integration (#2209)
  .claude/skills/outside-in-testing/SKILL.md
  .claude/skills/shadow-testing/README.md
  .claude/skills/shadow-testing/SKILL.md
  .claude/skills/shadow-testing/docker-compose/README.md
  .claude/skills/shadow-testing/docker-compose/ci-shadow.yml
  .claude/skills/shadow-testing/docker-compose/multi-repo.yml
  .claude/skills/shadow-testing/docker-compose/single-repo.yml
  .claude/skills/shadow-testing/examples/multi-repo-coordination.md
  .claude/skills/shadow-testing/examples/nodejs-package-test.md
  .claude/skills/shadow-testing/examples/python-library-test.md
  .claude/skills/shadow-testing/scripts/create-bundle.sh
  .claude/skills/shadow-testing/scripts/setup-shadow.sh
  .claude/skills/shadow-testing/scripts/test-shadow.sh
Due: none

docs: Add outside-in TUI test scenario and comprehensive test results
  .claude/tests/agentic/plugin-discovery-tui-test.yaml
  OUTSIDE_IN_TEST_RESULTS.md
Due: none

fix: Copy plugin directories to package root for Claude Code discovery in UVX (#2214)
  .claude/tests/agentic/plugin-discovery-tui-test.yaml
  OUTSIDE_IN_TEST_RESULTS.md
  agents
  build_hooks.py
  commands
  docs/build_system/plugin-directory-structure-fix.md
  docs/index.md
  marketplace.json
  pyproject.toml
  skills
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add SCIP-to-Kuzu import functionality
  src/amplihack/memory/kuzu/indexing/orchestrator.py
  src/amplihack/memory/kuzu/indexing/scip_importer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

fix: Prevent power-steering infinite loops with circuit breaker and improved classification (#2196)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/test_issue_2196_circuit_breaker.py
  .claude/tools/amplihack/hooks/tests/test_issue_2196_classification_priority.py
  .claude/tools/amplihack/hooks/tests/test_issue_2196_loop_detection.py
  .claude/tools/amplihack/hooks/tests/test_issue_2196_next_steps.py
Due: check-dependencies

fix: Address regression tests from classification priority changes
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_phase2.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_redirects.py
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
  PATTERN_COMPLIANCE_REPORT.md
  SECURITY_REVIEW_REPORT.md
Due: check-dependencies

chore: Remove temporary review documentation from root
  PATTERN_COMPLIANCE_REPORT.md
  SECURITY_REVIEW_REPORT.md
Due: none

fix: Ensure GitHub header link visible at tablet breakpoint (Issue #2215)
  docs/stylesheets/extra.css
Due: none

Fix: Increase NODE_OPTIONS to 32GB for large codebase indexing
  src/amplihack/launcher/core.py
  src/amplihack/vendor/blarify/code_references/scip_helper.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Reduce circuit breaker threshold from 10 to 5 blocks
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/test_issue_2196_circuit_breaker.py
Due: check-dependencies

fix: Prevent power-steering infinite loops with circuit breaker and improved classification (#2196) (#2216)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/test_issue_2196_circuit_breaker.py
  .claude/tools/amplihack/hooks/tests/test_issue_2196_classification_priority.py
  .claude/tools/amplihack/hooks/tests/test_issue_2196_loop_detection.py
  .claude/tools/amplihack/hooks/tests/test_issue_2196_next_steps.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_phase2.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_redirects.py
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
Due: check-dependencies

feat: Add amplihack-expert Claude Code skill
  .claude/skills/amplihack-expert/SKILL.md
  .claude/skills/amplihack-expert/examples.md
  .claude/skills/amplihack-expert/reference.md
  .claude/skills/amplihack-expert/tests/__init__.py
  .claude/skills/amplihack-expert/tests/test_amplihack_expert_skill.py
  uv.lock
Due: none

Add clarifying comments to NODE_OPTIONS fallback locations
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Reduce token budgets to pass validation
  .claude/skills/amplihack-expert/SKILL.md
  .claude/skills/amplihack-expert/examples.md
Due: none

fix: Restore complete PROJECT.md overview text
  .claude/context/PROJECT.md
Due: none

fix: Handle YAML frontmatter in modular design test
  .claude/skills/amplihack-expert/tests/test_amplihack_expert_skill.py
Due: none

fix: Python 3.10 compatibility for all UTC imports
  src/amplihack/context/adaptive/detector.py
  src/amplihack/context/adaptive/strategies.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add investigation findings for amplihack-expert skill
  .claude/docs/investigations/INVESTIGATION_amplihack-expert-skill.md
Due: none

docs: Move investigation doc to standard location
  .claude/docs/INVESTIGATION_amplihack-expert-skill.md
Due: none
