Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix(smart-orchestrator): no silent fallback to claude when AGENT_BINARY unset (rysweet/amplihack-rs#309) (#4441)
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix(recipes): replace python3 runtime_assets calls with amplihack resolve-bundle-asset (#283)
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix(recipes): replace python3 runtime_assets calls with amplihack resolve-bundle-asset (#283) (#4442)
  amplifier-bundle/recipes/smart-orchestrator.yaml
Due: none

fix(investigation-workflow): promote task_description into investigation_question when empty
  amplifier-bundle/recipes/investigation-workflow.yaml
Due: none

chore(recipes): remove eval recipes (relocated to amplihack-agent-eval) (#284)
  .secrets.baseline
  amplifier-bundle/recipes/_recipe_manifest.json
  amplifier-bundle/recipes/domain-agent-eval.yaml
  amplifier-bundle/recipes/long-horizon-memory-eval.yaml
Due: none

chore(recipes): remove eval recipes (relocated to amplihack-agent-eval) (#284) (#4446)
  .secrets.baseline
  amplifier-bundle/recipes/_recipe_manifest.json
  amplifier-bundle/recipes/domain-agent-eval.yaml
  amplifier-bundle/recipes/long-horizon-memory-eval.yaml
Due: none

fix(launcher): add --allow-all-paths to copilot launch_copilot()
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(multitask): add TIMEOUT_LIFECYCLE.md and update reference docs (#4186)
  .claude/skills/multitask/SKILL.md
  .claude/skills/multitask/TIMEOUT_LIFECYCLE.md
  .claude/skills/multitask/reference.md
Due: none

fix(recipe-runner): auto-update rust runner binary on version mismatch
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(knowledge_builder): guard --dangerously-skip-permissions against copilot binary
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipe-runner): auto-update rust runner binary on version mismatch (#4199)
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(knowledge_builder): guard --dangerously-skip-permissions against copilot binary (#4198)
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(investigation-workflow): promote task_description into investigation_question when empty (#4444)
  amplifier-bundle/recipes/investigation-workflow.yaml
Due: none

fix(launcher): add --allow-all-paths to copilot launch_copilot() (#4447)
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(recipes): bump MIN_RUNNER_VERSION to 0.3.5
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(recipes): bump MIN_RUNNER_VERSION to 0.3.5 (#4449)
  src/amplihack/recipes/rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: stage amplifier-bundle to ~/.amplihack on install (mirrors fix from amplihack-rs PR #244) (#4407)
  src/amplihack/install.py
  src/amplihack/uninstall.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add tests and docs for worktree reattach prune fix (#4394) (#4403)
  docs/recipes/step-04-worktree-reattach-prune.md
  tests/recipes/test_worktree_reattach_prune_4394.py
  worktrees/README.md
Due: none

docs(recipes): verify upstream fixes for relaunch issue #952 (#4410)
  amplifier-bundle/recipes/RELAUNCH_ISSUE_952_VERIFICATION.md
  tests/test_relaunch_issue_952_verification.py
Due: none

docs: improve Code Style section with actionable guidance
  CONTRIBUTING.md
Due: none

docs: make Code Style section actionable (closes #4421)
  CONTRIBUTING.md
Due: none

docs: fix inconsistent command in README Local Development section (closes #4420)
  README.md
Due: none

docs: add install link for claude in PREREQUISITES.md (closes #4419)
  docs/PREREQUISITES.md
Due: none

docs: fix broken path-based links in markdown files (closes #4408)
  README.md
Due: none

fix(eval): don't wrap sync answer_question with asyncio.run
  src/amplihack/eval/agent_subprocess.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(eval): don't wrap sync answer_question with asyncio.run (#4471)
  src/amplihack/eval/agent_subprocess.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(eval): await async grade_metacognition in progressive suite
  src/amplihack/eval/progressive_test_suite.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(eval): await async grade_metacognition in progressive suite (#4472)
  src/amplihack/eval/progressive_test_suite.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(llm): honor SIMARD_LLM_PROVIDER / AMPLIHACK_LLM_PROVIDER env override
  src/amplihack/llm/client.py
  tests/llm/__init__.py
  tests/llm/test_provider_env_override.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(llm): honor SIMARD_LLM_PROVIDER / AMPLIHACK_LLM_PROVIDER env override (#4477)
  src/amplihack/llm/client.py
  tests/llm/__init__.py
  tests/llm/test_provider_env_override.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(code-visualizer): mirror skill to docs/claude/skills/
  docs/claude/skills/code-visualizer/README.md
  docs/claude/skills/code-visualizer/SKILL.md
  docs/claude/skills/code-visualizer/scripts/__init__.py
  docs/claude/skills/code-visualizer/scripts/dispatcher.py
  docs/claude/skills/code-visualizer/scripts/go_analyzer.py
  docs/claude/skills/code-visualizer/scripts/graph.py
  docs/claude/skills/code-visualizer/scripts/mermaid_renderer.py
  docs/claude/skills/code-visualizer/scripts/python_analyzer.py
  docs/claude/skills/code-visualizer/scripts/rust_analyzer.py
  docs/claude/skills/code-visualizer/scripts/staleness.py
  docs/claude/skills/code-visualizer/scripts/ts_analyzer.py
  docs/claude/skills/code-visualizer/scripts/visualizer.py
  docs/claude/skills/code-visualizer/tests/__init__.py
  docs/claude/skills/code-visualizer/tests/conftest.py
  docs/claude/skills/code-visualizer/tests/test_dispatcher.py
  docs/claude/skills/code-visualizer/tests/test_go_analyzer.py
  docs/claude/skills/code-visualizer/tests/test_graph.py
  docs/claude/skills/code-visualizer/tests/test_mermaid_renderer.py
  docs/claude/skills/code-visualizer/tests/test_python_analyzer.py
  docs/claude/skills/code-visualizer/tests/test_rust_analyzer.py
  docs/claude/skills/code-visualizer/tests/test_smoke_repo.py
  docs/claude/skills/code-visualizer/tests/test_staleness.py
  docs/claude/skills/code-visualizer/tests/test_ts_analyzer.py
  docs/claude/skills/code-visualizer/tests/test_visualizer_cli.py
Due: check-imports, check-dependencies

chore(commands,skills): remove python lock_tool.py references
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/unlock.md
  .claude/skills/fleet-copilot/SKILL.md
Due: amplihack-sync-commands

docs: clarify uvx vs uv tool install options in CLAUDE_CODE_SETUP.md
  docs/CLAUDE_CODE_SETUP.md
Due: none

docs: deprecate repo — redirect to amplihack-rs
  README.md
Due: none

fix(ci): make broken-links label creation idempotent in docs-link-checker
  .github/workflows/docs-link-checker.yml
Due: none

fix: quote argument-hint YAML values so Copilot CLI ≥1.0.65 loads all skills
  .claude/commands/ddd/1-plan.md
  .claude/commands/ddd/2-docs.md
  .claude/commands/ddd/3-code-plan.md
  .claude/commands/ddd/4-code.md
  .claude/commands/ddd/5-finish.md
  .claude/skills/merge-ready/SKILL.md
  .claude/skills/skill-builder/examples.md
  amplifier-bundle/skills/skill-builder/examples.md
  docs/claude/commands/ddd/1-plan.md
  docs/claude/commands/ddd/2-docs.md
  docs/claude/commands/ddd/3-code-plan.md
  docs/claude/commands/ddd/4-code.md
  docs/claude/commands/ddd/5-finish.md
  docs/claude/skills/skill-builder/examples.md
Due: amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
