Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

Fix async/await bug in memory hooks
  .claude/tools/amplihack/hooks/agent_memory_hook.py
  .claude/tools/amplihack/hooks/tests/test_agent_memory_sync.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

Fix async/await bug in memory hooks (#1963)
  .claude/tools/amplihack/hooks/agent_memory_hook.py
  .claude/tools/amplihack/hooks/tests/test_agent_memory_sync.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-dependencies

feat(memory): Migrate DISCOVERIES.md references to Kuzu memory backend (#1961)
  .claude/agents/amplihack/core/reviewer.md
  .claude/agents/amplihack/specialized/amplifier-cli-architect.md
  .claude/agents/amplihack/specialized/fix-agent.md
  .claude/agents/amplihack/workflows/amplihack-improvement-workflow.md
  .claude/skills/cascade-workflow/SKILL.md
  .claude/skills/debate-workflow/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/knowledge-extractor/SKILL.md
  .claude/skills/n-version-workflow/SKILL.md
  .claude/skills/philosophy-compliance-workflow/SKILL.md
  .claude/tools/amplihack/hooks/session_start.py
  .claude/workflow/INVESTIGATION_WORKFLOW.md
  .claude/workflow/N_VERSION_WORKFLOW.md
  CLAUDE.md
  src/amplihack/memory/discoveries.py
  tests/memory/test_discoveries_adapter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(power-steering): Use pre-compaction transcript when session compacted (#1962)
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
Due: check-dependencies

fix(power-steering): Use pre-compaction transcript when session compacted (#1962) (#1964)
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
Due: check-dependencies

fix(tests): resolve test collection errors and import issues
  pytest.ini
  tests/__init__.py
  tests/integration/memory/neo4j_integration/__init__.py
  tests/integration/memory/neo4j_integration/conftest.py
  tests/integration/memory/neo4j_integration/test_container_lifecycle.py
  tests/integration/memory/neo4j_integration/test_neo4j_foundation_e2e.py
  tests/mcp_evaluation/__init__.py
  tests/mcp_evaluation/test_framework.py
  tests/test_neo4j/conftest.py
  tests/unit/test_cli_ensure_ultrathink.py
  tests/unit/test_node_options_merger.py
Due: none

fix: Use correct cclsp MCP server approach instead of plugin install
  .claude/skills/lsp-setup/__init__.py
  .claude/skills/lsp-setup/mcp_configurator.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Enhance memory consent prompt with timeout and non-interactive handling
  docs/features/memory-consent-prompt.md
  docs/howto/configure-memory-consent.md
  docs/index.md
  docs/troubleshooting/memory-consent-issues.md
  src/amplihack/launcher/memory_config.py
  src/amplihack/launcher/tests/test_memory_config.py
  src/amplihack/launcher/tests/test_memory_config_timeout.py
  src/amplihack/launcher/tests/test_memory_config_timeout_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Use claude plugin CLI commands instead of MCP server
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(statusline): Add background agent visibility indicator
  .claude/tools/statusline.sh
Due: none

feat: Enhance memory consent prompt with timeout and non-interactive handling (#1969)
  docs/features/memory-consent-prompt.md
  docs/howto/configure-memory-consent.md
  docs/index.md
  docs/troubleshooting/memory-consent-issues.md
  src/amplihack/launcher/memory_config.py
  src/amplihack/launcher/tests/test_memory_config.py
  src/amplihack/launcher/tests/test_memory_config_timeout.py
  src/amplihack/launcher/tests/test_memory_config_timeout_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Auto-install system LSP binaries for complete out-of-box setup
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(statusline): Reverse stat command order for macOS compatibility
  .claude/tools/statusline.sh
Due: none

Revert stat order change - Linux-first is correct
  .claude/tools/statusline.sh
Due: none

feat: Add LSP MCP tool permissions to settings.json
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Use combined approach - MCP server + plugin marketplace
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Preserve mcpServers when UVXSettingsManager updates settings.json
  src/amplihack/utils/uvx_settings_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Enable MCP servers and preserve enableAllProjectMcpServers flag
  src/amplihack/launcher/core.py
  src/amplihack/utils/uvx_settings_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(statusline): Add background agent visibility indicator (#1972)
  .claude/tools/statusline.sh
Due: none

fix: Add CCLSP_CONFIG_PATH to cclsp MCP server configuration
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
