Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

test: remove 5 xfail markers fixed by Rust crate PRs #6 and #7
  tests/test_outside_in_xpia_rust.py
Due: none

refactor(fleet): split oversized modules into smaller bricks
  src/amplihack/fleet/_cli_formatters.py
  src/amplihack/fleet/_cli_formatters_legacy.py
  src/amplihack/fleet/_tui_refresh.py
  src/amplihack/fleet/_vm_discovery.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/tests/test_fleet_state.py
  src/amplihack/fleet/tests/test_fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: audit v2 cycle 1 — REPO_ROOT fallback, hook ownership, shlex quoting
  src/amplihack/launcher/copilot.py
  src/amplihack/settings.py
  tests/test_rust_hook_engine.py
  tests/test_settings.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: dev-orchestrator Copilot CLI compatibility (closes #3010, #3011)
  .claude/skills/dev-orchestrator/SKILL.md
  tests/skills/test_dev_orchestrator_issue_3010_3011.py
Due: none

fix: dev-orchestrator Copilot CLI compatibility (#3010, #3011) (#3012)
  .claude/skills/dev-orchestrator/SKILL.md
  pyproject.toml
  tests/skills/test_dev_orchestrator_issue_3010_3011.py
Due: none

feat: default copilot launches to autopilot
  src/amplihack/launcher/copilot.py
  tests/test_copilot_directory_allowlist.py
  tests/test_copilot_launcher_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: update for Rust crate PR #8 — pattern count 37, remove 2 xfails
  tests/test_outside_in_xpia_rust.py
Due: none

fix(eval): questions go through OODA loop, not bypass it
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/eval_distributed.py
  src/amplihack/agents/goal_seeking/input_source.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: default `amplihack copilot` to autopilot mode (#3013)
  pyproject.toml
  src/amplihack/launcher/copilot.py
  tests/test_copilot_directory_allowlist.py
  tests/test_copilot_launcher_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: address Copilot PR review feedback
  src/amplihack/__init__.py
  src/amplihack/fleet/_status.py
  src/amplihack/fleet/_system_prompt.py
  src/amplihack/fleet/_validation.py
  src/amplihack/fleet/prompts/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: address remaining Copilot PR review items
  src/amplihack/fleet/_cli_formatters.py
  src/amplihack/fleet/tests/test_fleet_results.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: cover orchestrator startup flows
  tests/outside_in/test_dev_orchestrator_startup_e2e.py
Due: none

test: cover orchestrator startup flows (#3015)
  tests/outside_in/test_dev_orchestrator_startup_e2e.py
Due: none

feat: add health_check module with unit tests
  src/amplihack/health_check.py
  tests/test_health_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(eval): RemoteAgentAdapter for true single-agent eval parity (#3006)
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

test: update xpia-rust tests for convergence round 4
  tests/test_outside_in_xpia_rust.py
Due: none

fix(fleet): resolve remaining quality audit findings from #2841
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: remove homoglyph + URL encoding xfails — now passing
  tests/test_outside_in_xpia_rust.py
Due: none

docs(fleet): update README and all fleet docs for PR accuracy
  .claude/skills/fleet/SKILL.md
  README.md
  docs/fleet-orchestration/ADMIRAL_REASONING.md
  docs/fleet-orchestration/ARCHITECTURE.md
  docs/fleet-orchestration/TUTORIAL.md
Due: none

docs: fix README fleet section per review
  README.md
Due: none

fix(fleet): address final review findings
  src/amplihack/fleet/fleet_state.py
  src/amplihack/fleet/tests/test_validation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(deploy): add AMPLIHACK_HIVE_NAME and AMPLIHACK_EVAL_RESPONSE_TOPIC env vars
  deploy/azure_hive/main.bicep
Due: none

fix(eval): switch RemoteAgentAdapter from response-topic to LA polling
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

fix(eval): wait for agents to finish processing before asking questions
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

fix(eval): strict time filtering in LA answer polling — no stale answers
  deploy/azure_hive/remote_agent_adapter.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
