Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

feat: L12 Far Transfer eval (reasoning patterns across domains)
  src/amplihack/eval/progressive_test_suite.py
  src/amplihack/eval/test_levels.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Self-improvement error analyzer (eval failure → code component)
  src/amplihack/eval/self_improve/__init__.py
  src/amplihack/eval/self_improve/error_analyzer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add Tier 2+ agent tools (explain, verify, find gaps)
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: SDK-agnostic goal-seeking agent abstraction + 3 SDK implementations
  src/amplihack/agents/goal_seeking/sdk_adapters/__init__.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/agents/goal_seeking/sdk_adapters/claude_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/copilot_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/factory.py
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: SDK agent generator plan + self-improvement loop design
  Specs/SDK_AGENT_GENERATOR_PLAN.md
Due: none

docs: Session handoff for issue #2414 (multi-SDK agent generator)
  Specs/SESSION_HANDOFF_2026-02-20.md
Due: none

feat: Add --sdk flag to agent generator (issue #2419)
  .claude/context/PROJECT.md
  EXECUTION_PLAN.md
  src/amplihack/goal_agent_generator/agent_assembler.py
  src/amplihack/goal_agent_generator/cli.py
  workstreams-phase1.json
  workstreams-phase2.json
  workstreams-phase3.json
  workstreams.json
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix hook failures by ensuring CLAUDE.md is included in package
  build_hooks.py
  tests/test_claude_md_installation.py
Due: check-dependencies

feat: add Claude Agent SDK adapter with full learning tools integration
  run_eval.py
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/agents/goal_seeking/action_executor.py
  src/amplihack/agents/goal_seeking/agentic_loop.py
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/graph_rag_retriever.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/agents/goal_seeking/json_utils.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/sdk_adapters/README.md
  src/amplihack/agents/goal_seeking/sdk_adapters/__init__.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/agents/goal_seeking/sdk_adapters/claude_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/factory.py
  src/amplihack/agents/goal_seeking/similarity.py
  src/amplihack/eval/grader.py
  tests/agents/goal_seeking/test_agentic_loop.py
  tests/agents/goal_seeking/test_claude_sdk_adapter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add SDK adapters section to goal_seeking README
  src/amplihack/agents/goal_seeking/README.md
Due: none

refactor: move eval script from root to src/amplihack/eval/scripts/
  src/amplihack/agents/goal_seeking/sdk_adapters/README.md
  src/amplihack/eval/scripts/run_progressive_eval.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove unrelated files and add SDK documentation
  EXECUTION_PLAN.md
  src/amplihack/goal_agent_generator/README.md
  workstreams-phase1.json
  workstreams-phase2.json
  workstreams-phase3.json
  workstreams.json
Due: none

fix: Remove ephemeral files flagged by Repo Guardian
  Specs/SESSION_HANDOFF_2026-02-20.md
  TASK_COMPLETION_SUMMARY.md
Due: none

docs: Add --sdk flag to generator guide for discoverability
  docs/GOAL_AGENT_GENERATOR_GUIDE.md
Due: none

feat: GitHub Copilot SDK implementation as DEFAULT agent (#2416)
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/flat_retriever_adapter.py
  src/amplihack/agents/goal_seeking/hierarchical_memory.py
  src/amplihack/agents/goal_seeking/json_utils.py
  src/amplihack/agents/goal_seeking/prompts/sdk/learning_task.md
  src/amplihack/agents/goal_seeking/prompts/sdk/microsoft_system.md
  src/amplihack/agents/goal_seeking/prompts/sdk/synthesis_template.md
  src/amplihack/agents/goal_seeking/sdk_adapters/__init__.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/agents/goal_seeking/sdk_adapters/factory.py
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
  src/amplihack/agents/goal_seeking/similarity.py
  tests/agents/goal_seeking/test_microsoft_sdk_adapter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Claude Agent SDK goal-seeking agent implementation (#2415)
  pyrightconfig.json
  src/amplihack/agents/goal_seeking/prompts/sdk/__init__.py
  src/amplihack/agents/goal_seeking/prompts/sdk/goal_seeking_system.md
  src/amplihack/agents/goal_seeking/prompts/sdk/teaching_system.md
  src/amplihack/agents/goal_seeking/sdk_adapters/__init__.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/agents/goal_seeking/sdk_adapters/claude_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/factory.py
  tests/agents/goal_seeking/test_claude_sdk_adapter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add CopilotGoalSeekingAgent + ClaudeGoalSeekingAgent + 37 tests (#2416)
  src/amplihack/agents/goal_seeking/sdk_adapters/__init__.py
  src/amplihack/agents/goal_seeking/sdk_adapters/claude_sdk.py
  src/amplihack/agents/goal_seeking/sdk_adapters/copilot_sdk.py
  tests/agents/goal_seeking/test_copilot_sdk_adapter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Microsoft Agent Framework SDK adapter with 69 tests
  src/amplihack/agents/goal_seeking/prompts/sdk/learning_task.md
  src/amplihack/agents/goal_seeking/prompts/sdk/microsoft_system.md
  src/amplihack/agents/goal_seeking/prompts/sdk/synthesis_template.md
  src/amplihack/agents/goal_seeking/sdk_adapters/__init__.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/agents/goal_seeking/sdk_adapters/factory.py
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
  tests/agents/goal_seeking/test_microsoft_sdk_adapter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix Kuzu schema mismatch, health paths, and sync HOOK_CONFIGS with hooks.json
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix Kuzu schema mismatch and health check paths
  src/amplihack/memory/backends/kuzu_backend.py
  src/amplihack/security/xpia_health.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
