Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

feat(code-atlas): blarify integration — multi-language AST for 10 languages (#3317)
  docs/atlas/api-contracts/api-contracts.mmd
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/index.md
  pyproject.toml
  scripts/atlas/blarify_bridge.py
  scripts/atlas/python/ast_bindings.py
  scripts/atlas/python/compile_deps.py
Due: check-imports, check-dependencies

feat(code-atlas): full LSP mode + Click/Typer CLI detection (#3310)
  scripts/atlas/blarify_bridge.py
  scripts/atlas/python/api_contracts.py
  scripts/atlas/python/ast_bindings.py
  scripts/atlas/python/user_journeys.py
  scripts/atlas/run_all.py
Due: check-imports, check-dependencies

feat(code-atlas): full LSP mode + Click/Typer detection (#3310)
  pyproject.toml
  scripts/atlas/blarify_bridge.py
  scripts/atlas/python/api_contracts.py
  scripts/atlas/python/ast_bindings.py
  scripts/atlas/python/user_journeys.py
  scripts/atlas/run_all.py
Due: check-imports, check-dependencies

docs(code-atlas): rebuild amplihack atlas with full v3 pipeline + Click detection
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/index.md
Due: none

docs(code-atlas): rebuild amplihack atlas with v3 pipeline
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/index.md
Due: none

fix(code-atlas): remove fast mode, fix relationship mapping, fix coverage claim
  scripts/atlas/blarify_bridge.py
  scripts/atlas/python/ast_bindings.py
  scripts/atlas/python/user_journeys.py
  scripts/atlas/render.py
  scripts/atlas/run_all.py
Due: check-imports, check-dependencies

fix(code-atlas): remove fast mode, fix relationship mapping
  scripts/atlas/blarify_bridge.py
  scripts/atlas/python/ast_bindings.py
  scripts/atlas/python/user_journeys.py
  scripts/atlas/render.py
  scripts/atlas/run_all.py
Due: check-imports, check-dependencies

docs(code-atlas): rebuild atlas with full LSP — 14,022 relationships
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/index.md
Due: none

docs(code-atlas): rebuild atlas with full LSP — 14,022 relationships (#3323)
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/index.md
Due: none

fix(#3297): propagate AMPLIHACK_AGENT_BINARY through all subprocess spawn sites (#3313)
  .claude/skills/multitask/orchestrator.py
  .claude/skills/multitask/tests/test_orchestrator_ws1_log_visibility.py
  .claude/skills/multitask/tests/test_orchestrator_ws2_delegate_matching.py
  .claude/skills/multitask/tests/test_security_injection.py
  .claude/tools/amplihack/orchestration/claude_process.py
  amplifier-bundle/tools/amplihack/orchestration/claude_process.py
  amplifier-bundle/tools/amplihack/orchestration/tests/test_claude_process_delegate.py
  pyrightconfig.json
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/utils/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(code-atlas): Rust support + clap CLI detection + performance fix (#3321)
  scripts/atlas/blarify_bridge.py
  scripts/atlas/python/api_contracts.py
  scripts/atlas/python/user_journeys.py
  scripts/atlas/render.py
  src/amplihack/vendor/blarify/code_hierarchy/languages/__init__.py
  src/amplihack/vendor/blarify/code_hierarchy/languages/rust_definitions.py
  src/amplihack/vendor/blarify/code_references/lsp_helper.py
  src/amplihack/vendor/blarify/project_graph_creator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(code-atlas): Rust support + clap CLI detection (#3321)
  scripts/atlas/blarify_bridge.py
  scripts/atlas/python/api_contracts.py
  scripts/atlas/python/user_journeys.py
  scripts/atlas/render.py
  src/amplihack/vendor/blarify/code_hierarchy/languages/__init__.py
  src/amplihack/vendor/blarify/code_hierarchy/languages/rust_definitions.py
  src/amplihack/vendor/blarify/code_references/lsp_helper.py
  src/amplihack/vendor/blarify/project_graph_creator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(code-atlas): scanner no longer misclassifies platform.system() as os.system (#3328)
  scripts/atlas/python/runtime_topology.py
Due: check-imports, check-dependencies

fix(code-atlas): scanner no longer misclassifies platform.system() (#3328)
  scripts/atlas/python/runtime_topology.py
Due: check-imports, check-dependencies

fix(hive-eval): patch all 5 root causes before 100-agent eval rerun
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/remote_agent_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(hive-eval): add reduced-question validation for criteria 5 and 6
  deploy/azure_hive/tests/validate_reduced_run.py
Due: none

fix: retrieval parity fixes, cognitive adapter tuning, and eval infrastructure
  .pre-commit-config.yaml
  .secrets.baseline
  deploy/azure_hive/aspire/Properties/launchSettings.json
  deploy/azure_hive/aspire/apphost.cs
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/eval_distributed_security.py
  deploy/azure_hive/eval_monitor.py
  deploy/azure_hive/eval_retrieval_smoke.py
  deploy/azure_hive/main.bicep
  deploy/azure_hive/main.json
  deploy/azure_hive/remote_agent_adapter.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_aspire_apphost.py
  deploy/azure_hive/tests/test_eval_monitor.py
  deploy/azure_hive/tests/test_remote_agent_adapter.py
  pyrightconfig.json
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/eval/distributed_adapter.py
  tests/hive_mind/test_cognitive_adapter_compat.py
  tests/hive_mind/test_dht_shard_cross_query.py
  tests/hive_mind/test_retrieval_parity.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove eager auto-install of memory lib on import (#3327)
  pyproject.toml
  src/amplihack/__init__.py
  src/amplihack/memory_auto_install.py
  tests/test_import_no_auto_install.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: wire evalSrcPath into Aspire PYTHONPATH for cross-repo amplihack_eval imports
  deploy/azure_hive/aspire/apphost.cs
  deploy/azure_hive/eval_setup.py
  deploy/azure_hive/tests/test_aspire_apphost.py
Due: check-imports, check-dependencies

fix(recipe): make step-16-create-draft-pr idempotent (#3324)
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_pr_creation_idempotency.py
Due: none

wip: checkpoint after review feedback (steps 10-11)
  pyproject.toml
  src/amplihack/memory_auto_install.py
  tests/test_import_no_auto_install.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
