Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

feat: Update github-copilot-cli-expert skill with latest CLI docs (#2122)
  .claude/context/USER_PREFERENCES.md
  .claude/skills/github-copilot-cli-expert/README.md
  .claude/skills/github-copilot-cli-expert/SKILL.md
  .claude/skills/github-copilot-cli-expert/examples.md
  .claude/skills/github-copilot-cli-expert/reference.md
  amplifier-bundle/context/USER_PREFERENCES.md
  amplifier-bundle/skills/github-copilot-cli-expert/README.md
  amplifier-bundle/skills/github-copilot-cli-expert/SKILL.md
  amplifier-bundle/skills/github-copilot-cli-expert/examples.md
  amplifier-bundle/skills/github-copilot-cli-expert/reference.md
  docs/claude/context/USER_PREFERENCES.md
  src/amplihack/.claude/context/USER_PREFERENCES.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/README.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/SKILL.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/examples.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/reference.md
  src/amplihack/amplifier-bundle/context/USER_PREFERENCES.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/README.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/SKILL.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/examples.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/reference.md
Due: none

feat: Add amplihack-integration.md to restore integration content
  .claude/skills/github-copilot-cli-expert/SKILL.md
  .claude/skills/github-copilot-cli-expert/amplihack-integration.md
Due: none

fix: Correct sed regex in skill discovery command
  .claude/skills/github-copilot-cli-expert/amplihack-integration.md
Due: none

Fix critical issues found in PR review
  src/amplihack/launcher/claude_binary_manager.py
  src/amplihack/proxy/litellm_callbacks.py
  src/amplihack/tracing/__init__.py
  src/amplihack/tracing/trace_logger.py
  tests/tracing/test_binary_manager.py
  tests/tracing/test_litellm_callbacks.py
  tests/tracing/test_trace_logger.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Migrate from claude-trace to native binary with optional trace logging (#2074)
  .claude/scenarios/analyze-trace-logs/tool.py
  .claude/tools/amplihack/analyze_traces.py
  docs/NATIVE_BINARY_TRACE_LOGGING.md
  docs/features/trace-logging.md
  docs/howto/trace-logging.md
  docs/index.md
  docs/migration/README.md
  docs/migration/claude-trace-to-native.md
  docs/reference/trace-logging-api.md
  docs/troubleshooting/trace-logging.md
  src/amplihack/launcher/__init__.py
  src/amplihack/launcher/claude_binary_manager.py
  src/amplihack/launcher/core.py
  src/amplihack/proxy/litellm_callbacks.py
  src/amplihack/proxy/server.py
  src/amplihack/proxy/token_sanitizer.py
  src/amplihack/tracing/__init__.py
  src/amplihack/tracing/trace_logger.py
  src/amplihack/utils/claude_trace.py
  src/amplihack/utils/prerequisites.py
  tests/tracing/COVERAGE_ANALYSIS.md
  tests/tracing/README.md
  tests/tracing/__init__.py
  tests/tracing/run_tests.sh
  tests/tracing/test_binary_manager.py
  tests/tracing/test_e2e.py
  tests/tracing/test_integration.py
  tests/tracing/test_litellm_callbacks.py
  tests/tracing/test_prerequisites_integration.py
  tests/tracing/test_trace_logger.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Auto-upgrade amplifier on startup + fix bundle frontmatter structure
  .claude/context/PROJECT.md
  amplifier-bundle/bundle.md
  src/amplihack/launcher/amplifier.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove stray Neo4j method calls after Kuzu migration
  src/amplihack/launcher/core.py
  tests/unit/launcher/test_blarify_prompt.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add amplihack runtime directories to copilot launcher --add-dir flags
  STEP_13_LOCAL_TEST_RESULTS.md
  src/amplihack/launcher/copilot.py
  tests/test_copilot_directory_allowlist.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

debug: Add command logging to copilot launcher for testing
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove stray Neo4j method calls after Kuzu migration (#2140)
  src/amplihack/launcher/core.py
  tests/unit/launcher/test_blarify_prompt.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(skill): Add GitHub Copilot SDK skill for embedding Copilot in applications
  .claude/skills/github-copilot-sdk/README.md
  .claude/skills/github-copilot-sdk/SKILL.md
  .claude/skills/github-copilot-sdk/drift-detection.md
  .claude/skills/github-copilot-sdk/examples.md
  .claude/skills/github-copilot-sdk/patterns.md
  .claude/skills/github-copilot-sdk/reference.md
  .claude/skills/github-copilot-sdk/scripts/check_drift.py
Due: check-dependencies

fix: Auto-upgrade amplifier on startup + fix bundle frontmatter structure (#2141)
  .claude/context/PROJECT.md
  amplifier-bundle/bundle.md
  src/amplihack/launcher/amplifier.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address code review feedback
  .claude/skills/github-copilot-sdk/SKILL.md
  .claude/skills/github-copilot-sdk/drift-detection.md
  .claude/skills/github-copilot-sdk/examples.md
Due: none

fix: Remove debug output and update Step 13 with proper E2E test results
  STEP_13_LOCAL_TEST_RESULTS.md
  src/amplihack/launcher/copilot.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Apply prettier formatting to DEFAULT_WORKFLOW.md
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add amplihack runtime directories to copilot launcher --add-dir flags (#2139)
  STEP_13_LOCAL_TEST_RESULTS.md
  src/amplihack/launcher/copilot.py
  tests/test_copilot_directory_allowlist.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Apply prettier formatting to DEFAULT_WORKFLOW.md (#2143)
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add goal-seeking agent examples and github-copilot-sdk dependency
  examples/goal-seeking-agent-python.py
  examples/goal-seeking-agent-typescript.ts
  pyproject.toml
Due: check-imports, check-dependencies

chore: Apply prettier formatting to AMPLIHACK.md
  .claude/AMPLIHACK.md
Due: none

fix: Add _ensure_amplihack_staged() call to launch_command()
  src/amplihack/cli.py
  tests/integration/test_cli_unified_staging.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Move examples to skill dir, document Python event type differences
  .claude/skills/github-copilot-sdk/SKILL.md
  .claude/skills/github-copilot-sdk/examples.md
  .claude/skills/github-copilot-sdk/examples/goal-seeking-agent-python.py
  .claude/skills/github-copilot-sdk/examples/goal-seeking-agent-typescript.ts
  .claude/skills/github-copilot-sdk/reference.md
Due: check-dependencies

feat(skill): Add GitHub Copilot SDK skill (#2142)
  .claude/skills/github-copilot-sdk/README.md
  .claude/skills/github-copilot-sdk/SKILL.md
  .claude/skills/github-copilot-sdk/drift-detection.md
  .claude/skills/github-copilot-sdk/examples.md
  .claude/skills/github-copilot-sdk/examples/goal-seeking-agent-python.py
  .claude/skills/github-copilot-sdk/examples/goal-seeking-agent-typescript.ts
  .claude/skills/github-copilot-sdk/patterns.md
  .claude/skills/github-copilot-sdk/reference.md
  .claude/skills/github-copilot-sdk/scripts/check_drift.py
  pyproject.toml
Due: check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
