Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

Revert "fix: truncate large context in verification gate echoes (ARG_MAX) (#3355)"
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  tests/gadugi/arg-max-verification-gates.yaml
  tests/skills/test_gadugi_scenarios_3342.py
Due: none

fix(recipe): convert step-19d to agent step and remove large echo vars from step-21
  amplifier-bundle/recipes/default-workflow.yaml
  tests/recipes/test_default_workflow_step19d_step21.py
Due: none

fix(tests): align test API with actual _build_rust_command and run_recipe_via_rust signatures
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_env_var_size_guard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(qa): add gadugi outside-in scenarios for ARG_MAX fix (#3366)
  tests/gadugi/arg-max-fix-agent-step-and-size-guard.yaml
  tests/skills/test_gadugi_scenarios_3366.py
Due: none

fix(recipe): resolve ARG_MAX overflow via agent step conversion and 32KB size guard (#3366)
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
  src/amplihack/recipes/rust_runner.py
  tests/gadugi/arg-max-fix-agent-step-and-size-guard.yaml
  tests/recipes/test_default_workflow_step19d_step21.py
  tests/recipes/test_env_var_size_guard.py
  tests/skills/test_gadugi_scenarios_3366.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): preserve equals-style copilot permissions
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: correct issue number extraction and idempotent step-4 worktree setup
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

refactor: remove dead code from test_default_workflow_fixes.py
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

fix: quote issue_number in PR body printf, use grep -Fx for exact worktree match
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

fix: prevent ARG_MAX regression in step-19d and step-21
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix(security): quote heredoc delimiter in step-03b to prevent shell injection
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

test(qa): add gadugi outside-in scenarios for BL-001/BL-002
  tests/gadugi/bl-001-bl-002-default-workflow-idempotency.yaml
Due: none

test: add gadugi scenario executor + fix false positive in tail-1 check
  tests/gadugi/bl-001-bl-002-default-workflow-idempotency.yaml
  tests/skills/test_gadugi_scenarios_3022_3023.py
Due: none

fix: correct issue number extraction and idempotent step-4 worktree setup (#3390)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
  pyproject.toml
  tests/gadugi/bl-001-bl-002-default-workflow-idempotency.yaml
  tests/skills/test_gadugi_scenarios_3022_3023.py
Due: check-imports, check-dependencies

test(docs): add nested copilot QA evidence
  docs/howto/use-non-claude-agent.md
  docs/index.md
  tests/gadugi/copilot-nested-compat.yaml
  tests/gadugi/copilot_nested_compat_smoke.py
Due: none

feat(pm-architect): add dual-SDK support for Claude and Copilot
  .claude/skills/pm-architect/scripts/agent_query.py
  .claude/skills/pm-architect/scripts/generate_daily_status.py
  .claude/skills/pm-architect/scripts/generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/tests/test_agent_query.py
  .claude/skills/pm-architect/scripts/tests/test_generate_daily_status.py
  .claude/skills/pm-architect/scripts/tests/test_generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  .claude/skills/pm-architect/scripts/triage_pr.py
  amplifier-bundle/skills/pm-architect/scripts/agent_query.py
  amplifier-bundle/skills/pm-architect/scripts/generate_daily_status.py
  amplifier-bundle/skills/pm-architect/scripts/generate_roadmap_review.py
  amplifier-bundle/skills/pm-architect/scripts/triage_pr.py
  docs/claude/skills/pm-architect/scripts/agent_query.py
  docs/claude/skills/pm-architect/scripts/generate_daily_status.py
  docs/claude/skills/pm-architect/scripts/generate_roadmap_review.py
  docs/claude/skills/pm-architect/scripts/triage_pr.py
Due: check-imports, check-dependencies

feat(eval): consolidate tested distributed hive fixes and docs
  Specs/MEMORY_AGENTS_DIAGRAMS.md
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/deploy.sh
  deploy/azure_hive/main.bicep
  deploy/azure_hive/main.json
  deploy/azure_hive/tests/test_agent_entrypoint.py
  deploy/azure_hive/tests/test_partition_routing.py
  docs/AGENT_MEMORY_INTEGRATION.md
  docs/AGENT_MEMORY_QUICKSTART.md
  docs/concepts/memory-enabled-agents-architecture.md
  docs/features/memory-enabled-agents.md
  docs/hive_mind/EVAL.md
  docs/hive_mind/GETTING_STARTED.md
  docs/hive_mind/current-validation-results.md
  docs/howto/agent-learning-eval-harness.md
  docs/howto/integrate-memory-into-agents.md
  docs/memory/5-TYPE-MEMORY-DEVELOPER.md
  docs/memory/5-TYPE-MEMORY-GUIDE.md
  docs/memory/5-TYPE-MEMORY-QUICKREF.md
  docs/memory/README.md
  docs/reference/memory-cli-reference.md
  docs/reference/memory-enabled-agents-api.md
  docs/troubleshooting/memory-enabled-agents.md
  docs/tutorials/memory-enabled-agents-getting-started.md
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_memory.py
  src/amplihack/agents/goal_seeking/hive_mind/reranker.py
  src/amplihack/agents/goal_seeking/input_source.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/similarity.py
  tests/agents/goal_seeking/test_learning_agent.py
  tests/agents/goal_seeking/test_math_intent.py
  tests/agents/goal_seeking/test_similarity.py
  tests/hive_mind/test_distributed_memory_cluster_api.py
  tests/hive_mind/test_reranker.py
  tests/test_distributed_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(pm-architect): audit fixes — error diagnostics, double timeout, docs, QA scenarios
  .claude/skills/pm-architect/scripts/README.md
  .claude/skills/pm-architect/scripts/agent_query.py
  amplifier-bundle/skills/pm-architect/scripts/agent_query.py
  docs/claude/skills/pm-architect/scripts/agent_query.py
  tests/outside-in/test_agent_query_sdk_routing.yaml
Due: check-imports, check-dependencies

fix(memory): make memory dependency optional
  pyproject.toml
  src/amplihack/__init__.py
  src/amplihack/memory_auto_install.py
  tests/test_import_no_auto_install.py
  tests/unit/test_memory_startup_check.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(memory): add outside-in startup coverage
  tests/outside_in/test_memory_optional_startup_e2e.py
Due: none

feat(pm-architect): add dual-SDK support for Claude and Copilot (#3401)
  .claude/skills/pm-architect/scripts/README.md
  .claude/skills/pm-architect/scripts/agent_query.py
  .claude/skills/pm-architect/scripts/generate_daily_status.py
  .claude/skills/pm-architect/scripts/generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/tests/test_agent_query.py
  .claude/skills/pm-architect/scripts/tests/test_generate_daily_status.py
  .claude/skills/pm-architect/scripts/tests/test_generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  .claude/skills/pm-architect/scripts/triage_pr.py
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/skills/pm-architect/scripts/agent_query.py
  amplifier-bundle/skills/pm-architect/scripts/generate_daily_status.py
  amplifier-bundle/skills/pm-architect/scripts/generate_roadmap_review.py
  amplifier-bundle/skills/pm-architect/scripts/triage_pr.py
  docs/atlas/ast-lsp-bindings/README.md
  docs/claude/skills/pm-architect/scripts/agent_query.py
  docs/claude/skills/pm-architect/scripts/generate_daily_status.py
  docs/claude/skills/pm-architect/scripts/generate_roadmap_review.py
  docs/claude/skills/pm-architect/scripts/triage_pr.py
  pyproject.toml
  tests/outside-in/test_agent_query_sdk_routing.yaml
Due: check-imports, check-dependencies

fix(workflows): stop mutating PR branches for version bumps\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  .github/workflows/VERSION_WORKFLOWS.md
  .github/workflows/version-check.yml
Due: none

fix(ci): repair parity branch validation baselines
  amplifier-bundle/skills/pm-architect/scripts/README.md
  amplifier-bundle/skills/pm-architect/scripts/tests/test_generate_daily_status.py
  amplifier-bundle/skills/pm-architect/scripts/tests/test_generate_roadmap_review.py
  amplifier-bundle/skills/pm-architect/scripts/tests/test_triage_pr.py
  docs/atlas/api-contracts/api-contracts.mmd
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/compile-deps.mmd
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/data-flow.mmd
  docs/atlas/data-flow/index.md
  docs/atlas/health.md
  docs/atlas/index.md
  docs/atlas/repo-surface/index.md
  docs/atlas/repo-surface/repo-surface.mmd
  docs/atlas/runtime-topology/index.md
  docs/atlas/runtime-topology/runtime-topology.mmd
  docs/atlas/service-components/index.md
  docs/atlas/service-components/service-components.mmd
  docs/atlas/user-journeys/index.md
  docs/atlas/user-journeys/user-journeys.mmd
  docs/claude/skills/pm-architect/scripts/README.md
  docs/claude/skills/pm-architect/scripts/tests/test_generate_daily_status.py
  docs/claude/skills/pm-architect/scripts/tests/test_generate_roadmap_review.py
  docs/claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  docs/memory/README.md
  pyproject.toml
Due: none

fix(recipe-cli): preserve audit overrides and progress
  src/amplihack/recipe_cli/recipe_command.py
  tests/unit/cli/test_recipe_command.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix cycle 1 audit findings
  docs/atlas/health.md
  src/amplihack/recipe_cli/context.py
  src/amplihack/recipe_cli/loader.py
  src/amplihack/recipe_cli/recipe_command.py
  src/amplihack/recipes/__init__.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_binary.py
  src/amplihack/recipes/rust_runner_copilot.py
  src/amplihack/recipes/rust_runner_execution.py
  src/amplihack/recipes/rust_runner_recipe_resolution.py
  tests/recipes/test_rust_runner.py
  tests/unit/cli/test_recipe_command.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipe-runner): preserve workflow env and path checks
  src/amplihack/recipe_cli/loader.py
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_rust_runner.py
  tests/unit/cli/test_recipe_command.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix audit cycle 1 findings
  src/amplihack/recipe_cli/loader.py
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_rust_runner.py
  tests/recipes/test_rust_runner_binary.py
  tests/recipes/test_rust_runner_execution.py
  tests/recipes/test_rust_runner_recipe_resolution.py
  tests/recipes/test_rust_runner_support.py
  tests/unit/cli/test_loader.py
  tests/unit/cli/test_recipe_command.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): reject invalid runner payloads
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_rust_runner_execution.py
  tests/unit/cli/test_loader.py
  tests/unit/recipes/test_parser.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix audit cycle 1 compatibility handling
  .claude/skills/pm-architect/scripts/README.md
  .claude/skills/pm-architect/scripts/agent_query.py
  .claude/skills/pm-architect/scripts/generate_daily_status.py
  .claude/skills/pm-architect/scripts/generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/tests/test_agent_query.py
  .claude/skills/pm-architect/scripts/tests/test_generate_daily_status.py
  .claude/skills/pm-architect/scripts/tests/test_generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  .claude/skills/pm-architect/scripts/triage_pr.py
  amplifier-bundle/skills/pm-architect/scripts/README.md
  amplifier-bundle/skills/pm-architect/scripts/agent_query.py
  amplifier-bundle/skills/pm-architect/scripts/generate_daily_status.py
  amplifier-bundle/skills/pm-architect/scripts/generate_roadmap_review.py
  amplifier-bundle/skills/pm-architect/scripts/tests/test_generate_daily_status.py
  amplifier-bundle/skills/pm-architect/scripts/tests/test_generate_roadmap_review.py
  amplifier-bundle/skills/pm-architect/scripts/tests/test_triage_pr.py
  amplifier-bundle/skills/pm-architect/scripts/triage_pr.py
  docs/claude/skills/pm-architect/scripts/README.md
  docs/claude/skills/pm-architect/scripts/agent_query.py
  docs/claude/skills/pm-architect/scripts/generate_daily_status.py
  docs/claude/skills/pm-architect/scripts/generate_roadmap_review.py
  docs/claude/skills/pm-architect/scripts/tests/test_generate_daily_status.py
  docs/claude/skills/pm-architect/scripts/tests/test_generate_roadmap_review.py
  docs/claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  docs/claude/skills/pm-architect/scripts/triage_pr.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_binary.py
  tests/recipes/test_rust_runner_binary.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
