Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: Ensure Claude CLI is installed before using it in amplihack launch (#2029)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace 'contains' with 'in' operator in recipe conditions
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

feat: Add meta-agentic task delegation system (Issue #2030)
  LOCAL_TEST_PLAN.md
  docs/index.md
  docs/meta-delegation/README.md
  docs/meta-delegation/concepts.md
  docs/meta-delegation/howto.md
  docs/meta-delegation/reference.md
  docs/meta-delegation/troubleshooting.md
  docs/meta-delegation/tutorial.md
  src/amplihack/meta_delegation/__init__.py
  src/amplihack/meta_delegation/evidence_collector.py
  src/amplihack/meta_delegation/orchestrator.py
  src/amplihack/meta_delegation/persona.py
  src/amplihack/meta_delegation/platform_cli.py
  src/amplihack/meta_delegation/scenario_generator.py
  src/amplihack/meta_delegation/state_machine.py
  src/amplihack/meta_delegation/success_evaluator.py
  tests/meta_delegation/README.md
  tests/meta_delegation/__init__.py
  tests/meta_delegation/conftest.py
  tests/meta_delegation/e2e/__init__.py
  tests/meta_delegation/e2e/test_guide_teaches_beginner.py
  tests/meta_delegation/e2e/test_qa_validates_feature.py
  tests/meta_delegation/integration/__init__.py
  tests/meta_delegation/integration/test_gadugi_integration.py
  tests/meta_delegation/integration/test_persona_integration.py
  tests/meta_delegation/test_evidence_collector.py
  tests/meta_delegation/test_orchestrator.py
  tests/meta_delegation/test_persona.py
  tests/meta_delegation/test_platform_cli.py
  tests/meta_delegation/test_scenario_generator.py
  tests/meta_delegation/test_state_machine.py
  tests/meta_delegation/test_success_evaluator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct plugin installation path resolution (Issue #2043)
  .claude-plugin/plugin.json
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address 4 critical issues from PR #2044 review (agent aa1bdb3)
  src/amplihack/meta_delegation/evidence_collector.py
  src/amplihack/meta_delegation/orchestrator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Final cleanup - remove empty methods and test artifacts
  LOCAL_TEST_PLAN.md
  src/amplihack/meta_delegation/evidence_collector.py
  src/amplihack/meta_delegation/scenario_generator.py
  src/amplihack/meta_delegation/success_evaluator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace 'contains' with 'in' operator in recipe conditions (#2041)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: Always validate claude-trace execution to catch require() bugs
  src/amplihack/utils/claude_trace.py
  tests/unit/test_claude_trace_validation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove circular dependency errors and lsp_setup directory
  .claude/skills/lsp_setup/README.md
  .claude/skills/lsp_setup/SKILL.md
  .claude/skills/lsp_setup/USAGE_EXAMPLES.md
  .claude/skills/lsp_setup/__init__.py
  .claude/skills/lsp_setup/language_detector.py
  .claude/skills/lsp_setup/lsp_configurator.py
  .claude/skills/lsp_setup/mcp_configurator.py
  .claude/skills/lsp_setup/plugin_manager.py
  .claude/skills/lsp_setup/status_tracker.py
  .claude/skills/lsp_setup/tests/README.md
  .claude/skills/lsp_setup/tests/TEST_METRICS.md
  .claude/skills/lsp_setup/tests/TEST_SUMMARY.md
  .claude/skills/lsp_setup/tests/__init__.py
  .claude/skills/lsp_setup/tests/conftest.py
  .claude/skills/lsp_setup/tests/test_e2e.py
  .claude/skills/lsp_setup/tests/test_integration.py
  .claude/skills/lsp_setup/tests/test_language_detector.py
  .claude/skills/lsp_setup/tests/test_lsp_configurator.py
  .claude/skills/lsp_setup/tests/test_plugin_manager.py
  .claude/skills/lsp_setup/tests/test_status_tracker.py
  amplifier-bundle/bundle.md
Due: check-dependencies

fix: Remove circular dependency errors and lsp_setup directory (#2047)
  .claude/skills/lsp_setup/README.md
  .claude/skills/lsp_setup/SKILL.md
  .claude/skills/lsp_setup/USAGE_EXAMPLES.md
  .claude/skills/lsp_setup/__init__.py
  .claude/skills/lsp_setup/language_detector.py
  .claude/skills/lsp_setup/lsp_configurator.py
  .claude/skills/lsp_setup/mcp_configurator.py
  .claude/skills/lsp_setup/plugin_manager.py
  .claude/skills/lsp_setup/status_tracker.py
  .claude/skills/lsp_setup/tests/README.md
  .claude/skills/lsp_setup/tests/TEST_METRICS.md
  .claude/skills/lsp_setup/tests/TEST_SUMMARY.md
  .claude/skills/lsp_setup/tests/__init__.py
  .claude/skills/lsp_setup/tests/conftest.py
  .claude/skills/lsp_setup/tests/test_e2e.py
  .claude/skills/lsp_setup/tests/test_integration.py
  .claude/skills/lsp_setup/tests/test_language_detector.py
  .claude/skills/lsp_setup/tests/test_lsp_configurator.py
  .claude/skills/lsp_setup/tests/test_plugin_manager.py
  .claude/skills/lsp_setup/tests/test_status_tracker.py
  amplifier-bundle/bundle.md
Due: check-dependencies

fix: Remove invalid claude plugin install attempt with local paths
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove unreachable dead code from plugin install attempt
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Add comprehensive component validation test
  test_meta_delegator_comprehensive.py
Due: check-imports, check-dependencies

fix: Implement proper plugin architecture using extraKnownMarketplaces
  marketplace.json
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove path from extraKnownMarketplaces - marketplace.json is at root
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add marketplace.json for Claude Code plugin discovery
  marketplace.json
Due: none

fix: Move marketplace.json to .claude-plugin/ with proper format
  .claude-plugin/marketplace.json
  PHASE3_ALPHA_PLUGIN_ARCHITECTURE_MAP.md
  TEAM_BRAVO_FINDINGS.md
  marketplace.json
Due: none

fix: Use proper relative path in marketplace.json plugin source
  .claude-plugin/marketplace.json
Due: none

fix: Remove python-dev, shadow, ts-dev circular dependencies
  .claude/context/PROJECT.md
  .claude/settings.json
  amplifier-bundle/bundle.md
Due: sync-hooks-validation

fix: Set TMPDIR to prevent EXDEV cross-filesystem error in plugin install
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Smart truncation of power-steering feedback messages (issue #2039)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/tests/test_issue_2039_smart_truncation.py
  docs/features/power-steering/README.md
  docs/features/power-steering/technical-reference.md
Due: check-dependencies

fix: Add robust claude-trace fallback for native binaries (Issue #2042)
  CHANGES_SUMMARY.md
  IMPLEMENTATION_NOTES.md
  REVIEWER_FIXES_SUMMARY.md
  src/amplihack/utils/claude_trace.py
  tests/integration/test_claude_trace_fallback_integration.py
  tests/unit/test_claude_trace_fallback.py
  tests/unit/test_claude_trace_validation.py
  verify_fix.sh
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
