Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: recipe discovery includes installed package path (#2812) (#2813)
  pyproject.toml
  src/amplihack/recipes/discovery.py
  tests/unit/recipes/test_discovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: split 4 largest modules into smaller bricks
  src/amplihack/fleet/_backends.py
  src/amplihack/fleet/_cli_commands.py
  src/amplihack/fleet/_status.py
  src/amplihack/fleet/_tui_actions.py
  src/amplihack/fleet/_tui_refresh.py
  src/amplihack/fleet/_tui_render.py
  src/amplihack/fleet/_tui_styles.py
  src/amplihack/fleet/_tui_workers.py
  src/amplihack/fleet/fleet_cli.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/fleet_tui_dashboard.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: repair broken skill frontmatter and remove duplicate skill loading (#2811)
  .claude/skills/azure-admin/SKILL.md
  .claude/skills/azure-devops-cli/SKILL.md
  .claude/skills/github/SKILL.md
  .claude/skills/silent-degradation-audit/SKILL.md
  .github/skills
  tests/outside_in/test_skill_frontmatter_loading.py
Due: none

feat: wire retrieval pipeline into hive mind code paths (#2816)
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  src/amplihack/agents/goal_seeking/hive_mind/reranker.py
  tests/hive_mind/test_retrieval_pipeline_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: split 3 more modules + boost test coverage to 80%+
  src/amplihack/fleet/_cli_commands.py
  src/amplihack/fleet/_cli_fleet_ops.py
  src/amplihack/fleet/_cli_session_ops.py
  src/amplihack/fleet/_session_context.py
  src/amplihack/fleet/_session_gather.py
  src/amplihack/fleet/_system_prompt.py
  src/amplihack/fleet/_tui_classify.py
  src/amplihack/fleet/_tui_data.py
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/tests/test_fleet_auth.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_dashboard.py
  src/amplihack/fleet/tests/test_fleet_session_reasoner.py
  src/amplihack/fleet/tests/test_fleet_state.py
  src/amplihack/fleet/tests/test_fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: merge session co-pilot into lock mode (smart autonomous guidance)
  .claude/commands/amplihack/lock.md
  .claude/skills/fleet-copilot/SKILL.md
  .claude/tools/amplihack/lock_tool.py
  amplifier-bundle/modules/hook-lock-mode/amplifier_hook_lock_mode/__init__.py
  amplifier-bundle/modules/hook-lock-mode/tests/__init__.py
  amplifier-bundle/modules/hook-lock-mode/tests/test_lock_mode_hook.py
Due: check-imports, check-dependencies, amplihack-sync-commands

feat: enhance quality-audit-workflow with iterative multi-agent audit loop
  .claude/skills/quality-audit-workflow/SKILL.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/skills/quality-audit-workflow/SKILL.md
  docs/claude/skills/quality-audit-workflow/SKILL.md
Due: none

refactor: simplify lock mode — always smart, agent formulates goal
  .claude/commands/amplihack/lock.md
  .claude/skills/fleet-copilot/SKILL.md
  .claude/tools/amplihack/lock_tool.py
  amplifier-bundle/modules/hook-lock-mode/amplifier_hook_lock_mode/__init__.py
  amplifier-bundle/modules/hook-lock-mode/tests/test_lock_mode_hook.py
Due: check-imports, check-dependencies, amplihack-sync-commands

fix: ClaudeSDKAdapter consumes query() as async generator
  src/amplihack/recipes/adapters/claude_sdk.py
  tests/recipes/test_claude_sdk_adapter_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove all hardcoded limits that silently truncate data
  src/amplihack/fleet/_session_context.py
  src/amplihack/fleet/_status.py
  src/amplihack/fleet/fleet_admiral.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/fleet_observer.py
  src/amplihack/fleet/fleet_reasoners.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_session_reasoner.py
  src/amplihack/fleet/tests/test_transcript_analyzer.py
  src/amplihack/fleet/transcript_analyzer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add CRDT implementations for hive mind fact sharing (#2814)
  src/amplihack/agents/goal_seeking/hive_mind/crdt.py
  tests/hive_mind/test_crdt.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: recipe runner async generator bug + condition eval + hardcoded limits category
  .claude/skills/quality-audit-workflow/SKILL.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/skills/quality-audit-workflow/SKILL.md
  docs/claude/skills/quality-audit-workflow/SKILL.md
Due: none

feat: add trust-weighted retrieval, fact TTL, and gossip protocol (#2815)
  src/amplihack/agents/goal_seeking/hive_mind/fact_lifecycle.py
  src/amplihack/agents/goal_seeking/hive_mind/gossip.py
  src/amplihack/agents/goal_seeking/hive_mind/reranker.py
  tests/hive_mind/test_fact_lifecycle.py
  tests/hive_mind/test_gossip.py
  tests/hive_mind/test_reranker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Update documentation for merged PRs from March 2-3, 2026
  docs/recipes/README.md
  docs/recipes/RECENT_FIXES_MARCH_2026.md
  docs/recipes/recipe-discovery-troubleshooting.md
  docs/skills/SKILL_CATALOG.md
Due: none

fix: align frontmatter standards and skill-builder with Agent Skills spec
  .claude/context/FRONTMATTER_STANDARDS.md
  .claude/skills/quality-audit/SKILL.md
  .claude/skills/quality-audit/examples.md
  .claude/skills/quality-audit/reference.md
  .claude/skills/skill-builder/SKILL.md
  .claude/skills/skill-builder/reference.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  amplifier-bundle/context/FRONTMATTER_STANDARDS.md
  amplifier-bundle/skills/quality-audit/SKILL.md
  amplifier-bundle/skills/quality-audit/examples.md
  amplifier-bundle/skills/quality-audit/reference.md
  amplifier-bundle/skills/skill-builder/SKILL.md
  docs/claude/context/FRONTMATTER_STANDARDS.md
  docs/claude/skills/quality-audit/SKILL.md
  docs/claude/skills/quality-audit/examples.md
  docs/claude/skills/quality-audit/reference.md
  docs/claude/skills/skill-builder/SKILL.md
Due: none

feat: quality audit enhancements, recipe runner fix, and standards alignment (#2817)
  .claude/context/FRONTMATTER_STANDARDS.md
  .claude/skills/quality-audit/SKILL.md
  .claude/skills/quality-audit/examples.md
  .claude/skills/quality-audit/reference.md
  .claude/skills/skill-builder/SKILL.md
  .claude/skills/skill-builder/reference.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  amplifier-bundle/context/FRONTMATTER_STANDARDS.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/skills/quality-audit-workflow/SKILL.md
  amplifier-bundle/skills/quality-audit/SKILL.md
  amplifier-bundle/skills/quality-audit/examples.md
  amplifier-bundle/skills/quality-audit/reference.md
  amplifier-bundle/skills/skill-builder/SKILL.md
  docs/claude/context/FRONTMATTER_STANDARDS.md
  docs/claude/skills/quality-audit-workflow/SKILL.md
  docs/claude/skills/quality-audit/SKILL.md
  docs/claude/skills/quality-audit/examples.md
  docs/claude/skills/quality-audit/reference.md
  docs/claude/skills/skill-builder/SKILL.md
  pyproject.toml
  src/amplihack/recipes/adapters/claude_sdk.py
  tests/recipes/test_claude_sdk_adapter_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: smart transcript context, Stop hook copilot, remove CLI, add docs
  amplifier-bundle/modules/hook-lock-mode/amplifier_hook_lock_mode/__init__.py
  amplifier-bundle/modules/hook-lock-mode/tests/test_lock_mode_hook.py
  amplifier-bundle/tools/amplihack/hooks/stop.py
  docs/FLEET_COPILOT.md
  src/amplihack/fleet/_cli_commands.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add agentic outside-in tests for lock mode and fleet TUI
  tests/outside-in/test_fleet_tui.yaml
  tests/outside-in/test_lock_mode_copilot.yaml
Due: none

fix: allow safe function calls in recipe condition expressions (#2826)
  src/amplihack/recipes/context.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: wire CRDTs, gossip protocol, and fact lifecycle into InMemoryHiveGraph
  src/amplihack/agents/goal_seeking/hive_mind/hive_graph.py
  tests/hive_mind/test_hive_graph_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: address review feedback - namespace shadowing + builtins cleanup
  src/amplihack/recipes/context.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: address review findings — remove duplication, fix swallowed exceptions
  amplifier-bundle/modules/hook-lock-mode/amplifier_hook_lock_mode/__init__.py
  amplifier-bundle/tools/amplihack/hooks/stop.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove unsafe function calls from recipe conditions (#2828)
  amplifier-bundle/recipes/long-horizon-memory-eval.yaml
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/outside_in/test_recipe_condition_safety.py
Due: none

fix: remove unsafe function calls from recipe conditions (#2829)
  amplifier-bundle/recipes/long-horizon-memory-eval.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/outside_in/test_recipe_condition_safety.py
Due: none

fix: address security and philosophy review findings
  .claude/tools/amplihack/lock_tool.py
  amplifier-bundle/modules/hook-lock-mode/amplifier_hook_lock_mode/__init__.py
  src/amplihack/fleet/fleet_copilot.py
  src/amplihack/fleet/tests/test_fleet_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: hook configuration bugs — power steering, multi-hook, cross-system (#2830)
  .github/hooks/session-stop
  .github/hooks/user-prompt-submit
  src/amplihack/launcher/copilot.py
  src/amplihack/settings.py
  tests/outside_in/test_hook_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: hook configuration bugs — power steering, multi-hook, cross-system (#2831)
  .github/hooks/session-stop
  .github/hooks/user-prompt-submit
  pyproject.toml
  src/amplihack/launcher/copilot.py
  src/amplihack/settings.py
  tests/outside_in/test_hook_e2e.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: expand e2e-outside-in-test-generator to support CLI, TUI, API, MCP (#2825)
  .claude/skills/e2e-outside-in-test-generator/SKILL.md
  .claude/skills/e2e-outside-in-test-generator/generator/__init__.py
  .claude/skills/e2e-outside-in-test-generator/generator/api_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/app_type_detector.py
  .claude/skills/e2e-outside-in-test-generator/generator/cli_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/mcp_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/generator/models.py
  .claude/skills/e2e-outside-in-test-generator/generator/orchestrator.py
  .claude/skills/e2e-outside-in-test-generator/generator/templates/api_endpoint.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/api_workflow.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/cli_command.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/cli_error_handling.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/cli_smoke.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/mcp_tool.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/mcp_workflow.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/tui_navigation.template
  .claude/skills/e2e-outside-in-test-generator/generator/templates/tui_smoke.template
  .claude/skills/e2e-outside-in-test-generator/generator/tui_test_generator.py
  .claude/skills/e2e-outside-in-test-generator/tests/test_multi_app_type.py
Due: check-dependencies
