Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

feat: Add SCIP indexer runner and extended dependency installer
  SCIP_INDEXER_STATUS.md
  src/amplihack/memory/kuzu/indexing/dependency_installer.py
  src/amplihack/memory/kuzu/indexing/orchestrator.py
  src/amplihack/memory/kuzu/indexing/scip_indexer_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

fix: Auto-create tsconfig.json for JavaScript SCIP indexing
  src/amplihack/memory/kuzu/indexing/scip_indexer_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

feat: C# support via source-built scip-dotnet
  src/amplihack/memory/kuzu/indexing/dependency_installer.py
  src/amplihack/memory/kuzu/indexing/scip_indexer_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

feat: C++ support via auto-downloaded scip-clang
  src/amplihack/memory/kuzu/indexing/dependency_installer.py
  src/amplihack/memory/kuzu/indexing/scip_indexer_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

docs: Final language support status - ALL 7 LANGUAGES WORKING
  FINAL_LANGUAGE_SUPPORT_STATUS.md
Due: none

fix: Use gin-gonic/gin for Go validation (has go.mod)
  scripts/validate_blarify_languages.py
Due: check-imports, check-dependencies

docs: Comprehensive testing results for all 7 languages
  TEST_RESULTS.md
Due: none

fix(copilot): Stage agents to ~/.copilot/agents/ for universal discovery (#2241)
  src/amplihack/launcher/copilot.py
  tests/launcher/test_copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: bump version to 0.4.1 (PATCH - copilot agent staging bug fix)
  pyproject.toml
Due: none

fix: skip Claude Code plugin install for copilot/codex/amplifier commands
  src/amplihack/cli.py
  tests/test_cli_claude_command_guard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: auto-update shell profile to eliminate recurring npm PATH message
  src/amplihack/utils/claude_cli.py
  tests/unit/test_claude_cli_npm_path.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Remove point-in-time test documentation from repository root (#2225)
  ACTUAL_TEST_RESULTS.md
  LOCAL_TEST_PLAN.md
  OUTSIDE_IN_TEST_RESULTS.md
  pyproject.toml
Due: none

fix: add path validation for shell profile writes
  src/amplihack/utils/claude_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct GitHub capitalization and complete sentence in PROJECT.md overview (#2245)
  .claude/context/PROJECT.md
Due: none

Update tests/unit/test_process_security.py
  tests/unit/test_process_security.py
Due: none

test: Add clean install validation in Docker
  tests/outside-in/test-pr-branch-installation.yaml
  tests/test_clean_install.sh
Due: none

docs: Add shell injection prevention documentation and tutorials
  README.md
  SECURITY_ASSESSMENT.md
  docs/howto/using-secure-subprocess.md
  docs/index.md
Due: none

Fix(Security): Remove shell=True to prevent injection vulnerabilities
  src/amplihack/utils/process.py
  tests/unit/test_process_security.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(security): Complete shell injection audit and add Windows CI testing
  .claude/tools/precommit_workflow.py
  .github/workflows/ci.yml
  CHANGELOG.md
  SECURITY_ASSESSMENT.md
  docs/howto/run-integration-tests.md
  docs/index.md
  docs/reference/windows-ci-matrix.md
  docs/security/shell-injection-prevention.md
  tests/integration/test_process_integration.py
Due: check-imports, check-dependencies

docs: clarify which commands skip Claude Code plugin installation
  docs/IMPLEMENTATION_SUMMARY.md
Due: none

docs: document automatic shell profile PATH update for Claude CLI
  docs/PREREQUISITES.md
Due: none
