Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

security: Update requests package to fix CVE-2023-32681 and CVE-2024-35195 (#2192)
  pyproject.toml
Due: none

cleanup: Remove 28 backup directories consuming 430MB (#2193)
  .gitignore
Due: none

feat: comprehensive quality improvements for Aspire skill
  .claude/skills/aspire/SKILL.md
  .claude/skills/aspire/commands.md
  .claude/skills/aspire/examples.md
  .claude/skills/aspire/patterns.md
  .claude/skills/aspire/reference.md
  .claude/skills/aspire/troubleshooting.md
  tests/skills/test_aspire_skill.py
Due: none

Add blarify vendored code dependencies to pyproject.toml
  pyproject.toml
Due: none

Add typing-extensions for Python 3.10 compatibility
  pyproject.toml
Due: none

Remove blarify PyPI dependency - using vendored copy
  pyproject.toml
Due: none

Add remaining blarify vendored dependencies (falkordb, neo4j, jedi, docker)
  pyproject.toml
Due: none

fix(copilot): Stage skills to ~/.copilot/skills/ for Copilot CLI
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Configure statusline to use global path and fix bare except
  src/amplihack/cli.py
  src/amplihack/memory/kuzu/code_graph.py
  src/amplihack/utils/uvx_settings_template.json
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Fix remaining blarify imports in code_graph.py
  src/amplihack/memory/kuzu/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

Add blarify vendor code import test script
  test_blarify_execution.py
Due: check-imports, check-dependencies

Add comprehensive fix summary and end-to-end test script
  BLARIFY_FIX_SUMMARY.md
  test_e2e_blarify_indexing.sh
Due: none

Remove temporal documentation from repo
  BLARIFY_FIX_SUMMARY.md
Due: none

Fix Python 3.10 compatibility - use timezone.utc instead of UTC
  src/amplihack/tracing/trace_logger.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Configure statusline to use global path for non-amplihack directories
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

Fix Python 3.10 compatibility in vendored blarify - use typing_extensions
  src/amplihack/vendor/blarify/vendor/multilspy/multilspy_types.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix Python 3.10 compatibility - NotRequired in lsp_types.py
  src/amplihack/vendor/blarify/vendor/multilspy/lsp_protocol_handler/lsp_types.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix Python 3.10 compatibility - Unpack and NotRequired in vendor code
  src/amplihack/vendor/blarify/graph/node/documentation_node.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix Python 3.10 compatibility - LiteralString in vendor code
  src/amplihack/vendor/blarify/documentation/queries/batch_processing_queries.py
  src/amplihack/vendor/blarify/documentation/queries/workflow_queries.py
  src/amplihack/vendor/blarify/repositories/graph_db_manager/db_manager.py
  src/amplihack/vendor/blarify/repositories/graph_db_manager/graph_queries/update_graph.py
  src/amplihack/vendor/blarify/repositories/graph_db_manager/kuzu_manager.py
  src/amplihack/vendor/blarify/repositories/graph_db_manager/neo4j_manager.py
  src/amplihack/vendor/blarify/repositories/graph_db_manager/queries.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add auto-fix for statusline path + fix async initialize calls
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Improve path matching precision in statusline auto-fix
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Configure statusline to use global path in all directories (#2202)
  src/amplihack/cli.py
  src/amplihack/utils/uvx_settings_template.json
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
