Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: Correct typo 'gadgugi' -> 'gadugi' in USER_PREFERENCES.md
  .claude/context/USER_PREFERENCES.md
  amplifier-bundle/context/USER_PREFERENCES.md
  docs/claude/context/USER_PREFERENCES.md
  src/amplihack/.claude/context/USER_PREFERENCES.md
  src/amplihack/amplifier-bundle/context/USER_PREFERENCES.md
Due: none

feat: Add GitHub Copilot SDK skill for building SDK applications
  .claude/skills/github-copilot-sdk/README.md
  .claude/skills/github-copilot-sdk/SKILL.md
  .claude/skills/github-copilot-sdk/VALIDATION_REPORT.md
  .claude/skills/github-copilot-sdk/drift-detection.md
  .claude/skills/github-copilot-sdk/examples.md
  .claude/skills/github-copilot-sdk/multi-language.md
  .claude/skills/github-copilot-sdk/patterns.md
  .claude/skills/github-copilot-sdk/reference.md
Due: none

fix: Improve temp cleanup and skip problematic directories
  src/amplihack/empty-env.json
  src/amplihack/memory/kuzu/code_graph.py
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/typescript_language_server/static/ts-lsp/package-lock.json
  src/amplihack/vendor/blarify/vendor/multilspy/language_servers/typescript_language_server/static/ts-lsp/package.json
  tests/manual/comprehensive_blarify_tests.sh
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

fix: Correct Python syntax errors in examples and patterns
  .claude/skills/github-copilot-sdk/examples.md
  .claude/skills/github-copilot-sdk/patterns.md
  ARCHITECTURE.md
Due: none

fix: Correct SDK API patterns in SKILL.md
  .claude/skills/github-copilot-sdk/SKILL.md
Due: none

chore: Remove transient design document ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

chore: Remove blarify artifact file
  src/amplihack/empty-env.json
Due: none

fix: Address review feedback - fix path resolution and test imports
  .claude/tools/amplihack/hooks/compaction_validator.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_compaction_validator.py
Due: check-dependencies

fix: Exit with INCONCLUSIVE instead of fake handoff to traditional review
  .claude/context/PROJECT.md
Due: none

fix: Ensure ~/.amplihack/.claude populated for all CLI commands
  .claude/context/PROJECT.md
  CLAUDE.md
  STEP_13_VERIFICATION.sh
  docs/concepts/unified-staging-architecture.md
  docs/howto/verify-claude-staging.md
  docs/index.md
  docs/reference/staging-api.md
  src/amplihack/cli.py
  tests/integration/test_cli_unified_staging.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove temporary test verification script
  STEP_13_VERIFICATION.sh
Due: none

feat: Enhance power-steering compaction handling with robust validation (#2072)
  .claude/tools/amplihack/HOW_TO_CUSTOMIZE_POWER_STEERING.md
  .claude/tools/amplihack/hooks/compaction_validator.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/COMPACTION_TEST_SUMMARY.md
  .claude/tools/amplihack/hooks/tests/IMPLEMENTATION_GUIDE.md
  .claude/tools/amplihack/hooks/tests/RUN_COMPACTION_TESTS.sh
  .claude/tools/amplihack/hooks/tests/test_compaction_validator.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_compaction.py
  .claude/tools/amplihack/hooks/workflow_tracker.py
  LOCAL_TEST_RESULTS.md
  docs/index.md
  docs/power_steering_compaction_api.md
  docs/power_steering_compaction_overview.md
Due: check-dependencies

fix: Ensure ~/.amplihack/.claude populated for all CLI commands (#2127)
  .claude/context/PROJECT.md
  CLAUDE.md
  docs/concepts/unified-staging-architecture.md
  docs/howto/verify-claude-staging.md
  docs/index.md
  docs/reference/staging-api.md
  src/amplihack/cli.py
  tests/integration/test_cli_unified_staging.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add comprehensive GitHub Copilot CLI skill
  .claude/skills/github-copilot-cli/SKILL.md
  .claude/skills/github-copilot-cli/examples.md
  .claude/skills/github-copilot-cli/reference.md
Due: none

fix: Remove invalid JSON comment from MCP example
  .claude/skills/github-copilot-cli/reference.md
Due: none

refactor: Remove redundant staging + add Windows/WSL platform check
  CLAUDE.md
  STEP_13_TESTING_PLAN.md
  docs/concepts/unified-staging-architecture.md
  docs/howto/verify-claude-staging.md
  docs/index.md
  docs/reference/staging-api.md
  src/amplihack/cli.py
  src/amplihack/launcher/platform_check.py
  tests/integration/test_cli_platform.py
  tests/integration/test_cli_unified_staging.py
  tests/unit/test_platform_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove transient test documentation from root directory
  LOCAL_TEST_RESULTS.md
  STEP_13_TESTING_PLAN.md
Due: none

feat: Enhance github-copilot-cli-expert skill with prerequisites and version note
  .claude/skills/github-copilot-cli-expert/SKILL.md
  .claude/skills/github-copilot-cli-expert/examples.md
  .claude/skills/github-copilot-cli-expert/reference.md
  amplifier-bundle/skills/github-copilot-cli-expert/SKILL.md
  amplifier-bundle/skills/github-copilot-cli-expert/examples.md
  amplifier-bundle/skills/github-copilot-cli-expert/reference.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/SKILL.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/examples.md
  src/amplihack/.claude/skills/github-copilot-cli-expert/reference.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/SKILL.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/examples.md
  src/amplihack/amplifier-bundle/skills/github-copilot-cli-expert/reference.md
Due: none

Revert "refactor: Remove redundant staging + add Windows/WSL platform check"
  .claude/context/PROJECT.md
  ACTUAL_TEST_RESULTS.md
  CLAUDE.md
  docs/concepts/unified-staging-architecture.md
  docs/howto/verify-claude-staging.md
  docs/index.md
  docs/reference/staging-api.md
  src/amplihack/cli.py
  tests/integration/test_cli_unified_staging.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove transient test results from repo
  ACTUAL_TEST_RESULTS.md
Due: none

feat: Add dotnet10-pack-tool skill for .NET 10 hybrid AOT packaging (#2096)
  .claude/skills/dotnet10-pack-tool/SKILL.md
  .claude/skills/dotnet10-pack-tool/examples.md
  .claude/skills/dotnet10-pack-tool/reference.md
Due: none

fix: Make power-steering respect user PR merge approval preference (#2109)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_merge_preference.py
  .pre-commit-config.yaml
  docs/features/README.md
  docs/features/power-steering/README.md
  docs/features/power-steering/configuration.md
  docs/howto/power-steering-merge-preferences.md
  docs/index.md
  docs/reference/power-steering-merge-preferences.md
Due: check-dependencies

refactor: Remove redundant staging + add Windows/WSL platform check (#2131)
  .claude/context/PROJECT.md
  LOCAL_TEST_RESULTS.md
  src/amplihack/cli.py
  src/amplihack/launcher/platform_check.py
  tests/integration/test_cli_platform.py
  tests/unit/test_platform_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
