Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: accept Path objects and skip .lock.yml files in supply-chain-audit
  .claude/skills/supply-chain-audit/supply_chain_audit/audit.py
  .claude/skills/supply-chain-audit/supply_chain_audit/checkers/_utils.py
Due: check-dependencies

feat: add unified async LLM routing layer and replace litellm.completion()
  src/amplihack/eval/llm_grader.py
  src/amplihack/eval/meta_eval_experiment.py
  src/amplihack/eval/metacognition_grader.py
  src/amplihack/eval/teaching_session.py
  src/amplihack/eval/teaching_subprocess.py
  src/amplihack/fleet/_backends.py
  src/amplihack/llm/__init__.py
  src/amplihack/llm/client.py
  tests/llm/__init__.py
  tests/llm/test_client.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add missing token_sanitizer.py to tracing module
  src/amplihack/tracing/token_sanitizer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve async boundary issues, rebuild atlas, fix type errors
  .pre-commit-config.yaml
  .secrets.baseline
  docs/atlas/ast-lsp-bindings/README.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/service-components/README.md
  docs/atlas/service-components/index.md
  docs/atlas/service-components/service-components.dot
  docs/atlas/service-components/service-components.mmd
  docs/reference/token-sanitizer.md
  src/amplihack/agents/goal_seeking/goal_seeking_agent.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  src/amplihack/eval/agent_subprocess.py
  src/amplihack/eval/grader.py
  src/amplihack/eval/meta_eval_experiment.py
  src/amplihack/eval/teaching_subprocess.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/memory/facade.py
  tests/eval/test_llm_grader.py
  tests/eval/test_meta_eval_experiment.py
  tests/eval/test_metacognition_grader.py
  tests/eval/test_teaching_session.py
  tests/gadugi/litellm-removal-smoke.yaml
  tests/hive_mind/test_eval_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: repair code atlas documentation pages (index layout, nav 404s, cross-refs)
  .claude/context/PROJECT.md
  docs/atlas/api-contracts/README.md
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/README.md
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/README.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/README.md
  docs/atlas/data-flow/index.md
  docs/atlas/index.md
  docs/atlas/repo-surface/README.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/README.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/README.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/README.md
  docs/atlas/user-journeys/index.md
  mkdocs.yml
  tests/e2e/test_code_atlas_docs.py
Due: none

fix: make test_languages_table_readable resilient to atlas data rebuilds
  tests/e2e/test_code_atlas_docs.py
Due: none

fix: repair code atlas documentation pages (index layout, nav 404s, cross-refs)
  docs/atlas/api-contracts/README.md
  docs/atlas/api-contracts/index.md
  docs/atlas/ast-lsp-bindings/README.md
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/compile-deps/README.md
  docs/atlas/compile-deps/index.md
  docs/atlas/data-flow/README.md
  docs/atlas/data-flow/index.md
  docs/atlas/index.md
  docs/atlas/repo-surface/README.md
  docs/atlas/repo-surface/index.md
  docs/atlas/runtime-topology/README.md
  docs/atlas/runtime-topology/index.md
  docs/atlas/service-components/README.md
  docs/atlas/service-components/index.md
  docs/atlas/user-journeys/README.md
  docs/atlas/user-journeys/index.md
  mkdocs.yml
  tests/e2e/test_code_atlas_docs.py
Due: none

fix: remove all dangling proxy_manager references after litellm removal
  src/amplihack/auto_update.py
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
  tests/integration/test_cli_session_init.py
  tests/launcher/test_default_model.py
  tests/test_prerequisite_integration.py
  tests/unit/launcher/test_blarify_prompt.py
  tests/unit/launcher/test_subprocess_env_vars.py
  tests/unit/test_cli_crash_handler.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: tighten copilot parity control plane
  docs/COPILOT_CLI.md
  docs/concepts/copilot-parity-control-plane.md
  docs/howto/configure-copilot-parity-control-plane.md
  docs/howto/settings-hook-configuration.md
  docs/howto/use-non-claude-agent.md
  docs/index.md
  docs/reference/copilot-parity-control-plane.md
  docs/tutorials/copilot-parity-control-plane.md
  mkdocs.yml
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: converge python-rust parity slice
  .claude/commands/amplihack/xpia.md
  .claude/tools/xpia/hooks/pre_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use_rust.py
  .github/commands/xpia.md
  .github/hooks/pre-tool-use
  README.md
  Specs/xpia_hook_integration.md
  docs/HOOKS_COMPARISON.md
  docs/claude/commands/amplihack/xpia.md
  docs/features/copilot-installation-reporting.md
  docs/howto/settings-hook-configuration.md
  docs/reference/copilot-installation-implementation.md
  src/amplihack/__init__.py
  src/amplihack/launcher/copilot.py
  src/amplihack/recipes/rust_runner.py
  src/amplihack/recipes/rust_runner_copilot.py
  src/amplihack/settings.py
  src/amplihack/utils/hook_merge_utility.py
  tests/gadugi/copilot_nested_compat_smoke.py
  tests/outside_in/test_hook_e2e.py
  tests/recipes/test_rust_runner.py
  tests/recipes/test_rust_runner_recipe_resolution.py
  tests/recipes/test_rust_runner_support.py
  tests/test_main_rust_cli_handoff.py
  tests/test_outside_in_xpia_rust.py
  tests/test_rust_hook_engine.py
  tests/test_rust_xpia.py
  tests/test_xpia_hook_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies, amplihack-sync-commands

docs: refresh copilot parity atlas layers
  docs/atlas/ast-lsp-bindings/README.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings-dot.svg
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings-mermaid.svg
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.mmd
  docs/atlas/ast-lsp-bindings/index.md
  docs/atlas/service-components/README.md
  docs/atlas/service-components/index.md
  docs/atlas/service-components/service-components-dot.svg
  docs/atlas/service-components/service-components-mermaid.svg
  docs/atlas/service-components/service-components.dot
  docs/atlas/service-components/service-components.mmd
Due: none

fix: avoid copilot prompt stalls
  src/amplihack/power_steering/re_enable_prompt.py
  tests/power_steering/test_re_enable_prompt.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: close memory and recipe parity gaps
  docs/reference/memory-cli-reference.md
  docs/troubleshooting/memory-enabled-agents.md
  src/amplihack/cli.py
  src/amplihack/memory/cli_clean.py
  src/amplihack/recipe_cli/recipe_command.py
  src/amplihack/recipes/rust_runner.py
  tests/memory/test_cli_clean.py
  tests/unit/cli/test_memory_commands.py
  tests/unit/cli/test_recipe_command.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: refresh memory journey atlas
  docs/atlas/user-journeys/README.md
  docs/atlas/user-journeys/index.md
  docs/atlas/user-journeys/journey-memory-store-mermaid.svg
  docs/atlas/user-journeys/journey-memory-store.mmd
  docs/atlas/user-journeys/user-journeys-overview-dot.svg
  docs/atlas/user-journeys/user-journeys-overview.dot
  docs/atlas/user-journeys/user-journeys.mmd
Due: none

fix: honor pre-compact session ids
  .claude/tools/amplihack/hooks/pre_compact.py
  src/amplihack/recipes/rust_runner.py
  tests/test_pre_compact_hook.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: broken SVG reference and add health/glossary to nav
  docs/atlas/user-journeys/index.md
  mkdocs.yml
  uv.lock
Due: none
