Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: recipe runner uses temp dir isolation for nested agent steps (#2758)
  amplifier-bundle/recipes/_recipe_manifest.json
  src/amplihack/recipes/adapters/__init__.py
  src/amplihack/recipes/adapters/nested_session.py
  tests/recipes/test_nested_session_adapter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: complete Azure eval — fix eval script, run eval, write eval docs (#2760)
  docs/hive_mind/EVAL.md
  experiments/hive_mind/deploy_azure_hive.sh
  experiments/hive_mind/eval_results_azure.json
Due: none

feat: real hive mind eval using amplihack-agent-eval framework
  experiments/hive_mind/eval_results_hive.json
  experiments/hive_mind/run_hive_eval.py
Due: check-imports, check-dependencies

feat(fleet): fix TUI VM list, add project mgmt + session creation
  amplifier-bundle/recipes/_recipe_manifest.json
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker.py
  src/amplihack/fleet/fleet_tui.py
  src/amplihack/fleet/fleet_tui_dashboard.py
  src/amplihack/launcher/agent_memory.py
  src/amplihack/recipes/models.py
  tests/unit/recipes/test_recipe_result_subscript.py
  tests/workflows/conftest.py
  tests/workflows/test_e2e_acceptance_criteria.py
  uv.lock
  verify_progressive_tests.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: long-horizon eval — single vs flat-20 vs federated-100
  experiments/hive_mind/eval_results_long_horizon.json
  experiments/hive_mind/run_long_horizon_eval.py
Due: check-imports, check-dependencies

fix: recipe runner uses project dir with --subprocess-safe instead of bare temp dir
  src/amplihack/recipes/adapters/cli_subprocess.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: agent_runner publishes facts to Service Bus for distributed sharing
  experiments/hive_mind/deploy_azure_hive.sh
Due: none

feat: Azure distributed long-horizon eval — 92.6% with Service Bus
  experiments/hive_mind/eval_results_azure_long_horizon.json
  experiments/hive_mind/run_azure_long_horizon_eval.py
Due: check-imports, check-dependencies

fix: fleet TUI uses correct resource group from azlin config
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: complete eval matrix — local + Azure, single + flat
  experiments/hive_mind/eval_results_azure_long_horizon.json
  experiments/hive_mind/run_azure_long_horizon_eval.py
Due: check-imports, check-dependencies

feat: federated Azure mode — group-based fact propagation
  experiments/hive_mind/deploy_azure_hive.sh
  experiments/hive_mind/run_azure_long_horizon_eval.py
Due: check-imports, check-dependencies

fix: TUI navigation — priority keybindings + number keys for tabs
  src/amplihack/fleet/fleet_tui_dashboard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

tear down: delete keyword-matching toy eval scripts
  experiments/hive_mind/eval_results_azure.json
  experiments/hive_mind/eval_results_azure_long_horizon.json
  experiments/hive_mind/eval_results_hive.json
  experiments/hive_mind/eval_results_long_horizon.json
  experiments/hive_mind/run_azure_long_horizon_eval.py
  experiments/hive_mind/run_hive_eval.py
  experiments/hive_mind/run_long_horizon_eval.py
Due: check-imports, check-dependencies

fix: remove unused FederatedGraphStore import
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

perf: use az vm list (6s) instead of azlin Python API (5min) for VM discovery
  src/amplihack/fleet/fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

perf: two-phase TUI refresh — show VMs in 6s, sessions update later
  src/amplihack/fleet/fleet_tui_dashboard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: TUI quick-phase refresh had wrong argument order — VMs never showed
  src/amplihack/fleet/fleet_tui_dashboard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: make agent-framework a regular dependency instead of runtime auto-install
  pyproject.toml
  src/amplihack/cli.py
  src/amplihack/dep_check.py
  tests/test_dep_check.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: target running interpreter in ensure_sdk_deps() for uvx compatibility
  pyproject.toml
  src/amplihack/cli.py
  src/amplihack/dep_check.py
  tests/test_dep_check.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: ensure /dev reliably invokes dev-orchestrator recipe runner
  .claude/commands/amplihack/dev.md
  .claude/settings.json
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation, check-dependencies, amplihack-sync-commands

test: add 106 tests for fleet_admiral + fleet_tui (previously untested)
  src/amplihack/fleet/tests/test_fleet_admiral.py
  src/amplihack/fleet/tests/test_fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages

test: add 41 CLI tests for fleet_cli.py — all commands covered
  src/amplihack/fleet/tests/test_fleet_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages

fix: make /dev a thin alias to dev-orchestrator skill
  .claude/commands/amplihack/dev.md
Due: amplihack-sync-commands

fix: fleet quality audit and security hardening (8 findings)
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/fleet/fleet_logs.py
  src/amplihack/fleet/fleet_session_reasoner.py
  src/amplihack/fleet/fleet_tui_dashboard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: make agent-framework a regular dependency instead of runtime auto-install (#2771)
  pyproject.toml
  src/amplihack/cli.py
  src/amplihack/dep_check.py
  tests/test_dep_check.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: simplify /dev command to minimal alias (10 lines)
  .claude/commands/amplihack/dev.md
Due: amplihack-sync-commands

fix: ensure /dev reliably invokes dev-orchestrator (#2774)
  .claude/commands/amplihack/dev.md
  .claude/settings.json
  .claude/tools/amplihack/hooks/workflow_classification_reminder.py
  pyproject.toml
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation, check-dependencies, amplihack-sync-commands

feat: LearningAgent-based hive eval + CognitiveAdapter auto-promotion (#2794)
  docs/hive_mind/DESIGN.md
  docs/hive_mind/EVAL.md
  docs/hive_mind/TUTORIAL.md
  experiments/hive_mind/agent_runner.py
  experiments/hive_mind/run_learning_agent_hive_eval.py
  src/amplihack/agents/goal_seeking/cognitive_adapter.py
  tests/hive_mind/test_cognitive_adapter_hive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
