Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

fix: Complete timeout format migration - update source code and all docs
  .claude/context/DISCOVERIES.md
  Specs/DOCUMENTATION_UPDATES.md
  Specs/HOOK_REGISTRATION_AUDIT.md
  Specs/xpia_hook_integration.md
  src/amplihack/__init__.py
  src/amplihack/settings.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct hook timeout format and increase Stop timeout to 2 minutes (#2158) (#2175)
  .claude/context/DISCOVERIES.md
  .claude/settings.json
  .claude/tools/amplihack/hooks/hooks.json
  Specs/DOCUMENTATION_UPDATES.md
  Specs/HOOK_REGISTRATION_AUDIT.md
  Specs/xpia_hook_integration.md
  docs/HOOK_CONFIGURATION_GUIDE.md
  src/amplihack/__init__.py
  src/amplihack/settings.py
  src/amplihack/utils/uvx_settings_template.json
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

fix: Recipe condition syntax and tool dependencies
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: Use 'amplifier update' instead of 'uv tool upgrade' for consistency
  src/amplihack/launcher/amplifier.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add automatic cleanup of duplicate skill directories
  src/amplihack/cli.py
  src/amplihack/known_skills.py
  src/amplihack/staging_cleanup.py
  src/amplihack/staging_safety.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Complete recipe audit - fix all str() conditions and analyzer dependencies
  amplifier-bundle/recipes/auto-workflow.yaml
  amplifier-bundle/recipes/cascade-workflow.yaml
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/debate-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/n-version-workflow.yaml
Due: none

fix: Remove 'is defined' syntax from auto-workflow conditions
  amplifier-bundle/recipes/auto-workflow.yaml
Due: none

docs: Update [PLANNED] to [IMPLEMENTED] for file locking feature
  .claude/tools/amplihack/hooks/power_steering_state.py
Due: check-dependencies

feat: Add comprehensive unit tests for staging cleanup safety
  src/amplihack/staging_cleanup.py
  tests/test_known_skills.py
  tests/test_staging_cleanup.py
  tests/test_staging_safety.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct TOCTOU fix to use non-destructive touch() verification
  .claude/tools/amplihack/hooks/stop.py
  amplifier-bundle/tools/amplihack/hooks/stop.py
  docs/claude/tools/amplihack/hooks/stop.py
  src/amplihack/.claude/tools/amplihack/hooks/stop.py
  src/amplihack/amplifier-bundle/tools/amplihack/hooks/stop.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address philosophy-guardian critical issues
  src/amplihack/memory/backends/kuzu_backend.py
  tests/memory/backends/test_kuzu_schema_redesign.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

fix: Inject AMPLIHACK.md framework instructions when CLAUDE.md differs (#2149)
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  CLAUDE.md
  docs/concepts/framework-injection-architecture.md
  docs/howto/verify-framework-injection.md
  docs/index.md
  docs/reference/user-prompt-submit-hook-api.md
  tests/hooks/test_amplihack_injection.py
Due: check-dependencies

Restore Blarify ON by default (revert PR #2120) (#2176)
  docs/blarify_integration.md
  docs/blarify_quickstart.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix false 'deprecated' warnings for duplicate skills (#2181)
  src/amplihack/cli.py
  src/amplihack/known_skills.py
  src/amplihack/staging_cleanup.py
  src/amplihack/staging_safety.py
  tests/test_known_skills.py
  tests/test_staging_cleanup.py
  tests/test_staging_safety.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add shadow bundle for isolated testing support
  amplifier-bundle/bundle.md
Due: none

fix: Eliminate TOCTOU vulnerabilities in stop.py lock checks
  .claude/tools/amplihack/hooks/stop.py
  docs/blarify_integration.md
  docs/blarify_quickstart.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove {{template}} markers from all recipe conditions
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/n-version-workflow.yaml
  amplifier-bundle/recipes/qa-workflow.yaml
Due: none

feat: Add session_id field to Kuzu memory schema for session isolation (#2160)
  src/amplihack/memory/backends/kuzu_backend.py
  tests/memory/backends/test_kuzu_session_isolation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-dependencies

feat: Convert memory backends to async/await (#2156)
  src/amplihack/memory/backends/__init__.py
  src/amplihack/memory/backends/base.py
  src/amplihack/memory/backends/kuzu_backend.py
  src/amplihack/memory/backends/sqlite_backend.py
  src/amplihack/memory/coordinator.py
  tests/memory/test_backends.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add Recipe Condition Syntax Pattern to PATTERNS.md
  .claude/context/PATTERNS.md
Due: none

Fix hook timeout hierarchy conflict (issue #2154)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-dependencies

Fix hook timeout hierarchy conflict (issue #2154) (#2164)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-dependencies

fix: Add missing await statements and fix async/await issues in memory system
  src/amplihack/memory/backends/sqlite_backend.py
  src/amplihack/memory/cli_cleanup.py
  src/amplihack/memory/cli_visualize.py
  src/amplihack/memory/evaluation/performance_evaluator.py
  src/amplihack/memory/evaluation/reliability_evaluator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Ruff auto-fixes for file_lock_utils
  .claude/tools/amplihack/hooks/file_lock_utils.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_file_locking.py
  uv.lock
Due: check-dependencies

Turn off blarify indexing by default (opt-in)
  src/amplihack/launcher/core.py
  tests/unit/launcher/test_blarify_prompt.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Turn off blarify indexing by default (opt-in) (#2187)
  src/amplihack/launcher/core.py
  tests/unit/launcher/test_blarify_prompt.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Ensure all 25 file locking tests pass reliably
  .claude/tools/amplihack/hooks/power_steering_state.py
Due: check-dependencies

fix: All 53 Kuzu tests passing (100%)
  tests/memory/backends/test_kuzu_code_schema.py
  uv.lock
Due: none

fix: Eliminate TOCTOU vulnerabilities in stop.py lock checks (#2183)
  .claude/tools/amplihack/hooks/stop.py
  docs/blarify_integration.md
  docs/blarify_quickstart.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
