Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

amplihack-sync-commands:
  name: Auto-sync Copilot CLI commands
  entry: .claude/tools/amplihack/hooks/pre_commit_sync.py
  language: python
  pass_filenames: false
  always_run: false

docs: remove stale litellm references (supply chain attack cleanup)
  docs/fleet-orchestration/ADMIRAL_REASONING.md
Due: none

test: remove stale litellm docstring
  tests/tracing/test_integration.py
Due: none

docs: remove stale litellm from atlas artifacts
  docs/atlas/layer7_service_components.json
Due: none

docs: remove stale litellm from atlas artifacts
  docs/atlas/runtime-topology/runtime-topology-dot.svg
Due: none

docs: remove stale litellm from atlas artifacts
  docs/atlas/compile-deps/compile-deps-dot.svg
Due: none

docs: remove remaining litellm ref from layer7 JSON
  docs/atlas/layer7_service_components.json
Due: none

fix: rewrite test_integration.py to match actual API (was broken TDD spec)
  tests/tracing/test_integration.py
Due: none

chore: mark ast-lsp-bindings layer as rebuilt for staleness gate
  docs/atlas/ast-lsp-bindings/index.md
Due: none

fix: remove silent fallback patterns from startup dependency checks (#3539)
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
  src/amplihack/cli.py
  src/amplihack/dep_check.py
  src/amplihack/power_steering/re_enable_prompt.py
  src/amplihack/session.py
  src/amplihack/worktree/__init__.py
  src/amplihack/worktree/git_utils.py
  tests/test_dep_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add outside-in smoke test for startup warning fix (#3539)
  src/amplihack/dep_check.py
  tests/gadugi/startup-no-silent-fallbacks.yaml
  tests/gadugi/startup_no_silent_fallbacks_smoke.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove silent fallback patterns from startup deps (#3539) (#3552)
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
  src/amplihack/cli.py
  src/amplihack/dep_check.py
  src/amplihack/power_steering/re_enable_prompt.py
  src/amplihack/session.py
  src/amplihack/worktree/__init__.py
  src/amplihack/worktree/git_utils.py
  tests/gadugi/startup-no-silent-fallbacks.yaml
  tests/gadugi/startup_no_silent_fallbacks_smoke.py
  tests/test_dep_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add supply-chain-audit CLI tool
  src/amplihack/cli.py
  src/amplihack/tools/__init__.py
  src/amplihack/tools/supply_chain_audit/__init__.py
  src/amplihack/tools/supply_chain_audit/advisories.py
  src/amplihack/tools/supply_chain_audit/analyzer.py
  src/amplihack/tools/supply_chain_audit/cli.py
  src/amplihack/tools/supply_chain_audit/github_client.py
  src/amplihack/tools/supply_chain_audit/models.py
  src/amplihack/tools/supply_chain_audit/report.py
  src/amplihack/tools/supply_chain_audit/tests/__init__.py
  src/amplihack/tools/supply_chain_audit/tests/test_advisories.py
  src/amplihack/tools/supply_chain_audit/tests/test_analyzer.py
  src/amplihack/tools/supply_chain_audit/tests/test_cli.py
  src/amplihack/tools/supply_chain_audit/tests/test_github_client.py
  src/amplihack/tools/supply_chain_audit/tests/test_models.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: update qa-team skill with correct gadugi-agentic-test install instructions
  .claude/skills/qa-team/SKILL.md
Due: none

fix: handle subprocess.TimeoutExpired during plugin install gracefully
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add gadugi scenario and smoke test for plugin install timeout
  tests/gadugi/plugin-install-timeout-handling.yaml
  tests/gadugi/plugin_install_timeout_smoke.py
Due: none

fix: correct indentation of installed_plugin_path inside else block
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add Crusty Old Engineer (COE) advisor skill (#3564)
  .claude/skills/crusty-old-engineer/SKILL.md
Due: none

feat: add Crusty Old Engineer (COE) advisor skill (#3564) (#3565)
  .claude/skills/crusty-old-engineer/SKILL.md
Due: none

fix(recipe): correct skill recipe references and add bare name resolution
  .claude/skills/quality-audit/SKILL.md
  amplifier-bundle/skills/quality-audit/SKILL.md
  docs/claude/skills/quality-audit/SKILL.md
  docs/index.md
  src/amplihack/recipe_cli/loader.py
  tests/test_skill_recipe_references.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: correct stale recipe CLI references in quality-audit skill (#3568)
  .claude/skills/quality-audit/SKILL.md
  amplifier-bundle/skills/quality-audit/SKILL.md
  docs/claude/skills/quality-audit/SKILL.md
Due: none

fix: correct workstream_count routing and scope condition evaluation (#3570)
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/test_smart_orchestrator_decomposition.py
Due: none

fix: correct workstream_count routing and scope condition evaluation (#3570) (#3579)
  amplifier-bundle/recipes/investigation-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/test_smart_orchestrator_decomposition.py
Due: none

docs: fix pip install recommendation to use uvx in AUTO_MODE.md
  docs/AUTO_MODE.md
Due: none

fix(BL-003): bootstrap detection with git ls-remote for step-04
  amplifier-bundle/recipes/consensus-workflow.yaml
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/
