Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

test(gadugi): add PR #3858 liveness scenario
  tests/gadugi/pr-3858-parallel-liveness-regression.yaml
Due: none

fix(recipes): recurse quality audit cycles
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  tests/outside_in/test_quality_audit_fix_all.py
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

test(recipes): cover quality audit recursion
  tests/recipes/test_quality_audit_cycle_recursion.py
Due: none

chore(recipes): normalize rust runner imports
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add missing class constants and fix test patching asyncio.sleep
  src/amplihack/agents/goal_seeking/retrieval_strategies.py
  src/amplihack/agents/goal_seeking/temporal_reasoning.py
  tests/agents/goal_seeking/test_learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: split tests into per-module files and update architecture docs
  docs/concepts/learning-agent-module-architecture.md
  tests/agents/goal_seeking/test_learning_agent.py
  tests/agents/goal_seeking/test_retrieval_strategies.py
  tests/agents/goal_seeking/test_temporal_reasoning.py
Due: none

test(recipes): cover recursive final-report fallback
  tests/recipes/test_quality_audit_cycle_recursion.py
Due: none

fix: quality-audit-cycle recurse-next-cycle YAML parse error (#3892)
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

docs(atlas): refresh ast-lsp-bindings timestamp for CI staleness gate
  docs/atlas/ast-lsp-bindings/index.md
Due: none

fix: add missing agents blocks to gadugi-test scenario files
  .claude/tests/agentic/guide-agent-basic-test.yaml
  .claude/tests/agentic/guide-agent/scenarios/01-alex-what-is-amplihack.yaml
  .claude/tests/agentic/guide-agent/scenarios/02-alex-first-command.yaml
  .claude/tests/agentic/guide-agent/scenarios/03-jordan-cli-vs-prompt.yaml
  .claude/tests/agentic/guide-agent/scenarios/04-jordan-workflow-selection.yaml
  .claude/tests/agentic/guide-agent/scenarios/05-riley-value-prop.yaml
  .claude/tests/agentic/guide-agent/scenarios/06-riley-prompt-engineering.yaml
  .claude/tests/agentic/guide-agent/scenarios/07-sam-quality-concerns.yaml
  .claude/tests/agentic/guide-agent/scenarios/08-sam-review-strategy.yaml
  .claude/tests/agentic/guide-agent/scenarios/09-taylor-safety-concerns.yaml
  .claude/tests/agentic/guide-agent/scenarios/10-taylor-feasibility.yaml
  .claude/tests/agentic/plugin-discovery-tui-test.yaml
  .claude/tests/agentic/power-steering-exit-hang-fix.yaml
  .claude/tests/agentic/quality-audit-cycle-recursion-fix.yaml
Due: none

fix: use params.command format for gadugi-test scenario steps
  .claude/tests/agentic/quality-audit-cycle-recursion-fix.yaml
Due: none

fix: resilient repo detection for non-git-root directories (#3915)
  .claude/skills/multitask/orchestrator.py
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: recipe/workflow reliability bugs (#3878, #3879, #3882, #3892)
  .claude/tests/agentic/guide-agent-basic-test.yaml
  .claude/tests/agentic/guide-agent/scenarios/01-alex-what-is-amplihack.yaml
  .claude/tests/agentic/guide-agent/scenarios/02-alex-first-command.yaml
  .claude/tests/agentic/guide-agent/scenarios/03-jordan-cli-vs-prompt.yaml
  .claude/tests/agentic/guide-agent/scenarios/04-jordan-workflow-selection.yaml
  .claude/tests/agentic/guide-agent/scenarios/05-riley-value-prop.yaml
  .claude/tests/agentic/guide-agent/scenarios/06-riley-prompt-engineering.yaml
  .claude/tests/agentic/guide-agent/scenarios/07-sam-quality-concerns.yaml
  .claude/tests/agentic/guide-agent/scenarios/08-sam-review-strategy.yaml
  .claude/tests/agentic/guide-agent/scenarios/09-taylor-safety-concerns.yaml
  .claude/tests/agentic/guide-agent/scenarios/10-taylor-feasibility.yaml
  .claude/tests/agentic/plugin-discovery-tui-test.yaml
  .claude/tests/agentic/power-steering-exit-hang-fix.yaml
  .claude/tests/agentic/quality-audit-cycle-recursion-fix.yaml
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  docs/atlas/ast-lsp-bindings/index.md
  tests/unit/recipes/test_quality_audit_cycle_issue3638.py
Due: none

test: add QA scenario for smart-orchestrator non-repo-root resilience
  .claude/tests/agentic/smart-orchestrator-non-repo-root.yaml
Due: none

fix: critical bug in _evaluate_answer_completeness + add 67 mixin tests
  src/amplihack/agents/goal_seeking/answer_synthesizer.py
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/prompt_utils.py
  tests/agents/goal_seeking/test_answer_synthesizer.py
  tests/agents/goal_seeking/test_intent_detector.py
  tests/agents/goal_seeking/test_knowledge_utils.py
  tests/agents/goal_seeking/test_learning_ingestion.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: smart-orchestrator resilience for non-repo-root directories (#3915)
  .claude/skills/multitask/orchestrator.py
  .claude/tests/agentic/smart-orchestrator-non-repo-root.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  docs/atlas/ast-lsp-bindings/index.md
  src/amplihack/launcher/copilot.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(rust-trial): update README install docs and add rust_trial test suite
  README.md
  src/amplihack/rust_trial.py
  tests/test_rust_trial.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: surface hollow-success failures instead of swallowing them (#3480)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

docs(atlas): refresh ast-lsp-bindings for rust_trial
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings-dot.svg
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/index.md
Due: none

test: add gadugi outside-in scenarios for both PRs
  tests/gadugi/hollow-success-failure-surfacing.yaml
  tests/gadugi/supply-chain-audit-skill.yaml
Due: none

fix: address quality audit findings for PR #3484
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

fix: quality audit cycle 2 fixes for PR #3484
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

fix: split rebase && push to separate statements for set -e (C3-001)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

docs(rust-trial): ship install/bootstrap follow-up (#3549)
  README.md
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings-dot.svg
  docs/atlas/ast-lsp-bindings/ast-lsp-bindings.dot
  docs/atlas/ast-lsp-bindings/index.md
  src/amplihack/rust_trial.py
  tests/test_rust_trial.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: surface hollow-success failures instead of swallowing them (#3480) (#3484)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
  tests/gadugi/hollow-success-failure-surfacing.yaml
  tests/gadugi/supply-chain-audit-skill.yaml
Due: check-imports, check-dependencies

fix(startup): remove stderr warnings that violate no-silent-fallback philosophy
  .pre-commit-config.yaml
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
  src/amplihack/cli.py
  src/amplihack/dep_check.py
  src/amplihack/power_steering/re_enable_prompt.py
  src/amplihack/session.py
  src/amplihack/worktree/__init__.py
  src/amplihack/worktree/git_utils.py
  tests/gadugi/issue-3539-dep-check-quiet-and-worktree-import.yaml
  tests/gadugi/issue-3539-no-startup-stderr-warnings.yaml
  tests/gadugi/test_issue_3539_startup_warnings.py
  tests/test_dep_check.py
  tests/test_worktree_git_utils.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(startup): remove stderr warnings that violate no-silent-fallback philosophy (#3542)
  .pre-commit-config.yaml
  src/amplihack/agents/goal_seeking/sdk_adapters/microsoft_sdk.py
  src/amplihack/cli.py
  src/amplihack/dep_check.py
  src/amplihack/power_steering/re_enable_prompt.py
  src/amplihack/session.py
  src/amplihack/worktree/__init__.py
  src/amplihack/worktree/git_utils.py
  tests/gadugi/issue-3539-dep-check-quiet-and-worktree-import.yaml
  tests/gadugi/issue-3539-no-startup-stderr-warnings.yaml
  tests/gadugi/test_issue_3539_startup_warnings.py
  tests/test_dep_check.py
  tests/test_worktree_git_utils.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: sync qa-team SKILL.md to amplifier-bundle and docs to resolve drift check
  amplifier-bundle/skills/qa-team/SKILL.md
  docs/claude/skills/qa-team/SKILL.md
Due: none

fix: sync qa-team SKILL.md to amplifier-bundle and docs to fix drift check
  .claude/skills/qa-team/SKILL.md
Due: none

feat: Add Crusty Old Engineer (COE) Advisor skill (#3564)
  .claude/skills/crusty-old-engineer/SKILL.md
  .claude/skills/crusty-old-engineer/tests/test_crusty_old_engineer.sh
  docs/howto/use-crusty-old-engineer.md
  docs/index.md
  docs/skills/SKILL_CATALOG.md
Due: none

chore: sync crusty-old-engineer skill to amplifier-bundle and docs
  amplifier-bundle/skills/crusty-old-engineer/SKILL.md
  amplifier-bundle/skills/crusty-old-engineer/tests/test_crusty_old_engineer.sh
  docs/claude/skills/crusty-old-engineer/SKILL.md
  docs/claude/skills/crusty-old-engineer/tests/test_crusty_old_engineer.sh
Due: none

feat: Add Crusty Old Engineer (COE) Advisor skill (#3567)
  .claude/skills/crusty-old-engineer/tests/test_crusty_old_engineer.sh
  amplifier-bundle/skills/crusty-old-engineer/SKILL.md
  amplifier-bundle/skills/crusty-old-engineer/tests/test_crusty_old_engineer.sh
  docs/claude/skills/crusty-old-engineer/SKILL.md
  docs/claude/skills/crusty-old-engineer/tests/test_crusty_old_engineer.sh
  docs/howto/use-crusty-old-engineer.md
  docs/index.md
  docs/skills/SKILL_CATALOG.md
Due: none

fix: correct gadugi-agentic-test installation instructions in qa-team skill (#3561)
  .claude/skills/qa-team/SKILL.md
  amplifier-bundle/skills/qa-team/SKILL.md
  docs/claude/skills/qa-team/SKILL.md
Due: none

fix(hooks): harden progress signal trust
  .claude/tools/amplihack/hooks/dev_intent_router.py
  .claude/tools/amplihack/hooks/tests/test_dev_intent_router.py
  tests/recipes/test_rust_runner.py
Due: check-dependencies

fix(fleet): harden auth bundle handling
  src/amplihack/fleet/_auth_bundle.py
  src/amplihack/fleet/fleet_auth.py
  src/amplihack/fleet/tests/test_fleet_auth.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(fleet): surface bundled extract failures
  src/amplihack/fleet/_auth_bundle.py
  src/amplihack/fleet/tests/test_fleet_auth.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(hooks): align router prompt assertions
  .claude/tools/amplihack/hooks/tests/test_dev_intent_router.py
Due: none
