Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: quality audit round 4 — experiment hardcoded paths and pre-commit exclusion
  .pre-commit-config.yaml
  experiments/hive_mind/run_20agent_eval.py
  experiments/hive_mind/run_20agent_kuzu_eval.py
  experiments/hive_mind/run_distributed_eval.py
  experiments/hive_mind/run_event_sourced_eval.py
  experiments/hive_mind/run_kuzu_hive_eval.py
Due: check-imports, check-dependencies

fix: TUI crash on "(none)" session name + capture timeout
  src/amplihack/fleet/_constants.py
  src/amplihack/fleet/_tui_parsers.py
  src/amplihack/fleet/_tui_workers.py
  src/amplihack/fleet/fleet_adopt.py
  src/amplihack/fleet/fleet_observer.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_fleet_observer.py
  src/amplihack/fleet/tests/test_fleet_tui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: remove outdated amplihack-memory-lib local copy (use pip package instead)
  amplihack-memory-lib/.gitignore
  amplihack-memory-lib/KNOWN_ISSUES.md
  amplihack-memory-lib/README.md
  amplihack-memory-lib/examples/basic_usage.py
  amplihack-memory-lib/examples/secure_memory_usage.py
  amplihack-memory-lib/pyproject.toml
  amplihack-memory-lib/setup.py
  amplihack-memory-lib/src/amplihack_memory/__init__.py
  amplihack-memory-lib/src/amplihack_memory/cognitive_memory.py
  amplihack-memory-lib/src/amplihack_memory/connector.py
  amplihack-memory-lib/src/amplihack_memory/exceptions.py
  amplihack-memory-lib/src/amplihack_memory/experience.py
  amplihack-memory-lib/src/amplihack_memory/memory_types.py
  amplihack-memory-lib/src/amplihack_memory/pattern_recognition.py
  amplihack-memory-lib/src/amplihack_memory/security.py
  amplihack-memory-lib/src/amplihack_memory/semantic_search.py
  amplihack-memory-lib/src/amplihack_memory/store.py
  amplihack-memory-lib/tests/README.md
  amplihack-memory-lib/tests/conftest.py
  amplihack-memory-lib/tests/test_cognitive_memory.py
  amplihack-memory-lib/tests/test_experience_model.py
  amplihack-memory-lib/tests/test_experience_store.py
  amplihack-memory-lib/tests/test_memory_connector.py
  amplihack-memory-lib/tests/test_pattern_recognition.py
  amplihack-memory-lib/tests/test_security.py
  amplihack-memory-lib/tests/test_semantic_search.py
Due: check-imports, check-dependencies

feat: TUI UX — letter hotkeys, arrow nav, contextual Escape, no palette
  src/amplihack/fleet/_tui_actions.py
  src/amplihack/fleet/fleet_tui_dashboard.py
  src/amplihack/fleet/tests/test_fleet_tui_dashboard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove hardcoded 'Microsoft Hackathon 2025' from session context (#2848)
  .claude/tools/amplihack/hooks/session_start.py
  amplifier-bundle/tools/amplihack/hooks/session_start.py
  docs/claude/tools/amplihack/hooks/session_start.py
  pyproject.toml
Due: check-imports, check-dependencies

chore: add drift detection for triplicated skill/agent files (#2847)
  .github/workflows/drift-detection.yml
  scripts/check_drift.py
Due: check-imports, check-dependencies

fix: TUI bindings need priority=True, fail loud on missing azlin
  src/amplihack/fleet/fleet_tui_dashboard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: TUI keyboard navigation — stop DataTable from stealing hotkeys
  src/amplihack/fleet/_tui_actions.py
  src/amplihack/fleet/_tui_refresh.py
  src/amplihack/fleet/fleet_tui_dashboard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add __str__ to RecipeResult/StepResult and wrap slicing with str()
  src/amplihack/launcher/agent_memory.py
  src/amplihack/recipes/models.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add continue-on-error to agentic workflow discussion creation steps
  .github/workflows/daily-code-metrics.lock.yml
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/repo-guardian.lock.yml
  .github/workflows/weekly-issue-summary.lock.yml
Due: none

fix: add pre-flight check for claude CLI binary in AutoMode
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: add unit tests for RecipeResult/StepResult __str__ methods (issue #2765)
  tests/unit/recipes/test_models.py
Due: none

fix: add __str__ to RecipeResult/StepResult and wrap slicing with str() (#2852)
  pyproject.toml
  src/amplihack/launcher/agent_memory.py
  src/amplihack/recipes/models.py
  tests/unit/recipes/test_models.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: agent resolver now handles 3-part refs (namespace:category:name)
  src/amplihack/recipes/agent_resolver.py
  tests/unit/recipes/test_agent_resolver.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: agent resolver now handles 3-part refs (namespace:category:name) (#2856)
  src/amplihack/recipes/agent_resolver.py
  tests/unit/recipes/test_agent_resolver.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(drift): only fail on CHANGED files, treat MISSING/EXTRA as warnings
  amplifier-bundle/skills/azure-admin/SKILL.md
  amplifier-bundle/skills/claude-agent-sdk/SKILL.md
  amplifier-bundle/skills/claude-agent-sdk/reference.md
  amplifier-bundle/skills/claude-agent-sdk/scripts/check_drift.py
  amplifier-bundle/skills/outside-in-testing/README.md
  amplifier-bundle/skills/outside-in-testing/SKILL.md
  amplifier-bundle/skills/quality-audit/examples.md
  amplifier-bundle/skills/quality-audit/reference.md
  amplifier-bundle/skills/skill-builder/examples.md
  amplifier-bundle/skills/skill-builder/reference.md
  amplifier-bundle/skills/ultrathink-orchestrator/SKILL.md
  docs/claude/skills/azure-admin/SKILL.md
  docs/claude/skills/cascade-workflow/SKILL.md
  docs/claude/skills/claude-agent-sdk/reference.md
  docs/claude/skills/claude-agent-sdk/scripts/check_drift.py
  docs/claude/skills/collaboration/creating-pull-requests/SKILL.md
  docs/claude/skills/debate-workflow/SKILL.md
  docs/claude/skills/default-workflow/SKILL.md
  docs/claude/skills/development/architecting-solutions/SKILL.md
  docs/claude/skills/development/setting-up-projects/SKILL.md
  docs/claude/skills/goal-seeking-agent-pattern/SKILL.md
  docs/claude/skills/investigation-workflow/SKILL.md
  docs/claude/skills/knowledge-extractor/SKILL.md
  docs/claude/skills/meta-cognitive/analyzing-deeply/SKILL.md
  docs/claude/skills/microsoft-agent-framework/scripts/check-freshness.py
  docs/claude/skills/model-evaluation-benchmark/SKILL.md
  docs/claude/skills/n-version-workflow/SKILL.md
  docs/claude/skills/outside-in-testing/README.md
  docs/claude/skills/outside-in-testing/SKILL.md
  docs/claude/skills/philosophy-compliance-workflow/SKILL.md
  docs/claude/skills/pptx/scripts/inventory.py
  docs/claude/skills/quality-audit/examples.md
  docs/claude/skills/quality-audit/reference.md
  docs/claude/skills/quality/reviewing-code/SKILL.md
  docs/claude/skills/quality/testing-code/SKILL.md
  docs/claude/skills/research/researching-topics/SKILL.md
  docs/claude/skills/skill-builder/examples.md
  docs/claude/skills/skill-builder/reference.md
  docs/claude/skills/ultrathink-orchestrator/SKILL.md
  scripts/check_drift.py
Due: check-imports, check-dependencies

fix: add continue-on-error to agentic workflow discussion steps (#2853)
  .github/workflows/daily-code-metrics.lock.yml
  .github/workflows/issue-classifier.lock.yml
  .github/workflows/repo-guardian.lock.yml
  .github/workflows/weekly-issue-summary.lock.yml
Due: none

fix: add pre-flight check for claude CLI binary in AutoMode (#2854)
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: streamline Claude CLI installation in PREREQUISITES.md (#2719)
  docs/PREREQUISITES.md
Due: none

docs: add reading guide to README and fix broken #feature-catalog anchor
  README.md
  uv.lock
Due: none

docs: add missing CWD-relative paths to recipe discovery priority list
  docs/recipes/README.md
  docs/recipes/recipe-discovery-troubleshooting.md
Due: none

docs: add reading guide to README and fix broken anchor (#2858)
  README.md
  pyproject.toml
  uv.lock
Due: none

feat: persist NODE_OPTIONS memory config preference to ~/.amplihack/config
  src/amplihack/launcher/memory_config.py
  src/amplihack/launcher/tests/test_memory_config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: persist NODE_OPTIONS memory config preference to ~/.amplihack/config (#2860)
  pyproject.toml
  src/amplihack/launcher/memory_config.py
  src/amplihack/launcher/tests/test_memory_config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: quality-audit must fix ALL findings per cycle, add structured inputs (#2842, #2843)
  .claude/context/PROJECT.md
  .claude/skills/quality-audit/SKILL.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  tests/outside_in/test_quality_audit_fix_all.py
  uv.lock
Due: none

fix: quality-audit must fix ALL findings per cycle, add structured inputs (#2842, #2843) (#2861)
  .claude/context/PROJECT.md
  .claude/skills/quality-audit/SKILL.md
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  tests/outside_in/test_quality_audit_fix_all.py
Due: none

feat: add RECIPE step type for sub-recipe composition (issue #2821)
  docs/recipes/README.md
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/unit/recipes/test_recipe_step_type.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add RECIPE step type for sub-recipe composition (#2821) (#2862)
  docs/recipes/README.md
  pyproject.toml
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/runner.py
  tests/unit/recipes/test_recipe_step_type.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
