Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

feat: add GitHub Copilot SDK support to triage_pr.py
  .claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  .claude/skills/pm-architect/scripts/triage_pr.py
Due: check-dependencies

refactor: move signal import to module level in rust_runner.py
  src/amplihack/recipes/rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: correct issue number extraction and idempotent step-4 worktree setup
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

feat(recipes): add progress banners to classify-and-decompose and step-02-clarify-requirements
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/unit/recipes/test_recipe_progress_banners.py
Due: none

fix: patch triage_pr.query_agent not triage_pr.query in test mocks
  .claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  amplifier-bundle/skills/pm-architect/scripts/tests/test_triage_pr.py
  docs/claude/skills/pm-architect/scripts/tests/test_triage_pr.py
Due: none

fix: remediate memory eval audit drift
  deploy/azure_hive/tests/test_partition_routing.py
  docs/AGENT_MEMORY_QUICKSTART.md
  docs/EVAL_SYSTEM_ARCHITECTURE.md
  docs/atlas/api-contracts/inventory.md
  docs/atlas/compile-deps/README.md
  docs/concepts/memory-enabled-agents-architecture.md
  docs/evaluation-framework.md
  docs/howto/integrate-memory-into-agents.md
  docs/memory/MEMORY_TREE_VISUALIZATION.md
  docs/memory/README.md
  docs/memory/evaluation-summary.md
  docs/reference/memory-cli-reference.md
  docs/troubleshooting/memory-enabled-agents.md
  docs/tutorials/memory-enabled-agents-getting-started.md
  pyproject.toml
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/agents/goal_seeking/input_source.py
  src/amplihack/agents/goal_seeking/partition_routing.py
  src/amplihack/cli.py
  src/amplihack/eval/long_horizon_memory.py
  src/amplihack/eval/progressive_test_suite.py
  tests/agents/goal_seeking/test_hierarchical_memory.py
  tests/unit/cli/test_memory_commands.py
  tests/unit/deploy/test_remote_agent_adapter_wrapper.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add supply-chain-audit skill to README quality/security section
  README.md
  pyproject.toml
Due: none

test(azure-hive): harden partition routing mocks
  deploy/azure_hive/tests/test_partition_routing.py
Due: none

docs: add session summary for supply-chain-audit skill implementation
  docs/SESSION_SUMMARY.md
Due: none

docs(memory): remove ephemeral evaluation summary
  Specs/MCP_EVALUATION_SUMMARY.md
  docs/DISCOVERIES.md
  docs/contributing/file-organization.md
  docs/memory/README.md
  docs/memory/evaluation-summary.md
Due: none

feat: add startup banners, progress file tracking, and get_recipe_progress()
  .claude/tools/amplihack/hooks/dev_intent_router.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: refresh atlas layers for memory audit remediation
  docs/atlas/ast-lsp-bindings/README.md
  docs/atlas/user-journeys/README.md
Due: none

feat(pm-architect): port dual-SDK parity (#3416)
  amplifier-bundle/recipes/default-workflow.yaml
  pyproject.toml
Due: none

feat(eval): port distributed hive parity (#3418)
  docs/examples/evaluate_backends.py
  docs/memory/README.md
  scripts/test_validate_gh_pages_links.py
  src/amplihack/agents/goal_seeking/__init__.py
  src/amplihack/memory/backends/kuzu_backend.py
  src/amplihack/memory/evaluation/comparison.py
  tests/integration/memory/test_retrieval_flow.py
  tests/integration/memory/test_storage_flow.py
  tests/unit/memory/test_retrieval_pipeline.py
  tests/unit/memory/test_storage_pipeline.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(workflows): stop mutating PR branches for version bumps (#3425)
  .github/workflows/VERSION_WORKFLOWS.md
  .github/workflows/version-check.yml
  tests/agentic/version-check-advisory-nonmutating.yaml
Due: none

fix(security): replace eval() with simpleeval, add context key validation, support SKILL step type
  pyproject.toml
  src/amplihack/recipes/models.py
  src/amplihack/recipes/parser.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

build: refresh eval pin on current main base
  pyproject.toml
  uv.lock
Due: none

fix(security): address review feedback — B4/B6/M2/M3/S1 hardening
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remediate memory/eval post-merge audit drift (#3469)
  deploy/azure_hive/tests/test_partition_routing.py
  docs/AGENT_MEMORY_QUICKSTART.md
  docs/EVAL_SYSTEM_ARCHITECTURE.md
  docs/atlas/api-contracts/inventory.md
  docs/atlas/ast-lsp-bindings/README.md
  docs/atlas/compile-deps/README.md
  docs/atlas/user-journeys/README.md
  docs/concepts/memory-enabled-agents-architecture.md
  docs/evaluation-framework.md
  docs/howto/integrate-memory-into-agents.md
  docs/memory/MEMORY_TREE_VISUALIZATION.md
  docs/memory/README.md
  docs/memory/evaluation-summary.md
  docs/reference/memory-cli-reference.md
  docs/troubleshooting/memory-enabled-agents.md
  docs/tutorials/memory-enabled-agents-getting-started.md
  pyproject.toml
  src/amplihack/agents/goal_seeking/_hierarchical_memory_local.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/agents/goal_seeking/input_source.py
  src/amplihack/agents/goal_seeking/partition_routing.py
  src/amplihack/cli.py
  src/amplihack/eval/long_horizon_memory.py
  src/amplihack/eval/progressive_test_suite.py
  tests/agents/goal_seeking/test_hierarchical_memory.py
  tests/unit/cli/test_memory_commands.py
  tests/unit/deploy/test_remote_agent_adapter_wrapper.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(progress): harden progress streaming — keyword-only API, step marker regex, path resolution
  .claude/tools/amplihack/hooks/dev_intent_router.py
  src/amplihack/recipes/rust_runner.py
  tests/recipes/test_rust_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): report workflow step progress
  .claude/tools/amplihack/hooks/dev_intent_router.py
  .claude/tools/amplihack/hooks/tests/test_dev_intent_router.py
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  docs/atlas/ast-lsp-bindings/README.md
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_rust_runner_execution.py
  tests/unit/recipes/test_recipe_progress_banners.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(recipes): report workflow step progress (#3465)
  .claude/tools/amplihack/hooks/dev_intent_router.py
  .claude/tools/amplihack/hooks/tests/test_dev_intent_router.py
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  docs/atlas/ast-lsp-bindings/README.md
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/recipes/rust_runner_execution.py
  tests/recipes/test_rust_runner_execution.py
  tests/unit/recipes/test_recipe_progress_banners.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: surface hollow-success failures instead of swallowing them (#3480)
  .claude/context/PROJECT.md
  CLAUDE.md
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/tools/test_default_workflow_fixes.py
Due: check-imports, check-dependencies

fix(security): replace bare eval() with simpleeval in recipe condition evaluator (#3485)
  pyproject.toml
  src/amplihack/recipes/models.py
  tests/unit/recipes/test_models.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
