Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

refactor(azure): make agent_entrypoint use LearningAgent for learn/answer
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/eval_100_turns.py
  deploy/azure_hive/tests/test_agent_entrypoint.py
Due: check-imports, check-dependencies

feat: power-steering SDK abstraction — auto-select Claude or Copilot SDK (#2917)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_sdk.py
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_sdk.py
Due: check-imports, check-dependencies

fix(agent_entrypoint): use_hierarchical=False (Kuzu), add model param, share storage
  deploy/azure_hive/agent_entrypoint.py
Due: check-imports, check-dependencies

fix: correct Copilot SDK API usage — async methods, proper session lifecycle (#2917)
  .claude/tools/amplihack/hooks/power_steering_sdk.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_sdk.py
  uv.lock
Due: check-imports, check-dependencies

fix: surface Kuzu errors, unify GoalSeekingAgent code paths, fix test isolation
  src/amplihack/agents/goal_seeking/learning_agent.py
  src/amplihack/agents/goal_seeking/sdk_adapters/base.py
  tests/agents/goal_seeking/test_copilot_sdk_adapter.py
  tests/agents/goal_seeking/test_memory_export.py
  tests/agents/goal_seeking/test_microsoft_sdk_adapter.py
  tests/eval/conftest.py
  tests/eval/test_harness_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: fix tests broken by PR #2918 SDK abstraction + add Copilot routing unit tests
  .claude/tools/amplihack/hooks/power_steering_sdk.py
  .claude/tools/amplihack/hooks/tests/test_issue_1872_bug_fixes.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_sdk.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_shutdown.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_sdk.py
Due: check-imports, check-dependencies

feat(fleet): add project and objective tracking
  .claude/skills/fleet/SKILL.md
  docs/fleet-orchestration/TUTORIAL.md
  src/amplihack/fleet/__init__.py
  src/amplihack/fleet/_cli_commands.py
  src/amplihack/fleet/_cli_formatters.py
  src/amplihack/fleet/_cli_scout_advance.py
  src/amplihack/fleet/_projects.py
  src/amplihack/fleet/_session_context.py
  src/amplihack/fleet/_session_gather.py
  src/amplihack/fleet/tests/test_fleet_cli.py
  src/amplihack/fleet/tests/test_projects.py
  src/amplihack/fleet/tests/test_session_context.py
  src/amplihack/fleet/tests/test_session_gather.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(cli): re-export main from cli/__init__.py to fix shadowing of cli.py
  src/amplihack/cli/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(fleet): add _projects module to ARCHITECTURE.md
  amplifier-bundle/recipes/_recipe_manifest.json
  docs/fleet-orchestration/ARCHITECTURE.md
Due: none

feat: power-steering SDK abstraction — auto-select Claude or Copilot SDK (#2917) (#2918)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_sdk.py
  amplifier-bundle/tools/amplihack/hooks/claude_power_steering.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_sdk.py
  pyproject.toml
  uv.lock
Due: check-imports, check-dependencies

test: fix tests broken by PR #2918 SDK abstraction + add Copilot routing unit tests (#2920)
  .claude/tools/amplihack/hooks/power_steering_sdk.py
  .claude/tools/amplihack/hooks/tests/test_issue_1872_bug_fixes.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_sdk.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_shutdown.py
  amplifier-bundle/tools/amplihack/hooks/power_steering_sdk.py
Due: check-imports, check-dependencies

fix: add OPERATIONS session type for PM/planning sessions (#2914)
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker/session_detection.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/session_detection.py
Due: check-imports, check-dependencies

fix: add safety valve to stop hook lock mode to prevent infinite loops (#2874)
  .claude/tools/amplihack/hooks/stop.py
  amplifier-bundle/tools/amplihack/hooks/stop.py
  docs/claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

test: add OPERATIONS session type detection tests (#2914)
  .claude/tools/amplihack/hooks/tests/test_power_steering_operations_sessions.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_power_steering_operations_sessions.py
Due: none

test: add safety valve unit tests for stop hook lock mode (#2874)
  .claude/tools/amplihack/hooks/tests/test_stop_hook_safety_valve.py
  amplifier-bundle/tools/amplihack/hooks/tests/test_stop_hook_safety_valve.py
Due: none

test: add outside-in e2e tests for OPERATIONS session type (#2914)
  tests/outside_in/test_operations_session_e2e.py
Due: none

test: add outside-in e2e tests for stop hook safety valve (#2874)
  tests/outside_in/test_stop_hook_safety_valve_e2e.py
Due: none

fix(fleet): replace hand-rolled TOML serializer with tomli_w, add project name validation
  pyproject.toml
  src/amplihack/fleet/_projects.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(fleet): add project tracking to TUTORIAL, ARCHITECTURE, ADMIRAL_REASONING, SKILL
  .claude/skills/fleet/SKILL.md
  docs/fleet-orchestration/ADMIRAL_REASONING.md
  docs/fleet-orchestration/ARCHITECTURE.md
  docs/fleet-orchestration/TUTORIAL.md
Due: none

test(fleet): add TOML special characters roundtrip and validation tests
  src/amplihack/fleet/tests/test_projects.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages

fix(fleet): narrow exception catches, validate remote objective data
  src/amplihack/fleet/_cli_scout_advance.py
  src/amplihack/fleet/_session_gather.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor(fleet): move paths to _constants.py, remove unused import, extract duplication
  src/amplihack/fleet/_constants.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(fleet): validate repo_url before gh calls, add gh auth switch for identity
  src/amplihack/fleet/_cli_commands.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add skill_invocation power-steering check (extracted from #2916)
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  tests/outside_in/test_skill_invocation_check_e2e.py
Due: check-imports, check-dependencies

fix: enforce default-workflow for single-workstream tasks in smart-orchestrator
  amplifier-bundle/recipes/smart-orchestrator.yaml
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/unit/recipes/test_smart_orchestrator_workflow_bypass.py
Due: none

fix(bicep): use Premium Service Bus namespace name
  deploy/azure_hive/main.bicep
  eval_500_turns_report.json
Due: none

fix(fleet): lazy-import tomli_w to fix CI pre-commit import check
  src/amplihack/fleet/_projects.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: enforce default-workflow for single-workstream tasks (#2928)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  pyproject.toml
  src/amplihack/amplifier-bundle/recipes/smart-orchestrator.yaml
  tests/unit/recipes/test_smart_orchestrator_workflow_bypass.py
Due: none

feat: add skill_invocation power-steering check (from closed #2916) (#2926)
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  amplifier-bundle/tools/amplihack/considerations.yaml
  amplifier-bundle/tools/amplihack/hooks/power_steering_checker/checks_workflow.py
  tests/outside_in/test_skill_invocation_check_e2e.py
Due: check-imports, check-dependencies
