Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: LOCAL shard quality + diagnostic logging for needle_in_haystack
  deploy/azure_hive/agent_entrypoint.py
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
  src/amplihack/agents/goal_seeking/learning_agent.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(hive): scale to 100 agents — per-app consumer groups, dynamic resources, no timeout
  CLAUDE.md
  deploy/azure_hive/agent_entrypoint.py
  deploy/azure_hive/eval_distributed.py
  deploy/azure_hive/main.bicep
  deploy/azure_hive/remote_agent_adapter.py
  eval_500_turns_report.json
Due: check-imports, check-dependencies

fix(bicep): tiered container resources to prevent OOM at scale
  deploy/azure_hive/main.bicep
Due: none

fix: align Python version to 3.11+ per pyproject.toml
  README.md
Due: none

docs: improve README quickstart, prerequisites, and glossary (#2977, #2980, #2976)
  README.md
Due: none

fix: prevent launcher hangs in sandboxed environments (#3063)
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use atomic writes for all settings.json mutations (#3062)
  src/amplihack/launcher/core.py
  src/amplihack/session.py
  src/amplihack/uninstall.py
  src/amplihack/utils/hook_merge_utility.py
  src/amplihack/utils/uvx_settings_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: fail install cleanly when no valid hook files exist (#3061)
  src/amplihack/settings.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: improve README quickstart, prerequisites, and glossary (#2977, #2980, #2976)
  README.md
  pyproject.toml
Due: none

fix: atomic settings writes, valid hook paths, sandbox launcher (#3062, #3061, #3063)
  src/amplihack/launcher/core.py
  src/amplihack/session.py
  src/amplihack/settings.py
  src/amplihack/uninstall.py
  src/amplihack/utils/hook_merge_utility.py
  src/amplihack/utils/uvx_settings_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: quality-audit-cycle runs only 1 cycle due to unquoted JSON vars (#3046)
  amplifier-bundle/recipes/quality-audit-cycle.yaml
Due: none

fix: default-workflow step-04-setup-worktree not rerun-safe (#3023)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: preserve numeric types in evaluate_condition (QA finding)
  src/amplihack/recipes/models.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: smart-orchestrator user_context not propagated to conditions (#3075)
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/orch_helper.py
  src/amplihack/recipes/models.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: default-workflow extracts wrong issue number from gh output (#3022)
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: 4 workflow/recipe bugs — orchestrator context, audit cycles, rerun safety, issue extraction (#3075, #3046, #3023, #3022)
  amplifier-bundle/recipes/default-workflow.yaml
  amplifier-bundle/recipes/quality-audit-cycle.yaml
  amplifier-bundle/recipes/smart-orchestrator.yaml
  amplifier-bundle/tools/orch_helper.py
  src/amplihack/recipes/models.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(dht): fan out to ALL agents in distributed mode regardless of hive size
  src/amplihack/agents/goal_seeking/hive_mind/dht.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(transport): use explicit partition_id routing for cross-shard queries
  src/amplihack/agents/goal_seeking/hive_mind/distributed_hive_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add --version flag to CLI (#3081)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: complete resolution of pre-existing Python test failures (issue #3080)
  src/amplihack/recipes/models.py
  tests/unit/launcher/test_blarify_prompt.py
  tests/unit/test_append_handler.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
