Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

fix: address quality audit cycle 2 findings — 3 high, 5 medium fixes
  .claude/agents/amplihack/specialized/ci-diagnostic-workflow.md
  .claude/commands/amplihack/fix.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
Due: amplihack-sync-commands

feat: add mermaid workflow graphs to skills, agents, and CLAUDE.md
  .claude/agents/amplihack/specialized/ci-diagnostic-workflow.md
  .claude/commands/amplihack/fix.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/quality-audit/SKILL.md
  CLAUDE.md
Due: amplihack-sync-commands

feat(code-atlas): production atlas for amplihack repo — 46 files, 7 bugs found
  docs/atlas/api-contracts/layer3-routing/README.md
  docs/atlas/api-contracts/layer3-routing/inventory.md
  docs/atlas/api-contracts/layer3-routing/routes.dot
  docs/atlas/api-contracts/layer3-routing/routes.mmd
  docs/atlas/bug-reports/2026-03-17-pass1-dead-code-cli-extensions.md
  docs/atlas/bug-reports/2026-03-17-pass1-dead-filecmp.md
  docs/atlas/bug-reports/2026-03-17-pass1-double-cleanup.md
  docs/atlas/bug-reports/2026-03-17-pass1-dual-fastapi-app.md
  docs/atlas/bug-reports/2026-03-17-pass1-duplicate-ensure-staged.md
  docs/atlas/bug-reports/2026-03-17-pass1-duplicate-launch-command.md
  docs/atlas/bug-reports/2026-03-17-pass1-env-vars-not-in-env-example.md
  docs/atlas/bug-reports/2026-03-17-pass2-cross-check.md
  docs/atlas/bug-reports/2026-03-17-pass3-install-and-launch.md
  docs/atlas/bug-reports/2026-03-17-pass3-plugin-install.md
  docs/atlas/bug-reports/2026-03-17-pass3-proxy-api-call.md
  docs/atlas/bug-reports/2026-03-17-pass3-recipe-execution.md
  docs/atlas/bug-reports/2026-03-17-pass3-session-lifecycle.md
  docs/atlas/compile-deps/layer2-dependencies/README.md
  docs/atlas/compile-deps/layer2-dependencies/deps.dot
  docs/atlas/compile-deps/layer2-dependencies/deps.mmd
  docs/atlas/compile-deps/layer2-dependencies/inventory.md
  docs/atlas/data-flow/layer4-dataflow/README.md
  docs/atlas/data-flow/layer4-dataflow/dataflow.dot
  docs/atlas/data-flow/layer4-dataflow/dataflow.mmd
  docs/atlas/index.md
  docs/atlas/inventory/data-stores.md
  docs/atlas/inventory/env-vars.md
  docs/atlas/inventory/external-deps.md
  docs/atlas/inventory/services.md
  docs/atlas/runtime-topology/layer1-runtime/README.md
  docs/atlas/runtime-topology/layer1-runtime/topology.dot
  docs/atlas/runtime-topology/layer1-runtime/topology.mmd
  docs/atlas/staleness-map.yaml
  docs/atlas/user-journeys/layer5-journeys/README.md
  docs/atlas/user-journeys/layer5-journeys/install-and-launch.mmd
  docs/atlas/user-journeys/layer5-journeys/plugin-install.mmd
  docs/atlas/user-journeys/layer5-journeys/proxy-api-call.mmd
  docs/atlas/user-journeys/layer5-journeys/recipe-execution.mmd
  docs/atlas/user-journeys/layer5-journeys/session-lifecycle.mmd
Due: none

feat: add /code-atlas skill for graph-based architecture mapping and bug hunting (#3171)
  .claude/agents/amplihack/specialized/ci-diagnostic-workflow.md
  .claude/commands/amplihack/fix.md
  .claude/skills/code-atlas/API-CONTRACTS.md
  .claude/skills/code-atlas/LAYERS.yaml
  .claude/skills/code-atlas/README.md
  .claude/skills/code-atlas/SECURITY.md
  .claude/skills/code-atlas/SKILL.md
  .claude/skills/code-atlas/bug-hunt-guide.md
  .claude/skills/code-atlas/examples.md
  .claude/skills/code-atlas/publication-guide.md
  .claude/skills/code-atlas/reference.md
  .claude/skills/code-atlas/tests/run_all_tests.sh
  .claude/skills/code-atlas/tests/test_atlas_output_structure.sh
  .claude/skills/code-atlas/tests/test_bug_hunt_workflow.sh
  .claude/skills/code-atlas/tests/test_ci_workflow.sh
  .claude/skills/code-atlas/tests/test_layer7_8.sh
  .claude/skills/code-atlas/tests/test_layer_contracts.sh
  .claude/skills/code-atlas/tests/test_no_silent_degradation.sh
  .claude/skills/code-atlas/tests/test_publication_workflow.sh
  .claude/skills/code-atlas/tests/test_rebuild_script.sh
  .claude/skills/code-atlas/tests/test_scenarios.md
  .claude/skills/code-atlas/tests/test_security_controls.md
  .claude/skills/code-atlas/tests/test_security_controls.sh
  .claude/skills/code-atlas/tests/test_staleness_triggers.sh
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/dev-orchestrator/SKILL.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/quality-audit/SKILL.md
  .github/workflows/atlas-ci.yml
  CLAUDE.md
  amplifier-bundle/recipes/code-atlas.yaml
  docs/howto/use-code-atlas.md
  docs/reference/code-atlas-reference.md
  docs/tutorials/code-atlas-getting-started.md
  scripts/check-atlas-staleness.sh
  scripts/rebuild-atlas-all.sh
  scripts/render-atlas-svg.sh
  scripts/safe_read.sh
  scripts/validate_atlas_output.sh
Due: amplihack-sync-commands

fix: narrow PackageNotFoundError fallback to avoid catching all exceptions (#3235)
  src/amplihack/__init__.py
  src/amplihack/tests/test_package_not_found_error_fallback.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(baseline): flatten triple-nested exception handling in cli.py (#3233)
  src/amplihack/cli.py
  tests/unit/test_cli_crash_handler.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(baseline): narrow PackageNotFoundError fallback (#3235)
  src/amplihack/__init__.py
  tests/unit/test_package_not_found_error_fallback.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: flatten triple-nested exception handling in cli.py (#3233)
  src/amplihack/cli.py
  tests/unit/cli/test_launch_command_error_handling.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: narrow PackageNotFoundError fallback to proper subclass (#3235)
  src/amplihack/__init__.py
  tests/unit/test_package_not_found_error.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: flatten triple-nested exception handling in launch_command (#3233)
  src/amplihack/cli.py
  tests/unit/cli/test_launch_command_exception_handling.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: narrow PackageNotFoundError fallback (A/B test A, #3235)
  tests/unit/test_package_not_found_error_fallback.py
Due: none

ci: add invisible Unicode character scanner for external PRs
  .github/workflows/invisible-char-scan.yml
  scripts/scan_invisible_chars.py
Due: check-imports, check-dependencies

feat: add investigation-loop-detector PostToolUse hook
  .claude/tools/amplihack/hooks/investigation_loop_detector.py
  .claude/tools/amplihack/hooks/post_tool_use.py
Due: check-dependencies

fix: validate HOOK_CONFIGS and RUST_HOOK_MAP against hooks.json at startup (#3234)
  src/amplihack/__init__.py
  tests/hooks/test_hook_config_divergence.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: validate HOOK_CONFIGS and RUST_HOOK_MAP against hooks.json at startup (#3234)
  src/amplihack/__init__.py
  src/amplihack/hook_verification.py
  src/amplihack/settings.py
  tests/hooks/test_hook_configs_source_of_truth.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add investigation-loop-detector PostToolUse hook
  .claude/tools/amplihack/hooks/investigation_loop_detector_hook.py
  .claude/tools/amplihack/hooks/post_tool_use.py
Due: check-dependencies

docs: remove all claude-trace references from documentation
  docs/CLAUDE_CODE_SETUP.md
  docs/DEVELOPING_AMPLIHACK.md
  docs/NATIVE_BINARY_TRACE_LOGGING.md
  docs/PREREQUISITES.md
  docs/agent-bundle-generator-requirements.md
  docs/claude/agents/amplihack/specialized/fix-agent.md
  docs/claude/scenarios/analyze-trace-logs/README.md
  docs/examples/claude_trace_example.py
  docs/features/trace-logging.md
  docs/howto/trace-logging.md
  docs/index.md
  docs/migration/README.md
  docs/migration/claude-trace-to-native.md
  docs/reference/trace-logging-api.md
  docs/troubleshooting/trace-logging.md
  src/amplihack/launcher/core.py
  src/amplihack/utils/prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: consolidate external docs fixes — WSL Rust, Python version
  CONTRIBUTING.md
  docs/PREREQUISITES.md
Due: none
