Repository rysweet/amplihack: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies, amplihack-sync-commands

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$, but not: ^(build_hooks\.py$|\.claude/tools/amplihack/.*\.py$|\.claude/skills/.*\.py$|\.github/scripts/.*\.py$|tests/.*\.py$|.*/tests/.*\.py$|archive/.*\.py$|src/amplihack/memory/backends/kuzu_backend\.py$|src/amplihack/memory/kuzu/.*\.py$)
  check-dependencies: any of: \.py$, but not: ^(tests/.*\.py$|.*/tests/.*\.py$)
  amplihack-sync-commands: any of: ^\.claude/commands/

Revert "docs: Add investigation findings for amplihack-expert skill"
  .claude/docs/investigations/INVESTIGATION_amplihack-expert-skill.md
Due: none

Revert "docs: Move investigation doc to standard location"
  .claude/docs/investigations/INVESTIGATION_amplihack-expert-skill.md
Due: none

docs: Add architecture documentation
  .claude/docs/ARCHITECTURE_amplihack-expert-skill-development.md
Due: none

fix: Improve anti-sycophancy section parser and documentation
  .claude/tools/amplihack/hooks/claude_power_steering.py
Due: check-dependencies

feat: Add anti-sycophancy preference enforcement to power steering
  .claude/tools/amplihack/hooks/claude_power_steering.py
Due: check-dependencies

fix: Restore complete PROJECT.md overview text
  .claude/context/PROJECT.md
Due: none

Revert "docs: Add architecture documentation"
  .claude/docs/ARCHITECTURE_amplihack-expert-skill-development.md
Due: none

feat: Add amplihack-expert Claude Code skill (#2218)
  .claude/skills/amplihack-expert/SKILL.md
  .claude/skills/amplihack-expert/examples.md
  .claude/skills/amplihack-expert/reference.md
  .claude/skills/amplihack-expert/tests/__init__.py
  .claude/skills/amplihack-expert/tests/test_amplihack_expert_skill.py
Due: none

fix: Correct amplihack description to include multi-CLI support
  .claude/skills/amplihack-expert/SKILL.md
Due: none

fix: Condense description to meet token budget
  .claude/skills/amplihack-expert/SKILL.md
Due: none

revert: Undo direct-to-main commits to redo via proper PR workflow
  .claude/skills/outside-in-testing/README.md
  .claude/skills/outside-in-testing/SKILL.md
  .claude/skills/outside-in-testing/examples/cli/calculator-basic.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-error-handling.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-interactive-session.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-comprehension-agent.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-reporter-integration.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-ipc-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-menu-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/multi-window-coordination.yaml
  .claude/skills/outside-in-testing/examples/electron/single-window-basic.yaml
  .claude/skills/outside-in-testing/examples/tui/file-manager-navigation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-form-validation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-performance-monitoring.yaml
  .claude/skills/outside-in-testing/examples/web/dashboard-smoke-test.yaml
  .claude/skills/outside-in-testing/examples/web/web-authentication-flow.yaml
  .claude/skills/outside-in-testing/examples/web/web-visual-regression.yaml
  .claude/skills/outside-in-testing/scripts/check-freshness.py
Due: check-dependencies

fix: Add Codex and Hooks, update description
  .claude/skills/amplihack-expert/SKILL.md
Due: none

feat: add auto-update check with user prompt for uv tool installs
  pyproject.toml
  src/amplihack/__init__.py
  src/amplihack/auto_update.py
  src/amplihack/cli.py
  tests/test_auto_update.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add comprehensive doc references to skill
  .claude/skills/amplihack-expert/SKILL.md
Due: none

fix: Replace unsupported 'in' operator with supported condition syntax
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

docs: Update outside-in-testing skill for npm package installation
  .claude/skills/outside-in-testing/SKILL.md
Due: none

docs: Update outside-in-testing skill for npm package installation (#2222)
  .claude/skills/outside-in-testing/SKILL.md
Due: none

fix: Remove all conditions that compare parsed JSON objects - conditions cannot handle dict/list types
  amplifier-bundle/recipes/default-workflow.yaml
Due: none

fix: address critical review findings (version detection, restart mechanism, CVE)
  pyproject.toml
  src/amplihack/__init__.py
  src/amplihack/auto_update.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
